Repository aeon-toolkit/aeon, pull requests merged in 2023-10, with the labels that each got.

#786 [BUG] TDE and boxplot bugfixes
  .all-contributorsrc
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  aeon/benchmarking/results_plotting.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/tests/test_sfa.py
  conftest.py
Labels: bug, classification, full pytest actions, codecov actions

#733 [ENH] Improve coverage for datasets module
  aeon/datasets/_data_loaders.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_single_problem_loaders.py
Labels: testing, datasets

#775 [DOC] A couple of typos
  README.md
  docs/getting_started.md
Labels: documentation

#781 [DOC] Tidy up referencing in doc strings
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/deep_learning/cnn.py
  aeon/classification/deep_learning/encoder.py
  aeon/classification/deep_learning/fcn.py
  aeon/classification/deep_learning/inception_time.py
  aeon/classification/deep_learning/mlp.py
  aeon/classification/deep_learning/resnet.py
  aeon/classification/deep_learning/tapnet.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/feature_based/_catch22.py
  aeon/classification/feature_based/_matrix_profile_classifier.py
  aeon/classification/feature_based/_signature_classifier.py
  aeon/classification/feature_based/_tsfresh_classifier.py
  aeon/classification/hybrid/_hivecote_v2.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_rdst.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/sklearn/_continuous_interval_tree.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/regression/convolution_based/_rocket_regressor.py
  aeon/regression/deep_learning/cnn.py
  aeon/regression/deep_learning/fcn.py
  aeon/regression/deep_learning/inception_time.py
  aeon/regression/deep_learning/resnet.py
  aeon/regression/deep_learning/tapnet.py
  aeon/regression/distance_based/_time_series_neighbors.py
Labels: documentation

#768 [ENH] add clusterer base test
  aeon/clustering/averaging/tests/test_dba.py
  aeon/clustering/base.py
  aeon/clustering/tests/test_base.py
  aeon/distances/tests/_utils.py
Labels: clustering, testing

#791 [BUG] Precision error on dist tests on mac
  aeon/datasets/tests/test_data_loaders.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_pairwise.py
Labels: bug, distances

#792 [DOC] Various small documentation fixes
  .gitattributes
  .github/FUNDING.yml
  README.md
  docs/about/core_developers.rst
  docs/developer_guide/dev_installation.md
  docs/developer_guide/dev_installation.rst
  docs/getting_started.md
  pyproject.toml
Labels: documentation

#771 [DOC] Adds notebook examples to benchmarking module
  CODEOWNERS
  examples/benchmarking/benchmarking.ipynb
  examples/benchmarking/forecasting.ipynb
  examples/benchmarking/regression_results_per_dataset.ipynb
  examples/benchmarking/results_loading.ipynb
  examples/benchmarking/results_loading_and_plotting.ipynb
Labels: documentation, benchmarking, examples

#784 Release v0.5.0
  README.md
  aeon/__init__.py
  build_tools/changelog_generator.py
  docs/changelog.md
  docs/changelogs/v0.5.md
  pyproject.toml
Labels: maintenance, release

#795 Release v0.5.0 patch 1
  MANIFEST.in
Labels: maintenance, release

#799 [DOC] network docstrings
  aeon/networks/cnn.py
  aeon/networks/encoder.py
  aeon/networks/fcn.py
  aeon/networks/inception.py
  aeon/networks/mlp.py
  aeon/networks/resnet.py
  aeon/networks/tapnet.py
Labels: documentation

#709 [ENH] BaseCollectionTransformer inherits from BaseCollectionEstimator and BaseTransformer
  aeon/regression/convolution_based/_rocket_regressor.py
  aeon/tests/test_all_estimators.py
  aeon/transformations/collection/_collection_wrapper.py
  aeon/transformations/collection/_scaler.py
  aeon/transformations/collection/acf.py
  aeon/transformations/collection/ar_coefficient.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/catch22.py
  aeon/transformations/collection/channel_selection.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate_variable.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/dictionary_based/_paa.py
  aeon/transformations/collection/dictionary_based/_sax.py
  aeon/transformations/collection/periodogram.py
  aeon/transformations/collection/random_intervals.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/signature_based/_augmentations.py
  aeon/transformations/collection/signature_based/_compute.py
  aeon/transformations/collection/signature_based/_signature_method.py
  aeon/transformations/collection/supervised_intervals.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/collection/tsfresh.py
Labels: enhancement, transformations

#340 [MNT] Consolidate config files and add new pre-commit functionality
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
Labels: maintenance

#789 [DOC] Add a notebook to describe inheritance structure of base classes
  aeon/classification/base.py
  aeon/clustering/base.py
  aeon/regression/base.py
  examples/base/base_classes.ipynb
  examples/base/img/base_annotator.png
  examples/base/img/base_classifier.png
  examples/base/img/base_clusterer.png
  examples/base/img/base_collection_estimator.png
  examples/base/img/base_collection_transformer.png
  examples/base/img/base_deep_network.png
  examples/base/img/base_estimator.png
  examples/base/img/base_forecaster.png
  examples/base/img/base_metric.png
  examples/base/img/base_object.png
  examples/base/img/base_regressor.png
  examples/base/img/base_transformer.png
  examples/base/img/sklearn_base.png
  examples/base/img/uml.png
  examples/base/img/uml1.png
  examples/base/img/uml2.png
  examples/base/img/uml3.png
  examples/base/img/uml_base_classes.pdf
Labels: documentation

#798 [ENH] scitype variable name and doc string purge
  aeon/annotation/base/_base.py
  aeon/classification/_delegate.py
  aeon/classification/base.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/early_classification/base.py
  aeon/clustering/base.py
  aeon/datasets/_data_loaders.py
  aeon/datatypes/__init__.py
  aeon/datatypes/_check.py
  aeon/datatypes/_convert.py
  aeon/datatypes/_examples.py
  aeon/datatypes/_registry.py
  aeon/datatypes/tests/test_convert.py
  aeon/datatypes/tests/test_vectorize.py
  aeon/pipeline/_make_pipeline.py
  aeon/registry/README.md
  aeon/registry/__init__.py
  aeon/registry/_base_classes.py
  aeon/registry/_identifier.py
  aeon/registry/_lookup.py
  aeon/registry/_scitype.py
  aeon/registry/_tags.py
  aeon/registry/tests/test_lookup.py
  aeon/regression/_delegate.py
  aeon/regression/compose/_pipeline.py
  aeon/tests/test_all_estimators.py
  aeon/transformations/base.py
  aeon/utils/_testing/scenarios_getter.py
  aeon/utils/_testing/tests/test_testscenario_getter.py
  aeon/utils/estimator_checks.py
  aeon/utils/sklearn.py
  aeon/utils/tests/test_sklearn_typing.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation

#779 [ENH] Adds RED CoMETS classifier
  .all-contributorsrc
  CODEOWNERS
  aeon/classification/dictionary_based/__init__.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/tests/test_redcomets.py
  docs/api_reference/classification.rst
  pyproject.toml
Labels: enhancement, classification, implementing algorithms

#821 [MNT] Update sweep.yaml
  sweep.yaml
Labels: maintenance

#823 [MNT] Add PR testing to `test-nosoftdeps-full`
  .github/workflows/pr_pytest.yml
Labels: maintenance

#796 [DOC] Update documentation files to allow easier local builds and raise `sphinx` bound
  aeon/annotation/eagglo.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/distances/__init__.py
  aeon/forecasting/arima.py
  aeon/forecasting/dynamic_factor.py
  aeon/forecasting/structural.py
  aeon/transformations/collection/channel_selection.py
  aeon/transformations/collection/shapelet_based/__init__.py
  aeon/transformations/series/acf.py
  aeon/transformations/series/bkfilter.py
  aeon/utils/validation/collection.py
  docs/Makefile
  docs/_templates/class.rst
  docs/_templates/class_with_call.rst
  docs/_templates/function.rst
  docs/api_reference/classification.rst
  docs/conf.py
  docs/developer_guide/documentation.rst
  docs/make.bat
  examples/annotation/annotation.ipynb
  pyproject.toml
Labels: documentation

#840 [DOC] MM deprecation document update proposal
  docs/developer_guide/deprecation.md
Labels: documentation, governance, branch edit

#195 [GOV] New `aeon` governance document.
  docs/get_involved/governance.md
  docs/get_involved/governance.rst
Labels: governance

#723 [MNT] Proposed aeon deprecation policy
  README.md
  docs/developer_guide/deprecation.md
  docs/developer_guide/deprecation.rst
Labels: documentation, governance, refactor

#829 [MNT] Update Pull Request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance

#828 [MNT] Add new `sweep` rules and make current rules more specific
  sweep.yaml
Labels: maintenance

#825 [ENH] Introduce the "Tabular" output type tag and convert remaining Transformers to CollectionTransformers
  aeon/classification/shapelet_based/_rdst.py
  aeon/registry/_tags.py
  aeon/transformations/base.py
  aeon/transformations/bootstrap/_mbb.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/acf.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/catch22.py
  aeon/transformations/collection/channel_selection.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate_variable.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/dwt.py
  aeon/transformations/collection/hog1d.py
  aeon/transformations/collection/interpolate.py
  aeon/transformations/collection/matrix_profile.py
  aeon/transformations/collection/pad.py
  aeon/transformations/collection/random_intervals.py
  aeon/transformations/collection/reduce.py
  aeon/transformations/collection/scaler.py
  aeon/transformations/collection/segment.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/signature_based/_compute.py
  aeon/transformations/collection/signature_based/_signature_method.py
  aeon/transformations/collection/slope.py
  aeon/transformations/collection/supervised_intervals.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/collection/tests/test_segment.py
  aeon/transformations/collection/tests/test_timebinner.py
  aeon/transformations/collection/truncate.py
  aeon/transformations/collection/tsfresh.py
  docs/api_reference/transformations.rst
Labels: documentation, transformations

#832 [MNT] Add auto label and welcoming comment workflow for PRs
  .github/workflows/pr_opened.yml
  aeon/classification/deep_learning/inception_time.py
  aeon/transformations/collection/catch22.py
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
Labels: maintenance

#831 [MNT] Add workflow to update `pre-commit` hooks and make a PR
  .github/workflows/precommit_autoupdate.yml
Labels: maintenance

#843 [BUG] Improve sweep.yaml comment trigger
  sweep.yaml
Labels: bug

#839 [ENH] Make MiniRocketMultivariateVariable conform to API
  aeon/transformations/collection/convolution_based/__init__.py
  aeon/transformations/collection/convolution_based/_minirocket_mv.py
  aeon/transformations/collection/convolution_based/tests/test_minirocket.py
  aeon/transformations/collection/convolution_based/tests/test_multirocket_m.py
  aeon/transformations/collection/convolution_based/tests/test_rocket.py
Labels: transformations

#847 [DOC] Updates remaining first level website pages
  .gitattributes
  .github/PULL_REQUEST_TEMPLATE.md
  docs/about.md
  docs/api_reference.md
  docs/api_reference.rst
  docs/contributing.md
  docs/contributing/enhancement_proposals.rst
  docs/contributing/reviewer_guide.rst
  docs/developer_guide.md
  docs/developer_guide.rst
  docs/developers.rst
  docs/get_involved.rst
  docs/get_involved/contributing.rst
  docs/includes/api_css.rst
  docs/index.md
  sweep.yaml
Labels: documentation

#793 [MNT] Improve coverage for utils/validation
  aeon/utils/plotting.py
  aeon/utils/validation/_convert_collection.py
  aeon/utils/validation/_dependencies.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_annotation.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_dependencies.py
  aeon/utils/validation/tests/test_forecasting.py
  aeon/utils/validation/tests/test_init.py
  aeon/utils/validation/tests/test_panel.py
  aeon/utils/validation/tests/test_series.py
Labels: maintenance, testing

#820 [ENH] Adapt ShapeletTransform to work with unequal length
  aeon/classification/shapelet_based/_stc.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
Labels: classification, transformations

#851 [ENH] Fix pre-commit fails
  aeon/annotation/tests/__init__.py
  aeon/benchmarking/tests/__init__.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/classification/compose/tests/__init__.py
  aeon/classification/deep_learning/tests/__init__.py
  aeon/classification/early_classification/tests/test_all_early_classifiers.py
  aeon/classification/hybrid/tests/test_hc.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/classification/tests/test_classification_reproduction.py
  aeon/classification/tests/test_expected_outputs.py
  aeon/clustering/averaging/tests/test_dba.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tsc_data_lists.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_expected_results.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_utils.py
  aeon/forecasting/compose/tests/__init__.py
  aeon/forecasting/model_evaluation/tests/__init__.py
  aeon/forecasting/model_selection/tests/__init__.py
  aeon/forecasting/online_learning/tests/__init__.py
  aeon/forecasting/tests/__init__.py
  aeon/forecasting/tests/test_config.py
  aeon/forecasting/tests/test_config_full.py
  aeon/performance_metrics/tests/_config.py
  aeon/performance_metrics/tests/test_performance_metrics_forecasting.py
  aeon/regression/deep_learning/tests/__init__.py
  aeon/regression/tests/test_all_regressors.py
  aeon/regression/tests/test_expected_outputs.py
  aeon/regression/tests/test_regression_reproduction.py
  aeon/tests/__init__.py
  aeon/tests/test_all_estimators.py
  aeon/tests/test_config.py
  aeon/tests/test_softdeps.py
  aeon/transformations/collection/dictionary_based/tests/__init__.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/__init__.py
  aeon/transformations/collection/shapelet_based/tests/test_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
  aeon/transformations/collection/signature_based/tests/__init__.py
  aeon/transformations/collection/tests/__init__.py
  aeon/transformations/series/tests/__init__.py
  aeon/transformations/tests/__init__.py
  aeon/transformations/tests/test_all_transformers.py
  aeon/transformations/tests/test_expected_outputs.py
  aeon/transformations/tests/test_transformer_reproduction.py
  aeon/utils/_testing/estimator_checks.py
  aeon/utils/_testing/scenarios_forecasting.py
  aeon/utils/tests/__init__.py
  aeon/utils/validation/tests/__init__.py
  conftest.py
Labels: enhancement, testing, full pre-commit

#855 [BUG] Correct pipeline test fails
  aeon/classification/compose/_pipeline.py
  aeon/regression/compose/_pipeline.py
Labels: bug, classification, regression

#854 [MNT] Stop pre-commit bot on draft PR
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr_precommit.yml
  build_tools/pr_labeler.py
Labels: maintenance

#857 [ENH] Shapelet transform changes
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
Labels: enhancement, classification, regression, transformations

#860 [ENH] Speed up regression pipeline example
  aeon/regression/compose/_pipeline.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
Labels: enhancement, regression

#863 [MNT] Always create a pull request on `pre-commit` update even if full run fails
  .github/workflows/precommit_autoupdate.yml
Labels: maintenance

#838 [ENH] change collection conversions from convert_to to convert_collection
  aeon/clustering/utils/plotting/_plot_partitions.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_single_problem_loaders.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/summary.py
  aeon/transformations/collection/tests/test_tabularizer.py
Labels: enhancement, classification, regression, datatypes

#867 [ENH] Error message for incorrect unequal length multivariate input
  aeon/datasets/_data_loaders.py
Labels: enhancement, datasets

#868 [MNT] Reduce test params for `AEFCNClusterer`
  aeon/clustering/deep_learning/ae_fcn.py
  aeon/clustering/deep_learning/base.py
Labels: clustering, maintenance, testing, deep learning

#874 [MNT] Remove `sweep` rules and sandbox options
  sweep.yaml
Labels: maintenance

#876 [MNT] Always generate token for `pre-commit` version update workflow
  .github/workflows/precommit_autoupdate.yml
Labels: maintenance

#879 [MNT] Replacing BA by Mean in AEFCNClusterer test params
  aeon/clustering/deep_learning/ae_fcn.py
Labels: clustering, maintenance, testing, deep learning

#880 [DOC] Kmeans updated default for averaging method
  aeon/clustering/k_means.py
Labels: documentation, clustering

#877 [MNT] Give more time for codecov workflow tests
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
Labels: maintenance

#881 [MNT] Try to fix `pre-commit` auto update
  .github/workflows/precommit_autoupdate.yml
Labels: maintenance
