Repository aeon-toolkit/aeon, pull requests merged in 2023-04, with the labels that each got.

#243 [DOC] Remove local table of contents
  docs/developer_guide/coding_standards.rst
  docs/developer_guide/continuous_integration.rst
  docs/developer_guide/dependencies.rst
  docs/developer_guide/documentation.rst
  docs/developer_guide/testing_framework.rst
  docs/get_involved/code_of_conduct.rst
  docs/installation.rst
Labels: documentation

#252 [ENH] add numba function to find slope derivative
  aeon/classification/distance_based/_elastic_ensemble.py
Labels: classification, transformations

#235 [ENH] Catch22Classifier back to being a sklearn pipeline classifier
  aeon/classification/feature_based/_catch22_classifier.py
Labels: classification

#273 [ENH] remove test_fit_transform_output
  aeon/transformations/tests/test_all_transformers.py
Labels: testing

#250 [ENH] Convert ShapeTransformer to use numpy internally
  aeon/classification/distance_based/_shape_dtw.py
  aeon/transformations/panel/__init__.py
  aeon/transformations/panel/slope.py
  aeon/transformations/panel/tests/test_slope_transformer.py
Labels: transformations

#268 [ENH] change Imputer to allow for 0 to be the missing value to replace
  aeon/transformations/series/impute.py
Labels: bug, transformations

#283 [BUG] `attrs` quick fix
  pyproject.toml
Labels: bug

#241 [DOC] Update `about` pages
  docs/about.md
  docs/about.rst
  docs/about/artwork.rst
  docs/about/citation.md
  docs/about/contributors.md
  docs/about/funding.rst
  docs/about/history.rst
  docs/about/mission.rst
  docs/about/showcase.rst
  docs/about/team.rst
  docs/contributors.md
  docs/images/cdrc.jpg
  docs/images/esrc-ukri.png
  docs/images/funder_logos/ati-logo.png
  docs/images/funder_logos/cdrc-logo.png
  docs/images/funder_logos/mercedes-benz-logo.png
  docs/images/funder_logos/ukri-epsrc-logo.png
  docs/images/funder_logos/ukri-esrc-logo.png
  docs/index.md
Labels: documentation

#281 [MNT] Update email and social media links
  README.md
  docs/changelog.rst
  docs/conf.py
  docs/events/gsoc_2022.md
  docs/get_involved/code_of_conduct.rst
  docs/get_involved/governance.rst
  docs/index.md
  pyproject.toml
Labels: maintenance

#284 [BUG] Include `packaging` as a dependency
  pyproject.toml
Labels: maintenance

#262 [ENH] Convert SlidingWindowTransformer to use numpy internally
  aeon/classification/distance_based/_shape_dtw.py
  aeon/tests/_config.py
  aeon/transformations/panel/segment.py
  aeon/transformations/panel/tests/test_sliding_window_segmenter_transformer.py
Labels: transformations

#278 [ENH] remove clustering mentions of nested_univ
  aeon/clustering/base.py
  aeon/clustering/tests/test_k_means.py
Labels: clustering

#259 [MNT] Update release workflow and remove old release files
  .github/workflows/release.yml
  Makefile
  build_tools/check_install_from_test_pypi.sh
  build_tools/make_release.py
  docs/developer_guide/release.rst
Labels: maintenance

#285 [MNT] GitHub templates
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc_improvement.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release-drafter.yml
  .github/release.yml
Labels: maintenance

#277 [ENH] Removal of mentions of nested_univ from classifier package (except shapeDTW)
  aeon/classification/_delegate.py
  aeon/classification/base.py
  aeon/classification/deep_learning/tests/__init__.py
  aeon/classification/deep_learning/tests/test_deep_base.py
  aeon/classification/early_classification/base.py
  aeon/classification/tests/test_base.py
  aeon/classification/tests/test_dummy.py
Labels: classification

#270 [ENH] convert SlopeTransformer to use numpy internally
  aeon/classification/deep_learning/inception_time.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/transformations/panel/slope.py
  aeon/transformations/panel/tests/test_slope_transformer.py
Labels: transformations

#253 [ENH] New data loaders
  aeon/benchmarking/experiments.py
  aeon/datasets/_data_loader.py
Labels: datasets

#280 Release v0.1.0
  CHANGELOG.md
  README.md
  aeon/__init__.py
  build_tools/changelog.py
  docs/changelog.md
  docs/changelog.rst
  docs/changelogs/v0.1.md
  pyproject.toml
Labels: maintenance, release

#279 [ENH] remove regression mentions of nested_univ
  aeon/regression/_delegate.py
  aeon/regression/base.py
  aeon/regression/dummy/_dummy.py
  aeon/regression/interval_based/_tsf.py
Labels: enhancement, regression

#300 [ENH] combine test_returns_self with test_fit_updates_state
  aeon/tests/_config.py
  aeon/tests/test_all_estimators.py
Labels: testing

#301 [DOC] Change web documentation colours
  docs/conf.py
  docs/events/gsoc_2022.md
  docs/get_involved/meetups.rst
  docs/get_involved/mentoring.md
  docs/get_involved/mentoring.rst
Labels: documentation

#298 [DOC] New `aeon` logo and replacement for current usage
  .pre-commit-config.yaml
  docs/about.md
  docs/conf.py
  docs/images/aeon-favicon.ico
  docs/images/aeon-logo-horizontal.png
  docs/images/aeon-logo-no-text.png
  docs/images/aeon-logo.png
  docs/images/logo/aeon-favicon.ico
  docs/images/logo/aeon-logo-blue-2-compact.png
  docs/images/logo/aeon-logo-blue-compact.png
  docs/images/logo/source/aeon-logo-black-2.eps
  docs/images/logo/source/aeon-logo-black-2.jpg
  docs/images/logo/source/aeon-logo-black-2.png
  docs/images/logo/source/aeon-logo-black.eps
  docs/images/logo/source/aeon-logo-black.jpg
  docs/images/logo/source/aeon-logo-black.png
  docs/images/logo/source/aeon-logo-blue-2.eps
  docs/images/logo/source/aeon-logo-blue-2.jpg
  docs/images/logo/source/aeon-logo-blue-2.png
  docs/images/logo/source/aeon-logo-blue.eps
  docs/images/logo/source/aeon-logo-blue.jpg
  docs/images/logo/source/aeon-logo-blue.png
  docs/images/logo/source/aeon-logo-gradient-2.eps
  docs/images/logo/source/aeon-logo-gradient-2.jpg
  docs/images/logo/source/aeon-logo-gradient-2.png
  docs/images/logo/source/aeon-logo-gradient.eps
  docs/images/logo/source/aeon-logo-gradient.jpg
  docs/images/logo/source/aeon-logo-gradient.png
  docs/images/logo/source/aeon-logo-green-2.eps
  docs/images/logo/source/aeon-logo-green-2.jpg
  docs/images/logo/source/aeon-logo-green-2.png
  docs/images/logo/source/aeon-logo-green.eps
  docs/images/logo/source/aeon-logo-green.jpg
  docs/images/logo/source/aeon-logo-green.png
  docs/images/logo/source/aeon-logo-no-text-black.png
  docs/images/logo/source/aeon-logo-no-text-white.png
  docs/images/logo/source/aeon-logo-no-text.png
  docs/images/logo/source/aeon-logo-white-2.eps
  docs/images/logo/source/aeon-logo-white-2.jpg
  docs/images/logo/source/aeon-logo-white-2.png
  docs/images/logo/source/aeon-logo-white.eps
  docs/images/logo/source/aeon-logo-white.jpg
  docs/images/logo/source/aeon-logo-white.png
  docs/images/logo/source/proof_sheet.pdf
  docs/index.md
Labels: documentation

#303 [DOC] Update README
  README.md
Labels: documentation

#305 [ENH] Bounding matrix for distances module
  aeon/distances/__init__.py
  aeon/distances/_bounding_matrix.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_distance_alignment_paths.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_lcss.py
  aeon/distances/_msm.py
  aeon/distances/_twe.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/lower_bounding.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_bounding.py
  aeon/distances/tests/test_lower_bounding.py
  aeon/distances/tests/test_numba_distance_parameters.py
  examples/distances.ipynb
Labels: enhancement, distances

#260 [ENH] added inceptionTime as regressor
  aeon/regression/deep_learning/inception_time.py
  aeon/tests/_config.py
Labels: enhancement, regression, deep learning

#311 [MNT] Update issue templates to use issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/doc_improvement.md
  .github/ISSUE_TEMPLATE/doc_improvement.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/other_issue.yml
Labels: maintenance

#315 [BUG] Fix test overwrite inception time classifier
  aeon/classification/deep_learning/inception_time.py
  aeon/tests/_config.py
Labels: bug, classification, deep learning

#306 [MNT] Fix Binder Dockerfile
  .binder/Dockerfile
  README.md
  pyproject.toml
Labels: maintenance

#312 [MNT] Update contributors.md
  CONTRIBUTORS.md
Labels: maintenance

#294 [ENH] Convert Catch22 and Catch22Wrapper to use numpy internally
  aeon/transformations/panel/catch22.py
  aeon/transformations/panel/catch22wrapper.py
  examples/catch22.ipynb
Labels: enhancement, transformations

#308 [ENH] Update euclidean and squared distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_euclidean.py
  aeon/distances/_squared.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/_utils.py
  aeon/distances/tests/test_distance_correctness.py
  aeon/distances/tests/test_multiple_to_multiple.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distances.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_pairwise_distances.py
  aeon/distances/tests/test_single_to_multiple.py
Labels: enhancement, distances

#309 [ENH] Update distance alignment paths
  aeon/distances/_alignment_paths.py
  aeon/distances/_bounding_matrix.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance_alignment_paths.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_lcss.py
  aeon/distances/_msm.py
  aeon/distances/_twe.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
Labels: bug, enhancement, distances

#261 [ENH] Convert HOG1DTransformer and DerivativeSlopeTransformer to use numpy arrays internally
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/transformations/panel/hog1d.py
  aeon/transformations/panel/segment.py
  aeon/transformations/panel/summarize/_extract.py
  aeon/transformations/panel/tests/test_hog1d_transformer.py
Labels: enhancement, transformations

#293 [ENH] Convert DWTTransformer to use numpy format internally
  aeon/transformations/panel/dwt.py
  aeon/transformations/panel/tests/test_dwt.py
Labels: enhancement, transformations

#310 [ENH] RDST transformer
  .all-contributorsrc
  CODEOWNERS
  aeon/transformations/panel/__init__.py
  aeon/transformations/panel/dilated_shapelet_transform.py
  aeon/transformations/panel/tests/test_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
  aeon/utils/numba/stats.py
  aeon/utils/numba/tests/test_general.py
  aeon/utils/numba/tests/test_stats.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#192 [MNT] Cleanup the forecasting tests
  aeon/forecasting/compose/tests/test_reduce_global.py
  aeon/forecasting/model_selection/tests/test_tune.py
  aeon/forecasting/tests/_config.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/utils/_testing/series.py
Labels: forecasting, maintenance, refactor

#327 [ENH] added ReduceLROnPlateau callback by default to InceptionTime deep classifier
  aeon/classification/deep_learning/inception_time.py
Labels: enhancement, classification, deep learning

#325 [DOC] Fix rocket examples imports
  aeon/transformations/panel/rocket/_minirocket.py
  aeon/transformations/panel/rocket/_minirocket_multivariate.py
  aeon/transformations/panel/rocket/_multirocket.py
  aeon/transformations/panel/rocket/_multirocket_multivariate.py
Labels: documentation, transformations

#296 [ENH] Introduce list of numpy arrays data type for classification/regression/clustering
  aeon/classification/_dummy.py
  aeon/classification/compose/_pipeline.py
  aeon/datasets/tests/test_data_io.py
  aeon/datatypes/_panel/_check.py
  aeon/datatypes/_panel/_convert.py
  aeon/datatypes/_panel/_registry.py
  aeon/datatypes/_registry.py
  aeon/transformations/base.py
Labels: enhancement, datatypes

#330 [ENH] refactor param_est to live in forecasting module
  aeon/forecasting/param_est/__init__.py
  aeon/forecasting/param_est/base.py
  aeon/forecasting/param_est/compose.py
  aeon/forecasting/param_est/fixed.py
  aeon/forecasting/param_est/plugin.py
  aeon/forecasting/param_est/seasonality.py
  aeon/forecasting/param_est/tests/__init__.py
  aeon/forecasting/param_est/tests/test_all_param_est.py
  aeon/forecasting/param_est/tests/test_plugin.py
  aeon/forecasting/param_est/tests/test_seasonality.py
  aeon/registry/_base_classes.py
Labels: enhancement, forecasting

#329 [ENH] Removes nested dataframes from shape dtw
  aeon/classification/_dummy.py
  aeon/classification/base.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/deep_learning/inception_time.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/early_classification/base.py
  aeon/classification/feature_based/_signature_classifier.py
  aeon/classification/sklearn/_rotation_forest.py
  aeon/classification/tests/_classification_test_reproduction.py
  aeon/classification/tests/test_base.py
  aeon/regression/deep_learning/inception_time.py
Labels: enhancement, classification

#344 [DOC] Remove meetup and sponsor cards from get involved
  docs/get_involved.rst
  docs/index.md
Labels: documentation

#339 [MNT] Update file change action and cancel workflow
  .github/workflows/cancel.yml
  .github/workflows/test.yml
Labels: maintenance

#348 [MNT] Remove test_fit_does_not_overwrite_hyper_params and test_methods_have_no_side_effects from config for most deep learners CNN MLP Encoder and FCN classifiers
  aeon/tests/_config.py
Labels: maintenance, testing

#350 [MNT] Fix workflow concurrency
  .github/workflows/test.yml
Labels: maintenance

#351 [ENH] Add reduce on plateau learning rate decay for FCN ResNet and MLP deep classifiers
  aeon/classification/deep_learning/fcn.py
  aeon/classification/deep_learning/mlp.py
  aeon/classification/deep_learning/resnet.py
Labels: enhancement, classification, deep learning

#357 [ENH] Refactor pairwise distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_euclidean.py
  aeon/distances/_squared.py
  aeon/distances/tests/test_multiple_to_multiple.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_single_to_multiple.py
Labels: enhancement, distances
