Repository aeon-toolkit/aeon, pull requests merged in 2023-08, with the labels that each got.

#619 [MNT] Add runtime list for notebook test
  build_tools/run_examples.sh
Labels: maintenance, testing, examples

#621 reduce examples time for clusterers
  aeon/clustering/clara.py
  aeon/clustering/clarans.py
  aeon/clustering/k_medoids.py
Labels: clustering

#576 [ENH] centralise and tidy up the converters
  aeon/utils/validation/__init__.py
  aeon/utils/validation/_convert_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
Labels: API design, datatypes

#624 [MNT] Skip code coverage test failures
  .github/workflows/periodic_tests.yml
  aeon/classification/tests/test_all_classifiers.py
  aeon/tests/_config.py
  aeon/transformations/collection/dictionary_based/tests/test_sfa.py
  aeon/transformations/collection/tests/test_catch22.py
Labels: maintenance

#595 [ENH] Speed up test all estimators
  aeon/tests/_config.py
  aeon/tests/test_all_estimators.py
  conftest.py
Labels: testing

#631 [DOC] Configure website cards to scale images
  docs/_static/css/custom.css
  docs/conf.py
  docs/examples.md
  docs/images/logo/aeon-logo-blue-2-transparent.png
  docs/index.md
Labels: documentation

#629 [ENH] remove interval based fails
  aeon/classification/tests/_classification_test_reproduction.py
  aeon/classification/tests/_expected_outputs.py
  aeon/tests/_config.py
Labels: testing

#636 [MNT] Skip tests for PRs which do not touch any important or `aeon/` files
  .github/workflows/pr_examples.yml
  .github/workflows/pr_pre_commit.yml
  .github/workflows/pr_pytest.yml
Labels: maintenance, testing

#640 [MNT] Remove InceptionTime estimators from test exclusion
  aeon/classification/deep_learning/inception_time.py
  aeon/regression/deep_learning/inception_time.py
  aeon/tests/_config.py
Labels: maintenance, testing, deep learning

#642 [ENH] Remove `all` directory from packages
  aeon/classification/all/__init__.py
  aeon/forecasting/all/__init__.py
  aeon/regression/all/__init__.py
  aeon/transformations/all/__init__.py
  examples/forecasting/forecasting.ipynb
Labels: enhancement

#638 [ENH] Change Dictionary transformers base class to `BaseCollectionTransformer`
  aeon/tests/_config.py
  aeon/transformations/collection/dictionary_based/_paa.py
  aeon/transformations/collection/dictionary_based/_sax.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: enhancement, transformations

#646 [DOC] Reformat distances docs
  aeon/distances/_alignment_paths.py
  aeon/distances/_bounding_matrix.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_euclidean.py
  aeon/distances/_lcss.py
  aeon/distances/_manhattan.py
  aeon/distances/_msm.py
  aeon/distances/_squared.py
  aeon/distances/_twe.py
  aeon/distances/_utils.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/tests/_utils.py
  aeon/forecasting/base/_base.py
  aeon/forecasting/base/_fh.py
  aeon/forecasting/compose/_reduce.py
Labels: distances

#657 [ENH] remove ColumnTransformer
  aeon/tests/_config.py
  aeon/transformations/collection/compose.py
  aeon/transformations/collection/tests/test_compose.py
  examples/transformations/signature_method.ipynb
Labels: transformations

#659 [DOC] Update clustering notebook
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  examples/clustering/partitional_clustering.ipynb
Labels: clustering

#635 [ENH] some minor edits of notebook text
  aeon/utils/validation/collection.py
  examples/classification/classification.ipynb
  examples/datasets/data_conversions.ipynb
  examples/forecasting/forecasting.ipynb
  examples/regression/regression.ipynb
Labels: documentation

#662 [ENH] speed up signatures notebook
  examples/transformations/img/signatures_generalised_method.png
  examples/transformations/signature_method.ipynb
Labels: documentation

#661 [ENH] remove exclusions from testing in tests/_config.py
  aeon/tests/_config.py
Labels: testing

#674 [ENH] Add a test for network module
  aeon/networks/tests/test_network_base.py
Labels: testing, deep learning

#678 [DOC] Add @dguijo to core developer table and CODEOWNERS
  CODEOWNERS
  docs/about/core_developers.rst
Labels: documentation

#597 [ENH] Testing revision version 1
  aeon/utils/_testing/scenarios_forecasting.py
Labels: enhancement, testing

#641 [ENH] Remove top of file warnings for soft dependencies
  aeon/annotation/adapters/_pyod.py
  aeon/annotation/hmm_learn/gaussian.py
  aeon/annotation/hmm_learn/gmm.py
  aeon/annotation/hmm_learn/poisson.py
  aeon/benchmarking/_critical_difference.py
  aeon/clustering/k_shapes.py
  aeon/clustering/kernel_k_means.py
  aeon/forecasting/arima.py
  aeon/forecasting/bats.py
  aeon/forecasting/fbprophet.py
  aeon/forecasting/statsforecast.py
  aeon/forecasting/tbats.py
  aeon/forecasting/varmax.py
  aeon/networks/cnn.py
  aeon/networks/encoder.py
  aeon/networks/fcn.py
  aeon/networks/inception.py
  aeon/networks/mlp.py
  aeon/networks/tapnet.py
  aeon/transformations/collection/tsfresh.py
  aeon/transformations/series/bkfilter.py
  aeon/transformations/series/filter.py
  aeon/transformations/series/kalman_filter.py
  aeon/transformations/series/matrix_profile.py
  aeon/utils/mlflow_aeon.py
  docs/developer_guide/dependencies.rst
  extension_templates/classification.py
  extension_templates/forecasting.py
  extension_templates/transformer.py
  pyproject.toml
Labels: enhancement

#680 [DOC] Developer and `conda` install instructions
  docs/developer_guide/dev_installation.md
  docs/index.md
  docs/installation.md
Labels: documentation

#687 [DOC] Fix README test badge
  README.md
Labels: documentation

#689 [ENH] Speed up inception time tests
  aeon/classification/deep_learning/inception_time.py
  aeon/regression/deep_learning/inception_time.py
Labels: testing, deep learning

#688 [DOC] README conda badge
  README.md
Labels: documentation

#686 [DOC] Regression notebook update
  examples/regression/regression.ipynb
Labels: documentation, regression, examples

#612 [ENH] Add normalisation transformer for time series
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_scaler.py
  aeon/transformations/collection/tests/test_scaler.py
Labels: enhancement, transformations

#691 [ENH] Speed up resnet tests
  aeon/classification/deep_learning/encoder.py
  aeon/classification/deep_learning/fcn.py
  aeon/classification/deep_learning/resnet.py
  aeon/regression/deep_learning/fcn.py
  aeon/regression/deep_learning/resnet.py
  aeon/tests/_config.py
Labels: testing, deep learning

#637 [ENH] Change Rocket transformers base class to `BaseCollectionTransformer`
  README.md
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/regression/convolution_based/_rocket_regressor.py
  aeon/tests/_config.py
  aeon/transformations/collection/_collection_wrapper.py
  aeon/transformations/collection/convolution_based/__init__.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate_variable.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/convolution_based/tests/__init__.py
  aeon/transformations/collection/convolution_based/tests/test_MiniRocketMultivariateVariable.py
  aeon/transformations/collection/convolution_based/tests/test_MultiRocketMultivariate.py
  aeon/transformations/collection/convolution_based/tests/test_Rocket.py
  docs/api_reference/transformations.rst
  examples/transformations/channel_selection.ipynb
  examples/transformations/minirocket.ipynb
  examples/transformations/rocket.ipynb
Labels: enhancement, transformations

#679 [BUG] remove unnecessary call to os.path.dirname
  aeon/datasets/_data_loaders.py
Labels: bug, datasets

#551 [ENH] Revisions to classifier base class
  aeon/classification/base.py
  aeon/classification/early_classification/base.py
  aeon/classification/early_classification/tests/test_all_early_classifiers.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/classification/tests/test_base.py
  aeon/utils/_testing/tests/test_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  examples/classification/early_classification.ipynb
  examples/datasets/data_conversions.ipynb
Labels: enhancement, classification

#682 [ENH] Change signature transform base class to `BaseCollectionTransformer`
  aeon/transformations/collection/signature_based/_augmentations.py
  aeon/transformations/collection/signature_based/_compute.py
  aeon/transformations/collection/signature_based/_signature_method.py
Labels: enhancement, transformations

#681 [DOC] Remove related software page
  docs/index.md
  docs/related_software.rst
Labels: documentation

#643 [MNT] Collection transformation `summarize` refactor and removal
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/tests/test_shape_dtw.py
  aeon/transformations/collection/segment.py
  aeon/transformations/collection/summarize/__init__.py
  aeon/transformations/collection/summarize/_extract.py
  aeon/transformations/collection/summarize/tests/__init__.py
  aeon/transformations/collection/summarize/tests/test_RandomIntervalFeatureExtractor.py
  aeon/transformations/series/summarize.py
  aeon/transformations/series/tests/test_fittedparamextractor.py
  aeon/transformations/series/tests/test_plateaufinder.py
  aeon/utils/numba/general.py
  docs/api_reference/transformations.rst
  examples/transformations/plateau_finder.ipynb
  examples/transformations/transformations.ipynb
Labels: transformations, maintenance, refactor

#692 [ENH] Docstrings for distances
  aeon/distances/__init__.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_euclidean.py
  aeon/distances/_lcss.py
  aeon/distances/_manhattan.py
  aeon/distances/_msm.py
  aeon/distances/_squared.py
  aeon/distances/_twe.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  docs/api_reference/distances.rst
Labels: documentation, distances

#696 [MNT] remove exclusions
  aeon/tests/_config.py
Labels: testing

#683 [ENH] Collection transformer `compose.py` cleanup
  aeon/transformations/collection/compose.py
  aeon/transformations/collection/segment.py
  aeon/transformations/collection/tests/test_col_concat.py
  aeon/transformations/compose.py
  aeon/transformations/series/clear_sky.py
  aeon/transformations/series/date.py
  aeon/transformations/tests/test_compose.py
  docs/api_reference/transformations.rst
  examples/transformations/interpolation.ipynb
Labels: enhancement, transformations

#684 [MNT] Update contributors file
  .all-contributorsrc
  .github/workflows/update_contributors.yml
Labels: maintenance

#512 [ENH] Itakura parallelogram bounding
  aeon/distances/_bounding_matrix.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_lcss.py
  aeon/distances/_msm.py
  aeon/distances/_twe.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_bounding.py
  aeon/distances/tests/test_numba_distance_parameters.py
Labels: enhancement, distances
