Repository aeon-toolkit/aeon, pull requests merged in 2023-09, with the labels that each got.

#673 [BUG] Clustering notebook (and a few docstring typos)
  aeon/benchmarking/results_loaders.py
  aeon/clustering/clara.py
  aeon/clustering/clarans.py
  aeon/clustering/k_means.py
  aeon/clustering/k_medoids.py
  aeon/clustering/k_shapes.py
  aeon/clustering/kernel_k_means.py
  aeon/clustering/metrics/averaging/_barycenter_averaging.py
  docs/api_reference/clustering.rst
  examples/benchmarking/benchmarking.ipynb
  examples/benchmarking/results_loading.ipynb
  examples/clustering/clustering.ipynb
  examples/clustering/feature_clustering.ipynb
  examples/clustering/img/clst_cd.png
  examples/clustering/img/taxonomy.png
  examples/clustering/partitional_clustering.ipynb
Labels: bug, clustering, examples

#710 [MNT] Remove calls to aeon.datatypes
  aeon/classification/tests/test_all_classifiers.py
  aeon/utils/_testing/collection.py
Labels: refactor, datatypes

#665 [ENH] Improve coverage for datasets module
  aeon/datasets/_data_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/data/UnitTest/UnitTestTimeStamps_TRAIN.ts
  aeon/datasets/data/m1_yearly_dataset/m1_yearly_dataset.tsf
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_dataframe_loaders.py
  aeon/datasets/tests/test_dataset_collections.py
  aeon/datasets/tests/test_single_problem_loaders.py
Labels: testing, datasets

#694 [DOC] Glossary rewrite
  docs/glossary.md
Labels: documentation

#718 [ENH] refactor shapelet transform
  aeon/classification/shapelet_based/_stc.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/shapelet_based/__init__.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/__init__.py
  aeon/transformations/collection/shapelet_based/tests/test_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
  aeon/transformations/collection/shapelet_transform.py
  aeon/transformations/collection/tests/_collection_test_reproduction.py
  docs/api_reference/transformations.rst
  examples/classification/shapelet_based.ipynb
Labels: enhancement, transformations

#716 [ENH] Improve coverage of base directory
  aeon/base/_meta.py
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/base/tests/test_meta.py
  aeon/base/tests/test_serialize.py
  examples/regression/regression.ipynb
Labels: enhancement, testing

#729 [DOC] Update slack links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/conf.py
  docs/developer_guide/git_workflow.rst
  docs/get_involved/contributing.rst
  docs/index.md
Labels: documentation

#731 [MNT] Sweep issue template
  .github/ISSUE_TEMPLATE/sweep.yml
Labels: maintenance

#701 [ENH] Speed up forecasting tests
  aeon/forecasting/base/_base.py
  aeon/forecasting/base/tests/randomtest.py
  aeon/forecasting/base/tests/test_fh.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/forecasting/compose/tests/test_reduce_global.py
  aeon/forecasting/model_evaluation/tests/test_evaluate.py
  aeon/forecasting/model_selection/tests/test_tune.py
  aeon/forecasting/tests/test_interval_wrappers.py
  aeon/forecasting/tests/test_reconcile.py
  aeon/transformations/hierarchical/tests/test_reconcile.py
  aeon/utils/tests/test_check_estimator.py
Labels: forecasting, testing

#727 [ENH] Improved coverage for classification
  aeon/classification/convolution_based/tests/test_arsenal.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/tests/test_elastic_ensemble.py
  aeon/classification/distance_based/tests/test_shape_dtw.py
  aeon/classification/hybrid/tests/__init__.py
  aeon/classification/hybrid/tests/test_hc.py
Labels: testing

#739 [DOC] Update documentation for new devs and documentation build fixes
  aeon/benchmarking/_critical_difference.py
  aeon/classification/deep_learning/inception_time.py
  aeon/datasets/_data_loaders.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/forecasting/tests/test_theta.py
  aeon/networks/cnn.py
  aeon/networks/encoder.py
  aeon/networks/fcn.py
  aeon/networks/inception.py
  aeon/networks/mlp.py
  aeon/networks/resnet.py
  aeon/networks/tapnet.py
  aeon/regression/deep_learning/base.py
  aeon/regression/deep_learning/inception_time.py
  aeon/tests/test_all_estimators.py
  docs/Makefile
  docs/developer_guide.rst
  docs/developer_guide/continuous_integration.rst
  docs/developer_guide/dev_installation.md
  docs/developer_guide/dev_installation.rst
  docs/developer_guide/documentation.rst
Labels: bug, documentation

#750 [Bugfix] Deprecation of tick.label in matplotlib >3.8.0
  aeon/annotation/plotting/utils.py
Labels: bug, annotation

#746 [ENH]Efficiency slope transformer
  .all-contributorsrc
  aeon/transformations/_split.py
  aeon/transformations/collection/hog1d.py
  aeon/transformations/collection/slope.py
Labels: transformations

#743 [DOC] Lets do the time warp again notebook
  examples/pydata/Amsterdam-2023/Lets do the time warp again.ipynb
Labels: documentation

#745 added plot visualizing the Italy power data
  examples/classification/distance_based.ipynb
Labels: documentation

#753 [BUG] Fixes a bug with numba's typed dict in SFA when numba is disabled
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/tests/test_sfa.py
Labels: bug, transformations

#735 [ENH] reconfig HC tests
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/hybrid/_hivecote_v1.py
  aeon/classification/hybrid/_hivecote_v2.py
  aeon/classification/hybrid/tests/test_hc.py
Labels: enhancement, classification, testing

#738 [BUG] Fix EE test edge case
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/tests/test_elastic_ensemble.py
Labels: classification, testing

#740 [BUG] fixes multivariate dataframe tsfile writes (#732)
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
Labels: bug, datasets

#754 [ENH] ShapeDTW as a distance function !
  aeon/clustering/metrics/averaging/_barycenter_averaging.py
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_shape_dtw.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_sklearn_compatibility.py
Labels: enhancement, distances

#693 [DOC] Tidy and speed up forecasting example notebooks
  docs/examples.md
  examples/forecasting/forecasting.ipynb
  examples/forecasting/forecasting_hierarchical_global.ipynb
  examples/forecasting/forecasting_proba.ipynb
  examples/forecasting/forecasting_sklearn.ipynb
  examples/forecasting/img/forecasting-to-regression-reduction.png
  examples/forecasting/img/forecasting.png
  examples/forecasting/img/forecasting2.png
  examples/forecasting/img/splitter.png
  examples/forecasting/window_splitters.ipynb
  examples/window_splitters.ipynb
Labels: documentation, forecasting, examples

#758 [BUG] Expected results rework and Shapelet Transform bugfix
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/early_classification/_probability_threshold.py
  aeon/classification/early_classification/_teaser.py
  aeon/classification/early_classification/tests/test_all_early_classifiers.py
  aeon/classification/early_classification/tests/test_probability_threshold.py
  aeon/classification/early_classification/tests/test_teaser.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/tests/_classification_test_reproduction.py
  aeon/classification/tests/_expected_outputs.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
  aeon/regression/tests/_expected_outputs.py
  aeon/regression/tests/_regression_test_reproduction.py
  aeon/regression/tests/test_all_regressors.py
  aeon/transformations/collection/random_intervals.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
  aeon/transformations/collection/supervised_intervals.py
  aeon/transformations/collection/tests/test_intervals.py
  aeon/transformations/tests/_expected_outputs.py
  aeon/transformations/tests/_transformer_test_reproduction.py
  aeon/transformations/tests/test_all_transformers.py
Labels: bug, transformations, testing

#760 [BUG] Medoids empty cluster bug fix
  aeon/clustering/clara.py
  aeon/clustering/clarans.py
  aeon/clustering/k_medoids.py
  aeon/clustering/tests/test_clara.py
  aeon/clustering/tests/test_clarans.py
  aeon/clustering/tests/test_k_medoids.py
  setup.cfg
Labels: bug, clustering

#767 [BUG] shapedtw using assert_almost_equal in test_distances
  aeon/distances/tests/__init__.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_pairwise.py
Labels: bug, testing, distances

#764 [MNT] Update Sweep config
  .github/ISSUE_TEMPLATE/sweep-fast-template.yml
  .github/ISSUE_TEMPLATE/sweep-slow-template.yml
  .github/ISSUE_TEMPLATE/sweep-template.yml
  .github/ISSUE_TEMPLATE/sweep.yml
  .pre-commit-config.yaml
  examples/pydata/Amsterdam-2023/Lets do the time warp again.ipynb
  sweep.yaml
Labels: maintenance

#719 [ENH] Coverage for benchmarking
  aeon/benchmarking/_critical_difference.py
  aeon/benchmarking/example_results/classification/accuracy/WEASEL-Dilation_TESTFOLDS.csv
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/results_plotting.py
  aeon/benchmarking/tests/test_critical_difference.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/benchmarking/tests/test_results_plotting.py
Labels: testing, benchmarking

#759 [ENH] Adtw distance
  aeon/clustering/metrics/averaging/_barycenter_averaging.py
  aeon/clustering/metrics/tests/test_dba.py
  aeon/distances/__init__.py
  aeon/distances/_adtw.py
  aeon/distances/_distance.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_numba_distance_parameters.py
Labels: enhancement, distances

#770 [MNT] Add pre-commit bot which pushes fixes to PRs
  .github/workflows/pr_pre_commit.yml
Labels: maintenance

#774 [DOC] Adding examples to the benchmarking functions docstrings.
  aeon/benchmarking/_critical_difference.py
  aeon/benchmarking/results_plotting.py
Labels: documentation, benchmarking

#783 [MNT] Uncomment `pytest` config
  setup.cfg
Labels: maintenance

#780 [DOC] add papers to papers using aeon page
  docs/papers_using_aeon.md
Labels: documentation
