Repository aeon-toolkit/aeon, pull requests merged in 2023-05, with the labels that each got.

#349 [MNT] Change `update_contributors.yml` to create PRs
  .all-contributorsrc
  .github/workflows/update_contributors.yml
  CONTRIBUTORS.md
Labels: maintenance

#359 [MNT] Changes repo owner to aeon-toolkit in `.all-contributorsrc`
  .all-contributorsrc
Labels: maintenance

#319 [ENH] Update ddtw distance
  aeon/clustering/partitioning/_lloyds.py
  aeon/distances/__init__.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_wddtw.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_distance_correctness.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
Labels: enhancement, distances

#322 [ENH] Update wdtw distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
Labels: enhancement, distances

#323 [ENH] Update wddtw distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_wddtw.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
Labels: enhancement, distances

#332 [ENH] Update lcss distance
  aeon/distances/__init__.py
  aeon/distances/_alignment_paths.py
  aeon/distances/_distance.py
  aeon/distances/_lcss.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_pairwise.py
Labels: enhancement, distances

#333 [ENH] Update erp distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_erp.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
Labels: enhancement, distances

#366 [ENH] Update edr distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_new_distances.py
Labels: enhancement, distances

#355 [ENH] Change data loaders and writers to minimize use of "nested_univ" input type
  aeon/benchmarking/experiments.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_dataframe_loaders.py
  aeon/datasets/_data_generators.py
  aeon/datasets/_data_loader.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_data_writers.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tests/test_loaders.py
  aeon/datasets/tests/test_single_problem_loaders.py
  aeon/datasets/tsc_dataset_names.py
  aeon/datatypes/_convert.py
  aeon/datatypes/_panel/_convert.py
  aeon/datatypes/tests/test_panel_converters.py
  aeon/transformations/panel/__init__.py
  aeon/transformations/panel/catch22wrapper.py
  aeon/transformations/panel/rocket/_minirocket_multivariate.py
  aeon/transformations/panel/rocket/_minirocket_multivariate_variable.py
  aeon/transformations/panel/tests/test_compose.py
  aeon/transformations/panel/tests/test_tsfresh.py
  aeon/transformations/panel/tsfresh.py
  examples/AA_datatypes_and_datasets.ipynb
  examples/classification/channel_selection.ipynb
  examples/interpolation.ipynb
  examples/loading_data.ipynb
  examples/minirocket.ipynb
Labels: datasets

#362 [ENH] add model checkpoint to inceptionTime deep classifier
  aeon/classification/deep_learning/inception_time.py
Labels: enhancement, classification, deep learning

#367 [ENH] Update twe distance
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_twe.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/test_distance_correctness.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
Labels: bug, enhancement, distances

#352 [DOC] Add contrib.rocks image to `contributors.md` and lower all-contributors table/image size
  .all-contributorsrc
  docs/contributors.md
Labels: documentation

#386 [MNT] docs update to fix readthedocs fail
  docs/api_reference/datasets.rst
  docs/api_reference/regression.rst
Labels: documentation, maintenance

#191 [MNT] Add python 3.11 support
  .github/workflows/release.yml
  .github/workflows/test.yml
  aeon/transformations/series/tests/test_kalman_filter.py
  pyproject.toml
Labels: maintenance

#372 [ENH] Distance module cleanup
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/clustering/metrics/averaging/_dba.py
  aeon/clustering/partitioning/_lloyds.py
  aeon/distances/__init__.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_euclidean.py
  aeon/distances/_lcss.py
  aeon/distances/_msm.py
  aeon/distances/_numba_utils.py
  aeon/distances/_resolve_metric.py
  aeon/distances/_squared.py
  aeon/distances/_twe.py
  aeon/distances/_utils.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/base/__init__.py
  aeon/distances/base/_base.py
  aeon/distances/base/_types.py
  aeon/distances/tests/_expected_results.py
  aeon/distances/tests/_shared_tests.py
  aeon/distances/tests/_utils.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_distance_alignment_path.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_new_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_numba_distances.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_pairwise_distances.py
  aeon/regression/distance_based/_time_series_neighbors.py
Labels: enhancement, distances

#364 [ENH] TruncationTransformer, PaddingTransformer and TSFresh internal type to np-list
  aeon/classification/compose/tests/test_pipeline.py
  aeon/datatypes/_panel/_convert.py
  aeon/transformations/panel/__init__.py
  aeon/transformations/panel/pad.py
  aeon/transformations/panel/padder.py
  aeon/transformations/panel/tests/test_Padder.py
  aeon/transformations/panel/tests/test_pad.py
  aeon/transformations/panel/tests/test_truncate.py
  aeon/transformations/panel/truncate.py
  aeon/transformations/panel/truncation.py
  aeon/transformations/panel/tsfresh.py
  aeon/transformations/tests/test_base.py
  aeon/transformations/tests/test_compose.py
  docs/api_reference/transformations.rst
Labels: transformations, datatypes

#380 [MNT] Remove any reference of pykalman
  aeon/transformations/series/kalman_filter.py
  aeon/transformations/series/tests/test_kalman_filter.py
  docs/api_reference/transformations.rst
  examples/classification/convolution_based.ipynb
  examples/classification/distance_based.ipynb
  pyproject.toml
Labels: bug, enhancement, maintenance

#400 [BUG] fix tsfresh "kind" feature extractor
  aeon/datatypes/_panel/_convert.py
  aeon/transformations/panel/tsfresh.py
Labels: bug, transformations

#392 [ENH] Adapt PlateauFinder to use numpy3D
  aeon/transformations/panel/summarize/_extract.py
  aeon/transformations/panel/summarize/tests/test_RandomIntervalFeatureExtractor.py
Labels: transformations

#398 [DOC] Tidy up classification docs
  examples/classification/channel_selection.ipynb
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
Labels: documentation, classification

#397 [ENH] added modelcheckpoint and reduce learning rate to inceptionTime regressor
  aeon/regression/deep_learning/inception_time.py
Labels: enhancement, regression, deep learning

#394 [ENH] Add model checkpoint for the rest of the deep learning classifiers
  aeon/classification/deep_learning/cnn.py
  aeon/classification/deep_learning/encoder.py
  aeon/classification/deep_learning/fcn.py
  aeon/classification/deep_learning/inception_time.py
  aeon/classification/deep_learning/mlp.py
  aeon/classification/deep_learning/resnet.py
Labels: enhancement, classification, deep learning

#399 [BUG] fix all_estimators to work with tags that are lists of strings not just single strings
  aeon/registry/_lookup.py
  aeon/registry/tests/test_lookup.py
Labels: bug, datatypes

#388 [ENH] convert TSInterpolator to np-list/numpy3D
  aeon/transformations/panel/interpolate.py
  aeon/transformations/panel/tests/test_interpolate.py
Labels: enhancement, transformations

#414 Release v0.2.0
  CHANGELOG.md
  ESTIMATOR_OVERVIEW.md
  README.md
  aeon/__init__.py
  build_tools/changelog.py
  docs/changelog.md
  docs/changelogs/v0.1.md
  docs/changelogs/v0.2.md
  pyproject.toml
Labels: maintenance, release

#391 [ENH] Convert IntervalSegmenter and RandomIntervalSegmenter to use numpy3D internally
  aeon/datatypes/_panel/_convert.py
  aeon/transformations/panel/segment.py
  aeon/transformations/panel/summarize/_extract.py
  aeon/transformations/panel/summarize/tests/test_RandomIntervalFeatureExtractor.py
  aeon/transformations/panel/tests/test_segment.py
Labels: bug, transformations

#419 [EN] Hard code deep learning exclusions from tests
  aeon/tests/_config.py
  aeon/tests/test_all_estimators.py
Labels: testing, deep learning

#379 [ENH] Implement simple(r) benchmarking
  .all-contributorsrc
  aeon/benchmarking/benchmarks.py
  aeon/benchmarking/forecasting.py
  aeon/benchmarking/tests/test_benchmarks.py
  aeon/benchmarking/tests/test_forecasting.py
  examples/04_benchmarking_v2.ipynb
  pyproject.toml
Labels: enhancement, benchmarking

#433 [BUG] refactored params usage resnet
  aeon/classification/deep_learning/resnet.py
Labels: bug, classification, deep learning

#412 [ENH] Allow KNN to take unequal length series.
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/registry/_tags.py
Labels: classification, distances

#373 [ENH] Remove the uses of the nested univariate data generator
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/classification/tests/test_base.py
  aeon/classification/tests/test_sklearn_compatability.py
  aeon/datatypes/_convert.py
  aeon/datatypes/tests/test_panel_converters.py
  aeon/datatypes/tests/test_series_to_panel_converters.py
  aeon/distances/tests/_utils.py
  aeon/distances/tests/test_pairwise.py
  aeon/forecasting/base/tests/test_base.py
  aeon/series_as_features/base/estimators/tests/test_feature_importances_.py
  aeon/transformations/panel/channel_selection.py
  aeon/transformations/panel/tests/test_channel_selection.py
  aeon/transformations/panel/tests/test_compose.py
  aeon/transformations/panel/tests/test_segment.py
  aeon/transformations/panel/tests/test_tsfresh.py
  aeon/transformations/tests/test_pipeline.py
  aeon/utils/_testing/collection.py
  aeon/utils/_testing/panel.py
  aeon/utils/_testing/scenarios_classification.py
  aeon/utils/_testing/scenarios_clustering.py
  aeon/utils/_testing/scenarios_forecasting.py
  aeon/utils/_testing/scenarios_transformers.py
  aeon/utils/_testing/tests/test_collection.py
  aeon/utils/_testing/tests/test_panel.py
  aeon/utils/profiling.py
  aeon/utils/validation/tests/test_panel.py
Labels: datasets, datatypes

#263 [ENH] Collection transformer base class
  aeon/transformations/base.py
  aeon/transformations/panel/base.py
  aeon/transformations/panel/catch22.py
  aeon/transformations/panel/channel_selection.py
  aeon/transformations/panel/random_intervals.py
  aeon/transformations/panel/shapelet_transform.py
  aeon/transformations/panel/tsfresh.py
  aeon/transformations/tests/test_base.py
  aeon/utils/_testing/scenarios_transformers.py
Labels: enhancement, transformations

#453 [DOC] README deprecation policy disclaimer
  README.md
Labels: documentation

#318 [BUG] `plot_series` bugfix and tests
  aeon/utils/plotting.py
  aeon/utils/tests/test_plotting.py
  aeon/utils/validation/forecasting.py
Labels: bug

#439 [ENH] remove unsupported legacy benchmarking code
  aeon/benchmarking/base.py
  aeon/benchmarking/data.py
  aeon/benchmarking/evaluation.py
  aeon/benchmarking/metrics.py
  aeon/benchmarking/orchestration.py
  aeon/benchmarking/results.py
  aeon/benchmarking/strategies.py
  aeon/benchmarking/tasks.py
  aeon/benchmarking/tests/test_evaluator.py
  aeon/benchmarking/tests/test_orchestration.py
  aeon/benchmarking/tests/test_tasks.py
  aeon/benchmarking/tests/test_tsc_strategy.py
  examples/04_benchmarking.ipynb
  examples/04_benchmarking_v2.ipynb
Labels: benchmarking

#442 [ENH] Enable knn regressor to take unequal length
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/regression/distance_based/_time_series_neighbors.py
Labels: enhancement, regression

#417 [ENH] Refactor sax
  CODEOWNERS
  aeon/transformations/panel/dictionary_based/_sax.py
  aeon/transformations/panel/dictionary_based/tests/test_sax.py
Labels: enhancement, transformations, refactor

#415 [ENH] Facilitate multivariate and unequal length with ElasticEnsemble classifier
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/tests/test_elastic_ensemble.py
  aeon/transformations/panel/summarize/__init__.py
  aeon/transformations/panel/summarize/_extract.py
Labels: enhancement, classification

#457 [BUG] Tslearn clusterers update
  aeon/clustering/k_shapes.py
  aeon/clustering/kernel_k_means.py
  aeon/clustering/tests/test_k_shapes.py
  aeon/clustering/tests/test_kernel_k_means.py
Labels: bug, clustering

#443 [MNT] Add deep learning regression/classification test
  .all-contributorsrc
  CODEOWNERS
  aeon/classification/deep_learning/base.py
  aeon/classification/deep_learning/tests/test_deep_base.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/regression/deep_learning/base.py
  aeon/regression/deep_learning/tests/__init__.py
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
Labels: enhancement, regression, testing, deep learning

#460 [BUG] Fixes `stratified_resample` so that it works with 3D numpy
  .all-contributorsrc
  aeon/utils/sampling.py
  aeon/utils/tests/test_sampling.py
Labels: bug

#462 [DOC] README getting started section
  README.md
  docs/getting_started.md
Labels: documentation
