Repository aeon-toolkit/aeon, pull requests merged in 2023-02, with the labels that each got.

#16 [FORK] Revert #15 "Remove workflow files" (MERGE WHEN REPO PUBLIC)
  .github/workflows/cancel.yml
  .github/workflows/test.yml
  .github/workflows/update_contributors.yml
  .github/workflows/wheels.yml
Labels: fork - high priority

#56 License Update
  LICENSE
Labels: fork - high priority

#14 [BUG] Update check_n_jobs
  sktime/utils/validation/__init__.py
Labels: bug

#57 [GOV] Added CoCC members as voted by core developers
  docs/source/about/team.rst
Labels: governance

#58 [ENH] Dictionary Classifiers
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/dictionary_based/tests/test_boss.py
  sktime/transformations/panel/dictionary_based/_sfa_fast.py
Labels: enhancement, classification

#49 [GOV] Removed CC Observer role
  docs/source/get_involved/governance.rst
Labels: governance

#73 [BUG] Fix documentation build errors
  docs/source/api_reference/dists_kernels.rst
  docs/source/api_reference/performance_metrics.rst
  docs/source/api_reference/transformations.rst
  docs/source/conf.py
  docs/source/examples.rst
  pyproject.toml
  sktime/annotation/ggs.py
  sktime/tests/_config.py
Labels: documentation

#48 [FORK] Update config files
  .codecov.yml
  .coveragerc
  .gitignore
  CHANGELOG.md
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ESTIMATOR_OVERVIEW.md
  GOVERNANCE.md
  pyproject.toml
  setup.cfg
Labels: maintenance, fork - high priority

#23 [GOV] proposal: CC and CoC should have disjoint membership
  docs/source/get_involved/governance.rst
Labels: governance

#83 [MNT] Fix wrong mail
  pyproject.toml
Labels: maintenance

#52 [DOC] Classifier docs tidy up
  docs/source/api_reference/classification.rst
  sktime/classification/base.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/tests/_config.py
Labels: documentation, classification

#24 [BUG] Fix Imputer bugs
  sktime/transformations/series/impute.py
  sktime/transformations/series/tests/test_imputer.py
Labels: bug, transformations

#63 Update README
  README.md
  README_OLD.md
  docs/source/conf.py
Labels: fork - medium priority

#86 [ENH] Remove ProximityForest classifier
  docs/source/api_reference/classification.rst
  sktime/classification/distance_based/__init__.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_proximity_forest.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/registry/tests/test_lookup.py
  sktime/tests/_config.py
Labels: classification

#95 [Bug] ClaSP Bugfixes
  sktime/annotation/clasp.py
  sktime/transformations/series/clasp.py
Labels: transformations

#90 [MNT] `convolution_based` rename
  docs/source/api_reference/classification.rst
  docs/source/api_reference/regression.rst
  examples/02_classification.ipynb
  sktime/classification/compose/_ensemble.py
  sktime/classification/convolution_based/__init__.py
  sktime/classification/convolution_based/_arsenal.py
  sktime/classification/convolution_based/_rocket_classifier.py
  sktime/classification/convolution_based/tests/__init__.py
  sktime/classification/convolution_based/tests/test_arsenal.py
  sktime/classification/feature_based/__init__.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/__init__.py
  sktime/classification/interval_based/_random_interval_classifier.py
  sktime/classification/kernel_based/__init__.py
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/regression/convolution_based/__init__.py
  sktime/regression/convolution_based/_rocket_regressor.py
Labels: classification, regression, maintenance

#92 [BUG] Remove `ComposableTimeSeriesForestRegressor`
  sktime/regression/all/__init__.py
  sktime/regression/compose/__init__.py
  sktime/regression/compose/_ensemble.py
  sktime/series_as_features/base/estimators/_ensemble.py
  sktime/utils/validation/panel.py
Labels: bug, regression

#20 [GOV] Appointment of CC and CoC members
  docs/source/get_involved/governance.rst
Labels: governance

#105 [ENH] remove TimeSeriesSVC
  CODEOWNERS
  sktime/classification/kernel_based/__init__.py
  sktime/classification/kernel_based/_svc.py
Labels: classification

#87 [ENH] Remove the alignment module
  docs/source/api_reference/dists_kernels.rst
  pyproject.toml
  sktime/alignment/__init__.py
  sktime/alignment/base.py
  sktime/alignment/dtw_python.py
  sktime/alignment/tests/__init__.py
  sktime/alignment/tests/test_all_aligners.py
  sktime/alignment/utils/__init__.py
  sktime/alignment/utils/utils_align.py
  sktime/dists_kernels/compose.py
  sktime/dists_kernels/compose_from_align.py
  sktime/registry/_base_classes.py
  sktime/registry/_tags.py
  sktime/utils/_testing/estimator_checks.py
  sktime/utils/_testing/scenarios_aligners.py
  sktime/utils/_testing/scenarios_getter.py
Labels: alignment

#93 [ENH] Add `prefer="threads"` to classification `Parallel` usage
  sktime/classification/convolution_based/_arsenal.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/early_classification/_teaser.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/sklearn/_rotation_forest.py
  sktime/transformations/panel/catch22.py
  sktime/transformations/panel/catch22wrapper.py
  sktime/transformations/panel/dictionary_based/_sfa.py
Labels: enhancement, classification

#120 Remove duplicate function
  .all-contributorsrc
  sktime/classification/tests/test_base.py
Labels: maintenance

#117 [ENH] Remove fit_predict_proba from Base-Class, Use sklearn cross_val_predict instead
  sktime/classification/base.py
  sktime/classification/compose/_ensemble.py
  sktime/classification/tests/test_base.py
Labels: classification, maintenance
