Repository aeon-toolkit/aeon, pull requests merged in 2023-12, with the labels that each got.

#945 [ENH] remove nested_univ from TSFresh test
  aeon/transformations/collection/tests/test_tsfresh.py
  aeon/transformations/collection/tsfresh.py
Labels: enhancement, transformations

#943 [ENH] Make clustering files private
  aeon/benchmarking/tests/test_experiments.py
  aeon/clustering/__init__.py
  aeon/clustering/_clara.py
  aeon/clustering/_clarans.py
  aeon/clustering/_k_means.py
  aeon/clustering/_k_medoids.py
  aeon/clustering/_k_shapes.py
  aeon/clustering/_kernel_k_means.py
  aeon/clustering/deep_learning/base.py
  aeon/clustering/tests/test_clara.py
  aeon/clustering/tests/test_clarans.py
  aeon/clustering/tests/test_k_means.py
  aeon/clustering/tests/test_k_medoids.py
  aeon/clustering/tests/test_k_shapes.py
  aeon/clustering/tests/test_kernel_k_means.py
  docs/api_reference/clustering.rst
  docs/getting_started.md
  examples/clustering/partitional_clustering.ipynb
  examples/datasets/data_structures.ipynb
Labels: enhancement, clustering

#949 [MNT] Update custom filters in H-InceptionTime and LITETime ot work with new tf versions
  aeon/networks/_inception.py
  aeon/networks/_lite.py
  pyproject.toml
Labels: maintenance, deep learning, networks

#947 [ENH] remove two calls to convert_to
  aeon/transformations/collection/tests/test_base.py
  aeon/utils/plotting.py
Labels: enhancement, benchmarking

#933 [ENH] Remove the TimeBinner transformer
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/reduce.py
  aeon/transformations/collection/tests/test_timebinner.py
  docs/api_reference/transformations.rst
  examples/transformations/transformations.ipynb
Labels: enhancement, transformations

#929 [ENH] Refactor feature based transformers into their own subpackage
  CODEOWNERS
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/classification/feature_based/_catch22.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/feature_based/_tsfresh_classifier.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/regression/feature_based/_catch22.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_drcif.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_collection_wrapper.py
  aeon/transformations/collection/feature_based/__init__.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/_summary.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/feature_based/tests/__init__.py
  aeon/transformations/collection/feature_based/tests/test_catch22.py
  aeon/transformations/collection/feature_based/tests/test_tsfresh.py
  aeon/transformations/collection/interval_based/tests/test_intervals.py
  docs/api_reference/transformations.rst
  docs/getting_started.md
  examples/classification/feature_based.ipynb
  examples/transformations/catch22.ipynb
  examples/transformations/feature_extraction_with_tsfresh.ipynb
  examples/transformations/transformations.ipynb
Labels: transformations, refactor

#963 [DOC] Add warning to installation guide for some shells
  build_tools/pr_open_commenter.py
  docs/installation.md
Labels: documentation

#912 [ENH] Update `tensorflow`
  pyproject.toml
Labels: enhancement, dependencies

#972 [BUG] test forecasting loader return meta data
  aeon/datasets/tests/test_data_loaders.py
Labels: bug, datasets

#950 [BUG, ENH] Fixes several issues and enhances plotting module
  aeon/benchmarking/results_plotting.py
  aeon/benchmarking/tests/test_results_plotting.py
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression_results_per_dataset.ipynb
Labels: bug, enhancement, benchmarking

#978 [ENH] Swap transformer used in `SummaryClassifier`
  aeon/classification/feature_based/_summary_classifier.py
  aeon/classification/tests/test_expected_outputs.py
Labels: enhancement, classification

#941 [ENH] Refactor numpyflat to be numpy2D
  aeon/classification/compose/_pipeline.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datatypes/_panel/_check.py
  aeon/datatypes/_panel/_convert.py
  aeon/datatypes/_panel/_examples.py
  aeon/datatypes/_panel/_registry.py
  aeon/datatypes/_registry.py
  aeon/datatypes/_table/_check.py
  aeon/datatypes/_table/_convert.py
  aeon/datatypes/_table/_examples.py
  aeon/datatypes/_table/_registry.py
  aeon/datatypes/_utilities.py
  aeon/datatypes/tests/test_lookup.py
  aeon/forecasting/base/_base.py
  aeon/forecasting/model_selection/_split.py
  aeon/regression/compose/_pipeline.py
  aeon/transformations/base.py
  aeon/utils/validation/_convert_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  examples/classification/early_classification.ipynb
  examples/datasets/data_conversions.ipynb
  examples/forecasting/forecasting_hierarchical_global.ipynb
Labels: enhancement, datatypes

#969 [DOC] Enhance distance function related docs
  aeon/base/_base.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/clustering/averaging/tests/test_dba.py
  aeon/distances/__init__.py
  aeon/distances/_adtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_euclidean.py
  aeon/distances/_lcss.py
  aeon/distances/_manhattan.py
  aeon/distances/_msm.py
  aeon/distances/_squared.py
  aeon/distances/_twe.py
  aeon/distances/_utils.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/mpdist.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_expected_results.py
  aeon/distances/tests/test_mpdist.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_utils.py
  docs/api_reference/distances.rst
Labels: documentation, classification, clustering, distances

#979 [ENH] Remove the alignment ADT from datatypes
  aeon/datatypes/_alignment/__init__.py
  aeon/datatypes/_alignment/_check.py
  aeon/datatypes/_alignment/_examples.py
  aeon/datatypes/_alignment/_registry.py
  aeon/datatypes/_check.py
  aeon/datatypes/_examples.py
  aeon/datatypes/_registry.py
  aeon/datatypes/tests/test_check.py
  aeon/datatypes/tests/test_convert.py
Labels: enhancement, datatypes

#980 [DOC] Remove "Time series" from API titles
  docs/api_reference/annotation.rst
  docs/api_reference/anomaly_detection.rst
  docs/api_reference/classification.rst
  docs/api_reference/clustering.rst
  docs/api_reference/distances.rst
  docs/api_reference/regression.rst
  docs/api_reference/segmentation.rst
  docs/api_reference/similarity_search.rst
  docs/api_reference/transformations.rst
Labels: documentation

#987 [ENH] Tidy up and restructure load to nested univariate
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_dataframe_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_data_generators.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_dataframe_loaders.py
  aeon/datasets/tests/test_load_forecasting.py
  aeon/datasets/tests/test_single_problem_loaders.py
Labels: enhancement, datasets, full pytest actions, codecov actions, coverage

#965 Release v0.6.0
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  aeon/__init__.py
  build_tools/changelog_generator.py
  build_tools/pr_open_commenter.py
  docs/changelog.md
  docs/changelogs/v0.6.md
  pyproject.toml
Labels: maintenance, release

#991 [MNT] Release workflow typo fix
  .github/workflows/release.yml
Labels: maintenance

#994 [ENH] remove unnecessary call to check_X in SFA and SFA_Fast
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: enhancement, transformations

#995 [ENH] purge todo
  aeon/datatypes/_adapter/dask_to_pd.py
  aeon/datatypes/_panel/_check.py
  aeon/datatypes/_proba/_convert.py
  aeon/datatypes/tests/test_check.py
  aeon/forecasting/ardl.py
  aeon/forecasting/base/_base.py
  aeon/forecasting/base/_fh.py
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/compose/_reduce.py
  aeon/forecasting/model_selection/tests/test_split.py
  aeon/forecasting/naive.py
  aeon/forecasting/reconcile.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/forecasting/theta.py
  aeon/performance_metrics/forecasting/_classes.py
  aeon/performance_metrics/forecasting/probabilistic/_classes.py
  aeon/tests/test_all_estimators.py
  aeon/tests/test_softdeps.py
  aeon/transformations/boxcox.py
  aeon/transformations/compose.py
  aeon/transformations/difference.py
  aeon/transformations/hierarchical/aggregate.py
  aeon/transformations/hierarchical/reconcile.py
  aeon/transformations/lag.py
  aeon/utils/_testing/hierarchical.py
  aeon/utils/_testing/tests/test_testscenario_getter.py
  aeon/utils/mlflow_aeon.py
  examples/segmentation/segmentation_with_clasp.ipynb
Labels: enhancement

#958 [ENH] ADD SAST transformer and SASTClassifier
  .all-contributorsrc
  aeon/classification/shapelet_based/__init__.py
  aeon/classification/shapelet_based/_sast_classifier.py
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/shapelet_based/__init__.py
  aeon/transformations/collection/shapelet_based/_sast.py
  docs/api_reference/classification.rst
  docs/api_reference/transformations.rst
  examples/transformations/sast.ipynb
Labels: enhancement, classification, transformations, examples

#957 [ENH, BUG, DOC] Refactor distance profiles, introduce STD threshold for numba
  aeon/similarity_search/_dummy.py
  aeon/similarity_search/base.py
  aeon/similarity_search/distance_profiles/__init__.py
  aeon/similarity_search/distance_profiles/_commons.py
  aeon/similarity_search/distance_profiles/naive_distance_profile.py
  aeon/similarity_search/distance_profiles/naive_euclidean.py
  aeon/similarity_search/distance_profiles/normalized_naive_euclidean.py
  aeon/similarity_search/distance_profiles/tests/test_naive_distance.py
  aeon/similarity_search/distance_profiles/tests/test_naive_euclidean.py
  aeon/similarity_search/tests/test_top_k_similarity.py
  aeon/similarity_search/top_k_similarity.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/utils/numba/general.py
  aeon/utils/numba/tests/test_general.py
  docs/api_reference/similarity_search.rst
  docs/examples.md
  docs/getting_started.md
  examples/similarity_search/code_speed.ipynb
  examples/similarity_search/distance_profiles.ipynb
  examples/similarity_search/similarity_search.ipynb
Labels: bug, documentation, enhancement, transformations, similarity search

#989 [ENH] Test code for code in test directories
  aeon/tests/test_all_estimators.py
  aeon/tests/test_softdeps.py
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression_results_per_dataset.ipynb
  examples/forecasting/window_splitters.ipynb
Labels: enhancement, classification, coverage

#1008 [BUG] Allow upper case cluster aliases
  aeon/benchmarking/results_loaders.py
Labels: bug, clustering, benchmarking

#993 [ENH] More purging of datatypes
  aeon/datatypes/_panel/_convert.py
  aeon/transformations/collection/segment.py
  aeon/utils/_testing/estimator_checks.py
  aeon/utils/datetime.py
  aeon/utils/tests/test_datetime.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/_convert_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/panel.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_collection.py
Labels: enhancement, datatypes

#1010 [ENH] Improvements to scatterplot when lower is better
  aeon/benchmarking/_critical_difference.py
  aeon/benchmarking/results_plotting.py
  aeon/benchmarking/tests/test_critical_difference.py
Labels: enhancement, benchmarking
