Repository aeon-toolkit/aeon, pull requests merged in 2023-07, with the labels that each got.

#509 [ENH] Updates to `Catch22` and fixes to collection converters
  aeon/classification/feature_based/__init__.py
  aeon/classification/feature_based/_catch22.py
  aeon/classification/feature_based/_catch22_classifier.py
  aeon/classification/tests/_classification_test_reproduction.py
  aeon/classification/tests/_expected_outputs.py
  aeon/classification/tests/test_base.py
  aeon/datatypes/_panel/_convert.py
  aeon/datatypes/tests/test_panel_converters.py
  aeon/regression/feature_based/__init__.py
  aeon/regression/feature_based/_catch22.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/catch22.py
  aeon/transformations/collection/catch22wrapper.py
  aeon/transformations/collection/tests/_collection_test_reproduction.py
  aeon/transformations/collection/tests/test_catch22.py
Labels: bug, enhancement, classification, regression, transformations

#493 [DOC] Added Deep Learning notebook and images
  examples/img/H-Inception.png
  examples/img/Inception.png
  examples/networks/deep_learning.ipynb
Labels: documentation, deep learning, examples

#508 [ENH] Add some simple collection transformers
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/acf.py
  aeon/transformations/collection/ar_coefficient.py
  aeon/transformations/collection/periodogram.py
  aeon/transformations/collection/summary.py
Labels: enhancement, transformations

#534 [MNT] Set upper bound for `tslearn` to fix CI
  pyproject.toml
Labels: maintenance

#516 [DOC] clustering and regression notebooks
  docs/examples.md
  examples/classification/classification.ipynb
  examples/clustering/img/tscl.png
  examples/clustering/partitional_clustering.ipynb
  examples/regression/img/spectra.png
  examples/regression/img/tser.png
  examples/regression/regression.ipynb
Labels: documentation, clustering, regression

#539 [MNT] Change `esig` dependency version requirements to fix CI
  pyproject.toml
Labels: maintenance

#525 [DOC] Remove the tutorials and users webpages
  docs/get_involved/contributing.rst
  docs/tutorials.rst
  docs/users.rst
Labels: documentation

#542 [MNT] Setting more upper bounds to fix CI
  pyproject.toml
Labels: maintenance

#541 [BUG] DBA numba error
  aeon/clustering/metrics/averaging/_barycenter_averaging.py
  aeon/distances/_distance.py
  aeon/distances/_erp.py
  aeon/distances/tests/test_numba_distance_parameters.py
Labels: bug, clustering, distances

#535 [DOC] fixed path of image
  examples/networks/deep_learning.ipynb
  examples/networks/img/H-Inception.png
  examples/networks/img/Inception.png
Labels: documentation

#548 [BUG] Doctest formatting bug 546
  aeon/benchmarking/results_loaders.py
Labels: bug, documentation

#511 [ENH] Update interval extraction transformers and pipelines
  aeon/classification/interval_based/__init__.py
  aeon/classification/interval_based/_interval_pipelines.py
  aeon/classification/interval_based/_random_interval_classifier.py
  aeon/regression/feature_based/_catch22.py
  aeon/regression/interval_based/__init__.py
  aeon/regression/interval_based/_interval_pipelines.py
  aeon/transformations/collection/random_intervals.py
  aeon/transformations/collection/supervised_intervals.py
  aeon/transformations/collection/tests/test_intervals.py
Labels: enhancement, classification, regression, transformations

#544 [ENH] Implement RSTSF classifier
  aeon/classification/interval_based/__init__.py
  aeon/classification/interval_based/_rstsf.py
Labels: enhancement, classification

#524 [DOC] Rewrite current user installation guide and move dev installation guide to its own file
  docs/developer_guide.rst
  docs/developer_guide/dev_installation.md
  docs/index.md
  docs/installation.md
  docs/installation.rst
Labels: documentation

#527 [DOC] Remove mentoring and estimator overview webpages
  docs/_static/js/dynamic_table.js
  docs/estimator_overview.md
  docs/get_involved.rst
  docs/get_involved/mentoring.md
  docs/index.md
Labels: documentation

#536 [DOC] Move forecasting notebooks
  aeon/forecasting/base/_base.py
  aeon/forecasting/model_selection/_split.py
  docs/examples.md
  examples/forecasting/forecasting.ipynb
  examples/forecasting/forecasting_hierarchical_global.ipynb
  examples/forecasting/forecasting_proba.ipynb
  examples/forecasting/forecasting_sklearn.ipynb
  examples/forecasting/global_fc/X.pkl
  examples/forecasting/global_fc/y.pkl
  examples/forecasting/img/forecasting.png
  examples/forecasting/img/forecasting2.png
  examples/forecasting/img/hierarchytree.png
  examples/forecasting/img/hierarchytree_grouped.png
  examples/forecasting/img/proba.png
Labels: documentation, forecasting, examples

#562 [MNT] Exclude results loading notebook
  build_tools/run_examples.sh
Labels: maintenance, examples

#561 [DOC] Utils notebook directory
  examples/mlflow.ipynb
  examples/utils/mlflow.ipynb
Labels: documentation, examples

#556 [MNT] estimator checks deprecation
  aeon/utils/estimator_checks.py
Labels: maintenance, testing

#558 [ENH] Add ResNet deep learning regressor
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/resnet.py
Labels: enhancement, regression, deep learning

#560 [ENH] Add FCN deep learning regressor
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/fcn.py
Labels: enhancement, regression, deep learning

#545 [ENH] Implement configurable interval base class with classifier and regressor
  aeon/base/estimator/__init__.py
  aeon/base/estimator/interval_based/__init__.py
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/base/estimator/interval_based/tests/__init__.py
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/classification/interval_based/__init__.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/regression/interval_based/__init__.py
  aeon/regression/interval_based/_interval_forest.py
Labels: enhancement, classification, regression

#549 [BUG] Regression base class score function
  aeon/base/_base.py
  aeon/base/tests/test_base.py
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
  aeon/regression/__init__.py
  aeon/regression/_dummy.py
  aeon/regression/base.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/regression/dummy/__init__.py
  aeon/regression/dummy/tests/__init__.py
  aeon/regression/tests/test_base.py
  aeon/regression/tests/test_dummy.py
  docs/api_reference/regression.rst
  examples/regression/regression.ipynb
Labels: bug, regression

#559 [MNT-ENH] Fixed stuff in CNN deep learning regressor
  aeon/regression/deep_learning/cnn.py
Labels: enhancement, regression, maintenance, deep learning

#567 [MNT] CODEOWNERS organisation suggestion
  CODEOWNERS
Labels: maintenance, (Branch Edit)

#566 [DOC] Transformer notebook suggestions and `all_estimators` changes and bugfix
  aeon/registry/_base_classes.py
  aeon/registry/_lookup.py
  aeon/registry/tests/test_lookup.py
  examples/transformations/transformations.ipynb
Labels: bug, documentation, transformations, (Branch Edit)

#553 [MNT] Add periodic test workflow and remove Makefile
  .codecov.yml
  .coveragerc
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_tests.yml
  Makefile
  setup.cfg
Labels: maintenance, testing

#568 [MNT] BATS parameter test
  aeon/forecasting/bats.py
Labels: forecasting, maintenance, testing

#531 [DOC] Restructure annotation and transformation notebooks
  aeon/registry/_base_classes.py
  aeon/registry/_lookup.py
  aeon/registry/_scitype.py
  aeon/registry/tests/test_lookup.py
  aeon/transformations/series/boxcox.py
  docs/examples.md
  docs/index.md
  examples/03_transformers.ipynb
  examples/annotation/hidalgo_segmentation.ipynb
  examples/annotation/img/clasp.png
  examples/annotation/img/segmentation_use_cases.png
  examples/annotation/segmentation_with_clasp.ipynb
  examples/benchmarking/04_benchmarking.ipynb
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/dictionary_based.ipynb
  examples/regression/img/spectra.png
  examples/transformations/catch22.ipynb
  examples/transformations/feature_extraction_with_tsfresh.ipynb
  examples/transformations/img/hidalgo.png
  examples/transformations/img/interpolation.png
  examples/transformations/img/leaves_shapelets.png
  examples/transformations/img/plateau.png
  examples/transformations/img/rocket.png
  examples/transformations/img/segmentation.png
  examples/transformations/img/signature.png
  examples/transformations/img/theta.png
  examples/transformations/img/transformation.png
  examples/transformations/img/tsfresh.png
  examples/transformations/img/verdena_shapelet.png
  examples/transformations/interpolation.ipynb
  examples/transformations/minirocket.ipynb
  examples/transformations/plateau_finder.ipynb
  examples/transformations/rocket.ipynb
  examples/transformations/signature_method.ipynb
  examples/transformations/theta_transform.ipynb
  examples/transformations/transformations.ipynb
Labels: documentation, transformations, annotation, examples

#547 [MNT] Update codeowners
  CODEOWNERS
Labels: maintenance

#529 [ENH] RDSTClassifier and transformer tests
  aeon/classification/shapelet_based/__init__.py
  aeon/classification/shapelet_based/_rdst.py
  aeon/transformations/collection/dilated_shapelet_transform.py
  aeon/transformations/collection/tests/test_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
  docs/api_reference/classification.rst
Labels: enhancement, classification, transformations

#577 [BUG] Add `non-deterministic` tag to RDSTClassifier
  aeon/classification/shapelet_based/_rdst.py
Labels: bug, classification

#575 [ENH] Replace TSF estimators with base class version and remove `series_as_features` package
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/classification/compose/__init__.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/compose/tests/test_ensemble.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/early_classification/tests/test_probability_threshold.py
  aeon/classification/early_classification/tests/test_teaser.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/tests/_expected_outputs.py
  aeon/regression/interval_based/_interval_forest.py
  aeon/regression/interval_based/_tsf.py
  aeon/series_as_features/__init__.py
  aeon/series_as_features/base/__init__.py
  aeon/series_as_features/base/estimators/__init__.py
  aeon/series_as_features/base/estimators/_ensemble.py
  aeon/series_as_features/base/estimators/interval_based/__init__.py
  aeon/series_as_features/base/estimators/interval_based/_tsf.py
  aeon/series_as_features/base/estimators/tests/__init__.py
  aeon/series_as_features/base/estimators/tests/test_feature_importances_.py
  aeon/series_as_features/model_selection/__init__.py
  aeon/series_as_features/model_selection/_split.py
  docs/api_reference.rst
  docs/api_reference/classification.rst
Labels: enhancement, classification, regression

#581 [DOCS] Add docs for function transformer with distances, and tests for distances with sklearn
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_sklearn_compatibility.py
  examples/distances/sklearn_distances.ipynb
Labels: testing, distances

#571 [ENH] Full classifier results
  aeon/benchmarking/example_results/classification/accuracy/InceptionTime_TESTFOLDS.csv
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/datasets/tsc_data_lists.py
Labels: enhancement, classification, benchmarking

#500 [ENH] Pam kmedoids clusterer
  aeon/clustering/k_medoids.py
  aeon/clustering/tests/test_k_medoids.py
  examples/clustering/partitional_clustering.ipynb
Labels: enhancement, clustering, refactor

#501 [ENH] CLARA clusterer
  aeon/clustering/__init__.py
  aeon/clustering/clara.py
  aeon/clustering/k_medoids.py
  aeon/clustering/tests/test_clara.py
  docs/api_reference/clustering.rst
  examples/clustering/partitional_clustering.ipynb
Labels: enhancement, clustering

#580 [ENH] Removes the delegate structure from regression
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/regression/convolution_based/_rocket_regressor.py
Labels: regression

#594 [BUG] Scenarios string fix
  aeon/utils/_testing/scenarios.py
  examples/benchmarking/benchmarking.ipynb
Labels: bug

#585 [ENH] Updates the STSF classifier to use new interval base class
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/tests/_expected_outputs.py
  aeon/regression/interval_based/_tsf.py
Labels: enhancement, classification

#538 [DOC] Datatypes docs
  aeon/datatypes/_panel/_registry.py
  examples/AA_datatypes_and_datasets.ipynb
  examples/datasets/data_conversions.ipynb
Labels: documentation, datasets, datatypes, examples

#593 [MNT] DL OOM test failure fix and remove Makefile
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_tests.yml
  Makefile
  aeon/classification/deep_learning/cnn.py
  aeon/classification/deep_learning/encoder.py
  aeon/classification/deep_learning/fcn.py
  aeon/classification/deep_learning/inception_time.py
  aeon/classification/deep_learning/mlp.py
  aeon/classification/deep_learning/resnet.py
  aeon/classification/deep_learning/tapnet.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/regression/deep_learning/cnn.py
  aeon/regression/deep_learning/fcn.py
  aeon/regression/deep_learning/inception_time.py
  aeon/regression/deep_learning/resnet.py
  aeon/regression/deep_learning/tapnet.py
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
Labels: maintenance

#552 [MNT] Add `statsforecast` back to all_extras
  aeon/transformations/series/kalman_filter.py
  aeon/transformations/series/tests/test_kalman_filter.py
  aeon/utils/validation/_dependencies.py
  pyproject.toml
Labels: forecasting, maintenance

#598 [DOC] Full examples debug
  aeon/clustering/clara.py
  aeon/datasets/_data_loaders.py
  build_tools/run_examples.sh
  docs/developer_guide/add_dataset.rst
  docs/developer_guide/continuous_integration.rst
  docs/developer_guide/deprecation.rst
  docs/examples.md
  docs/get_involved/code_of_conduct.rst
  docs/get_involved/contributing.rst
  docs/getting_started.md
  docs/index.md
  examples/annotation/annotation.ipynb
  examples/benchmarking/results_loading.ipynb
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/img/from-shapes-to-time-series.png
  examples/clustering/partitional_clustering.ipynb
  examples/datasets/benchmarking_data.ipynb
  examples/datasets/data_conversions.ipynb
  examples/datasets/data_files_structures.ipynb
  examples/datasets/data_loading.ipynb
  examples/datasets/data_structures.ipynb
  examples/datasets/datasets.ipynb
  examples/datasets/img/data.png
  examples/datasets/load_data_from_web.ipynb
  examples/datasets/provided_data.ipynb
  examples/distances/distances.ipynb
  examples/distances/sklearn_distances.ipynb
  examples/forecasting/forecasting.ipynb
  examples/forecasting/forecasting_hierarchical_global.ipynb
  examples/forecasting/forecasting_proba.ipynb
  examples/networks/deep_learning.ipynb
  examples/transformations/transformations.ipynb
Labels: documentation

#596 Release v0.4.0
  .github/release.yml
  .github/workflows/release.yml
  README.md
  aeon/__init__.py
  docs/changelogs/v0.4.md
  docs/developer_guide/release.md
  docs/developer_guide/release.rst
  pyproject.toml
Labels: maintenance, release

#607 [DOC] Add link to v0.4 notes in changelog page
  docs/changelog.md
Labels: documentation

#608 [MNT] Explicitly include and exclude items from the build MANIFEST.in
  MANIFEST.in
  setup.cfg
Labels: maintenance

#609 [MNT] Patch to #608
  setup.cfg
Labels: maintenance

#610 [MNT] Release v0.4.0 Patch 2
  setup.cfg
Labels: maintenance, release

#606 [DOCS] pre-processing notebook and collections validations
  aeon/registry/_lookup.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  docs/index.md
  examples/classification/classification.ipynb
  examples/distances/distances.ipynb
  examples/utils/preprocessing.ipynb
Labels: documentation
