Repository aeon-toolkit/aeon, pull requests merged in 2023-06, with the labels that each got.

#461 [DOC] Getting started page pipeline examples
  .all-contributorsrc
  CONTRIBUTORS.md
  docs/changelogs/v0.2.md
  docs/getting_started.md
  docs/index.md
Labels: documentation

#465 [ENH] `numba` utility functions
  aeon/utils/numba/general.py
  aeon/utils/numba/stats.py
Labels: enhancement

#389 [GOV] Governance workgroups
  docs/get_involved/governance.md
Labels: governance

#470 [MNT] Recursively find notebooks for testing
  build_tools/run_examples.sh
  examples/classification/feature_based.ipynb
Labels: maintenance, testing

#471 [BUG] Ordinal TDE _n_jobs
  aeon/classification/ordinal_classification/_ordinal_tde.py
Labels: bug, classification

#463 [ENH] data loaders and writers
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_data_writers.py
  aeon/datasets/_dataframe_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/setup.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tsc_dataset_names.py
  docs/getting_started.md
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/datasets/data_formats.ipynb
  examples/datasets/data_storage.ipynb
  examples/datasets/provided_data.ipynb
  pyproject.toml
Labels: enhancement, datasets

#476 [ENH] MrSQM classification wrapper
  aeon/classification/shapelet_based/__init__.py
  aeon/classification/shapelet_based/_mrsqm.py
  pyproject.toml
Labels: enhancement, classification, interfacing algorithms

#468 [ENH] Rework datasets package notebooks
  aeon/benchmarking/experiments.py
  aeon/classification/_delegate.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_dataframe_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/transformations/base.py
  aeon/transformations/collection/tsfresh.py
  examples/datasets/data_loading.ipynb
  examples/datasets/provided_data.ipynb
Labels: enhancement, datasets, benchmarking

#475 [BUG] Fixes RDST bug and small docstring changes
  aeon/transformations/collection/dilated_shapelet_transform.py
  aeon/utils/numba/general.py
  aeon/utils/numba/stats.py
Labels: bug, transformations

#477 Release v0.3.0
  .pre-commit-config.yaml
  README.md
  aeon/__init__.py
  build_tools/changelog.py
  docs/changelog.md
  docs/changelogs/v0.2.md
  docs/changelogs/v0.3.md
  pyproject.toml
Labels: maintenance, release

#482 [DOC] Change README logo link
  README.md
Labels: documentation

#452 [ENH] Result loader from tsc.com
  aeon/benchmarking/__init__.py
  aeon/benchmarking/_critical_difference.py
  aeon/benchmarking/example_results/classification/accuracy/FreshPRINCE_TESTFOLDS.csv
  aeon/benchmarking/example_results/classification/accuracy/HC2_TESTFOLDS.csv
  aeon/benchmarking/example_results/classification/accuracy/InceptionT_TESTFOLDS.csv
  aeon/benchmarking/example_results/classification/accuracy/WEASEL-D_TESTFOLDS.csv
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/results_plotting.py
  aeon/benchmarking/tests/test_experiments.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/benchmarking/utils.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/tsc_dataset_names.py
  build_tools/fail_on_missing_init_files.sh
  examples/benchmarking/benchmarking.ipynb
  examples/benchmarking/results_loading.ipynb
  examples/datasets/data_loading.ipynb
Labels: enhancement, benchmarking

#486 [MNT] tidy up resnet and fix failures
  aeon/classification/deep_learning/resnet.py
  aeon/networks/resnet.py
  aeon/tests/_config.py
Labels: bug, testing, deep learning

#478 [ENH] Data downloaders for classification/regression and forecasting
  aeon/benchmarking/results_loaders.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/data/dataset_lists.py
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tsc_data_lists.py
  aeon/datasets/tser_data_lists.py
  aeon/datasets/tsf_data_lists.py
  build_tools/run_examples.sh
  examples/benchmarking/benchmarking.ipynb
  examples/benchmarking/results_loading.ipynb
  examples/datasets/benchmarking_data.ipynb
  examples/datasets/data_loading.ipynb
  examples/datasets/provided_data.ipynb
  examples/distances/img/DTW_GUI_warped.gif
Labels: datasets, benchmarking

#467 [ENH] Collection transformer wrapper and basic base class testing
  aeon/datatypes/_convert.py
  aeon/transformations/base.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_collection_wrapper.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/compose.py
Labels: enhancement, transformations

#489 [ENH] Refactoring PAA
  aeon/transformations/collection/dictionary_based/_paa.py
  aeon/transformations/collection/dictionary_based/_sax.py
  aeon/transformations/collection/dictionary_based/tests/test_paa.py
Labels: transformations, refactor

#496 [BUG] Update gunpoint arff
  aeon/datasets/data/GunPoint/GunPoint_TRAIN.arff
Labels: datasets

#497 [REF] change single class use case
  aeon/classification/base.py
  extension_templates/classification.py
Labels: classification, refactor

#510 [ENH] Add function to make example 3D numpy problems
  aeon/datasets/__init__.py
  aeon/datasets/_data_generators.py
  aeon/datatypes/tests/test_panel_converters.py
Labels: enhancement, datasets

#487 [MNT] Loosen upper bound for `esig` and update Python version for notebook tests.
  .github/workflows/test.yml
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/feature_based/_signature_classifier.py
  aeon/transformations/collection/signature_based/_compute.py
  aeon/transformations/collection/signature_based/_rescaling.py
  aeon/transformations/collection/signature_based/_signature_method.py
  pyproject.toml
Labels: maintenance

#445 [MNT] Revert `holidays` and `dash` dependency changes
  pyproject.toml
Labels: maintenance

#371 [MNT] Add `non-deterministic` and `cant-pickle` tag for estimators
  aeon/classification/deep_learning/base.py
  aeon/classification/shapelet_based/_mrsqm.py
  aeon/registry/_tags.py
  aeon/regression/deep_learning/base.py
  aeon/tests/test_all_estimators.py
Labels: maintenance, deep learning

#518 [BUG] HIVECOTEV1 cross-validation bugfix
  aeon/classification/hybrid/__init__.py
  aeon/classification/hybrid/_hivecote_v1.py
  aeon/classification/hybrid/_hivecote_v2.py
Labels: bug, classification

#495 [DOCS] Update the API
  docs/api_reference/benchmarking.rst
  docs/api_reference/classification.rst
  docs/api_reference/data_format.rst
  docs/api_reference/datasets.rst
  docs/api_reference/networks.rst
  docs/api_reference/regression.rst
  docs/api_reference/series_as_features.rst
Labels: documentation

#520 [BUG] reduce test size for MultiRocket
  aeon/transformations/collection/rocket/tests/test_MultiRocketMultivariate.py
Labels: testing

#513 [DOC] Tidy up the datasets and distances examples
  docs/examples.md
  examples/datasets/benchmarking_data.ipynb
  examples/datasets/data_files_structures.ipynb
  examples/datasets/data_loading.ipynb
  examples/datasets/data_storage.ipynb
  examples/datasets/provided_data.ipynb
  examples/distances/distances.ipynb
  examples/distances/img/svm.png
  examples/distances/sklearn_distances.ipynb
Labels: documentation, datasets, distances

#514 [DOC] Add correct images for classification
  examples/classification/img/hist.png
  examples/classification/img/interval.png
  examples/classification/img/it.png
  examples/classification/img/shapelet.png
  examples/classification/img/tsc.png
Labels: documentation, classification

#522 [DOC] Add transformations to getting started page and add opengraph sphinx package
  .gitignore
  README.md
  docs/conf.py
  docs/getting_started.md
  pyproject.toml
Labels: documentation
