Repository aeon-toolkit/aeon, pull requests merged in 2023-11, with the labels that each got.

#884 [BUG] Ignore extra whitespace in loader
  aeon/datasets/_data_loaders.py
  aeon/datasets/tsc_data_lists.py
Labels: bug, datasets

#886 [MNT] Use app token for other GitHub workflows
  .github/workflows/pr_opened.yml
  .github/workflows/update_contributors.yml
  build_tools/pr_open_commenter.py
Labels: maintenance

#885 [MNT] Retry aeon install on failure for GitHub workflows
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
Labels: maintenance

#888 [ENH] Improve coverage for datasets module
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tests/test_single_problem_loaders.py
Labels: enhancement, datasets, codecov actions

#892 [MNT] Setup file for Dependabot (automatic dependency updates)
  .github/dependabot.yml
  .github/workflows/pr_opened.yml
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
  sweep.yaml
Labels: maintenance

#891 [ENH] Support unequal length for rdst
  aeon/classification/shapelet_based/_rdst.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
Labels: enhancement, classification, transformations

#900 [ENH] Set Draft to true in sweep.yaml
  sweep.yaml
Labels: enhancement

#901 [BUG] Update sweep.yaml spacing
  sweep.yaml
Labels: bug

#782 [ENH] refactor annotation into segmentation and anomaly detection
  .pre-commit-config.yaml
  aeon/annotation/__init__.py
  aeon/annotation/eagglo.py
  aeon/annotation/hmm_learn/gaussian.py
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_stray.py
  aeon/anomaly_detection/tests/__init__.py
  aeon/anomaly_detection/tests/test_stray.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/segmentation/__init__.py
  aeon/segmentation/_clasp.py
  aeon/segmentation/_ggs.py
  aeon/segmentation/_igts.py
  aeon/segmentation/tests/__init__.py
  aeon/segmentation/tests/test_clasp.py
  aeon/segmentation/tests/test_ggs.py
  aeon/segmentation/tests/test_igts.py
  aeon/transformations/series/clasp.py
  docs/api_reference/annotation.rst
  docs/api_reference/anomaly_detection.rst
  docs/api_reference/segmentation.rst
  docs/changelogs/v0.5.md
  examples/annotation/annotation.ipynb
  examples/annotation/segmentation_with_clasp.ipynb
  examples/segmentation/hidalgo_segmentation.ipynb
  examples/segmentation/img/segmentation_use_cases.png
  examples/segmentation/segmentation.ipynb
  examples/segmentation/segmentation_with_clasp.ipynb
Labels: annotation, segmentation, anomaly detection

#897 [ENH] remove nested_univ from Tabularizer
  aeon/transformations/collection/reduce.py
Labels: enhancement, transformations

#903 [MNT] Dependabot validation workflow
  .github/dependabot.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_precommit.yml
  .pre-commit-config.yaml
Labels: maintenance

#906 [ENH] Add download_dataset function to _data_loaders.py
  aeon/datasets/_data_loaders.py
Labels: enhancement, datasets

#911 [ENH] Remove case sensitivity from Rocket transform argument
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/datasets/_data_loaders.py
Labels: enhancement, classification

#918 [DOC] change n_dimensions to n_channels in all files
  aeon/classification/_dummy.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/deep_learning/base.py
  aeon/classification/deep_learning/cnn.py
  aeon/classification/deep_learning/encoder.py
  aeon/classification/deep_learning/fcn.py
  aeon/classification/deep_learning/mlp.py
  aeon/classification/deep_learning/resnet.py
  aeon/classification/deep_learning/tapnet.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/feature_based/_summary_classifier.py
  aeon/classification/feature_based/_tsfresh_classifier.py
  aeon/classification/hybrid/_hivecote_v1.py
  aeon/classification/hybrid/_hivecote_v2.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_stc.py
  aeon/clustering/averaging/_averaging.py
  aeon/networks/fcn.py
  aeon/networks/mlp.py
  aeon/networks/resnet.py
  aeon/regression/deep_learning/base.py
  aeon/regression/deep_learning/cnn.py
  aeon/regression/deep_learning/tapnet.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_mv.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
Labels: documentation

#890 [ENH] Results loaders for published results
  aeon/benchmarking/__init__.py
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_dataset_collections.py
  aeon/datasets/tsc_data_lists.py
  build_tools/run_examples.sh
  examples/benchmarking/bakeoff_results.ipynb
  examples/benchmarking/benchmarking.ipynb
  examples/benchmarking/img/bakeoff2015.png
  examples/benchmarking/img/bakeoff2021.png
  examples/benchmarking/reference_results.ipynb
Labels: enhancement, datasets, full pytest actions

#921 [MNT] Default InceptionTime to use original model and not H version
  aeon/classification/deep_learning/inception_time.py
  aeon/networks/inception.py
  aeon/regression/deep_learning/inception_time.py
Labels: maintenance, deep learning, networks

#923 [ENH] Adding LITETime for Deep Learning classifiers
  aeon/classification/deep_learning/__init__.py
  aeon/classification/deep_learning/lite_time.py
  aeon/networks/inception.py
  aeon/networks/lite.py
Labels: enhancement, classification, deep learning, networks

#925 [ENH] Allow callables in TimeSeriesKMedoids
  aeon/distances/_distance.py
Labels: bug, enhancement, clustering, distances

#928 [BUG] Check if multiindex store unequal length series
  aeon/utils/validation/_convert_collection.py
Labels: bug, datasets

#930 [ENH] Add algorithm type tag to convolutional transformers
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_minirocket_mv.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_rocket.py
Labels: enhancement, transformations

#931 [ENH] Add algorithm type tag to dictionary transformers
  aeon/transformations/collection/dictionary_based/_paa.py
  aeon/transformations/collection/dictionary_based/_sax.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: enhancement, transformations

#932 [ENH] Add algorithm type tag to shapelet transformers
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
Labels: enhancement, transformations

#939 [ENH] Remove upper bounds for `tslearn` and `pmdarima`
  pyproject.toml
Labels: enhancement, dependencies

#935 [ENH] Update `numpy` version
  aeon/performance_metrics/forecasting/_classes.py
  aeon/performance_metrics/forecasting/probabilistic/_classes.py
  pyproject.toml
Labels: enhancement, dependencies
