Repository aeon-toolkit/aeon, pull requests merged in 2023-03, with the labels that each got.

#81 [MNT] removed separate mlflow dependencies and testing
  .github/workflows/test.yml
  Makefile
  pyproject.toml
Labels: maintenance

#88 [ENH] Early classification updates
  examples/early_classification.ipynb
  sktime/classification/early_classification/_probability_threshold.py
  sktime/classification/early_classification/_teaser.py
  sktime/classification/early_classification/tests/test_all_early_classifiers.py
  sktime/classification/early_classification/tests/test_probability_threshold.py
  sktime/classification/early_classification/tests/test_teaser.py
  sktime/classification/tests/_classification_test_reproduction.py
  sktime/classification/tests/_expected_outputs.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
Labels: classification, maintenance

#131 [DOC] Fix docstring of TabularToSeriesAdaptor
  sktime/transformations/series/adapt.py
Labels: documentation, transformations

#26 [ENH] Refactored PCATransformer
  CODEOWNERS
  docs/source/api_reference/transformations.rst
  sktime/classification/compose/_pipeline.py
  sktime/classification/tests/test_sklearn_compatability.py
  sktime/clustering/compose/_pipeline.py
  sktime/regression/compose/_pipeline.py
  sktime/tests/test_softdeps.py
  sktime/transformations/panel/tests/test_PCATransformer.py
  sktime/transformations/series/pca.py
  sktime/transformations/series/tests/test_pca.py
Labels: transformations

#138 [FORK] Changed all Slack links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/source/conf.py
  docs/source/developer_guide/git_workflow.rst
  docs/source/events/gsoc_2022.md
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/mentoring.rst
Labels: maintenance, fork - high priority

#139 [ENH] Speedup EAgglo by factor 5-10x
  sktime/annotation/eagglo.py
Labels: enhancement, annotation

#132 [ENH] Clean up clustering module
  sktime/clustering/base.py
  sktime/clustering/compose/__init__.py
  sktime/clustering/compose/_pipeline.py
  sktime/clustering/compose/tests/__init__.py
  sktime/clustering/compose/tests/test_pipeline.py
  sktime/clustering/dbscan.py
  sktime/clustering/k_means.py
  sktime/transformations/base.py
  sktime/transformations/compose.py
Labels: clustering

#143 Remove the DistanceFeatures transformer
  sktime/transformations/panel/compose_distance.py
Labels: transformations

#13 [BUG] Fix tag in FeatureSelection and added tests
  sktime/transformations/series/feature_selection.py
  sktime/transformations/series/tests/test_feature_selection.py
Labels: bug

#103 [MNT] Remove Python 3.7 support
  .github/workflows/test.yml
  .github/workflows/wheels.yml
  build_tools/check_install_from_test_pypi.sh
  docs/source/installation.rst
  pyproject.toml
  sktime/forecasting/compose/tests/test_ensemble.py
  sktime/forecasting/theta.py
Labels: maintenance

#129 [ENH] Add tags for estimators using the taxonomy of classification
  sktime/classification/convolution_based/_arsenal.py
  sktime/classification/convolution_based/_rocket_classifier.py
  sktime/classification/deep_learning/base.py
  sktime/classification/deep_learning/fcn.py
  sktime/classification/deep_learning/lstmfcn.py
  sktime/classification/deep_learning/mlp.py
  sktime/classification/deep_learning/resnet.py
  sktime/classification/dictionary_based/_boss.py
  sktime/classification/dictionary_based/_cboss.py
  sktime/classification/dictionary_based/_muse.py
  sktime/classification/dictionary_based/_tde.py
  sktime/classification/dictionary_based/_weasel.py
  sktime/classification/distance_based/_elastic_ensemble.py
  sktime/classification/distance_based/_shape_dtw.py
  sktime/classification/distance_based/_time_series_neighbors.py
  sktime/classification/feature_based/_catch22_classifier.py
  sktime/classification/feature_based/_fresh_prince.py
  sktime/classification/feature_based/_matrix_profile_classifier.py
  sktime/classification/feature_based/_signature_classifier.py
  sktime/classification/feature_based/_summary_classifier.py
  sktime/classification/feature_based/_tsfresh_classifier.py
  sktime/classification/hybrid/_hivecote_v1.py
  sktime/classification/hybrid/_hivecote_v2.py
  sktime/classification/interval_based/_cif.py
  sktime/classification/interval_based/_drcif.py
  sktime/classification/interval_based/_random_interval_classifier.py
  sktime/classification/interval_based/_rise.py
  sktime/classification/interval_based/_stsf.py
  sktime/classification/interval_based/_tsf.py
  sktime/classification/shapelet_based/_stc.py
  sktime/datatypes/_panel/_registry.py
  sktime/registry/_tags.py
Labels: classification

#161 [DOC] Rename some occurrences of `sktime` to `aeon`
  docs/source/about.rst
  docs/source/about/_mission.rst
  docs/source/about/artwork.rst
  docs/source/about/citation.md
  docs/source/about/funding.rst
  docs/source/about/mission.rst
  docs/source/about/team.rst
  docs/source/api_reference.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/contributing/reporting_bugs.rst
  docs/source/contributing/reviewer_guide.rst
  docs/source/developer_guide.rst
  docs/source/developers.rst
  docs/source/estimator_overview.md
  docs/source/get_involved.rst
  docs/source/get_involved/code_of_conduct.rst
  docs/source/get_involved/contributing.rst
  docs/source/get_involved/mentoring.rst
  docs/source/get_started.rst
  docs/source/glossary.rst
  docs/source/images/aeon-favicon.ico
  docs/source/images/aeon-logo-no-text-vertical.png
  docs/source/images/aeon-logo-no-text.jpg
  docs/source/images/aeon-logo-text-horizontal.png
  docs/source/images/aeon-logo.jpg
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/related_software.rst
  docs/source/tutorials.rst
  docs/source/user_guide.rst
  docs/source/user_guide/introduction.rst
  docs/source/users.rst
Labels: documentation

#162 [ENH] Refactor ColumnEnsemble to ChannelEnsemble
  docs/source/api_reference/classification.rst
  examples/02_classification.ipynb
  sktime/classification/compose/__init__.py
  sktime/classification/compose/_channel_ensemble.py
  sktime/classification/tests/_classification_test_reproduction.py
Labels: classification

#165 [ENH] Switch from pandas iteritems() to items() due to warning
  sktime/datatypes/_panel/_convert.py
Labels: datatypes

#163 [ENH] Refactor DummyClassifier and Compose classifiers
  CODEOWNERS
  docs/source/api_reference/classification.rst
  examples/02_classification.ipynb
  sktime/classification/__init__.py
  sktime/classification/_dummy.py
  sktime/classification/base.py
  sktime/classification/compose/_ensemble.py
  sktime/classification/compose/_pipeline.py
  sktime/classification/dummy/__init__.py
  sktime/classification/dummy/tests/__init__.py
  sktime/classification/tests/test_dummy.py
Labels: classification

#157 [MNT] Update name to `aeon` in config files
  CHANGELOG.md
  CODEOWNERS
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  ESTIMATOR_OVERVIEW.md
  GOVERNANCE.md
  LICENSE
  README.md
  estimator_overview_table.md
  pyproject.toml
Labels: fork - high priority

#169 [ENH] Remove old Transformer Minxin Classes
  sktime/registry/__init__.py
  sktime/registry/_base_classes.py
  sktime/registry/_lookup.py
  sktime/registry/tests/test_lookup.py
  sktime/tests/_config.py
  sktime/tests/test_all_estimators.py
  sktime/transformations/base.py
  sktime/transformations/panel/compose.py
  sktime/utils/_testing/scenarios_transformers.py
Labels: transformations

#135 [ENH]Update Channel Selection code
  examples/channel_selection.ipynb
  sktime/transformations/panel/channel_selection.py
  sktime/transformations/panel/tests/test_channel_selection.py
Labels: transformations

#123 [ENH] first rework of the classification notebook
  aeon/registry/_tags.py
  examples/01_forecasting.ipynb
  examples/01b_forecasting_proba.ipynb
  examples/01c_forecasting_hierarchical_global.ipynb
  examples/02_classification.ipynb
  examples/02a_classification_multivariate_cnn.ipynb
  examples/04_benchmarking.ipynb
  examples/AA_datatypes_and_datasets.ipynb
  examples/channel_selection.ipynb
  examples/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/img/convolution.png
  examples/classification/img/dictionary.png
  examples/classification/img/dtw.png
  examples/classification/img/dtw2.png
  examples/classification/img/ensemble.png
  examples/classification/img/hc2.png
  examples/classification/img/inception.png
  examples/classification/img/inception_module.png
  examples/classification/img/pipeline.png
  examples/classification/img/resnet.png
  examples/classification/img/rocket.png
  examples/classification/img/rocket2.png
  examples/classification/img/shape_dtw.PNG
  examples/classification/img/spatial_pyramids.png
  examples/classification/interval_based.ipynb
  examples/dictionary_based_classification.ipynb
  examples/loading_data.ipynb
  examples/mlflow.ipynb
  examples/partition_based_clustering.ipynb
  examples/rocket.ipynb
  examples/signature_method.ipynb
Labels: documentation, classification

#190 [MNT] Automated refactorings
  aeon/annotation/adapters/__init__.py
  aeon/annotation/adapters/_pyod.py
  aeon/annotation/base/__init__.py
  aeon/annotation/base/_base.py
  aeon/annotation/clasp.py
  aeon/annotation/datagen.py
  aeon/annotation/hmm_learn/__init__.py
  aeon/annotation/hmm_learn/gaussian.py
  aeon/annotation/hmm_learn/gmm.py
  aeon/annotation/hmm_learn/poisson.py
  aeon/annotation/plotting/__init__.py
  aeon/annotation/plotting/utils.py
  aeon/annotation/stray.py
  aeon/classification/base.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/distance_based/_shape_dtw.py
Labels: refactor

#122 [DOC] Update landing page
  docs/source/about/artwork.rst
  docs/source/conf.py
  docs/source/images/aeon-favicon.ico
  docs/source/images/aeon-logo-horizontal.png
  docs/source/images/aeon-logo-no-text-vertical.png
  docs/source/images/aeon-logo-no-text.jpg
  docs/source/images/aeon-logo-no-text.png
  docs/source/images/aeon-logo-text-horizontal.png
  docs/source/images/aeon-logo.jpg
  docs/source/images/aeon-logo.png
  docs/source/images/gsoc.png
  docs/source/images/numfocus.png
  docs/source/index.md
  docs/source/index.rst
  docs/symlink_examples.sh
  examples/img/forecasting2.png
  examples/img/transformation.png
  examples/img/tsc.png
  examples/img/tscl.png
  examples/img/tser.png
  pyproject.toml
Labels: documentation

#196 [ENH] Switch SFA Transformer to use numpy
  aeon/transformations/panel/dictionary_based/_sfa.py
  aeon/transformations/panel/dictionary_based/tests/test_sfa.py
Labels: transformations

#185 [ENH] Shapelet Transform improvements
  aeon/classification/shapelet_based/_stc.py
  aeon/transformations/base.py
  aeon/transformations/panel/shapelet_transform.py
  examples/shapelet_based.ipynb
Labels: transformations

#205 [DOC] Add website warning again.
  docs/source/conf.py
Labels: documentation

#206 [MNT] Fix pytest by setting upper bound on `dash`
  pyproject.toml
Labels: maintenance

#207 Pre-release 0.1.0rc0
  README.md
  aeon/__init__.py
  pyproject.toml
Labels: release

#189 [MNT] Pandas 2.0.0 deprecation actions (part 2)
  aeon/benchmarking/strategies.py
  aeon/datatypes/_utilities.py
  aeon/forecasting/base/_aeon.py
  aeon/forecasting/base/_fh.py
  aeon/forecasting/base/adapters/_statsforecast.py
  aeon/forecasting/compose/_reduce.py
  aeon/forecasting/naive.py
  aeon/forecasting/statsforecast.py
  aeon/forecasting/tests/test_window_forecasters.py
  aeon/forecasting/vecm.py
Labels: forecasting, maintenance

#213 [ENH] remove incorrect iloc calls
  aeon/classification/compose/tests/test_ensemble.py
  aeon/classification/early_classification/tests/test_all_early_classifiers.py
Labels: classification, testing

#220 [FORK] Fix disclaimer
  README.md
  docs/source/conf.py
Labels: fork - medium priority

#224 [BUG] fix class values for SFA tests
  aeon/transformations/panel/dictionary_based/tests/test_sfa.py
Labels: bug, transformations

#198 [ENH] switch test of PaddingTransformer to use numpy
  aeon/transformations/panel/tests/test_Padder.py
Labels: transformations, testing

#178 [ENH] Tidy BaseClassifier and classifier template
  aeon/classification/base.py
  aeon/classification/compose/_ensemble.py
  extension_templates/classification.py
Labels: classification

#244 [DOC] Disclaimer for markdown
  docs/conf.py
Labels: documentation

#236 [ENH] remove front end from distances
  aeon/distances/_distance_pairwise.py
Labels: distances
