Repository aeon-toolkit/aeon, pull requests merged in 2024-12, with the labels that each got.

#2424 [DOC] Created a adding_typehints.md in developers_guide that Fixes issue #1857
  docs/developer_guide/adding_typehints.md
Labels: documentation

#2409 [ENH] Remove test exclusions
  aeon/segmentation/_binseg.py
  aeon/segmentation/base.py
  aeon/testing/testing_config.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/_matrix_profile.py
  aeon/transformations/series/_pla.py
  aeon/transformations/series/_siv.py
Labels: enhancement, transformations, testing, segmentation

#2440 [DOC] Inserting the right paper reference
  aeon/classification/deep_learning/_fcn.py
Labels: documentation, classification

#2427 [ENh] Forecasting tests
  aeon/forecasting/_ets.py
  aeon/forecasting/tests/test_base.py
  aeon/forecasting/tests/test_ets.py
  aeon/forecasting/tests/test_regressor.py
Labels: enhancement, forecasting, testing

#2428 [ENH] KASBA clusterer
  aeon/clustering/__init__.py
  aeon/clustering/_kasba.py
  aeon/clustering/averaging/__init__.py
  aeon/clustering/averaging/_kasba_average.py
  aeon/clustering/tests/test_kasba.py
  docs/api_reference/clustering.rst
  docs/papers_using_aeon.md
Labels: enhancement, clustering, implementing algorithms

#2443 [DOC] ddtw_distance Documentation Fix
  aeon/distances/elastic/_ddtw.py
Labels: documentation, distances

#2446 [DOC] Anomaly Detection Overview Notebook
  docs/api_reference/anomaly_detection.rst
  examples/anomaly_detection/anomaly_detection.ipynb
  examples/anomaly_detection/img/anomaly_detection.png
Labels: documentation, examples

#2452 [DOC] Base collection class docstring formatting
  aeon/regression/base.py
  aeon/transformations/collection/base.py
Labels: documentation, regression, transformations

#2464 [DOC] LITE Time classifier metrics
  aeon/classification/deep_learning/_lite_time.py
Labels: documentation, classification

#2450 [DOC] Add comment to readme.md
  README.md
Labels: documentation

#2376 [ENH] Added ROCKAD anomaly detector to aeon
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_rockad.py
  aeon/anomaly_detection/tests/test_rockad.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2416 [MNT] Swapped tensorflow and pytorch to install only CPU version
  .github/actions/cpu_all_extras/action.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_pytest.yml
Labels: maintenance, full pytest actions, no numba cache

#2445 [DOC] Contributing readme and other contributing updates
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/contributing.md
Labels: documentation
