Repository aeon-toolkit/aeon, pull requests merged in 2024-09, with the labels that each got.

#1938 [ENH] Add performance metrics for anomaly detection (from TimeEval)
  CODEOWNERS
  aeon/performance_metrics/anomaly_detection/__init__.py
  aeon/performance_metrics/anomaly_detection/_binary.py
  aeon/performance_metrics/anomaly_detection/_continuous.py
  aeon/performance_metrics/anomaly_detection/_util.py
  aeon/performance_metrics/anomaly_detection/_vus_metrics.py
  aeon/performance_metrics/anomaly_detection/tests/__init__.py
  aeon/performance_metrics/anomaly_detection/tests/test_ad_metrics.py
  aeon/performance_metrics/anomaly_detection/tests/test_thresholding.py
  aeon/performance_metrics/anomaly_detection/thresholding.py
  aeon/utils/validation/_dependencies.py
  aeon/utils/validation/tests/test_dependencies.py
  docs/api_reference/performance_metrics.rst
  pyproject.toml
Labels: documentation, enhancement, implementing algorithms, anomaly detection, ready for review

#1998 [ENH] Adds option to use raw values instead of relative ones
  aeon/visualisation/__init__.py
  aeon/visualisation/results/_boxplot.py
  aeon/visualisation/results/tests/test_boxplot.py
  docs/api_reference/visualisation.rst
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
  examples/visualisation/plotting_results.ipynb
Labels: enhancement, examples, visualisation

#2002 [BUG] Typo in weasel2 alias
  aeon/benchmarking/results_loaders.py
Labels: bug, benchmarking

#1989 [ENH] QUANT regressor
  aeon/regression/interval_based/__init__.py
  aeon/regression/interval_based/_quant.py
Labels: enhancement, regression

#1807 [ENH] Piecewise Linear Approximation (PLA)
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_pla.py
  aeon/transformations/series/tests/test_pla.py
Labels: enhancement, transformations

#1969 [DOC] fix BKFilter._transform parameters docs
  aeon/transformations/series/_bkfilter.py
Labels: documentation, transformations

#2031 [ENH] Add STOMP anomaly detector.
  .all-contributorsrc
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_stomp.py
  aeon/anomaly_detection/tests/test_stomp.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2010 [ENH] Series search for similarity search module
  aeon/similarity_search/__init__.py
  aeon/similarity_search/_commons.py
  aeon/similarity_search/base.py
  aeon/similarity_search/distance_profiles/__init__.py
  aeon/similarity_search/distance_profiles/_commons.py
  aeon/similarity_search/distance_profiles/euclidean_distance_profile.py
  aeon/similarity_search/distance_profiles/naive_distance_profile.py
  aeon/similarity_search/distance_profiles/squared_distance_profile.py
  aeon/similarity_search/matrix_profiles/__init__.py
  aeon/similarity_search/matrix_profiles/naive_matrix_profile.py
  aeon/similarity_search/matrix_profiles/stomp.py
  aeon/similarity_search/matrix_profiles/tests/__init__.py
  aeon/similarity_search/matrix_profiles/tests/test_naive_matrix_profile.py
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
  aeon/similarity_search/query_search.py
  aeon/similarity_search/series_search.py
  aeon/similarity_search/tests/test__commons.py
  aeon/similarity_search/tests/test_query_search.py
  aeon/similarity_search/tests/test_series_search.py
  aeon/utils/numba/general.py
  aeon/visualisation/estimator/_shapelets.py
  docs/api_reference/similarity_search.rst
  examples/similarity_search/code_speed.ipynb
  examples/similarity_search/similarity_search.ipynb
Labels: enhancement, examples, similarity search

#1816 [MNT] Remove `keras` bound
  pyproject.toml
Labels: maintenance, dependencies

#2034 Release v0.11.1
  README.md
  aeon/__init__.py
  aeon/similarity_search/base.py
  docs/changelog.md
  docs/changelogs/v0.11.md
  pyproject.toml
Labels: release, full pytest actions, full pre-commit

#2039 [MNT] Fast release workflow
  .github/workflows/fast_release.yml
Labels: maintenance, release

#1997 [ENH] add DownsampleTransformer
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_downsample.py
  aeon/transformations/collection/tests/test_downsample.py
Labels: enhancement, transformations

#2040 [ENH] TimeSeriesKMeans init_algorithm
  aeon/clustering/_k_means.py
  aeon/clustering/tests/test_k_means.py
Labels: enhancement, clustering

#1972 [MNT] Edit CODEOWNERS for upcoming deprecations
  CODEOWNERS
Labels: maintenance

#1982 [MNT] Update TSC Datasets
  aeon/datasets/tsc_datasets.py
Labels: maintenance, datasets

#2041 Added tags for clustering
  aeon/clustering/_k_means.py
  aeon/clustering/_k_medoids.py
  aeon/clustering/_k_shape.py
  aeon/clustering/_k_shapes.py
Labels: clustering

#1984 [ENH] Savitzky-Golay Transformer
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_sg.py
  aeon/transformations/series/tests/test_sg.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#2027 [ENH] Documented why rotational forest isn't visualisable in the shapelet viz module
  examples/classification/shapelet_based.ipynb
Labels: enhancement, examples

#2029 [ENH] Implemented `MockCluster` in testing module
  aeon/clustering/tests/test_base.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_clusterers.py
Labels: clustering, testing

#2009 [MNT] Replaced assert with raise ValueError messages in networks module
  aeon/networks/_ae_abgru.py
  aeon/networks/_ae_bgru.py
  aeon/networks/_ae_drnn.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_cnn.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_resnet.py
  aeon/networks/tests/test_ae_drnn.py
Labels: maintenance, networks

#2050 [DOC] remove use of init_algorithm parameter in Clustering notebook
  examples/clustering/partitional_clustering.ipynb
Labels: documentation, clustering

#1985 [ENH] Recursive Median Sieve Transformer
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_siv.py
  aeon/transformations/series/tests/test_siv.py
  docs/api_reference/transformations.rst
Labels: transformations

#2052 [ENH] Speed up the regression distances tests
  aeon/distances/tests/test_sklearn_compatibility.py
  aeon/regression/distance_based/tests/test_time_series_neighbors.py
Labels: regression, testing, full pytest actions, codecov actions

#2019 [ENH] add BaseSeriesTransformer - ExpSmoothingSeriesTransformer
  aeon/transformations/series/_exp_smoothing.py
  aeon/transformations/series/tests/test_exp_smoothing.py
Labels: enhancement, transformations

#2064 [DOC] Removed reference to supervised regression notebook
  examples/regression/regression.ipynb
Labels: documentation, examples

#2003 [DOC] Add Proximity Forest to the distance-based notebook
  examples/classification/distance_based.ipynb
Labels: documentation, examples

#2055 [ENH] Dataset loader coverage
  aeon/datasets/tests/test_data_loaders.py
  examples/benchmarking/regression.ipynb
Labels: enhancement, testing, datasets

#2005 [ENH] Add collection transformer for normalisation
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_normalise.py
  aeon/transformations/collection/tests/test_normalise.py
Labels: enhancement, transformations

#1877 [MNT] Unit testing revamp part 4: clustering
  aeon/clustering/deep_learning/tests/test_random_state_deep_learning_cluster.py
  aeon/clustering/dummy.py
  aeon/clustering/feature_based/_catch22.py
  aeon/clustering/tests/test_all_clusterers.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/test_all_estimators.py
  aeon/testing/test_config.py
  aeon/testing/tests/test_all_estimators.py
Labels: maintenance

#1756 [ENH] MrSEQLClassifier wrapper
  aeon/classification/dictionary_based/__init__.py
  aeon/classification/dictionary_based/_mrseql.py
  aeon/classification/dictionary_based/_mrsqm.py
  pyproject.toml
Labels: enhancement, classification, interfacing algorithms, codecov actions

#2069 [ENH] Make dummy regressor file private
  aeon/regression/__init__.py
  aeon/regression/_dummy.py
  aeon/regression/tests/test_base.py
Labels: enhancement, regression

#2077 [DOC] Update developer list
  docs/about/core_developers.md
  docs/about/finance_workgroup.md
Labels: documentation

#2076 [MNT] Remove legacy testing
  aeon/anomaly_detection/tests/test_all_anomaly_detectors.py
  aeon/benchmarking/tests/test_experiments.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/classification/early_classification/tests/test_all_early_classifiers.py
  aeon/classification/hybrid/tests/test_hc.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tests/test_dataframe_loaders.py
  aeon/datasets/tests/test_dataset_collections.py
  aeon/datasets/tests/test_load_forecasting.py
  aeon/datasets/tests/test_tss_data_loader.py
  aeon/segmentation/tests/test_all_segmenters.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_anomaly_detection_checks.py
  aeon/testing/estimator_checking/_yield_early_classification_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_segmentation_checks.py
  aeon/testing/estimator_checking/_yield_soft_dependency_checks.py
  aeon/testing/estimator_checking/_yield_transformation_checks.py
  aeon/testing/expected_results/results_reproduction/__init__.py
  aeon/testing/expected_results/results_reproduction/classifier_results_reproduction.py
  aeon/testing/expected_results/results_reproduction/regressor_results_reproduction.py
  aeon/testing/expected_results/results_reproduction/transform_results_reproduction.py
  aeon/testing/test_all_estimators.py
  aeon/testing/testing_config.py
  aeon/testing/testing_data.py
  aeon/testing/tests/test_all_estimators.py
  aeon/testing/tests/test_softdeps.py
  aeon/testing/utils/_conditional_fixtures.py
  aeon/testing/utils/estimator_checks.py
  aeon/testing/utils/scenarios.py
  aeon/testing/utils/scenarios_classification.py
  aeon/testing/utils/scenarios_getter.py
  aeon/testing/utils/scenarios_transformers.py
  aeon/testing/utils/tests/test_forecasting.py
  aeon/testing/utils/tests/test_testscenario_getter.py
  aeon/testing/utils/tests/test_testscenarios.py
  aeon/transformations/collection/_normalise.py
  aeon/transformations/tests/__init__.py
  aeon/transformations/tests/test_all_transformers.py
  aeon/utils/validation/tests/test_check_imports.py
  conftest.py
Labels: maintenance, testing

#2082 [DEP] Remove old benchmarking classes
  aeon/benchmarking/benchmarks.py
  aeon/benchmarking/utils.py
  aeon/performance_metrics/stats.py
  pyproject.toml
Labels: benchmarking, deprecation

#1737 [ENH] Tidy up unequal length collection transformers
  aeon/classification/compose/_pipeline.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/tests/test_sklearn_compatability.py
  aeon/clustering/compose/_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/pipeline/tests/test_make_pipeline.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_pad.py
  aeon/transformations/collection/_resize.py
  aeon/transformations/collection/_truncate.py
  aeon/transformations/collection/compose/_pipeline.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/collection/scaler.py
  aeon/transformations/collection/tests/test_pad.py
  aeon/transformations/collection/tests/test_resizer.py
  aeon/transformations/collection/tests/test_truncate.py
  docs/api_reference/transformations.rst
  docs/getting_started.md
  examples/datasets/data_unequal.ipynb
  examples/transformations/interpolation.ipynb
  examples/transformations/minirocket.ipynb
  examples/transformations/resizing.ipynb
  examples/utils/preprocessing.ipynb
Labels: enhancement, transformations

#2001 [ENH] Add a warping path series transformer
  .all-contributorsrc
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_warping.py
  aeon/transformations/series/tests/test_warping.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations, distances

#1632 [ENH] Adds a SeriesToCollection broadcaster
  aeon/transformations/collection/_broadcaster.py
  aeon/transformations/collection/tests/test_broadcaster.py
Labels: enhancement, transformations

#2090 [DOC] Fix notebook failures
  examples/classification/dictionary_based.ipynb
  examples/clustering/partitional_clustering.ipynb
Labels: documentation, examples, full examples run

#2080 [MNT] Disable and comment out similarity search and RDST test failures
  aeon/similarity_search/distance_profiles/tests/test_euclidean_distance.py
  aeon/similarity_search/distance_profiles/tests/test_naive_distance.py
  aeon/similarity_search/tests/test_query_search.py
  aeon/similarity_search/tests/test_series_search.py
  aeon/testing/testing_config.py
Labels: maintenance, testing, similarity search

#2086 [MNT] Final move of general estimator testing to new framework.
  aeon/testing/data_generation/_legacy/__init__.py
  aeon/testing/data_generation/_legacy/_collection.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_collection_transformation_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_series_transformation_checks.py
  aeon/testing/estimator_checking/_yield_similarity_search_checks.py
  aeon/testing/tests/test_all_estimators.py
  aeon/testing/utils/_cicd_numba_caching.py
  aeon/transformations/collection/tests/test_all_collection_transformers.py
Labels: maintenance, testing

#2085 [ENH] Move `show_versions` to `utils` and tidy
  .github/ISSUE_TEMPLATE/bug_report.yml
  aeon/__init__.py
  aeon/utils/__init__.py
  aeon/utils/_maint/__init__.py
  aeon/utils/_maint/_show_versions.py
  aeon/utils/_show_versions.py
Labels: enhancement

#2093 [MNT] Tidy up utils
  aeon/utils/__init__.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/index_functions.py
  aeon/utils/multiindex.py
  aeon/utils/registry/__init__.py
  aeon/utils/registry/_data_types.py
  aeon/utils/tests/test_index_functions.py
  aeon/utils/validation/_input.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_input.py
  aeon/utils/validation/tests/test_series.py
Labels: maintenance, deprecation

#2079 [MNT] Update dependencies for v1.0.0
  pyproject.toml
Labels: maintenance, dependencies

#2072 [ENH] Make transformer files private
  aeon/transformations/base.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_acf.py
  aeon/transformations/collection/_ar_coefficient.py
  aeon/transformations/collection/_dwt.py
  aeon/transformations/collection/_hog1d.py
  aeon/transformations/collection/_matrix_profile.py
  aeon/transformations/collection/_periodogram.py
  aeon/transformations/collection/_reduce.py
  aeon/transformations/collection/_scaler.py
  aeon/transformations/collection/_segment.py
  aeon/transformations/collection/_slope.py
  aeon/transformations/collection/_truncate.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/signature_based/__init__.py
  aeon/transformations/collection/tests/test_acf.py
  aeon/transformations/collection/tests/test_ar_coefficient.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/collection/tests/test_dwt.py
  aeon/transformations/collection/tests/test_hog1d_transformer.py
  aeon/transformations/collection/tests/test_segment.py
  aeon/transformations/collection/tests/test_sliding_window_segmenter_transformer.py
  aeon/transformations/collection/tests/test_slope_transformer.py
  aeon/transformations/collection/tests/test_tabularizer.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations, coverage

#913 [ENH] Update `pandas` version
  aeon/utils/tests/test_datetime.py
  pyproject.toml
Labels: enhancement, full pytest actions, dependencies, ready for review

#2056 [DOC] Similarity docstring
  aeon/similarity_search/_commons.py
  aeon/similarity_search/distance_profiles/squared_distance_profile.py
  aeon/similarity_search/matrix_profiles/naive_matrix_profile.py
  aeon/similarity_search/matrix_profiles/stomp.py
  aeon/similarity_search/series_search.py
Labels: documentation, similarity search

#2098 [ENH] change links from htpp to https
  aeon/datasets/_single_problem_loaders.py
Labels: documentation, enhancement, datasets

#2102 [BUG] Fix anomaly detector's compliance with estimator API (related to testing revamp)
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/testing/testing_config.py
Labels: bug, testing, anomaly detection

#2096 [ENH] Remove segmenter transformers, tidy up API
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_segment.py
  aeon/transformations/collection/_slope.py
  aeon/transformations/collection/tests/test_segment.py
  aeon/transformations/collection/tests/test_sliding_window_segmenter_transformer.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/_matrix_profile.py
  aeon/transformations/series/_pla.py
  aeon/utils/tests/test_datetime.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#2104 [DOC] data notebooks
  examples/datasets/datasets.ipynb
Labels: documentation, datasets

#2091 [ENH] Issue 1641 - Matrix profile-based anomaly detectors: left STAMPi
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_left_stampi.py
  aeon/anomaly_detection/tests/test_left_stampi.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2092 [MNT] Add typecheck workflow using `mypy`
  .github/workflows/pr_typecheck.yml
  aeon/classification/distance_based/_proximity_forest.py
  aeon/classification/distance_based/_proximity_tree.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/shapelet_based/_sast.py
  aeon/clustering/_clara.py
  aeon/clustering/_clarans.py
  aeon/clustering/_k_means.py
  aeon/clustering/_k_medoids.py
  aeon/clustering/_k_shape.py
  aeon/clustering/_k_shapes.py
  aeon/clustering/_kernel_k_means.py
  aeon/clustering/base.py
  aeon/datasets/_data_loaders.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/segmentation/_ggs.py
  aeon/segmentation/_hmm.py
  aeon/similarity_search/matrix_profiles/stomp.py
  aeon/testing/data_generation/hierarchical.py
  aeon/testing/data_generation/segmentation.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/mock_estimators/_mock_clusterers.py
  aeon/transformations/collection/channel_selection/_channel_scorer.py
  aeon/transformations/collection/shapelet_based/_rsast.py
  aeon/utils/conversion/_convert_tsf.py
  aeon/utils/datetime.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/series.py
  build_tools/pr_open_commenter.py
  build_tools/pr_welcome_edited.py
  pyproject.toml
Labels: maintenance

#2101 [MNT] remove redundant soft dependency checks
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/clustering/_k_shape.py
  aeon/clustering/_k_shapes.py
  aeon/clustering/_kernel_k_means.py
  aeon/segmentation/_binseg.py
  aeon/segmentation/_fluss.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/_matrix_profile.py
Labels: maintenance, dependencies

#2115 [REF,DEP] Refactor `BaseObject` and `BaseEstimator` into the same class
  aeon/base/__init__.py
  aeon/base/_base.py
  aeon/base/_meta.py
  aeon/base/tests/test_base.py
  aeon/base/tests/test_base_aeon.py
  aeon/pipeline/_make_pipeline.py
  aeon/registry/_base_classes.py
  aeon/registry/_identifier.py
  aeon/registry/_tag_deprecation.py
  aeon/registry/tests/test_lookup.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/utils/estimator_checks.py
  aeon/utils/sklearn.py
  aeon/utils/validation/_dependencies.py
  docs/api_reference/base.rst
  docs/developer_guide/testing.md
Labels: refactor, testing, deprecation

#2078 [MNT] Move `build_tools`
  .codecov.yml
  .github/utilities/changelog_generator.py
  .github/utilities/generate_developer_tables.py
  .github/utilities/issue_assign.py
  .github/utilities/pr_labeler.py
  .github/utilities/pr_open_commenter.py
  .github/utilities/pr_welcome_edited.py
  .github/utilities/remove_good_first_issue.py
  .github/utilities/run_examples.sh
  .github/workflows/issue_assigned.yml
  .github/workflows/issue_comment_edited.yml
  .github/workflows/issue_comment_posted.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_pytest.yml
  CODEOWNERS
  MANIFEST.in
Labels: maintenance
