Repository aeon-toolkit/aeon, pull requests merged in 2024-10, with the labels that each got.

#2014 [MNT] Outdated notebooks and upgraded `ruff` bound
  .pre-commit-config.yaml
  examples/benchmarking/bakeoff_results.ipynb
  examples/clustering/partitional_clustering.ipynb
  examples/datasets/provided_data.ipynb
  examples/networks/deep_learning.ipynb
  examples/pydata/Amsterdam-2023/Lets do the time warp again.ipynb
  examples/similarity_search/code_speed.ipynb
  examples/similarity_search/similarity_search.ipynb
Labels: documentation, maintenance, examples, full pre-commit

#2128 [DOC] Revise data notebook
  examples/datasets/datasets.ipynb
Labels: documentation, datasets, full pytest actions, full pre-commit

#2124 [ENH] Convert `BaseTransformer` into an abstract class
  aeon/transformations/base.py
Labels: enhancement, transformations

#2139 [ENH] Add shift-scale distance (k-SC clusterers distance)
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_shift_scale_invariant.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_miscellaneous_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_sklearn_compatibility.py
  aeon/distances/tests/test_utils.py
  aeon/testing/expected_results/expected_distance_results.py
Labels: enhancement, testing, distances

#2120 [ENH] Remove `BaseEstimator` methods
  aeon/base/_base.py
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
Labels: enhancement, full pytest actions, codecov actions

#2141 [MNT]Use Numpy Vectorization in ContinuosIntervalTree fit method #1345
  aeon/classification/sklearn/_continuous_interval_tree.py
Labels: enhancement, classification

#2105 [MNT] Update to `scipy` <1.15
  aeon/testing/utils/deep_equals.py
  pyproject.toml
Labels: maintenance, dependencies

#2138 [ENH] tag type storage and tag testing rework
  aeon/base/_base.py
  aeon/base/_base_collection.py
  aeon/base/_base_series.py
  aeon/base/tests/test_base.py
  aeon/classification/base.py
  aeon/classification/early_classification/base.py
  aeon/clustering/base.py
  aeon/registry/README.md
  aeon/registry/__init__.py
  aeon/registry/_lookup.py
  aeon/registry/_tag_deprecation.py
  aeon/registry/_tags.py
  aeon/registry/tests/test_lookup.py
  aeon/regression/base.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_transformation_checks.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/testing/testing_config.py
  aeon/transformations/base.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/compose/_identity.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_boxcox.py
  aeon/transformations/series/_clear_sky.py
  aeon/transformations/series/_dobin.py
  aeon/transformations/series/base.py
  aeon/transformations/series/tests/test_clear_sky.py
  aeon/utils/tags/__init__.py
  aeon/utils/tags/_lookup.py
  aeon/utils/tags/_tags.py
  aeon/utils/tags/_validate.py
  aeon/utils/tags/tests/__init__.py
  aeon/utils/tags/tests/test_lookup.py
  aeon/utils/tags/tests/test_tags.py
  aeon/utils/tags/tests/test_validate.py
Labels: enhancement, testing

#2137 [BUG] Coverage and bug fixes for utils
  aeon/performance_metrics/forecasting/_functions.py
  aeon/performance_metrics/forecasting/tests/test_metrics.py
  aeon/performance_metrics/forecasting/tests/test_performance_measures.py
  aeon/performance_metrics/tests/test_numpy_metrics.py
  aeon/utils/__init__.py
  aeon/utils/_show_versions.py
  aeon/utils/_weighted_metrics.py
  aeon/utils/datetime.py
  aeon/utils/sklearn.py
  aeon/utils/tests/test_show_versions.py
  aeon/utils/tests/test_sklearn_typing.py
  aeon/utils/tests/test_weighted_metrics.py
  aeon/utils/tests/test_windowing.py
  aeon/utils/weighted_metrics.py
Labels: bug

#2121 [MNT] Fix RDST CI failure and slow down
  aeon/classification/shapelet_based/_rdst.py
  aeon/testing/testing_config.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
  aeon/visualisation/estimator/_shapelets.py
  examples/classification/shapelet_based.ipynb
Labels: maintenance, full pytest actions

#2127 [ENH] Coverage for data writers
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
Labels: enhancement, datasets, coverage

#1993 [ENH] Added Regressor for Channel Scorer
  aeon/testing/estimator_checking/_yield_collection_transformation_checks.py
  aeon/transformations/collection/channel_selection/_channel_scorer.py
  aeon/transformations/collection/channel_selection/tests/test_channel_scorer.py
Labels: enhancement, transformations, no numba cache

#2155 [REF] Rename tags
  aeon/anomaly_detection/_left_stampi.py
  aeon/base/_base.py
  aeon/base/estimator/compose/collection_pipeline.py
  aeon/base/tests/test_base.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/base.py
  aeon/classification/dictionary_based/_mrsqm.py
  aeon/classification/shapelet_based/_ls.py
  aeon/classification/shapelet_based/_rdst.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/clustering/deep_learning/base.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/regression/convolution_based/_mr_hydra.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_lite_time.py
  aeon/regression/deep_learning/base.py
  aeon/regression/shapelet_based/_rdst.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/transformations/base.py
  aeon/transformations/collection/_pad.py
  aeon/transformations/collection/_truncate.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/collection/convolution_based/rocketGPU/base.py
  aeon/utils/tags/_tags.py
  aeon/utils/tags/tests/test_lookup.py
  aeon/utils/tags/tests/test_validate.py
Labels: refactor

#2150 [ENH] More `BaseEstimator` method and attribute changes
  aeon/anomaly_detection/base.py
  aeon/anomaly_detection/tests/test_base.py
  aeon/base/_base.py
  aeon/base/tests/test_base.py
  aeon/classification/base.py
  aeon/classification/deep_learning/base.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/early_classification/base.py
  aeon/classification/hybrid/_rist.py
  aeon/classification/shapelet_based/_ls.py
  aeon/clustering/_k_means.py
  aeon/clustering/base.py
  aeon/regression/base.py
  aeon/regression/deep_learning/base.py
  aeon/regression/hybrid/_rist.py
  aeon/segmentation/_eagglo.py
  aeon/segmentation/base.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/transformations/collection/_resize.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/series/base.py
Labels: enhancement, full pytest actions

#2144 [ENH] Add testing for TDE
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/tests/test_tde.py
Labels: enhancement, classification, testing, coverage

#2147 [ENH] Add MUSE tests
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/tests/test_muse.py
Labels: enhancement, classification, coverage

#2148 [ENH] Add BOSS tests
  aeon/classification/dictionary_based/tests/test_boss.py
Labels: enhancement, classification, coverage

#2162 [REF] Rename `BaseEstimator` to `BaseAeonEstimator`
  aeon/base/__init__.py
  aeon/base/_base.py
  aeon/base/_base_collection.py
  aeon/base/_base_series.py
  aeon/base/_meta.py
  aeon/base/estimator/compose/collection_ensemble.py
  aeon/base/estimator/compose/collection_pipeline.py
  aeon/base/tests/test_base.py
  aeon/base/tests/test_meta.py
  aeon/pipeline/_make_pipeline.py
  aeon/pipeline/tests/test_make_pipeline.py
  aeon/registry/_base_classes.py
  aeon/registry/_identifier.py
  aeon/registry/_lookup.py
  aeon/registry/tests/test_lookup.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/transformations/base.py
  aeon/transformations/collection/channel_selection/_channel_scorer.py
  aeon/utils/sklearn.py
  aeon/utils/tags/_lookup.py
  aeon/utils/tags/_validate.py
  aeon/utils/validation/_dependencies.py
  docs/api_reference/base.rst
  docs/developer_guide/testing.md
Labels: refactor

#2166 [ENH] Tests for ordinal tde
  aeon/classification/dictionary_based/tests/test_tde.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/ordinal_classification/tests/__init__.py
  aeon/classification/ordinal_classification/tests/test_ordinal_tde.py
Labels: enhancement, classification, coverage

#2167 [ENH] Some changes to `utils` testing (following from #2137)
  aeon/performance_metrics/forecasting/_functions.py
  aeon/testing/utils/output_supression.py
  aeon/testing/utils/tests/test_output_supression.py
  aeon/utils/__init__.py
  aeon/utils/show_versions.py
  aeon/utils/tests/test_show_versions.py
  aeon/utils/tests/test_weighted_metrics.py
  aeon/utils/weighted_metrics.py
Labels: enhancement, testing

#2140 [ENH] KSpectralCentroid clusterer
  aeon/clustering/__init__.py
  aeon/clustering/_k_sc.py
  aeon/clustering/averaging/__init__.py
  aeon/clustering/averaging/_averaging.py
  aeon/clustering/averaging/_shift_scale_invariant_averaging.py
  aeon/clustering/averaging/tests/test_shift_scale_invariant.py
  aeon/clustering/tests/test_k_sc.py
  docs/api_reference/clustering.rst
Labels: clustering

#2172 [BUG] set dynamic tag after call to parent constructor
  aeon/transformations/collection/_periodogram.py
Labels: bug, transformations, codecov actions

#2182 [MNT] Fix numba function caching the PR testing
  .github/workflows/pr_examples.yml
  .github/workflows/pr_pytest.yml
Labels: maintenance

#2164 [ENH] Add Yeo Johnson Transform
  aeon/transformations/series/_yeojohnson.py
  aeon/transformations/series/tests/test_yeojohnson.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#2175 [DEP] Regression coverage tests and remove deprecated CNN
  aeon/benchmarking/results_loaders.py
  aeon/classification/deep_learning/__init__.py
  aeon/classification/deep_learning/_cnn.py
  aeon/networks/__init__.py
  aeon/networks/_cnn.py
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/tests/test_timecnn.py
  aeon/regression/interval_based/tests/__init__.py
  aeon/regression/interval_based/tests/test_cif.py
  aeon/regression/interval_based/tests/test_dr_cif.py
  aeon/regression/interval_based/tests/test_interval_forest.py
  aeon/regression/interval_based/tests/test_rand_interval.py
  aeon/regression/interval_based/tests/test_rise.py
  docs/api_reference/classification.rst
  docs/api_reference/networks.rst
  docs/api_reference/regression.rst
  examples/classification/deep_learning.ipynb
  examples/classification/distance_based.ipynb
Labels: enhancement, regression, coverage

#2154 [ENH] remove tag from MR-Hydra regressor
  aeon/regression/convolution_based/_mr_hydra.py
Labels: enhancement, regression

#2160 [ENH] Soft-DTW
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_soft_dtw.py
  aeon/distances/_utils.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/testing/expected_results/expected_distance_results.py
Labels: enhancement, distances

#2183 [ENH] Remove the return_X_y load option, improve coverage
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/early_classification/_probability_threshold.py
  aeon/classification/early_classification/_teaser.py
  aeon/classification/feature_based/_summary.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_rdst.py
  aeon/classification/shapelet_based/_stc.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_dataset_collections.py
  aeon/datasets/tests/test_single_problem_loaders.py
  aeon/datasets/tests/test_tsad_datasets.py
  aeon/regression/deep_learning/_lite_time.py
  aeon/regression/feature_based/_summary.py
  aeon/regression/shapelet_based/_rdst.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  examples/classification/distance_based.ipynb
  examples/classification/interval_based.ipynb
  examples/transformations/feature_extraction_with_tsfresh.ipynb
  examples/transformations/rocket.ipynb
  examples/transformations/tsfresh.ipynb
Labels: enhancement, datasets, coverage

#2197 [DOC] Fix deep learning notebook
  examples/classification/deep_learning.ipynb
Labels: documentation, deep learning, examples

#2118 [ENH] Implemented IsolatedForest in anomaly detection with some test cases
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_iforest.py
  aeon/anomaly_detection/tests/test_iforest.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2203 [DOC] Add JMLR paper to readme
  README.md
Labels: documentation

#2204 [DOC, ENH] Add WEASEL v2 and Human Activity Challenge Papers
  docs/papers_using_aeon.md
Labels: documentation, enhancement

#2198 [ENH] Update remaining `registry` files
  aeon/registry/__init__.py
  aeon/registry/_base_classes.py
  aeon/registry/_identifier.py
  aeon/registry/_lookup.py
  aeon/registry/tests/__init__.py
  aeon/registry/tests/test_lookup.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/tests/test_all_estimators.py
  aeon/utils/base/__init__.py
  aeon/utils/base/_identifier.py
  aeon/utils/base/_register.py
  aeon/utils/base/tests/__init__.py
  aeon/utils/base/tests/test_identifier.py
  aeon/utils/base/tests/test_register.py
  aeon/utils/discovery.py
  aeon/utils/tags/__init__.py
  aeon/utils/tags/_discovery.py
  aeon/utils/tags/_validate.py
  aeon/utils/tags/tests/test_discovery.py
  aeon/utils/tags/tests/test_tags.py
  aeon/utils/tags/tests/test_validate.py
  aeon/utils/tests/test_discovery.py
  docs/api_reference/utils.rst
  docs/conf.py
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
  examples/datasets/data_unequal.ipynb
  examples/regression/regression.ipynb
  examples/utils/preprocessing.ipynb
Labels: enhancement, testing, examples

#1813 [MNT] Changes in preparation for update to `numpy` 2
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_kmeans.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/anomaly_detection/tests/test_dwt_mlead.py
  aeon/anomaly_detection/tests/test_kmeans.py
  aeon/anomaly_detection/tests/test_left_stampi.py
  aeon/anomaly_detection/tests/test_pyod_adapter.py
  aeon/anomaly_detection/tests/test_stomp.py
  aeon/base/tests/test_base_collection.py
  aeon/base/tests/test_base_series.py
  aeon/performance_metrics/anomaly_detection/_util.py
  aeon/performance_metrics/anomaly_detection/_vus_metrics.py
  aeon/performance_metrics/anomaly_detection/tests/test_ad_metrics.py
  aeon/similarity_search/_commons.py
  aeon/transformations/collection/_dwt.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/windowing.py
Labels: maintenance, dependencies

#2207 [ENH] Split up rocket estimators
  aeon/classification/convolution_based/__init__.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_minirocket.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_multirocket.py
  aeon/classification/convolution_based/_rocket.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/regression/convolution_based/__init__.py
  aeon/regression/convolution_based/_hydra.py
  aeon/regression/convolution_based/_minirocket.py
  aeon/regression/convolution_based/_mr_hydra.py
  aeon/regression/convolution_based/_multirocket.py
  aeon/regression/convolution_based/_rocket.py
  docs/api_reference/classification.rst
  docs/api_reference/regression.rst
Labels: enhancement, classification, regression

#2215 [ENH] more fixes for float_
  aeon/anomaly_detection/tests/test_iforest.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
Labels: enhancement, transformations, maintenance, anomaly detection, full pytest actions, codecov actions

#2220 [DOC] update Rocket notebook
  examples/classification/convolution_based.ipynb
Labels: documentation, classification

#2185 [ENH] Final purge of nested univ
  aeon/classification/dictionary_based/_muse.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/_dataframe_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tests/test_dataframe_loaders.py
  aeon/testing/data_generation/__init__.py
  aeon/testing/data_generation/_collection.py
  aeon/testing/data_generation/tests/test_collection.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/feature_based/tests/test_summary.py
  aeon/transformations/collection/feature_based/tests/test_tsfresh.py
  aeon/utils/_data_types.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_series.py
  examples/transformations/tsfresh.ipynb
Labels: enhancement, datasets

#2214 [ENH, BUG] Fixes issue with lower bounding in SAX for TS length not divisible by the number of segments
  aeon/distances/_paa_sax_mindist.py
  aeon/distances/_sax_mindist.py
Labels: bug, enhancement, distances

#2213 [ENH] Remove soft dependency on pyfftw
  aeon/base/estimator/hybrid/base_rist.py
  aeon/base/estimator/hybrid/tests/test_base_rist.py
  aeon/classification/hybrid/_rist.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_pipelines.py
  aeon/classification/interval_based/_quant.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_rstsf.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/tests/test_cif.py
  aeon/classification/interval_based/tests/test_dr_cif.py
  aeon/classification/interval_based/tests/test_interval_pipelines.py
  aeon/classification/interval_based/tests/test_quant.py
  aeon/classification/interval_based/tests/test_rise.py
  aeon/classification/interval_based/tests/test_tsf.py
  aeon/regression/hybrid/_rist.py
  aeon/regression/interval_based/_drcif.py
  aeon/regression/interval_based/_rise.py
  aeon/regression/interval_based/tests/test_dr_cif.py
  aeon/regression/interval_based/tests/test_rise.py
  aeon/transformations/collection/_periodogram.py
  pyproject.toml
Labels: bug, enhancement, classification, transformations

#2149 [ENH] Elastic-SOM clusterer
  aeon/clustering/__init__.py
  aeon/clustering/_elastic_som.py
  aeon/clustering/tests/test_elastic_som.py
  docs/api_reference/clustering.rst
Labels: enhancement, clustering

#2171 [ENH] More base class method removals
  aeon/anomaly_detection/base.py
  aeon/base/_base.py
  aeon/base/_base_series.py
  aeon/base/_meta.py
  aeon/base/estimator/compose/collection_pipeline.py
  aeon/base/estimator/hybrid/base_rist.py
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/base/tests/test_base.py
  aeon/classification/base.py
  aeon/classification/deep_learning/base.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/early_classification/base.py
  aeon/clustering/base.py
  aeon/clustering/deep_learning/base.py
  aeon/regression/base.py
  aeon/regression/deep_learning/base.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/segmentation/base.py
  aeon/similarity_search/base.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/testing_config.py
  aeon/transformations/base.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/channel_selection/base.py
  aeon/transformations/collection/convolution_based/rocketGPU/base.py
  aeon/transformations/series/base.py
Labels: enhancement, full pytest actions

#2227 [ENH] OrdinalTDE coverage
  aeon/classification/ordinal_classification/tests/test_ordinal_tde.py
Labels: enhancement, classification, coverage

#2232 [BUG] Fix TSAD dataset tests
  aeon/datasets/tests/test_tsad_data_loader.py
  aeon/datasets/tests/test_tsad_datasets.py
Labels: bug, testing, datasets, anomaly detection, full pytest actions, ready for review

#2222 [ENH] Remove outdated benchmarking functions and add collection resamplers
  aeon/benchmarking/__init__.py
  aeon/benchmarking/experiments.py
  aeon/benchmarking/resampling.py
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_experiments.py
  aeon/benchmarking/tests/test_resampling.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/classification/base.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
  aeon/utils/validation/labels.py
  examples/benchmarking/reference_results.ipynb
Labels: enhancement, benchmarking

#2216 [MNT] Make aeon numpy compatible with both =>2.0 and <2.0
  aeon/anomaly_detection/_stray.py
  aeon/distances/_mpdist.py
  aeon/performance_metrics/clustering.py
  aeon/performance_metrics/forecasting/_functions.py
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/utils/validation/collection.py
  pyproject.toml
Labels: maintenance, full pytest actions, codecov actions, full examples run

#2062 [ENH] Add BORF transformer
  .all-contributorsrc
  aeon/transformations/collection/dictionary_based/__init__.py
  aeon/transformations/collection/dictionary_based/_borf.py
  docs/api_reference/transformations.rst
  pyproject.toml
Labels: enhancement, transformations

#2217 [ENH] Added n_clusters attribute to TSFreshClusterer
  aeon/clustering/feature_based/_tsfresh.py
Labels: enhancement, clustering

#2241 [DOC] Add images for examples front page
  docs/examples.md
  examples/classification/img/early_classification.png
  examples/clustering/img/partitional.png
  examples/segmentation/img/hidalgo.png
  examples/similarity_search/img/code_speed.png
  examples/similarity_search/img/distance_profile.png
Labels: documentation, examples

#2228 [ENH] Change ACF default lags
  aeon/transformations/collection/_acf.py
Labels: enhancement, transformations

#2202 [ENH] Implemented COPOD for anomaly detection
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_copod.py
  aeon/anomaly_detection/tests/test_copod.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2223 [DOC] Add BORF to papers_using_aeon.md
  docs/papers_using_aeon.md
Labels: documentation

#2249 [MNT] CI fixes and pytest options
  aeon/anomaly_detection/_copod.py
  aeon/transformations/collection/dictionary_based/_borf.py
  conftest.py
Labels: maintenance, testing

#1702 [ENH] Add AEDCNNNetwork
  aeon/networks/__init__.py
  aeon/networks/_ae_dcnn.py
  aeon/networks/tests/test_ae_dcnn.py
Labels: enhancement, networks

#2117 [ENH] Add Weight Normalization Keras Wrapper
  aeon/utils/networks/weight_norm.py
  aeon/utils/tests/test_weightnorm.py
Labels: enhancement, deep learning, networks

#2247 [ENH] Remove forecasting metrics
  aeon/performance_metrics/forecasting/__init__.py
  aeon/performance_metrics/forecasting/_functions.py
  aeon/performance_metrics/forecasting/tests/__init__.py
  aeon/performance_metrics/forecasting/tests/test_metrics.py
  aeon/performance_metrics/forecasting/tests/test_performance_measures.py
  aeon/performance_metrics/tests/test_numpy_metrics.py
  docs/api_reference/performance_metrics.rst
Labels: enhancement, forecasting

#2253 [ENH] Gaussian Filter Transformer
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_gauss.py
  aeon/transformations/series/tests/test_gauss.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#2229 [ENH] Change feature based transformer names
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/feature_based/_summary.py
  aeon/classification/feature_based/_tsfresh.py
  aeon/clustering/compose/_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/clustering/feature_based/_summary.py
  aeon/clustering/feature_based/_tsfresh.py
  aeon/pipeline/tests/test_make_pipeline.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/feature_based/_summary.py
  aeon/regression/feature_based/_tsfresh.py
  aeon/transformations/collection/compose/_pipeline.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/collection/feature_based/__init__.py
  aeon/transformations/collection/feature_based/_summary.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/feature_based/tests/test_summary.py
  aeon/transformations/collection/feature_based/tests/test_tsfresh.py
  aeon/transformations/collection/interval_based/tests/test_intervals.py
  docs/api_reference/transformations.rst
  examples/transformations/tsfresh.ipynb
Labels: enhancement, transformations

#2242 [ENH] Rework `_HeterogenousMetaEstimator` and composable estimators
  .codecov.yml
  aeon/base/__init__.py
  aeon/base/_base.py
  aeon/base/_meta.py
  aeon/base/estimator/compose/collection_channel_ensemble.py
  aeon/base/estimator/compose/collection_ensemble.py
  aeon/base/estimator/compose/collection_pipeline.py
  aeon/base/tests/test_meta.py
  aeon/classification/compose/__init__.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/compose/_ensemble.py
  aeon/pipeline/_make_pipeline.py
  aeon/regression/compose/__init__.py
  aeon/regression/compose/_ensemble.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/expected_results/expected_regressor_outputs.py
  aeon/testing/expected_results/results_reproduction/classifier_results_reproduction.py
  aeon/testing/expected_results/tests/__init__.py
  aeon/testing/expected_results/tests/test_expected_outputs.py
  docs/api_reference/classification.rst
  examples/classification/classification.ipynb
Labels: enhancement, classification, regression, testing

#2271 [DOC] Remove glossary
  aeon/classification/distance_based/_proximity_forest.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/regression/distance_based/_time_series_neighbors.py
  docs/glossary.md
Labels: documentation

#2275 [DOC] Update classification notebook reference
  examples/transformations/rocket.ipynb
  examples/transformations/sast.ipynb
Labels: documentation, examples

#2178 [MNT] Distance module refactor part 2
  aeon/classification/distance_based/_proximity_tree.py
  aeon/clustering/tests/test_elastic_som.py
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_mpdist.py
  aeon/distances/elastic/_adtw.py
  aeon/distances/elastic/_alignment_paths.py
  aeon/distances/elastic/_dtw.py
  aeon/distances/elastic/_edr.py
  aeon/distances/elastic/_erp.py
  aeon/distances/elastic/_lcss.py
  aeon/distances/elastic/_msm.py
  aeon/distances/elastic/_shape_dtw.py
  aeon/distances/elastic/_soft_dtw.py
  aeon/distances/elastic/_twe.py
  aeon/distances/elastic/_wdtw.py
  aeon/distances/elastic/tests/test_alignment_path.py
  aeon/distances/elastic/tests/test_cost_matrix.py
  aeon/distances/mindist/__init__.py
  aeon/distances/mindist/_dft_sfa.py
  aeon/distances/mindist/_paa_sax.py
  aeon/distances/mindist/_sax.py
  aeon/distances/mindist/_sfa.py
  aeon/distances/pointwise/__init__.py
  aeon/distances/pointwise/_euclidean.py
  aeon/distances/pointwise/_manhattan.py
  aeon/distances/pointwise/_minkowski.py
  aeon/distances/pointwise/_squared.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_mpdist.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_sklearn_compatibility.py
  aeon/distances/tests/test_symbolic_mindist.py
  aeon/utils/validation/collection.py
Labels: maintenance, distances, no numba cache

#2272 [DOC] Add Hydra and MR-Hydra examples to the notebook
  examples/classification/convolution_based.ipynb
Labels: documentation, examples

#2006 [ENH] Added useful class attributes to SAST based transforms
  aeon/classification/shapelet_based/_sast.py
  aeon/transformations/collection/shapelet_based/_rsast.py
  aeon/transformations/collection/shapelet_based/_sast.py
  examples/classification/SastVsViz.ipynb
Labels: enhancement, classification, transformations

#1979 [ENH] Catch22 error handling for unimported pycatch22 module
  aeon/transformations/collection/feature_based/_catch22.py
Labels: enhancement, transformations

#1964 [DOC] Catch22 notebook
  examples/transformations/catch22.ipynb
Labels: documentation, examples

#2286 [ENH] remove forecasting from readme
  README.md
Labels: enhancement
