Repository aeon-toolkit/aeon, pull requests merged in 2024-08, with the labels that each got.

#1873 [DOC] Fix 2 typos in distances notebook
  examples/distances/distances.ipynb
Labels: documentation, distances, examples

#1871 [BUG] Fixed incorrect bounding enforcement
  aeon/classification/distance_based/tests/test_time_series_neighbors.py
  aeon/clustering/tests/test_k_medoids.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_msm.py
  aeon/distances/_twe.py
  aeon/distances/tests/test_distance_correctness.py
  aeon/testing/expected_results/expected_distance_results.py
Labels: bug, testing, distances

#1822 [DEP] Move exponent transformer to legacy
  aeon/forecasting/compose/_pipeline.py
  aeon/pipeline/_make_pipeline.py
  aeon/transformations/_legacy/_boxcox.py
  aeon/transformations/_legacy/exponent.py
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_boxcox.py
  aeon/transformations/tests/test_exponent.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1863 [DOC] Converging towards numpy doc standards V2 - issue #1540
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/networks/_ae_fcn.py
Labels: documentation, forecasting, networks

#1860 [DOC] Correct info for issue assign bot
  docs/contributing.md
Labels: documentation

#1824 [DOC] Update shapelet notebook
  aeon/visualisation/estimator/_shapelets.py
  examples/classification/img/class_diff.png
  examples/classification/img/ex_alpha_sim.png
  examples/classification/img/ex_dil_shp_slide.png
  examples/classification/img/ex_shp_simple.png
  examples/classification/img/shp_general.png
  examples/classification/shapelet_based.ipynb
Labels: documentation, examples, visualisation

#1818 [DEP] deprecated bootstrap to legacy
  aeon/forecasting/compose/_bagging.py
  aeon/forecasting/compose/tests/test_bagging.py
  aeon/transformations/_legacy/_mbb.py
  aeon/transformations/bootstrap/__init__.py
  aeon/transformations/bootstrap/tests/__init__.py
  aeon/transformations/bootstrap/tests/test_mbb.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1883 [Doc] Corrected mis-rendered double references.
  aeon/classification/shapelet_based/_rdst.py
  aeon/classification/shapelet_based/_stc.py
  aeon/regression/shapelet_based/_rdst.py
  aeon/segmentation/_clasp.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  docs/developer_guide/documentation.md
Labels: documentation

#1819 [DEP] detrenders to legacy
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/forecasting/model_selection/tests/test_tune.py
  aeon/forecasting/theta.py
  aeon/transformations/_legacy/_deseasonalize.py
  aeon/transformations/_legacy/_detrend.py
  aeon/transformations/_legacy/compose.py
  aeon/transformations/_legacy/tests/__init__.py
  aeon/transformations/detrend/__init__.py
  aeon/transformations/detrend/tests/__init__.py
  aeon/transformations/detrend/tests/test_deseasonalise.py
  aeon/transformations/detrend/tests/test_detrend.py
  aeon/transformations/tests/test_base.py
  aeon/transformations/tests/test_optionalpassthrough.py
  docs/api_reference/transformations.rst
  docs/getting_started.md
Labels: transformations, deprecation

#1820 [DEP] Remove hierarchical transformers to legacy
  aeon/forecasting/compose/_hierarchy_ensemble.py
  aeon/forecasting/compose/tests/test_hierarchy_ensemble.py
  aeon/forecasting/reconcile.py
  aeon/forecasting/tests/test_reconcile.py
  aeon/transformations/_legacy/aggregate.py
  aeon/transformations/_legacy/reconcile.py
  aeon/transformations/hierarchical/__init__.py
  aeon/transformations/hierarchical/tests/__init__.py
  aeon/transformations/hierarchical/tests/test_aggregate.py
  aeon/transformations/hierarchical/tests/test_reconcile.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1864 [ENH] Documentation fixes and function changes for `BaseCollectionEstimator`
  aeon/base/_base_collection.py
  aeon/base/tests/test_base_collection.py
  aeon/utils/validation/collection.py
Labels: enhancement

#1729 [ENH] Implement Proximity Forest classifier
  aeon/classification/distance_based/__init__.py
  aeon/classification/distance_based/_proximity_forest.py
  aeon/classification/distance_based/_proximity_tree.py
  aeon/classification/distance_based/tests/test_proximity_forest.py
  aeon/classification/distance_based/tests/test_proximity_tree.py
  docs/api_reference/classification.rst
Labels: enhancement, classification

#1892 [DOC] Update paper referenced in Arsenal docs
  aeon/classification/convolution_based/_arsenal.py
Labels: documentation, classification

#1897 [DOC] Add ddtw distance to the API references
  aeon/distances/_ddtw.py
  docs/api_reference/distances.rst
Labels: documentation

#1809 [ENH] Fixes in Catch22
  aeon/regression/feature_based/_catch22.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/expected_results/expected_regressor_outputs.py
  aeon/transformations/collection/_collection_wrapper.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/tests/test_catch22.py
  aeon/transformations/collection/interval_based/tests/test_intervals.py
Labels: enhancement, transformations, codecov actions

#1823 [DEP] Move impute to legacy
  aeon/classification/hybrid/_hivecote_v2.py
  aeon/forecasting/model_selection/_tune.py
  aeon/transformations/_legacy/compose.py
  aeon/transformations/_legacy/impute.py
  aeon/transformations/_legacy/lag.py
  aeon/transformations/tests/test_compose.py
  aeon/transformations/tests/test_imputer.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1906 [MNT] Fix sporadic PF breakage and `matplotlib` version bound
  aeon/classification/distance_based/tests/test_proximity_forest.py
  pyproject.toml
Labels: maintenance, testing

#1890 [DEP] Remove FeatureSelection transformer
  aeon/transformations/feature_selection.py
  aeon/transformations/tests/test_feature_selection.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1891 [DEP] Remove FunctionTransformer
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/transformations/func_transform.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1894 [DEP] Remove update in BaseCollectionTransformer
  aeon/transformations/collection/base.py
Labels: transformations, deprecation

#1895 [BUG] get_n_channels check channels consistent
  aeon/base/_base_collection.py
  aeon/utils/validation/collection.py
Labels: bug

#1887 [ENH] Remove BaseClassifier unnecessary declarations
  aeon/classification/base.py
Labels: documentation, enhancement, classification

#1915 [DOC] Change order of build and install instructions for clarity
  CONTRIBUTORS.md
  docs/developer_guide/dev_installation.md
Labels: documentation

#1918 [DOC] Grammar corrections to developer installation and installation
  docs/developer_guide/dev_installation.md
  docs/installation.md
Labels: documentation

#1924 [BUG] Fixed CLARA issue
  aeon/clustering/_clara.py
  aeon/clustering/tests/test_clara.py
Labels: bug, clustering

#1935 [DOC] Correct sast tags to shapelet
  aeon/classification/shapelet_based/_sast.py
  aeon/transformations/collection/shapelet_based/_sast.py
Labels: documentation, classification, transformations

#1939 [DOC] Update type hints for similarity search
  aeon/similarity_search/base.py
  aeon/similarity_search/query_search.py
Labels: documentation, similarity search

#1930 [DOC] Shapelet classifier notebook extensions & minor docstring corrections
  aeon/classification/shapelet_based/_rdst.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/visualisation/estimator/_shapelets.py
  examples/classification/shapelet_based.ipynb
Labels: documentation

#1770 [MNT] Unit testing revamp part 2: classification
  .pre-commit-config.yaml
  aeon/base/_base.py
  aeon/base/tests/test_base_collection.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/deep_learning/tests/test_random_state_deep_learning.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/classification/tests/test_base.py
  aeon/regression/tests/test_base.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/test_all_estimators.py
  aeon/testing/test_config.py
  aeon/testing/testing_data.py
  aeon/testing/tests/test_all_estimators.py
  aeon/testing/tests/test_softdeps.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_input.py
Labels: classification, maintenance, testing

#1853 [ENH] Composable ensemble for classification and regression
  aeon/base/estimator/compose/collection_ensemble.py
  aeon/base/estimator/compose/collection_pipeline.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/compose/tests/test_ensemble.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/sklearn/_wrapper.py
  aeon/clustering/compose/_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/regression/compose/_ensemble.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/compose/tests/test_ensemble.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/regression/sklearn/_wrapper.py
Labels: enhancement, classification, regression

#1944 [MNT] Make input clustering algorithm for deep leaning an estimator parameter instead of string
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
  aeon/networks/_ae_resnet.py
  aeon/testing/mock_estimators/_mock_clusterers.py
Labels: clustering, maintenance, networks

#1875 [MNT] Unit testing revamp part 3: regression
  aeon/classification/deep_learning/tests/test_saving_loading_deep_learning_cls.py
  aeon/regression/deep_learning/tests/test_random_state_deep_regressor.py
  aeon/regression/deep_learning/tests/test_saving_loading_deep_learning_cls.py
  aeon/regression/tests/test_all_regressors.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/test_all_estimators.py
  aeon/testing/test_config.py
  aeon/testing/tests/test_all_estimators.py
Labels: regression, maintenance, testing

#1953 [ENH] Add support for handling file extensions in load_from_tsfile
  aeon/datasets/_data_loaders.py
  aeon/datatypes/_check.py
Labels: datasets

#1933 [ENH] Import RandomChannelSelector through init
  aeon/transformations/collection/channel_selection/__init__.py
  aeon/transformations/collection/channel_selection/_channel_scorer.py
  aeon/transformations/collection/channel_selection/_random.py
Labels: enhancement, transformations

#1958 [MNT] Add metrics parameter for deep clustering module (#1945)
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
Labels: clustering, maintenance

#1959 [ENH] Added useful attributes to extracted shapelets for RDST
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/visualisation/estimator/_shapelets.py
Labels: enhancement, transformations

#1865 [BUG] Check data shape in `predict`-like functions
  aeon/base/_base_collection.py
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/base/tests/test_base_collection.py
  aeon/classification/base.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/distance_based/tests/test_proximity_tree.py
  aeon/clustering/base.py
  aeon/regression/base.py
  aeon/testing/test_config.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/_cicd_numba_caching.py
  aeon/transformations/collection/base.py
Labels: bug, classification, clustering, regression

#1838 [DOC, ENH] Updating distance's notebooks + tests to ensure sklearn compatibility
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_sklearn_compatibility.py
  aeon/regression/distance_based/_time_series_neighbors.py
  examples/distances/distances.ipynb
  examples/distances/sklearn_distances.ipynb
Labels: documentation, distances, examples

#1965 [ENH] Adds the option of using callable distances for kNN regressor
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/distance_based/tests/test_time_series_neighbors.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/regression/distance_based/tests/test_time_series_neighbors.py
  aeon/testing/expected_results/expected_regressor_outputs.py
Labels: enhancement, classification, regression

#1975 [BUG] Fix bug in shape dtw pairwise function
  aeon/distances/_shape_dtw.py
Labels: bug, distances

#1974 [ENH] Add minimum number of class labels for numpy data generators
  aeon/classification/compose/tests/test_ensemble.py
  aeon/testing/data_generation/_collection.py
Labels: enhancement, testing

#1577 [ENH] Add AEDRNNNetwork
  aeon/networks/__init__.py
  aeon/networks/_ae_drnn.py
  aeon/networks/tests/test_ae_drnn.py
Labels: enhancement, codecov actions, networks

#1967 [ENH] Discrete Fourier Approximation Transformer
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_dft.py
  aeon/transformations/series/tests/test_dft.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#1608 [ENH] Implement AEAttentionBiGRUNetwork
  aeon/networks/__init__.py
  aeon/networks/_ae_abgru.py
Labels: enhancement, networks

#1926 [ENH] add type hints to _shapelet_transform.py __init__ method
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
Labels: enhancement, transformations

#1929 [MNT] Try shifting to Ubuntu 22.04
  .github/workflows/issue_comment_edited.yml
  .github/workflows/issue_comment_posted.yml
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/precommit_autoupdate.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/update_contributors.yml
Labels: maintenance, full pytest actions

#1977 [ENH] Plot the pairwise distance between two time series
  aeon/visualisation/distances/__init__.py
  aeon/visualisation/distances/_pairwise_distance_matrix.py
Labels: enhancement, distances, visualisation

#1971 [BUG] Corrected shapelet plot for RDST
  aeon/visualisation/estimator/_shapelets.py
  aeon/visualisation/estimator/tests/test_shapelet_plotting.py
  examples/classification/shapelet_based.ipynb
Labels: bug, examples, visualisation

#1949 [DOC] Added Type Hints for _dilated_shapelet_transform
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
Labels: documentation, transformations

#1981 [DOC] Update type hints for distance profiles
  aeon/similarity_search/distance_profiles/euclidean_distance_profile.py
  aeon/similarity_search/distance_profiles/naive_distance_profile.py
  aeon/similarity_search/distance_profiles/squared_distance_profile.py
Labels: documentation, similarity search

#1994 Added type hints for rsast and sast files
  aeon/transformations/collection/shapelet_based/_rsast.py
  aeon/transformations/collection/shapelet_based/_sast.py
Labels: transformations

#1988 [BUG] Bug fixes for interval classes
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/classification/early_classification/tests/test_probability_threshold.py
  aeon/classification/interval_based/_interval_pipelines.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_interval_pipelines.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/expected_results/expected_regressor_outputs.py
  aeon/transformations/collection/interval_based/_random_intervals.py
  aeon/transformations/collection/interval_based/tests/test_intervals.py
Labels: bug, transformations

#2017 [BUG] Short term solution for shapelet feature importance
  aeon/visualisation/estimator/_shapelets.py
Labels: enhancement, visualisation
