Repository aeon-toolkit/aeon, pull requests merged in 2024-01, with the labels that each got.

#1022 [ENH][BUG] Change predict_proba of WEASEL_v2 to the default behavior, as in RocketClassifier
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/tests/test_expected_outputs.py
Labels: bug, classification

#1021 [ENH] Improve Pairwise-Visualizations in plot_scatter()
  aeon/benchmarking/results_plotting.py
Labels: benchmarking

#1027 [MNT] Remove ! marks
  build_tools/pr_open_commenter.py
Labels: maintenance

#1002 [ENH] Introducing visualisation module
  .github/ISSUE_TEMPLATE/bug_report.yml
  aeon/annotation/plotting/__init__.py
  aeon/benchmarking/__init__.py
  aeon/benchmarking/results_loaders.py
  aeon/clustering/utils/__init__.py
  aeon/clustering/utils/plotting/__init__.py
  aeon/transformations/bootstrap/_mbb.py
  aeon/visualisation/__init__.py
  aeon/visualisation/_cluster_plotting.py
  aeon/visualisation/_critical_difference.py
  aeon/visualisation/results_plotting.py
  aeon/visualisation/segmentation_plotting.py
  aeon/visualisation/series_plotting.py
  aeon/visualisation/tests/__init__.py
  aeon/visualisation/tests/test_critical_difference.py
  aeon/visualisation/tests/test_plotting.py
  aeon/visualisation/tests/test_results_plotting.py
  docs/api_reference/utils.rst
  docs/api_reference/visualisation.rst
  examples/benchmarking/bakeoff_results.ipynb
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression_results_per_dataset.ipynb
  examples/clustering/partitional_clustering.ipynb
  examples/datasets/provided_data.ipynb
  examples/forecasting/forecasting.ipynb
  examples/forecasting/forecasting_proba.ipynb
  examples/forecasting/forecasting_sklearn.ipynb
  examples/forecasting/window_splitters.ipynb
  examples/segmentation/segmentation_with_clasp.ipynb
  examples/transformations/transformations.ipynb
Labels: enhancement, clustering, transformations, examples

#1033 [ENH] scatter plots enhancement.
  aeon/visualisation/results_plotting.py
Labels: visualisation

#1015 [ENH] Purge datatypes from utils
  aeon/classification/_delegate.py
  aeon/classification/_dummy.py
  aeon/classification/base.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/early_classification/base.py
  aeon/classification/feature_based/_catch22.py
  aeon/classification/feature_based/_summary_classifier.py
  aeon/classification/feature_based/_tsfresh_classifier.py
  aeon/classification/hybrid/_hivecote_v1.py
  aeon/classification/hybrid/_hivecote_v2.py
  aeon/classification/interval_based/_interval_pipelines.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_stc.py
  aeon/clustering/base.py
  aeon/registry/_tags.py
  aeon/regression/_delegate.py
  aeon/regression/_dummy.py
  aeon/regression/convolution_based/_rocket_regressor.py
  aeon/regression/feature_based/_catch22.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/interval_based/_interval_pipelines.py
  aeon/transformations/collection/convolution_based/_minirocket_mv.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/scaler.py
  aeon/utils/_testing/scenarios_forecasting.py
  aeon/utils/_testing/scenarios_transformers.py
  aeon/utils/datetime.py
  aeon/utils/tests/test_datetime.py
  aeon/utils/validation/forecasting.py
  aeon/utils/validation/panel.py
Labels: enhancement

#1006 [ENH] New regression problems
  aeon/datasets/_data_loaders.py
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tser_data_lists.py
Labels: enhancement, regression, datasets, full pytest actions

#1014 [BUG] fix tag errors, refactor comments np.array -> np.ndarray
  aeon/classification/_delegate.py
  aeon/classification/_dummy.py
  aeon/classification/base.py
Labels: bug

#1040 [DOC] remove plot_critical_difference from benchmarking API
  docs/api_reference/benchmarking.rst
Labels: documentation

#1041 [REF] Rename `tests` to `testing` and move utilities for generating expected results to the folder.
  .codecov.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/classification/early_classification/tests/test_all_early_classifiers.py
  aeon/classification/hybrid/tests/test_hc.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/clustering/tests/test_all_clusterers.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tests/test_dataframe_loaders.py
  aeon/datasets/tests/test_dataset_collections.py
  aeon/datasets/tests/test_load_forecasting.py
  aeon/forecasting/model_evaluation/tests/test_evaluate.py
  aeon/forecasting/model_selection/tests/test_tune.py
  aeon/forecasting/tests/__init__.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/forecasting/tests/test_interval_wrappers.py
  aeon/forecasting/tests/test_reconcile.py
  aeon/regression/tests/test_all_regressors.py
  aeon/testing/__init__.py
  aeon/testing/expected_results/__init__.py
  aeon/testing/expected_results/classifier_results_reproduction.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/expected_results/expected_regressor_outputs.py
  aeon/testing/expected_results/expected_transform_outputs.py
  aeon/testing/expected_results/regressor_results_reproduction.py
  aeon/testing/expected_results/transform_results_reproduction.py
  aeon/testing/test_all_estimators.py
  aeon/testing/test_config.py
  aeon/testing/test_softdeps.py
  aeon/testing/tests/__init__.py
  aeon/transformations/hierarchical/tests/test_reconcile.py
  aeon/transformations/tests/test_all_transformers.py
  aeon/utils/_testing/estimator_checks.py
  aeon/utils/_testing/scenarios_forecasting.py
  aeon/utils/estimator_checks.py
  conftest.py
Labels: refactor, testing

#1038 [ENH] Remove the PODS adaptor
  aeon/annotation/adapters/__init__.py
  aeon/annotation/adapters/_pyod.py
  aeon/testing/test_softdeps.py
  docs/api_reference/annotation.rst
  pyproject.toml
Labels: enhancement

#1044 [MNT, BUG] Modify njit func generator to support python functions
  CODEOWNERS
  aeon/similarity_search/base.py
  aeon/similarity_search/distance_profiles/naive_distance_profile.py
  aeon/similarity_search/tests/test_top_k_similarity.py
  aeon/similarity_search/top_k_similarity.py
  aeon/utils/numba/general.py
  aeon/utils/numba/tests/test_general.py
  examples/similarity_search/code_speed.ipynb
  examples/similarity_search/distance_profiles.ipynb
  examples/similarity_search/similarity_search.ipynb
Labels: bug, maintenance, full pytest actions, codecov actions

#1025 [ENH] Retrieve metadata for datasets from tsc.com
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/tests/test_data_loaders.py
Labels: enhancement, datasets, full pytest actions

#1045 [ENH] Reorganise mock estimators in utils
  aeon/classification/tests/test_base.py
  aeon/forecasting/base/tests/test_fh.py
  aeon/forecasting/compose/_bagging.py
  aeon/forecasting/compose/_reduce.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_classifiers.py
  aeon/testing/mock_estimators/_mock_forecasters.py
  aeon/testing/mock_estimators/tests/__init__.py
  aeon/testing/mock_estimators/tests/test_mock_forecasters.py
  aeon/testing/tests/__init__.py
  aeon/utils/estimators/__init__.py
  aeon/utils/estimators/_base.py
  aeon/utils/estimators/dispatch.py
  aeon/utils/estimators/tests/__init__.py
  aeon/utils/estimators/tests/test_forecasters.py
  aeon/utils/tests/test_check_estimator.py
Labels: enhancement, classification, forecasting, testing

#1050 [ENH,REF] Refactor `visualisation` and add temporal importance curves function
  .github/ISSUE_TEMPLATE/bug_report.yml
  .gitignore
  aeon/transformations/bootstrap/_mbb.py
  aeon/visualisation/__init__.py
  aeon/visualisation/estimator/__init__.py
  aeon/visualisation/estimator/_cluster_plotting.py
  aeon/visualisation/estimator/_temporal_importance_curves.py
  aeon/visualisation/results/__init__.py
  aeon/visualisation/results/_boxplot.py
  aeon/visualisation/results/_critical_difference.py
  aeon/visualisation/results/_scatter.py
  aeon/visualisation/results/tests/__init__.py
  aeon/visualisation/results/tests/test_critical_difference.py
  aeon/visualisation/results/tests/test_results_plotting.py
  aeon/visualisation/series/__init__.py
  aeon/visualisation/series/_collections.py
  aeon/visualisation/series/_segmentation.py
  aeon/visualisation/series/_series.py
  aeon/visualisation/series/tests/__init__.py
  aeon/visualisation/series/tests/test_plotting.py
  aeon/visualisation/tests/__init__.py
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression_results_per_dataset.ipynb
Labels: enhancement, refactor, visualisation

#1054 [MNT] Deprecate old `plot_series` functions and policy clarification
  aeon/utils/plotting.py
  docs/developer_guide/deprecation.md
Labels: maintenance, deprecation, visualisation

#1048 [ENH] Add `clustering_accuracy_score` to metrics
  aeon/performance_metrics/clustering.py
  aeon/performance_metrics/tests/test_clustering_metrics.py
Labels: enhancement, clustering

#1057 [BUG] Fixed missing z-normalisation for SFA in RED CoMETS
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/tests/test_redcomets.py
Labels: bug, classification

#1058 [DOC] Updated paper reference for RED CoMETS
  aeon/classification/dictionary_based/_redcomets.py
Labels: documentation, classification

#1043 [MNT] Add `pytest` plugin to retry failed tests
  pyproject.toml
Labels: maintenance, testing

#1034 [ENH] Load the regression results from tsc.com
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_results_loaders.py
  examples/benchmarking/regression.ipynb
  examples/clustering/partitional_clustering.ipynb
Labels: enhancement, benchmarking

#1070 [MNT] Set upper bound for `tensorflow`
  pyproject.toml
Labels: maintenance, dependencies

#1065 [ENH] The Default value for use_mini_batch_size should be set to False
  aeon/classification/deep_learning/_fcn.py
  aeon/regression/deep_learning/_fcn.py
Labels: enhancement, classification, regression

#1075 [DOC,MNT] Tidy up GitHub txt links and update dockerfile version
  .binder/Dockerfile
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  build_tools/pr_labeler.py
Labels: documentation, maintenance

#1073 [REF] Fixed the default use_mini_batch_size value in resnet
  aeon/classification/deep_learning/_resnet.py
  aeon/regression/deep_learning/_resnet.py
Labels: classification, regression, refactor, deep learning

#1079 [MNT] Stop the bot from commenting on other bots PRs
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
Labels: maintenance

#1082 [DEP] Deprecate `MatrixProfileClassifier`
  aeon/classification/feature_based/_matrix_profile_classifier.py
Labels: classification, deprecation

#1051 [ENH] Testing and basic notebooks for series and learning task specific plotting functions
  aeon/visualisation/__init__.py
  aeon/visualisation/estimator/_clasp.py
  aeon/visualisation/estimator/_clustering.py
  aeon/visualisation/learning_task/__init__.py
  aeon/visualisation/learning_task/_forecasting.py
  aeon/visualisation/learning_task/_segmentation.py
  aeon/visualisation/learning_task/tests/__init__.py
  aeon/visualisation/learning_task/tests/test_forecasting_plotting.py
  aeon/visualisation/learning_task/tests/test_segmentation_plotting.py
  aeon/visualisation/series/__init__.py
  aeon/visualisation/series/_collections.py
  aeon/visualisation/series/_series.py
  aeon/visualisation/series/tests/test_collection_plotting.py
  aeon/visualisation/series/tests/test_series_plotting.py
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
  examples/forecasting/forecasting_proba.ipynb
  examples/segmentation/segmentation_with_clasp.ipynb
  examples/visualisation/plotting_for_learning_tasks.ipynb
  examples/visualisation/plotting_series.ipynb
Labels: enhancement, testing, examples, codecov actions, visualisation

#1090 [BUG] Correct imports for `visualisation` testing
  aeon/visualisation/learning_task/tests/test_forecasting_plotting.py
  aeon/visualisation/learning_task/tests/test_segmentation_plotting.py
  aeon/visualisation/series/tests/test_collection_plotting.py
  aeon/visualisation/series/tests/test_series_plotting.py
Labels: bug, testing, visualisation

#1083 [MNT] remove is_numeric
  aeon/transformations/time_since.py
Labels: transformations, maintenance

#1042 [ENH] Tidy up the utils directory
  aeon/forecasting/theta.py
  aeon/utils/profiling.py
  aeon/utils/slope_and_trend.py
  aeon/utils/tests/test_utils_time_series.py
Labels: enhancement, forecasting

#741 [BUG] remove base classifier shortcut and new test
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/tests/test_boss.py
Labels: bug, classification

#1093 [ENH] Update `scikit-learn` version
  aeon/classification/dictionary_based/tests/test_redcomets.py
  aeon/classification/dictionary_based/tests/test_weasel.py
  aeon/classification/tests/test_sklearn_compatability.py
  pyproject.toml
Labels: enhancement, full pytest actions, dependencies

#1028 [ENH] Adds missing deprecation for parameter support_probabilities
  aeon/classification/dictionary_based/_weasel_v2.py
Labels: enhancement, classification, deprecation

#1071 [ENH] Testing for estimator specific plotting functions
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/visualisation/estimator/_clasp.py
  aeon/visualisation/estimator/_clustering.py
  aeon/visualisation/estimator/_temporal_importance_curves.py
  aeon/visualisation/estimator/tests/__init__.py
  aeon/visualisation/estimator/tests/test_clasp_plotting.py
  aeon/visualisation/estimator/tests/test_cluster_plotting.py
  aeon/visualisation/estimator/tests/test_tic_plotting.py
  examples/segmentation/segmentation_with_clasp.ipynb
Labels: enhancement, testing, examples, codecov actions, visualisation

#1080 [DOC] Update index page and images
  docs/examples.md
  docs/index.md
  examples/datasets/img/data.png
  examples/distances/distances.ipynb
  examples/distances/img/distances.png
  examples/segmentation/img/segmentation.png
Labels: documentation, examples

#1096 [ENH] speed up testing
  aeon/benchmarking/tests/test_experiments.py
  aeon/clustering/_k_means.py
  aeon/clustering/averaging/tests/test_dba.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
  aeon/clustering/tests/test_all_clusterers.py
  aeon/distances/_minkowski.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_clusterers.py
Labels: enhancement, clustering, benchmarking, distances

#1097 [DOC, REF] Add `TimeSeriesKernelKMeans` and `TimeSeriesKShapes` to `clustering/__init__.py` and also adds examples to dosctring
  aeon/clustering/__init__.py
  aeon/clustering/_k_shapes.py
  aeon/clustering/_kernel_k_means.py
Labels: documentation, clustering, refactor

#1112 [BUG] Wrong bound on sklearn for sparse argument
  aeon/classification/deep_learning/base.py
Labels: bug, classification

#1087 [ENH] Remove tensor flow probability, replace with scipy
  aeon/datatypes/_proba/_registry.py
  aeon/forecasting/base/_base.py
  aeon/forecasting/base/tests/test_base.py
  aeon/utils/mlflow_aeon.py
  aeon/utils/tests/test_mlflow_aeon_model_export.py
  aeon/utils/validation/_dependencies.py
  examples/classification/deep_learning.ipynb
  examples/forecasting/forecasting.ipynb
  examples/forecasting/forecasting_proba.ipynb
  examples/utils/mlflow.ipynb
  extension_templates/forecasting.py
  pyproject.toml
Labels: enhancement, forecasting, datatypes, examples

#1106 [MNT] Add upper bounds for main dependencies and replace `attrs`
  aeon/segmentation/_ggs.py
  aeon/segmentation/_igts.py
  pyproject.toml
Labels: maintenance, segmentation

#1023 [ENH] `.arff` writer function
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
  docs/api_reference/datasets.rst
Labels: enhancement, datasets

#1114 [MNT] Legacy deprecation
  aeon/testing/test_all_estimators.py
Labels: maintenance, testing

#1084 [MNT] remove distutils
  aeon/datasets/_data_loaders.py
  aeon/transformations/fourier.py
Labels: transformations, maintenance, datasets

#1107 [ENH] Classification `_fit_predict` mockup
  aeon/classification/base.py
Labels: enhancement, classification

#1110 [ENH] Deprecate Filter transformer
  aeon/transformations/filter.py
  pyproject.toml
Labels: enhancement, transformations

#1101 [ENH] Remove conversion decorators from SignaturesClassifier
  aeon/classification/feature_based/_signature_classifier.py
  aeon/transformations/collection/signature_based/_checks.py
Labels: enhancement, classification, transformations

#1115 [ENH] Data and results loading update
  aeon/benchmarking/__init__.py
  aeon/benchmarking/example_results/classification/accuracy/FreshPRINCE_accuracy.csv
  aeon/benchmarking/example_results/classification/accuracy/HC2_TESTFOLDS.csv
  aeon/benchmarking/example_results/classification/accuracy/HC2_accuracy.csv
  aeon/benchmarking/example_results/classification/accuracy/InceptionTime_accuracy.csv
  aeon/benchmarking/example_results/classification/accuracy/WEASEL-2.0_accuracy.csv
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_dataset_collections.py
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression.ipynb
  examples/clustering/partitional_clustering.ipynb
  examples/datasets/img/download1.png
  examples/datasets/img/download2.png
  examples/datasets/load_data_from_web.ipynb
Labels: enhancement, datasets, benchmarking
