Repository aeon-toolkit/aeon, pull requests merged in 2024-05, with the labels that each got.

#1483 [BUG] Set dynamic tag after `__init__` for classifiers and regressors.
  aeon/classification/hybrid/_rist.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_rstsf.py
  aeon/classification/interval_based/_stsf.py
  aeon/regression/hybrid/_rist.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_drcif.py
  aeon/regression/interval_based/_rise.py
Labels: bug, classification, regression, codecov actions

#1441 [DEP] Remove annotation module
  CODEOWNERS
  aeon/annotation/__init__.py
  aeon/annotation/base/__init__.py
  aeon/annotation/base/_base.py
  aeon/annotation/hmm_learn/__init__.py
  aeon/annotation/hmm_learn/base.py
  aeon/annotation/hmm_learn/gaussian.py
  aeon/annotation/hmm_learn/gmm.py
  aeon/annotation/hmm_learn/poisson.py
  aeon/annotation/tests/__init__.py
  aeon/annotation/tests/test_all_annotators.py
  aeon/annotation/tests/test_hmm_learn.py
  aeon/forecasting/compose/tests/test_bagging.py
  aeon/forecasting/online_learning/tests/test_online_learning.py
  aeon/registry/_base_classes.py
  aeon/transformations/bootstrap/tests/test_mbb.py
  build_tools/pr_labeler.py
  docs/api_reference/annotation.rst
  docs/developer_guide/deprecation.md
  docs/getting_started.md
  examples/base/base_classes.ipynb
  extension_templates/annotation.py
  pyproject.toml
Labels: annotation, deprecation

#1443 [ENH] Add control over the score method of classification and regression
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
  aeon/regression/base.py
  aeon/regression/tests/test_base.py
Labels: enhancement, classification, regression

#1489 [DEP] remove deprecation for datatypes adapter functions
  aeon/datatypes/_adapter/gluonts_to_pd_multiindex.py
  aeon/datatypes/_adapter/pd_multiindex_to_list_dataset.py
Labels: datatypes, deprecation

#1488 [DEP] deprecate SKLearnRegression pipeline
  aeon/regression/compose/__init__.py
  aeon/regression/compose/_pipeline.py
  aeon/testing/test_config.py
  aeon/transformations/compose.py
  examples/utils/preprocessing.ipynb
Labels: deprecation

#1485 [DOC] Change about text, add a link from docs to repo
  docs/index.md
  pyproject.toml
Labels: documentation

#1468 [DOC] add distance and channel selection projects
  docs/mentoring.md
Labels: documentation

#1415 [ENH] Update MPDist function
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_mpdist.py
  aeon/distances/mpdist.py
  aeon/distances/tests/test_mpdist.py
Labels: enhancement, distances

#1459 [MNT] Adds an Issue/PR Assigning Bot
  .github/scripts/self_assign.py
  .github/workflows/self_assign_bot.yml
  docs/contributing.md
Labels: maintenance

#1506 [ENH] Changes to series base classes from #1490
  aeon/transformations/series/base.py
  examples/base/series_estimator.ipynb
Labels: enhancement, transformations, examples

#1505 [DEP] Removal of various annotation mentions and functions
  CODEOWNERS
  README.md
  aeon/testing/utils/data_gen/__init__.py
  aeon/testing/utils/data_gen/annotation.py
  aeon/testing/utils/data_gen/tests/test_annotation.py
  aeon/utils/validation/annotation.py
  aeon/utils/validation/tests/test_annotation.py
  docs/getting_started.md
  docs/glossary.md
  examples/base/base_classes.ipynb
Labels: annotation, deprecation

#1487 [ENH] Type hints for primitives and string arguments:Part2
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
Labels: enhancement, classification

#1515 [DOC] Add reference to paper in FreshPRINCEClassifier
  .all-contributorsrc
  aeon/classification/feature_based/_fresh_prince.py
Labels: documentation, classification

#1510 [DOC] Update classification API docs
  docs/api_reference/classification.rst
Labels: documentation

#1343 [ENH] Anomaly detection base class and MERLIN detector
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_merlin.py
  aeon/anomaly_detection/base.py
  aeon/anomaly_detection/tests/test_all_anomaly_detectors.py
  aeon/anomaly_detection/tests/test_base.py
  aeon/anomaly_detection/tests/test_merlin.py
  aeon/registry/_base_classes.py
  aeon/registry/_tags.py
  aeon/testing/mock_estimators/_mock_anomaly_detectors.py
Labels: enhancement, API design, implementing framework, anomaly detection

#1486 [ENH] Channel selection
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/collection/channel_selection/_random.py
  aeon/transformations/collection/channel_selection/base.py
  aeon/transformations/collection/channel_selection/tests/test_elbow_class.py
  aeon/transformations/collection/channel_selection/tests/test_random.py
  aeon/transformations/collection/tests/test_all_collection_transformers.py
  examples/transformations/channel_selection.ipynb
Labels: enhancement, transformations, channel selection

#1513 [BUG] mpdist window length
  aeon/distances/_mpdist.py
  aeon/distances/tests/test_mpdist.py
Labels: bug, distances, codecov actions

#1531 [ENH] Load tsc problems from zenodo as a back up to tsc.com
  aeon/datasets/_data_loaders.py
  aeon/datasets/tsc_datasets.py
Labels: enhancement, datasets

#1476 [MNT] Changes to no soft dependency tests
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  aeon/clustering/tests/test_all_clusterers.py
  aeon/testing/test_softdeps.py
Labels: maintenance, testing

#1533 [ENH,BUG] Fixes for pipeline utilities and additional pipeline classes for collection based estimators
  aeon/anomaly_detection/tests/test_all_anomaly_detectors.py
  aeon/base/estimator/compose/collection_pipeline.py
  aeon/clustering/compose/__init__.py
  aeon/clustering/compose/_pipeline.py
  aeon/clustering/compose/tests/__init__.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/pipeline/_make_pipeline.py
  aeon/pipeline/_sklearn_to_aeon.py
  aeon/pipeline/tests/__init__.py
  aeon/pipeline/tests/test_make_pipeline.py
  aeon/pipeline/tests/test_sklearn_to_aeon.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/compose/__init__.py
  aeon/transformations/collection/compose/_identity.py
  aeon/transformations/collection/compose/_pipeline.py
  aeon/transformations/collection/compose/tests/__init__.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
Labels: bug, enhancement, clustering, transformations

#1517 [DEP] Deprecate `exceptions.py`
  aeon/base/_base.py
  aeon/classification/sklearn/_continuous_interval_tree.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_continuous_interval_tree.py
  aeon/exceptions.py
  aeon/forecasting/model_evaluation/_functions.py
  aeon/forecasting/model_evaluation/tests/test_evaluate.py
  aeon/forecasting/model_selection/_tune.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/testing/test_all_estimators.py
Labels: deprecation

#1383 [ENH] Included RSAST as a alternative to SAST (2.0)
  aeon/classification/shapelet_based/__init__.py
  aeon/classification/shapelet_based/_rsast_classifier.py
  aeon/transformations/collection/shapelet_based/__init__.py
  aeon/transformations/collection/shapelet_based/_rsast.py
Labels: enhancement, classification, transformations

#1509 [MNT] Fix issue assign action and general maintenance
  .github/scripts/self_assign.py
  .github/workflows/github_maintenance.yml
  .github/workflows/issue_comment_posted.yml
  .github/workflows/pr_opened.yml
  .github/workflows/self_assign_bot.yml
  build_tools/issue_assign.py
  build_tools/pr_labeler.py
  build_tools/pr_open_commenter.py
Labels: maintenance

#1473 [DEP] Deprecate the ACF and PACF BaseTransformer wrappers
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/transformations/acf.py
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/tests/test_acf.py
Labels: transformations, deprecation

#1494 [DEP] Deprecate simple wrapper transformers
  aeon/transformations/augmenter.py
  aeon/transformations/binning.py
  aeon/transformations/cos.py
  aeon/transformations/exponent.py
  aeon/transformations/subset.py
  aeon/transformations/tests/test_augmenter.py
  aeon/transformations/tests/test_exponent.py
  aeon/transformations/tests/test_subset.py
Labels: transformations, deprecation

#1532 [MNT] Update `ElasticEnsemble` test to work with all distances
  aeon/classification/distance_based/tests/test_elastic_ensemble.py
Labels: classification, maintenance, codecov actions

#1544 [DOC] Update the `ElasticEnsemble` documentation
  aeon/classification/distance_based/_elastic_ensemble.py
Labels: documentation, classification

#1545 [ENH] Remove duplicate check estimator
  aeon/utils/estimator_checks.py
  aeon/utils/tests/test_check_estimator.py
Labels: enhancement, deprecation

#1507 [MNT] Update CODEOWNERS
  CODEOWNERS
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
Labels: maintenance

#1512 [MNT] Fix `BaseSeriesEstimator` test
  aeon/base/tests/test_base_series.py
Labels: maintenance

#1549 [ENH] Results lists and loading
  aeon/benchmarking/results_loaders.py
  aeon/datasets/tsc_datasets.py
Labels: enhancement, datasets, benchmarking

#1554 [BUG]: Fix CODEOWNERS file
  CODEOWNERS
Labels: bug, maintenance, no changelog

#1546 [ENH] Lower bound scipy to 1.9
  pyproject.toml
Labels: enhancement, full pytest actions, codecov actions, dependencies

#1552 [DEP] convert Scaled Logit
  aeon/transformations/series/_scaled_logit.py
  aeon/transformations/series/tests/test_scaled_logit.py
Labels: transformations, deprecation

#1559 [DEP] Deprecate TimeSince
  aeon/transformations/tests/test_differencer.py
  aeon/transformations/tests/test_time_since.py
  aeon/transformations/time_since.py
Labels: transformations, deprecation

#1561 [DEP] Deprecate kalman filter
  aeon/transformations/kalman_filter.py
  aeon/transformations/tests/test_kalman_filter.py
Labels: transformations, deprecation

#1563 [ENH,BUG] added weighted elastic barycenter and fix cache issue in subgradient method
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
  aeon/clustering/averaging/_barycenter_averaging.py
Labels: bug, enhancement, clustering

#1570 [MNT] Add tests for BA weight parameters
  aeon/clustering/averaging/tests/test_dba.py
Labels: clustering, maintenance

#1374 [ENH] Loading ability in deep learning modules for classification/regression/clustering
  aeon/classification/deep_learning/base.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/regression/deep_learning/base.py
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
  examples/networks/deep_learning.ipynb
  examples/networks/img/H-Inception-archi.png
  examples/networks/img/Inception-archi.png
  examples/networks/img/legend.png
Labels: enhancement, classification, clustering, regression, deep learning, examples

#1525 [ENH] Type hints for primitives and string arguments:Part3
  aeon/classification/shapelet_based/_ls.py
  aeon/classification/shapelet_based/_mrsqm.py
  aeon/classification/shapelet_based/_rdst.py
  aeon/classification/shapelet_based/_sast_classifier.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/sklearn/_continuous_interval_tree.py
Labels: enhancement, classification

#1572 [DOC] Typos in shapelet notebook
  examples/classification/shapelet_based.ipynb
Labels: documentation, classification

#1582 Release v0.9.0
  README.md
  aeon/__init__.py
  docs/changelog.md
  docs/changelogs/v0.9.md
  pyproject.toml
Labels: maintenance, release
