Repository aeon-toolkit/aeon, pull requests merged in 2024-02, with the labels that each got.

#804 [BUG] Collection transformer wrapper bugfixing and `PlateauFinder` refactor
  aeon/transformations/base.py
  aeon/transformations/collection/_collection_wrapper.py
Labels: bug, transformations

#1127 [BUG] Fix overnight loading test
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_dataset_collections.py
Labels: datasets, full pytest actions

#1122 [ENH] Some fixes network module
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_resnet.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_cnn.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_resnet.py
  aeon/networks/base.py
  aeon/networks/tests/test_all_networks.py
  aeon/networks/tests/test_network_base.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_resnet.py
  aeon/visualisation/estimator/deep_learning/__init__.py
  aeon/visualisation/estimator/deep_learning/_network_plot.py
  aeon/visualisation/estimator/deep_learning/tests/__init__.py
  pyproject.toml
Labels: enhancement, networks, coverage

#1128 [ENH] Remove name RSTSF
  aeon/benchmarking/results_loaders.py
Labels: enhancement, benchmarking

#1085 [DOC] `aeon` mentoring/project webpage
  docs/contributing.md
  docs/index.md
  docs/mentoring.md
Labels: documentation

#1133 [MNT] Update `numba` bound
  pyproject.toml
Labels: maintenance, full pytest actions, codecov actions, dependencies

#1132 [MNT] Disable `sweep` and other small maintenance bits
  .github/ISSUE_TEMPLATE/sweep.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_precommit.yml
  .pre-commit-config.yaml
  MANIFEST.in
  build_tools/fail_on_missing_init_files.sh
  pyproject.toml
  sweep.yaml
Labels: maintenance

#1131 [ENH] Base classifier class docstrings
  aeon/classification/base.py
Labels: enhancement, classification

#1124 [ENH] Add ResNet based auto-encoder to deep clustering module
  aeon/clustering/deep_learning/__init__.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/networks/__init__.py
  aeon/networks/_ae_resnet.py
Labels: enhancement, clustering, deep learning, networks

#861 [MNT] Allow Python 3.12
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/_tapnet.py
  aeon/classification/deep_learning/base.py
  aeon/clustering/base.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_ae_resnet.py
  aeon/networks/_cnn.py
  aeon/networks/_encoder.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_lite.py
  aeon/networks/_mlp.py
  aeon/networks/_resnet.py
  aeon/networks/_tapnet.py
  aeon/networks/base.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/_tapnet.py
  aeon/regression/deep_learning/base.py
  aeon/testing/test_all_estimators.py
  pyproject.toml
Labels: enhancement, maintenance, full pytest actions, codecov actions

#401 [ENH] Classifier pipeline rework, remove operator overload and delegate class
  aeon/base/_meta.py
  aeon/classification/_delegate.py
  aeon/classification/base.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/compose/tests/test_pipeline.py
Labels: enhancement, classification

#1116 [ENH] `BaseClassifier` testing for `fit_predict`/`fit_predict_proba` and classifier conversions to use said methods
  .coveragerc
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/classification/base.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/tests/test_arsenal.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/dictionary_based/tests/test_boss.py
  aeon/classification/dictionary_based/tests/test_tde.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/hybrid/_hivecote_v1.py
  aeon/classification/hybrid/_hivecote_v2.py
  aeon/classification/hybrid/tests/test_hc.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/classification/tests/test_base.py
  aeon/testing/expected_results/expected_classifier_outputs.py
Labels: enhancement, classification, testing, codecov actions

#1140 [DOC] API tidy
  docs/api_reference.md
  docs/api_reference/data_format.rst
  docs/api_reference/performance_metrics.rst
  docs/api_reference/utils.rst
Labels: documentation

#968 [MNT] Deprecate `mlflow` functionality
  aeon/utils/mlflow_aeon.py
Labels: maintenance, dependencies, deprecation

#1081 [ENH] Deprecate functors from performance metrics and replace with function calls
  aeon/benchmarking/forecasting.py
  aeon/benchmarking/tests/test_forecasting.py
  aeon/forecasting/compose/tests/test_multiplex.py
  aeon/forecasting/model_evaluation/_functions.py
  aeon/forecasting/model_evaluation/tests/test_evaluate.py
  aeon/forecasting/model_selection/_tune.py
  aeon/forecasting/model_selection/tests/test_tune.py
  aeon/performance_metrics/forecasting/_classes.py
  aeon/performance_metrics/forecasting/probabilistic/_classes.py
  aeon/transformations/tests/test_multiplexer.py
  aeon/utils/validation/forecasting.py
  examples/benchmarking/forecasting.ipynb
  examples/forecasting/forecasting.ipynb
Labels: enhancement, forecasting, deprecation

#1141 [ENH, MNT] Changes to docs in significance plots and stats.
  aeon/performance_metrics/stats.py
  aeon/performance_metrics/tests/test_stats.py
  aeon/visualisation/results/_significance.py
Labels: enhancement, maintenance, visualisation

#1139 [DOC] Tidy up developers guide
  docs/developer_guide.md
  docs/developer_guide/add_dataset.md
  docs/developer_guide/add_dataset.rst
  docs/developer_guide/add_estimators.md
  docs/developer_guide/add_estimators.rst
  docs/developer_guide/coding_standards.md
  docs/developer_guide/coding_standards.rst
  docs/developer_guide/continuous_integration.md
  docs/developer_guide/continuous_integration.rst
  docs/developer_guide/dependencies.md
  docs/developer_guide/dependencies.rst
  docs/developer_guide/deprecation.md
  docs/developer_guide/dev_installation.md
  docs/developer_guide/documentation.md
  docs/developer_guide/documentation.rst
  docs/developer_guide/git_workflow.md
  docs/developer_guide/git_workflow.rst
  docs/developer_guide/release.md
  docs/developer_guide/testing_framework.md
  docs/developer_guide/testing_framework.rst
  examples/base/img/uml3.png
Labels: documentation, enhancement

#1145 [MNT] Fixes deprecation warnings for save_transformed_data in interval based classifiers
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_stc.py
Labels: classification, maintenance

#1129 [ENH] Tidy up data_gen
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/base/tests/test_serialize.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/convolution_based/tests/test_arsenal.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/classification/dictionary_based/tests/test_boss.py
  aeon/classification/hybrid/tests/test_hc.py
  aeon/classification/shapelet_based/_mrsqm.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_continuous_interval_tree.py
  aeon/classification/tests/test_sklearn_compatability.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datatypes/tests/test_panel_converters.py
  aeon/datatypes/tests/test_series_to_panel_converters.py
  aeon/distances/tests/test_sklearn_compatibility.py
  aeon/forecasting/base/tests/test_base.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/networks/tests/test_network_base.py
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/testing/utils/data_gen/__init__.py
  aeon/testing/utils/data_gen/_collection.py
  aeon/testing/utils/data_gen/_data_generators.py
  aeon/testing/utils/data_gen/_series.py
  aeon/testing/utils/data_gen/_tabular.py
  aeon/testing/utils/data_gen/forecasting.py
  aeon/testing/utils/data_gen/tests/test_collection.py
  aeon/testing/utils/data_gen/tests/test_datagen.py
  aeon/testing/utils/scenarios_classification.py
  aeon/testing/utils/scenarios_transformers.py
  aeon/testing/utils/tests/test_collection.py
  aeon/transformations/collection/acf.py
  aeon/transformations/collection/ar_coefficient.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/_summary.py
  aeon/transformations/collection/interval_based/_random_intervals.py
  aeon/transformations/collection/interval_based/_supervised_intervals.py
  aeon/transformations/collection/interval_based/tests/test_intervals.py
  aeon/transformations/collection/periodogram.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/collection/tests/test_channel_selection.py
  aeon/transformations/tests/test_pipeline.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_panel.py
  aeon/utils/validation/tests/test_series.py
  aeon/visualisation/estimator/tests/test_cluster_plotting.py
  aeon/visualisation/series/tests/test_collection_plotting.py
  docs/getting_started.md
Labels: enhancement, testing, codecov actions

#1134 [ENH] Split validation and conversion in utils
  aeon/base/_base_collection.py
  aeon/base/_base_series.py
  aeon/base/tests/test_base_collection.py
  aeon/classification/base.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/classification/tests/test_base.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_dataframe_loaders.py
  aeon/forecasting/base/tests/test_base.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/tests/test_base.py
  aeon/testing/utils/data_gen/_collection.py
  aeon/utils/conversion/__init__.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/__init__.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/_check_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/panel.py
  aeon/utils/validation/tests/test_check_collection.py
  aeon/visualisation/estimator/_clustering.py
  aeon/visualisation/series/_collections.py
  examples/datasets/data_conversions.ipynb
Labels: enhancement

#1147 [MNT] Release v0.7.0
  README.md
  aeon/__init__.py
  aeon/annotation/eagglo.py
  aeon/annotation/hmm.py
  aeon/classification/base.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/feature_based/_matrix_profile_classifier.py
  aeon/datatypes/_examples.py
  aeon/performance_metrics/forecasting/_classes.py
  aeon/transformations/filter.py
  aeon/transformations/hidalgo.py
  aeon/transformations/matrix_profile.py
  aeon/utils/mlflow_aeon.py
  aeon/utils/plotting.py
  build_tools/changelog_generator.py
  build_tools/pr_labeler.py
  docs/changelog.md
  docs/changelogs/v0.7.md
  docs/developer_guide/deprecation.md
  pyproject.toml
Labels: maintenance, release

#1159 [DOC] Fix broken links in changelog.md
  docs/changelog.md
Labels: documentation

#1163 [ENH] Refactored series_length and n_instances to n_timepoints and n_cases
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_rocket_classifier.py
Labels: enhancement, classification

#1166 [ENH] Refactored n_instances to n_cases and series_length to n_timepoints
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/datasets/_data_writers.py
Labels: enhancement, datasets

#1175 [ENH] Remove use of PinballLoss object
  aeon/forecasting/model_evaluation/_functions.py
  aeon/forecasting/model_selection/_tune.py
  aeon/forecasting/tests/test_interval_wrappers.py
Labels: enhancement, forecasting

#1160 [ENH] Purge check_is_mtype
  aeon/datatypes/__init__.py
  aeon/forecasting/base/tests/test_base.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/transformations/base.py
  aeon/transformations/tests/test_base.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_series.py
Labels: enhancement, forecasting, transformations, datatypes

#1162 [MNT] Revert workflow images to `ubuntu-20.04` and change `pytest-xdist` config
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/precommit_autoupdate.yml
  .github/workflows/release.yml
  .github/workflows/update_contributors.yml
  .readthedocs.yml
  pyproject.toml
Labels: maintenance

#1146 [ENH] Function to write to Monash tsf style
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
Labels: enhancement, datasets, examples

#1180 [ENH] RIST classifier and regressor
  aeon/base/estimator/hybrid/__init__.py
  aeon/base/estimator/hybrid/base_rist.py
  aeon/base/estimator/hybrid/tests/__init__.py
  aeon/base/estimator/hybrid/tests/test_base_rist.py
  aeon/classification/hybrid/__init__.py
  aeon/classification/hybrid/_rist.py
  aeon/regression/hybrid/__init__.py
  aeon/regression/hybrid/_rist.py
  docs/api_reference/base.rst
  docs/api_reference/classification.rst
  docs/api_reference/regression.rst
Labels: enhancement, classification, regression, codecov actions

#1173 [ENH] Implement Hydra and MR-Hydra transform and classifier
  aeon/classification/convolution_based/__init__.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/transformations/collection/convolution_based/__init__.py
  aeon/transformations/collection/convolution_based/_hydra.py
  pyproject.toml
Labels: enhancement, classification, transformations, codecov actions

#1192 [DOC] Fix typos, misspellings & capitalizations in doctrings
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_minirocket_mv.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_rocket.py
Labels: documentation, transformations

#1203 [ENH] Refactored series_length and n_instances to n_timepoints and n_cases in dictionary based classifiers #1151
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/dictionary_based/_weasel_v2.py
Labels: enhancement, classification

#1196 [DOC] Various docstring fixes
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/base/tests/test_base_collection.py
  aeon/base/tests/test_meta.py
  aeon/base/tests/test_serialize.py
  aeon/benchmarking/tests/test_experiments.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/classification/dictionary_based/tests/test_redcomets.py
  aeon/classification/distance_based/tests/test_elastic_ensemble.py
  aeon/classification/sklearn/tests/test_continuous_interval_tree.py
  aeon/classification/tests/test_sklearn_compatability.py
  aeon/clustering/averaging/tests/test_dba.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
  aeon/clustering/tests/test_clarans.py
  aeon/clustering/tests/test_k_means.py
  aeon/clustering/tests/test_k_medoids.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datatypes/_adapter/pd_multiindex_to_list_dataset.py
  aeon/datatypes/_vectorize.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_sklearn_compatibility.py
  aeon/forecasting/base/_base.py
  aeon/forecasting/conformal.py
  aeon/forecasting/tests/test_all_forecasters.py
  aeon/forecasting/tests/test_croston.py
  aeon/forecasting/tests/test_prophet.py
  aeon/forecasting/tests/test_theta.py
  aeon/networks/tests/test_network_base.py
  aeon/performance_metrics/tests/test_performance_metrics_forecasting.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/distance_based/tests/test_time_series_neighbors.py
  aeon/regression/interval_based/_interval_pipelines.py
  aeon/testing/test_all_estimators.py
  aeon/transformations/collection/dictionary_based/tests/test_sfa.py
  aeon/transformations/collection/feature_based/tests/test_catch22.py
  aeon/transformations/collection/tests/test_dwt.py
  aeon/transformations/collection/tests/test_interpolate.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/index_functions.py
  aeon/utils/sampling.py
  aeon/utils/tests/test_datetime.py
  aeon/utils/validation/panel.py
  aeon/utils/validation/tests/test_check_collection.py
  aeon/utils/validation/tests/test_forecasting.py
  aeon/visualisation/learning_task/tests/test_forecasting_plotting.py
  aeon/visualisation/learning_task/tests/test_segmentation_plotting.py
  aeon/visualisation/results/tests/test_boxplot.py
  aeon/visualisation/results/tests/test_scatter.py
  aeon/visualisation/series/tests/test_collection_plotting.py
  build_tools/changelog_generator.py
  extension_templates/annotation.py
  extension_templates/distance.py
Labels: documentation

#1215 [DOC] Fix Typo in testing docs
  docs/developer_guide/testing_framework.md
Labels: documentation

#1179 [ENH] Gather definitions of abstract datatypes.
  aeon/base/__init__.py
  aeon/base/_base_collection.py
  aeon/base/_base_series.py
  aeon/base/tests/test_base_collection.py
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
  aeon/forecasting/compose/_grouped.py
  aeon/forecasting/compose/_multiplexer.py
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/stream/_update.py
  aeon/regression/tests/test_base.py
  aeon/transformations/base.py
  aeon/transformations/compose.py
  aeon/utils/__init__.py
  aeon/utils/_data_types.py
  aeon/utils/conversion/__init__.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/panel.py
  aeon/utils/validation/tests/test_collection.py
Labels: enhancement, datatypes

#1212 [DOC] Update `Contributing to aeon` webpage
  docs/contributing.md
  docs/contributing/enhancement_proposals.rst
  docs/contributing/reporting_bugs.md
  docs/contributing/reporting_bugs.rst
  docs/contributing/reviewer_guide.rst
  docs/developer_guide.md
  docs/developer_guide/aep.md
  docs/developer_guide/dev_installation.md
Labels: documentation

#1232 [MNT] Suggest changes to #849
  .github/actions/numba_cache.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_pytest.yml
Labels: maintenance, branch edit

#1222 [MNT] Remove random_state from aeon.networks module
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/_tapnet.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_ae_resnet.py
  aeon/networks/_cnn.py
  aeon/networks/_encoder.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_lite.py
  aeon/networks/_mlp.py
  aeon/networks/_resnet.py
  aeon/networks/_tapnet.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/_tapnet.py
Labels: classification, regression, maintenance, deep learning, networks

#1199 [ENH] Added rocket on gpu
  aeon/transformations/collection/convolution_based/rocketGPU/__init__.py
  aeon/transformations/collection/convolution_based/rocketGPU/_rocket_gpu.py
  aeon/transformations/collection/convolution_based/rocketGPU/base.py
  aeon/transformations/collection/convolution_based/rocketGPU/tests/__init__.py
  aeon/transformations/collection/convolution_based/rocketGPU/tests/test_base_rocketGPU.py
Labels: enhancement, transformations

#849 [MNT] Numba workflow caching
  .github/actions/numba_cache/action.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
  aeon/testing/test_config.py
  aeon/testing/utils/_cicd_numba_caching.py
Labels: maintenance

#1252 [MNT] Numba cache add OS to key
  .github/actions/numba_cache/action.yml
Labels: maintenance

#1253 [MNT] Numba workflow caching for examples
  .github/workflows/pr_examples.yml
Labels: maintenance

#1245 [DOC] updated shapedtw
  aeon/classification/distance_based/_shape_dtw.py
Labels: documentation, classification

#1236 [BUG] Fix registry.all_estimators() function if pytest is not installed
  .all-contributorsrc
  aeon/registry/_lookup.py
Labels: bug

#1231 [ENH] Add implementation for sbd distance (from k-Shape)
  .all-contributorsrc
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/_sbd.py
  aeon/distances/tests/test_expected_results.py
  aeon/distances/tests/test_numba_distance_parameters.py
  docs/api_reference/distances.rst
Labels: enhancement, distances

#1200 [ENH] Changes to `BaseClassifier` and `BaseRegressor`
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
  aeon/regression/base.py
  aeon/regression/tests/test_base.py
Labels: enhancement, classification, regression

#1256 [DOC] Conformed to new-standards
  .all-contributorsrc
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/_tapnet.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/_tapnet.py
Labels: documentation, classification

#1259 [DOC] Update website developer guide
  .pre-commit-config.yaml
  docs/contributing.md
  docs/developer_guide.md
  docs/developer_guide/add_dataset.md
  docs/developer_guide/add_estimators.md
  docs/developer_guide/aep.md
  docs/developer_guide/coding_standards.md
  docs/developer_guide/continuous_integration.md
  docs/developer_guide/git_workflow.md
  docs/developer_guide/release.md
  docs/developer_guide/testing.md
  docs/developer_guide/testing_framework.md
Labels: documentation

#1190 [ENH] Replace check_is_scitype with is_single_series and is_collection
  aeon/forecasting/base/_base.py
  aeon/forecasting/model_evaluation/_functions.py
  aeon/forecasting/model_selection/_split.py
  aeon/transformations/base.py
  aeon/transformations/tests/test_base.py
  aeon/utils/index_functions.py
  aeon/utils/registry/__init__.py
  aeon/utils/registry/_data_types.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/series.py
  examples/classification/distance_based.ipynb
Labels: datatypes

#1185 [DOC] classification notebooks upgrade
  aeon/benchmarking/results_loaders.py
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/early_classification.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
Labels: documentation, classification

#1208 [ENH] Add feature-based regressors
  aeon/classification/feature_based/__init__.py
  aeon/classification/feature_based/_summary.py
  aeon/classification/feature_based/_tsfresh.py
  aeon/regression/feature_based/__init__.py
  aeon/regression/feature_based/_summary.py
  aeon/regression/feature_based/_tsfresh.py
  docs/api_reference/regression.rst
Labels: enhancement, regression
