Repository aeon-toolkit/aeon, pull requests merged in 2024-04, with the labels that each got.

#1317 [MNT] Initializing metrics to "mean_squared_error" In Deep Learning Models
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_encoder.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_mlp.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/_tapnet.py
Labels: regression, maintenance

#1247 [ENH] Learning Shapelet Classifier
  aeon/classification/shapelet_based/__init__.py
  aeon/classification/shapelet_based/_ls.py
Labels: enhancement, classification

#1367 [DEP] Deprecating ShapeDTW classifier, to be replaced with a newer correct version
  aeon/classification/distance_based/_shape_dtw.py
Labels: classification, deprecation

#1298 [ENH] Replace mtype to scitype function
  aeon/forecasting/base/_base.py
  aeon/forecasting/compose/_grouped.py
  aeon/forecasting/model_selection/_tune.py
  aeon/testing/utils/scenarios_transformers.py
  aeon/transformations/base.py
  aeon/transformations/tests/test_base.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/_input.py
  aeon/utils/validation/tests/test_forecasting.py
  aeon/utils/validation/tests/test_input.py
  aeon/utils/validation/tests/test_series.py
Labels: enhancement, refactor, datatypes

#1348 [MNT] Release 0.8.0
  README.md
  aeon/__init__.py
  docs/changelog.md
  docs/changelogs/v0.8.md
  pyproject.toml
Labels: maintenance, release

#1370 [BUG] `LearningShapeletClassifier` fixes
  aeon/classification/shapelet_based/_ls.py
  aeon/testing/test_config.py
  docs/changelogs/v0.8.md
  docs/installation.md
Labels: bug, classification, full pytest actions

#1347 [COV] Tests for testing/utils/data_gen
  aeon/forecasting/base/_fh.py
  aeon/testing/utils/data_gen/__init__.py
  aeon/testing/utils/data_gen/_data_generators.py
  aeon/testing/utils/data_gen/tests/test_annotation.py
  aeon/testing/utils/data_gen/tests/test_collection.py
  aeon/testing/utils/data_gen/tests/test_forecasting.py
  aeon/testing/utils/data_gen/tests/test_hierarchical.py
  aeon/testing/utils/data_gen/tests/test_make_series.py
  aeon/testing/utils/data_gen/tests/test_segmentation.py
  aeon/testing/utils/data_gen/tests/test_test_examples.py
  aeon/utils/conversion/_convert_tsf.py
  aeon/utils/conversion/tests/test_tsf_converter.py
Labels: forecasting, testing, coverage

#1378 [ENH] Deprecate _serialize file and load function
  aeon/base/_serialize.py
  aeon/base/tests/test_serialize.py
  aeon/testing/test_all_estimators.py
Labels: enhancement

#1316 [MNT] Notebook test exclusion tag and stale branch removal
  .all-contributorsrc
  .github/workflows/github_maintenace.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  build_tools/run_examples.sh
Labels: maintenance

#1338 [ENH] replace convert/convert_to with convert_series
  aeon/forecasting/base/_base.py
  aeon/forecasting/conformal.py
  aeon/forecasting/model_evaluation/_functions.py
  aeon/forecasting/model_selection/_split.py
  aeon/forecasting/naive.py
  aeon/forecasting/squaring_residuals.py
  aeon/transformations/subset.py
  aeon/utils/conversion/__init__.py
  aeon/utils/conversion/_convert_series.py
Labels: enhancement, forecasting, datatypes, deprecation

#1396 [DOC] Fixes mis-wording/typo in mentoring docs
  docs/mentoring.md
Labels: documentation

#1372 [ENH] BaseSeriesTransformer maintains axis for user determined output with BaseSeriesEstimator function
  aeon/base/_base_series.py
  aeon/base/tests/test_base_series.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_series_transformers.py
  aeon/transformations/series/base.py
  aeon/transformations/series/tests/test_base.py
  docs/developer_guide/deprecation.md
Labels: enhancement, transformations

#1401 [DOC] Adds previously implemented classifiers to docs/api_references
  docs/api_reference/classification.rst
  docs/api_reference/regression.rst
Labels: documentation

#1363 [ENH,REF] Refactor `univariate-only` tag
  aeon/regression/compose/_pipeline.py
  aeon/transformations/acf.py
  aeon/transformations/adapt.py
  aeon/transformations/base.py
  aeon/transformations/binning.py
  aeon/transformations/bkfilter.py
  aeon/transformations/bootstrap/_mbb.py
  aeon/transformations/boxcox.py
  aeon/transformations/clasp.py
  aeon/transformations/clear_sky.py
  aeon/transformations/compose.py
  aeon/transformations/cos.py
  aeon/transformations/date.py
  aeon/transformations/detrend/_deseasonalize.py
  aeon/transformations/detrend/_detrend.py
  aeon/transformations/difference.py
  aeon/transformations/exponent.py
  aeon/transformations/feature_selection.py
  aeon/transformations/fourier.py
  aeon/transformations/hierarchical/aggregate.py
  aeon/transformations/hierarchical/reconcile.py
  aeon/transformations/impute.py
  aeon/transformations/lag.py
  aeon/transformations/outlier_detection.py
  aeon/transformations/pca.py
  aeon/transformations/scaledlogit.py
  aeon/transformations/subset.py
  aeon/transformations/summarize.py
  aeon/transformations/theta.py
Labels: enhancement, transformations, refactor

#1394 [ENH] `BaseSeriesEstimator` rework
  aeon/base/_base_series.py
  aeon/base/tests/test_base_series.py
  aeon/segmentation/_clasp.py
  aeon/segmentation/_hmm.py
  aeon/segmentation/base.py
  aeon/segmentation/tests/test_base.py
  aeon/transformations/series/_matrix_profile.py
  aeon/transformations/series/base.py
  examples/base/series_estimator.ipynb
Labels: enhancement, transformations, API design, segmentation, anomaly detection, codecov actions, similarity search

#1422 [MNT] Update branch clean action
  .github/workflows/github_maintenace.yml
Labels: maintenance

#1339 [ENH] Subgradient barycentre averaging
  aeon/clustering/_k_means.py
  aeon/clustering/averaging/__init__.py
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
  aeon/clustering/averaging/_ba_utils.py
  aeon/clustering/averaging/_barycenter_averaging.py
  aeon/clustering/averaging/tests/test_dba.py
  aeon/clustering/tests/test_k_means.py
Labels: enhancement, clustering, distances

#1418 [DOC] Correct `WeightedEnsembleClassifier` parameter docstring
  aeon/classification/compose/_ensemble.py
Labels: documentation, classification

#1427 [ENH] allow np.ndarray with ndim>1 to convert to pd.series when squeezable to 1D
  aeon/utils/conversion/_convert_series.py
Labels: enhancement, forecasting

#1419 [DOC] About Us webpage update
  build_tools/generate_developer_tables.py
  docs/about.md
  docs/about/code_of_conduct_workgroup.md
  docs/about/code_of_conduct_workgroup.rst
  docs/about/communications_workgroup.md
  docs/about/communications_workgroup.rst
  docs/about/core_developers.md
  docs/about/core_developers.rst
  docs/about/finance_workgroup.md
  docs/about/finance_workgroup.rst
  docs/about/infrastructure_workgroup.md
  docs/about/infrastructure_workgroup.rst
  docs/about/release_management_workgroup.md
  docs/about/release_management_workgroup.rst
  docs/images/other_logos/numfocus-logo.png
Labels: documentation

#1342 [ENH] remove conversion in get_cutoff
  aeon/datatypes/_vec_df.py
  aeon/utils/conversion/_convert_series.py
  aeon/utils/conversion/tests/test_convert_series.py
  aeon/utils/index_functions.py
  aeon/utils/tests/test_index_functions.py
Labels: enhancement, forecasting, full pytest actions

#1432 [MNT] split up and simplified ba test
  aeon/clustering/tests/test_k_means.py
Labels: clustering, maintenance

#1435 [ENH] remove datatypes call from test_interval_wrappers
  aeon/forecasting/tests/test_interval_wrappers.py
Labels: enhancement, datatypes

#1434 [ENH] remove datatypes call from transformations test function
  aeon/transformations/tests/test_base.py
  aeon/utils/validation/_input.py
Labels: enhancement, transformations, datatypes, full pytest actions

#1420 [MNT] `dask` CI fix, ReadTheDocs fix and expanded full pytest actions tag
  .github/workflows/pr_pytest.yml
  aeon/forecasting/base/_base.py
  pyproject.toml
Labels: maintenance, full pytest actions

#1373 [ENH] Add support for array-like and statistical inputs as arguments in fill_value of Padding Transformer
  aeon/transformations/collection/pad.py
  aeon/transformations/collection/tests/test_pad.py
Labels: enhancement, transformations

#1356 [ENH] Distance module pairwise unequal length support
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
  aeon/clustering/averaging/_ba_utils.py
  aeon/distances/_adtw.py
  aeon/distances/_bounding_matrix.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_euclidean.py
  aeon/distances/_lcss.py
  aeon/distances/_manhattan.py
  aeon/distances/_minkowski.py
  aeon/distances/_msm.py
  aeon/distances/_sbd.py
  aeon/distances/_shape_dtw.py
  aeon/distances/_squared.py
  aeon/distances/_twe.py
  aeon/distances/_utils.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_utils.py
Labels: enhancement, distances

#1400 [ENH] Kmeans allow empty clusters
  aeon/clustering/_k_means.py
  aeon/clustering/tests/test_k_means.py
Labels: enhancement, clustering

#1426 [DOC] Add estimator overview table with capabilities
  docs/conf.py
  docs/estimator_overview.md
  docs/index.md
Labels: documentation, full pre-commit

#1428 [BUG] fix loader
  aeon/datasets/_data_loaders.py
  aeon/datasets/tests/test_data_loaders.py
  examples/benchmarking/bakeoff_results.ipynb
  examples/benchmarking/regression.ipynb
  examples/datasets/load_data_from_web.ipynb
Labels: bug, datasets

#1431 [MNT] Update cache restore action
  .github/actions/numba_cache/action.yml
Labels: maintenance

#1445 [BUG] Fix RDST doctest failure & numba deprecration warning
  aeon/classification/shapelet_based/_rdst.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_dilated_shapelet_transform.py
Labels: classification, transformations

#1379 [MNT] Add Classifiers For Result Comparison
  aeon/classification/hybrid/_rist.py
  aeon/testing/expected_results/classifier_results_reproduction.py
  aeon/testing/expected_results/expected_classifier_outputs.py
Labels: maintenance, testing

#1439 [DEP] deprecate check_scorer
  aeon/forecasting/compose/tests/test_multiplex.py
  aeon/forecasting/model_evaluation/_functions.py
  aeon/forecasting/model_selection/_tune.py
  aeon/transformations/tests/test_multiplexer.py
  aeon/utils/validation/forecasting.py
Labels: forecasting, transformations, deprecation

#1436 [DEP] deprecate probabilistic performance metric classes
  aeon/forecasting/model_evaluation/_functions.py
  aeon/performance_metrics/forecasting/probabilistic/_classes.py
  aeon/utils/validation/forecasting.py
  examples/forecasting/forecasting_proba.ipynb
Labels: forecasting, datatypes, deprecation

#1453 [BUG] Fix MultiRocketMultivariate failures
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
Labels: bug, transformations, full pytest actions

#1462 [DOC] PR #1452
  .all-contributorsrc
  aeon/datasets/tests/test_load_forecasting.py
  aeon/transformations/outlier_detection.py
Labels: documentation, transformations, datasets

#1460 [REF] Move tag deprecation to registry
  .codecov.yml
  aeon/base/_base.py
  aeon/registry/_tag_deprecation.py
Labels: refactor, codecov actions

#1380 [ENH] Autocorrelation SeriesTransformer
  aeon/transformations/series/_acf.py
  aeon/transformations/series/tests/test_acf.py
  aeon/visualisation/series/tests/test_series_plotting.py
Labels: enhancement, transformations

#1456 [ENH] `fit_predict` for FreshPRINCE and RotationForest
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_rotation_forest_classifier.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
Labels: enhancement, classification, regression, codecov actions

#1474 [MNT] Release v0.8.1
  README.md
  aeon/__init__.py
  docs/changelogs/v0.8.md
  pyproject.toml
Labels: maintenance, release

#1464 [DEP] deprecation V9 actions
  aeon/regression/base.py
  aeon/utils/sampling.py
  aeon/utils/seasonality.py
  aeon/utils/validation/panel.py
Labels: regression, deprecation

#1466 [DEP] Move ElbowClass channel selection algorithms
  aeon/transformations/collection/channel_selection/__init__.py
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/collection/channel_selection/tests/__init__.py
  aeon/transformations/collection/channel_selection/tests/test_elbow_class.py
  aeon/transformations/collection/tests/test_channel_selection.py
Labels: transformations, deprecation

#1470 [DEP] Remove shapeDTW
  aeon/classification/distance_based/__init__.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/tests/test_shape_dtw.py
  aeon/testing/expected_results/classifier_results_reproduction.py
  docs/api_reference/classification.rst
  examples/classification/distance_based.ipynb
Labels: classification, deprecation

#1450 [BUG] Dependencies version checking not handling python release candidate correctly
  aeon/utils/validation/_dependencies.py
Labels: bug, full pytest actions, full examples run

#1391 [MNT] Add note in project README
  README.md
Labels: documentation, regression

#1417 [DOC] Fixing `random_state` in docstrings
  aeon/benchmarking/experiments.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/dictionary_based/_cboss.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/dummy.py
  aeon/classification/early_classification/_probability_threshold.py
  aeon/classification/early_classification/_teaser.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/feature_based/_signature_classifier.py
  aeon/classification/ordinal_classification/_ordinal_tde.py
  aeon/classification/shapelet_based/_mrsqm.py
  aeon/clustering/_clara.py
  aeon/clustering/_k_means.py
  aeon/clustering/_k_medoids.py
  aeon/segmentation/_ggs.py
  aeon/utils/validation/forecasting.py
Labels: documentation, classification
