Repository aeon-toolkit/aeon, pull requests merged in 2024-06, with the labels that each got.

#1541 [DEP] Tidy up BaseTransformer testing
  aeon/classification/compose/tests/test_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/pipeline/tests/test_make_pipeline.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/testing/estimator_checks.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_collection_transformers.py
  aeon/testing/mock_estimators/_mock_series_transformers.py
  aeon/testing/mock_estimators/_mock_transformers.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/compose.py
  aeon/transformations/exponent.py
  aeon/transformations/tests/test_base.py
  aeon/transformations/tests/test_compose.py
  aeon/transformations/tests/test_featureizer.py
  aeon/transformations/tests/test_fitintransform.py
  aeon/transformations/tests/test_multiplexer.py
  aeon/transformations/tests/test_optional_passthrough.py
Labels: transformations, deprecation

#1579 [MNT] Move haar wavelet transform to aeon.utils.numba package
  aeon/transformations/collection/dwt.py
  aeon/utils/numba/tests/test_wavelets.py
  aeon/utils/numba/wavelets.py
Labels: enhancement, transformations, anomaly detection

#1567 [ENH] Add DummyClusterer
  aeon/clustering/__init__.py
  aeon/clustering/dummy.py
  aeon/clustering/tests/test_dummy.py
Labels: enhancement, clustering

#1571 [ENH] Convert stray and add max iterations for MERLIN
  aeon/anomaly_detection/_merlin.py
  aeon/anomaly_detection/_stray.py
  aeon/anomaly_detection/tests/test_merlin.py
  aeon/anomaly_detection/tests/test_stray.py
Labels: enhancement, anomaly detection

#1597 [BUG] Fixing wrong output activation in MLPClassifier
  aeon/classification/deep_learning/_mlp.py
Labels: bug, classification, deep learning

#1514 [BUG] remove none argument for coerce to period
  aeon/forecasting/base/_fh.py
Labels: bug, forecasting

#1600 [DOC] Add SlidingWindowSegmenter to API reference
  aeon/base/_base.py
  docs/api_reference/transformations.rst
Labels: documentation, transformations

#1580 [ENH] DWT-MLEAD anomaly detection method
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/tests/test_dwt_mlead.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection, ready for review

#1610 [BUG] lcss bounded below to 0
  aeon/distances/_lcss.py
  aeon/distances/tests/test_pairwise.py
Labels: bug, distances

#1524 [DEP] Rename `BaseDeepNetwork` and deprecate inheritance of `BaseObject`
  aeon/networks/__init__.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_ae_resnet.py
  aeon/networks/_cnn.py
  aeon/networks/_encoder.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_lite.py
  aeon/networks/_mlp.py
  aeon/networks/_resnet.py
  aeon/networks/_tapnet.py
  aeon/networks/base.py
  aeon/networks/tests/test_all_networks.py
  aeon/networks/tests/test_network_base.py
  aeon/registry/_base_classes.py
  aeon/registry/tests/test_lookup.py
  aeon/utils/validation/_dependencies.py
Labels: networks, deprecation

#1612 [BUG] Convert rockets to only use 32 bit floats internally
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/tests/test_all_rockets.py
Labels: bug, transformations

#1543 [MNT] Remove stale branches
  .github/workflows/github_maintenance.yml
  .github/workflows/periodic_github_maintenace.yml
  build_tools/issue_assign.py
Labels: maintenance

#1624 [BUG] add check y to BaseSeriesTransformer
  aeon/transformations/series/base.py
  aeon/transformations/series/tests/test_base.py
Labels: bug, transformations

#1609 [BUG] unexclude mock forecaster
  aeon/testing/test_config.py
Labels: bug, forecasting, full pytest actions, codecov actions

#1547 [ENH] Exclude deprecated estimators
  aeon/performance_metrics/forecasting/probabilistic/tests/__init__.py
  aeon/performance_metrics/forecasting/probabilistic/tests/test_probabilistic_metrics.py
  aeon/testing/test_config.py
Labels: enhancement, testing, deprecation

#1630 [DEP] Remove probablistic class based metrics
  aeon/performance_metrics/base/__init__.py
  aeon/performance_metrics/base/_base.py
  aeon/performance_metrics/forecasting/probabilistic/__init__.py
  aeon/performance_metrics/forecasting/probabilistic/_classes.py
  aeon/registry/_base_classes.py
  aeon/registry/_tags.py
Labels: deprecation

#1605 [ENH] Add sliding window utils for anomaly detection module
  aeon/utils/sampling.py
  aeon/utils/tests/test_windowing.py
  aeon/utils/windowing.py
Labels: enhancement, anomaly detection, ready for review

#1564 [ENH] Improve and refactor collection test data generation utilities
  aeon/base/tests/test_base_collection.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/tests/test_base.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datatypes/tests/test_panel_converters.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_utils.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/regression/tests/test_base.py
  aeon/testing/testing_data.py
  aeon/testing/tests/__init__.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/data_gen/__init__.py
  aeon/testing/utils/data_gen/_collection.py
  aeon/testing/utils/data_gen/_legacy/__init__.py
  aeon/testing/utils/data_gen/_legacy/_collection.py
  aeon/testing/utils/data_gen/tests/test_collection.py
  aeon/testing/utils/data_gen/tests/test_segmentation.py
  aeon/testing/utils/scenarios_classification.py
  aeon/testing/utils/scenarios_forecasting.py
  aeon/testing/utils/scenarios_transformers.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/tests/test_pipeline.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_input.py
  aeon/utils/validation/tests/test_series.py
  aeon/visualisation/series/tests/test_collection_plotting.py
  docs/getting_started.md
Labels: enhancement, refactor, testing, full pytest actions, codecov actions, full examples run

#1598 [BUG] removed njit test exclusions
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/tests/test_catch22.py
Labels: bug, classification, transformations, full pytest actions, codecov actions

#1607 [ENH] K-Means anomaly detector
  .all-contributorsrc
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_kmeans.py
  aeon/anomaly_detection/tests/test_all_anomaly_detectors.py
  aeon/anomaly_detection/tests/test_kmeans.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, implementing algorithms, anomaly detection, ready for review

#1622 [ENH] Lower Bounding Distances for SAX and SFA
  aeon/distances/__init__.py
  aeon/distances/_dft_sfa_mindist.py
  aeon/distances/_paa_sax_mindist.py
  aeon/distances/_sax_mindist.py
  aeon/distances/_sfa_mindist.py
  aeon/distances/tests/test_symbolic_mindist.py
  aeon/transformations/collection/dictionary_based/_paa.py
  aeon/transformations/collection/dictionary_based/_sax.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: enhancement, transformations, distances

#1647 [DOC] Improve anomaly detector documentation
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_merlin.py
  aeon/anomaly_detection/_stray.py
  aeon/anomaly_detection/base.py
  docs/conf.py
Labels: documentation, anomaly detection

#1588 [ENH] Loader for TimeEval (anomaly detection) datasets
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_tsad_data_loaders.py
  aeon/datasets/data/Daphnet_S06R02E0/S06R02E0.csv
  aeon/datasets/data/KDD-TSAD_135/135_UCR_Anomaly_InternalBleeding16_TEST.csv
  aeon/datasets/data/KDD-TSAD_135/135_UCR_Anomaly_InternalBleeding16_TRAIN.csv
  aeon/datasets/data/UnitTest/ecg-diff-count-3_TEST.csv
  aeon/datasets/data/UnitTest/ecg-diff-count-3_TRAIN_A.csv
  aeon/datasets/data/UnitTest/ecg-diff-count-3_TRAIN_NA.csv
  aeon/datasets/tests/test_tsad_data_loader.py
  aeon/datasets/tsad_datasets.py
  docs/api_reference/datasets.rst
  examples/datasets/data_conversions.ipynb
  examples/datasets/data_loading.ipynb
  examples/datasets/load_data_from_web.ipynb
Labels: enhancement, datasets, anomaly detection, ready for review

#1614 [DEP] deprecate PandasAdaptor
  aeon/transformations/adapt.py
  aeon/transformations/tests/test_adapt.py
Labels: transformations, deprecation

#1661 [MNT] Change pre-commit trigger type
  .github/workflows/pr_precommit.yml
Labels: maintenance

#1662 [MNT] Another pre-commit workflow fix attempt
  .github/workflows/pr_precommit.yml
Labels: maintenance

#1664 [MNT] Revert #1662
  .github/workflows/pr_precommit.yml
Labels: maintenance, no changelog

#1604 [MNT] Add threads limit for numba and TF
  aeon/utils/numba/general.py
  conftest.py
Labels: maintenance, testing, full pytest actions

#1690 [BUG] Bugfix MinDist doctests by setting word_length to 8
  aeon/distances/_dft_sfa_mindist.py
  aeon/distances/_paa_sax_mindist.py
  aeon/distances/_sax_mindist.py
  aeon/distances/_sfa_mindist.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: bug, distances

#1508 [MNT] Update similarity search with new base classes : Query Search
  aeon/registry/_base_classes.py
  aeon/registry/_tags.py
  aeon/similarity_search/__init__.py
  aeon/similarity_search/_dummy.py
  aeon/similarity_search/base.py
  aeon/similarity_search/distance_profiles/_commons.py
  aeon/similarity_search/distance_profiles/euclidean_distance_profile.py
  aeon/similarity_search/distance_profiles/naive_distance_profile.py
  aeon/similarity_search/distance_profiles/squared_distance_profile.py
  aeon/similarity_search/distance_profiles/tests/test_euclidean_distance.py
  aeon/similarity_search/distance_profiles/tests/test_naive_distance.py
  aeon/similarity_search/query_search.py
  aeon/similarity_search/tests/test_dummy.py
  aeon/similarity_search/tests/test_query_search.py
  aeon/similarity_search/tests/test_top_k_similarity.py
  aeon/similarity_search/top_k_similarity.py
  aeon/testing/mock_estimators/_mock_similarity_search.py
  docs/api_reference/similarity_search.rst
  examples/similarity_search/code_speed.ipynb
  examples/similarity_search/similarity_search.ipynb
  examples/transformations/transformations.ipynb
Labels: maintenance, examples, codecov actions, similarity search

#1666 [DEP] remove public VectorizedDF
  aeon/datatypes/__init__.py
  aeon/datatypes/_vectorize.py
  aeon/datatypes/tests/test_vectorize.py
Labels: datatypes, deprecation

#1625 [ENH] `axis=1` function default and removal of axis class default for series transformation and segmentation
  aeon/segmentation/_clasp.py
  aeon/segmentation/_eagglo.py
  aeon/segmentation/_ggs.py
  aeon/segmentation/_hidalgo.py
  aeon/segmentation/_hmm.py
  aeon/segmentation/_igts.py
  aeon/segmentation/_random.py
  aeon/segmentation/base.py
  aeon/segmentation/tests/test_eagglo.py
  aeon/segmentation/tests/test_igts.py
  aeon/testing/mock_estimators/_mock_segmenters.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/_boxcox.py
  aeon/transformations/series/_matrix_profile.py
  aeon/transformations/series/_scaled_logit.py
  aeon/transformations/series/_theta.py
  aeon/transformations/series/base.py
  examples/segmentation/hidalgo_segmentation.ipynb
Labels: enhancement, transformations, segmentation

#1695 [BUG] Fix TSAD data loading tests and example notebooks
  aeon/datasets/tests/test_tsad_data_loader.py
  examples/datasets/load_data_from_web.ipynb
  pyproject.toml
Labels: bug, testing, datasets, examples, full examples run

#1667 [DEP] Remove _serialize
  aeon/base/__init__.py
  aeon/base/_serialize.py
Labels: deprecation

#1645 [DEP] remove Differencer
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/testing/test_config.py
  aeon/transformations/difference.py
  docs/api_reference/transformations.rst
  docs/getting_started.md
  examples/transformations/transformations.ipynb
Labels: transformations, deprecation

#1586 [ENH] Add PyOD adapter for anomaly detection
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/tests/test_all_anomaly_detectors.py
  aeon/anomaly_detection/tests/test_pyod_adapter.py
  aeon/testing/test_softdeps.py
  docs/api_reference/anomaly_detection.rst
  pyproject.toml
Labels: enhancement, implementing algorithms, anomaly detection, full examples run

#1663 [DOC] Added All Regressors (2nd Attempt)
  docs/_static/css/custom.css
  docs/api_reference/regression.rst
  docs/installation.md
Labels: documentation

#1693 [ENH] Add FLUSS segmenter from stumpy
  aeon/segmentation/__init__.py
  aeon/segmentation/_fluss.py
  aeon/segmentation/tests/test_all_segmenters.py
  aeon/segmentation/tests/test_fluss.py
  docs/api_reference/segmentation.rst
Labels: enhancement, implementing algorithms, segmentation

#1700 [DOC] Fixed a typo in mentoring.md
  docs/mentoring.md
Labels: documentation

#1656 [MNT] Disable `pytest` threading by default for local runs
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  pyproject.toml
Labels: maintenance

#1657 [MNT,DOC] Remove `extension_templates`
  MANIFEST.in
  extension_templates/classification.py
  extension_templates/clustering.py
  extension_templates/distance.py
  extension_templates/early_classification.py
  extension_templates/forecasting.py
  extension_templates/forecasting_simple.py
  extension_templates/transformer.py
  extension_templates/transformer_simple.py
Labels: documentation, maintenance

#1658 [MNT] Exclude `docs` and `examples` from release source
  MANIFEST.in
Labels: maintenance, release

#1668 [DEP] Remove augmenters, binning, cos, sqrt
  aeon/transformations/augmenter.py
  aeon/transformations/binning.py
  aeon/transformations/cos.py
  aeon/transformations/exponent.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1669 [DEP] Remove kalman filter and time since
  aeon/transformations/kalman_filter.py
  aeon/transformations/time_since.py
  docs/api_reference/transformations.rst
  pyproject.toml
Labels: transformations, deprecation

#1673 [DEP] Remove ClearSky
  aeon/transformations/clear_sky.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1672 [DEP] make BoxCox legacy
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/compose/tests/test_bagging.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/testing/mock_estimators/tests/test_mock_forecasters.py
  aeon/testing/test_config.py
  aeon/transformations/_legacy/__init__.py
  aeon/transformations/_legacy/_boxcox.py
  aeon/transformations/_legacy/tests/__init__.py
  aeon/transformations/adapt.py
  aeon/transformations/bootstrap/_mbb.py
  aeon/transformations/compose.py
  aeon/transformations/exponent.py
  aeon/transformations/func_transform.py
  aeon/transformations/scaledlogit.py
  aeon/transformations/series/_boxcox.py
  aeon/transformations/series/_scaled_logit.py
  aeon/transformations/series/tests/test_boxcox.py
  aeon/transformations/tests/test_compose.py
  aeon/transformations/tests/test_fitintransform.py
  docs/api_reference/transformations.rst
  docs/getting_started.md
  examples/transformations/transformations.ipynb
Labels: transformations, deprecation

#1674 [DEP] remove PCA
  aeon/transformations/pca.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1704 [MNT] Change `pre-commit` workflow checkout ref
  .github/workflows/pr_precommit.yml
Labels: maintenance

#1707 [DOC] added reference to docstring of MERLIN anomaly detection
  aeon/anomaly_detection/_merlin.py
  aeon/datasets/_data_writers.py
Labels: documentation, datasets, anomaly detection

#1692 [ENH] ClaSP: Adds parallelization for distance computations and numbarize function calls
  aeon/segmentation/_clasp.py
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_clasp.py
  docs/api_reference/transformations.rst
  examples/segmentation/segmentation.ipynb
  examples/segmentation/segmentation_with_clasp.ipynb
Labels: enhancement, segmentation

#1687 [ENH,BUG] LearnedShapelets interfaced functions
  aeon/classification/shapelet_based/__init__.py
  aeon/classification/shapelet_based/_ls.py
  aeon/classification/shapelet_based/_rsast.py
  aeon/classification/shapelet_based/_sast.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/shapelet_based/tests/__init__.py
  aeon/classification/shapelet_based/tests/test_ls.py
  aeon/classification/shapelet_based/tests/test_rdst.py
  aeon/classification/shapelet_based/tests/test_sast.py
  aeon/classification/shapelet_based/tests/test_stc.py
  aeon/transformations/collection/shapelet_based/_rsast.py
Labels: bug, enhancement, classification, codecov actions

#1698 [ENH] Remove two hard coded arrays from minirocket
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/tests/test_all_rockets.py
  aeon/transformations/tests/test_rockets.py
Labels: enhancement, transformations

#1697 [BUG] Remove squaring distances in KNN regression
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/regression/distance_based/tests/test_time_series_neighbors.py
Labels: bug, regression

#1659 [MNT] Drop Python 3.8
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  README.md
  aeon/testing/test_all_estimators.py
  pyproject.toml
Labels: maintenance, testing

#1701 [ENH] Tidy, deprecation actions and testing for sklearn estimators
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/sklearn/_continuous_interval_tree.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_all_regressors.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
Labels: enhancement, classification, regression

#1708 [ENH] Merge MiniRocket and MiniRocketMultivariate
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/convolution_based/tests/test_arsenal.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/regression/convolution_based/_rocket_regressor.py
  aeon/transformations/collection/convolution_based/__init__.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/tests/test_all_rockets.py
  aeon/transformations/collection/convolution_based/tests/test_minirocket.py
  aeon/transformations/collection/convolution_based/tests/test_rocket.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/utils/numba/general.py
  docs/api_reference/transformations.rst
  examples/transformations/minirocket.ipynb
Labels: enhancement, transformations, full pytest actions, codecov actions

#1675 [DEP] v0.10 move ColumnSelect and IndexSelect to legacy
  aeon/forecasting/base/_base.py
  aeon/testing/test_config.py
  aeon/transformations/_legacy/subset.py
  aeon/transformations/base.py
  aeon/transformations/tests/test_compose.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1678 [DEP] V0.10 remove ACF/PACF
  aeon/transformations/acf.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1680 [DEP] Dep fest
  aeon/transformations/date.py
  aeon/transformations/exponent.py
  aeon/transformations/feature_selection.py
  aeon/transformations/fourier.py
  aeon/transformations/func_transform.py
Labels: transformations, deprecation

#1681 [DEP] dep fest2
  aeon/transformations/impute.py
  aeon/transformations/lag.py
  aeon/transformations/outlier_detection.py
  aeon/transformations/summarize.py
Labels: transformations, deprecation

#1716 [BUG] Remove feature extraction from `TSFreshClusterer`
  aeon/clustering/feature_based/_tsfresh.py
Labels: bug, clustering

#1721 [ENH] Add missing import for deprecation
  aeon/transformations/_legacy/_boxcox.py
  aeon/transformations/exponent.py
Labels: transformations, full pytest actions, codecov actions, deprecation

#1723 [MNT] Set `keras` bound to fix CI
  pyproject.toml
Labels: maintenance

#1694 [ENH] Adds BinSeg Segmenter from Ruptures library
  aeon/segmentation/__init__.py
  aeon/segmentation/_binseg.py
  aeon/segmentation/tests/test_binseg.py
  docs/api_reference/segmentation.rst
  pyproject.toml
Labels: enhancement, implementing algorithms, segmentation

#1566 [ENH] Implement Proximity Tree classifier using aeon distances
  aeon/classification/distance_based/__init__.py
  aeon/classification/distance_based/_proximity_tree.py
  aeon/classification/distance_based/tests/test_proximity_tree.py
  docs/api_reference/classification.rst
Labels: enhancement, classification, codecov actions

#1676 [DEP] v0.10 move ThetaLinesTransformer to legacy
  aeon/forecasting/theta.py
  aeon/testing/test_config.py
  aeon/transformations/_legacy/theta.py
  aeon/transformations/series/_theta.py
  aeon/transformations/series/tests/test_theta.py
  aeon/transformations/tests/test_base.py
  aeon/transformations/tests/test_compose.py
  docs/api_reference/transformations.rst
  examples/transformations/theta_transform.ipynb
Labels: deprecation

#1736 [Doc] Images for "Transformations"
  docs/examples.md
  examples/transformations/catch22.ipynb
  examples/transformations/img/catch22.png
  examples/transformations/img/mini_rocket.png
  examples/transformations/img/sast.png
  examples/transformations/minirocket.ipynb
  examples/transformations/sast.ipynb
Labels: examples

#1526 [DOCS] Add any papers
  docs/papers_using_aeon.md
Labels: documentation

#1733 [DOC] Improve BaseCollectionTransformer docstrings
  aeon/transformations/collection/base.py
Labels: documentation, transformations
