Repository aeon-toolkit/aeon, pull requests merged in 2024-11, with the labels that each got.

#1576 [ENH] Add DCNNNetwork
  aeon/networks/__init__.py
  aeon/networks/_dcnn.py
  aeon/networks/tests/test_dcnn.py
Labels: enhancement, networks

#2288 [DOC]removed registry
  aeon/base/_base_collection.py
  aeon/utils/validation/collection.py
Labels: documentation

#2187 [ENH] RotationForest coverage
  aeon/classification/sklearn/tests/test_rotation_forest_classifier.py
Labels: enhancement, classification

#2255 [ENH] Adding LITEMV ability to LITE
  aeon/classification/deep_learning/_lite_time.py
  aeon/networks/_lite.py
  aeon/regression/deep_learning/_lite_time.py
Labels: enhancement, classification, regression, networks

#2274 [DOC] Add transformations notebook
  aeon/transformations/collection/__init__.py
  examples/transformations/transformations.ipynb
Labels: bug, documentation, transformations

#2273 [DOC,ENH] `base` docs and testing
  aeon/anomaly_detection/base.py
  aeon/base/__init__.py
  aeon/base/_base.py
  aeon/base/_compose.py
  aeon/base/estimators/__init__.py
  aeon/base/estimators/compose/__init__.py
  aeon/base/estimators/compose/collection_channel_ensemble.py
  aeon/base/estimators/compose/collection_ensemble.py
  aeon/base/estimators/compose/collection_pipeline.py
  aeon/base/estimators/hybrid/__init__.py
  aeon/base/estimators/hybrid/base_rist.py
  aeon/base/estimators/hybrid/tests/__init__.py
  aeon/base/estimators/hybrid/tests/test_base_rist.py
  aeon/base/estimators/interval_based/__init__.py
  aeon/base/estimators/interval_based/base_interval_forest.py
  aeon/base/estimators/interval_based/tests/__init__.py
  aeon/base/estimators/interval_based/tests/test_base_interval_forest.py
  aeon/base/tests/test_base.py
  aeon/base/tests/test_base_aeon.py
  aeon/base/tests/test_compose.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/feature_based/_summary.py
  aeon/classification/hybrid/_rist.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/clustering/compose/_pipeline.py
  aeon/regression/compose/_ensemble.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/hybrid/_rist.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_drcif.py
  aeon/regression/interval_based/_interval_forest.py
  aeon/regression/interval_based/_rise.py
  aeon/regression/interval_based/_tsf.py
  aeon/segmentation/base.py
  aeon/testing/estimator_checking/_yield_anomaly_detection_checks.py
  aeon/testing/estimator_checking/_yield_segmentation_checks.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_classifiers.py
  aeon/testing/testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/transformations/collection/compose/_pipeline.py
  aeon/utils/discovery.py
  docs/api_reference/base.rst
Labels: documentation, enhancement, testing, full pytest actions, codecov actions

#2292 [ENH] Remove y from predict in BaseClusterer
  aeon/clustering/base.py
Labels: enhancement, clustering

#1709 [ENH] Add AEBiGRUClusterer
  aeon/clustering/deep_learning/__init__.py
  aeon/clustering/deep_learning/_ae_bgru.py
Labels: enhancement, clustering, networks

#1940 [ENH] Implement Multi - Reconstruction loss in AEResNetClusterer
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/tests/test_clusterer_features.py
  aeon/networks/_ae_resnet.py
Labels: enhancement, clustering, networks

#2287 [DOC] TSC notebook
  examples/classification/classification.ipynb
Labels: documentation, classification

#2248 [DOC] Rework getting started guide and single problem forecasting loaders
  aeon/anomaly_detection/_stray.py
  aeon/datasets/__init__.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/tests/test_load_forecasting.py
  aeon/datasets/tests/test_single_problem_loaders.py
  aeon/testing/data_generation/hierarchical.py
  aeon/transformations/series/_dobin.py
  aeon/transformations/series/_pca.py
  aeon/transformations/series/tests/test_boxcox.py
  aeon/transformations/series/tests/test_yeojohnson.py
  aeon/visualisation/series/_series.py
  aeon/visualisation/series/tests/test_series_plotting.py
  docs/getting_started.md
  examples/datasets/provided_data.ipynb
  examples/similarity_search/similarity_search.ipynb
  examples/visualisation/plotting_series.ipynb
Labels: documentation, full examples run

#2285 [BUG] Deal with a few warnings
  aeon/datasets/tsad_datasets.py
  aeon/performance_metrics/stats.py
  aeon/testing/mock_estimators/_mock_clusterers.py
  aeon/utils/validation/collection.py
Labels: bug, testing, datasets

#2296 [DOC] Fix broken links
  aeon/regression/deep_learning/_inception_time.py
  docs/api_reference/data_format.rst
  docs/examples.md
  examples/datasets/data_loading.ipynb
  examples/datasets/load_data_from_web.ipynb
  examples/distances/sklearn_distances.ipynb
  examples/pydata/Amsterdam-2023/Lets_do_the_time_warp_again.ipynb
  examples/transformations/minirocket.ipynb
  examples/transformations/resizing.ipynb
Labels: documentation, regression, examples

#2289 [ENH] Normalise/TimeSeriesScaler reconciliation
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_normalise.py
  aeon/transformations/collection/_rescale.py
  aeon/transformations/collection/_scaler.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/collection/tests/test_normalise.py
  aeon/transformations/collection/tests/test_rescaler.py
  aeon/transformations/collection/tests/test_scaler.py
  docs/api_reference/transformations.rst
  examples/transformations/preprocessing.ipynb
  examples/transformations/resizing.ipynb
Labels: enhancement, transformations

#2282 [ENH] Remove make_series from anomaly detection
  aeon/anomaly_detection/tests/test_base.py
  aeon/anomaly_detection/tests/test_dwt_mlead.py
  aeon/anomaly_detection/tests/test_iforest.py
  aeon/anomaly_detection/tests/test_kmeans.py
  aeon/anomaly_detection/tests/test_pyod_adapter.py
  aeon/anomaly_detection/tests/test_stomp.py
  aeon/testing/data_generation/_legacy/__init__.py
  aeon/testing/data_generation/_legacy/_series.py
  aeon/testing/data_generation/_legacy/_test_examples.py
  aeon/testing/data_generation/hierarchical.py
Labels: enhancement, testing, anomaly detection, deprecation

#2279 [ENH] Rework series plotting to work with numpy arrays
  aeon/transformations/series/_dobin.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_series.py
  aeon/visualisation/series/_series.py
  aeon/visualisation/series/tests/test_series_plotting.py
  examples/visualisation/plotting_series.ipynb
Labels: enhancement, visualisation

#2309 [BUG[ Use clone estimator in `BaseDeepClusterer` to fix `check_fit_updates_state` fail
  aeon/clustering/deep_learning/_ae_bgru.py
  aeon/clustering/deep_learning/base.py
  aeon/testing/testing_config.py
Labels: bug, clustering, testing

#2313 [ENH] remove redundo test
  aeon/regression/deep_learning/tests/test_timecnn.py
Labels: enhancement, regression

#2297 [DOC] Update developer documentation
  docs/about.md
  docs/contributing.md
  docs/contributing/issues.md
  docs/developer_guide.md
  docs/developer_guide/aep.md
  docs/developer_guide/coding_standards.md
  docs/developer_guide/continuous_integration.md
  docs/developer_guide/dependencies.md
  docs/developer_guide/deprecation.md
  docs/developer_guide/documentation.md
  docs/developer_guide/release.md
  docs/developer_guide/testing.md
  pyproject.toml
Labels: documentation

#2312 [ENH] Change test set up for LearnedShapelets
  aeon/classification/shapelet_based/_ls.py
  aeon/classification/shapelet_based/tests/test_ls.py
  aeon/testing/expected_results/expected_classifier_outputs.py
Labels: enhancement, testing

#2311 [ENH] remove old check_series and other legacy functions
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_series.py
  aeon/visualisation/estimator/_clasp.py
  aeon/visualisation/learning_task/_forecasting.py
  aeon/visualisation/learning_task/_segmentation.py
Labels: enhancement, visualisation

#2318 [ENH] Add Full ETS forecaster
  aeon/forecasting/__init__.py
  aeon/forecasting/_ets.py
  aeon/forecasting/_verify_ets.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_ets.py
Labels: enhancement, forecasting

#2046 [DOC] Shapelet transform notebook
  aeon/classification/compose/_pipeline.py
  aeon/classification/shapelet_based/_rsast.py
  aeon/classification/shapelet_based/_sast.py
  examples/transformations/shapelets.ipynb
Labels: documentation

#2327 [ENH] show versions option to print
  aeon/utils/show_versions.py
Labels: enhancement

#1725 [ENH] Add AEAttentionBiGRUClusterer
  aeon/clustering/deep_learning/__init__.py
  aeon/clustering/deep_learning/_ae_abgru.py
  aeon/networks/__init__.py
  aeon/networks/_ae_abgru.py
Labels: enhancement, clustering, networks

#2332 [MNT] Updated username
  .all-contributorsrc
  CODEOWNERS
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_kmeans.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/anomaly_detection/tests/test_dwt_mlead.py
  aeon/anomaly_detection/tests/test_kmeans.py
  aeon/anomaly_detection/tests/test_pyod_adapter.py
  aeon/anomaly_detection/tests/test_stomp.py
  aeon/distances/_sbd.py
  aeon/performance_metrics/anomaly_detection/_binary.py
  aeon/performance_metrics/anomaly_detection/_continuous.py
  aeon/performance_metrics/anomaly_detection/_util.py
  aeon/performance_metrics/anomaly_detection/_vus_metrics.py
  aeon/performance_metrics/anomaly_detection/thresholding.py
  aeon/utils/windowing.py
  docs/about/core_developers.md
  docs/changelogs/v0.10.md
  docs/changelogs/v0.11.md
  docs/changelogs/v0.7.md
  docs/changelogs/v0.8.md
  docs/changelogs/v0.9.md
Labels: documentation, maintenance

#2321 [BUG] Fix bug_report.yml template show_versions
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: bug

#1784 [ENH] Add AEDRNNClusterer
  aeon/clustering/deep_learning/__init__.py
  aeon/clustering/deep_learning/_ae_drnn.py
Labels: enhancement, clustering, networks

#1911 [ENH] Add AEDCNNClusterer
  aeon/clustering/deep_learning/__init__.py
  aeon/clustering/deep_learning/_ae_dcnn.py
Labels: enhancement, clustering, networks

#2330 [MNT] Kill TapNet with fire
  aeon/classification/deep_learning/__init__.py
  aeon/classification/deep_learning/_tapnet.py
  aeon/networks/__init__.py
  aeon/networks/_tapnet.py
  aeon/networks/tests/test_all_networks.py
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/_tapnet.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/testing_config.py
  docs/api_reference/classification.rst
  docs/api_reference/networks.rst
  docs/api_reference/regression.rst
  examples/classification/deep_learning.ipynb
  pyproject.toml
Labels: classification, regression, maintenance, deep learning, networks, deprecation, full examples run

#2256 [MNT] Remove python 3.12 constraint for deep learners
  aeon/networks/__init__.py
  aeon/networks/_ae_abgru.py
  aeon/networks/_ae_bgru.py
  aeon/networks/_ae_dcnn.py
  aeon/networks/_ae_drnn.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_ae_resnet.py
  aeon/networks/_cnn.py
  aeon/networks/_disjoint_cnn.py
  aeon/networks/_encoder.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_lite.py
  aeon/networks/_mlp.py
  aeon/networks/_resnet.py
  aeon/networks/base.py
  aeon/networks/tests/test_all_networks.py
  pyproject.toml
Labels: maintenance, codecov actions, networks, full examples run

#2331 [DOC] Changes to first text
  docs/index.md
  examples/benchmarking/published_results.ipynb
  examples/benchmarking/reference_results.ipynb
  examples/classification/SastVsViz.ipynb
  examples/classification/classification.ipynb
  examples/classification/shapelet_based.ipynb
Labels: documentation, examples

#2339 [ENH]check for algorithm_type
  aeon/testing/estimator_checking/_yield_classification_checks.py
Labels: enhancement, testing

#2342 [ENH] Added OneClassSVM to the anomaly detection module
  .all-contributorsrc
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_one_class_svm.py
  aeon/anomaly_detection/tests/test_one_class_svm.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2343 [ENH] Port in multi comparison matrix into visualisation module
  aeon/visualisation/results/__init__.py
  aeon/visualisation/results/_mcm.py
  aeon/visualisation/results/tests/test_mcm.py
  examples/visualisation/plotting_results.ipynb
Labels: enhancement, visualisation

#2305 [BUG] Fixed subsampling in highly imbalances datasets giving subsamples with only a single class
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/dictionary_based/tests/test_tde.py
Labels: bug, classification

#2356 [DOC] Revert botched CONTRIBUTORS.md merge
  CONTRIBUTORS.md
Labels: documentation

#2357 Ajb/forecasting
  aeon/forecasting/_autoets_gradient_params.py
  aeon/forecasting/_ets.py
  aeon/forecasting/_ets_fast.py
  aeon/forecasting/_ets_fast_structtest.py
  aeon/forecasting/_verify_ets.py
  aeon/forecasting/tests/test_autoets_gradient_params.py
Labels: forecasting

#2349 [MNT] `testing` remaining cleanup
  MANIFEST.in
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/performance_metrics/tests/test_stats.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/segmentation/_eagglo.py
  aeon/segmentation/_ggs.py
  aeon/segmentation/_igts.py
  aeon/testing/_cicd_numba_caching.py
  aeon/testing/data_generation/__init__.py
  aeon/testing/data_generation/hierarchical.py
  aeon/testing/data_generation/segmentation.py
  aeon/testing/data_generation/tests/test_hierarchical.py
  aeon/testing/data_generation/tests/test_segmentation.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_early_classification_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/estimator_checking/_yield_transformation_checks.py
  aeon/testing/example_results_files/classification/accuracy/FreshPRINCE_accuracy.csv
  aeon/testing/example_results_files/classification/accuracy/HC2_accuracy.csv
  aeon/testing/example_results_files/classification/accuracy/InceptionTime_accuracy.csv
  aeon/testing/example_results_files/classification/accuracy/WEASEL-2.0_accuracy.csv
  aeon/testing/testing_config.py
  aeon/testing/tests/test_all_estimators.py
  aeon/testing/utils/deep_equals.py
  aeon/testing/utils/estimator_checks.py
  aeon/testing/utils/tests/test_deep_equals.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/utils/sampling.py
  aeon/utils/tests/test_sampling.py
  aeon/utils/validation/tests/test_series.py
  aeon/visualisation/results/tests/test_boxplot.py
  aeon/visualisation/results/tests/test_critical_difference.py
  aeon/visualisation/results/tests/test_scatter.py
  aeon/visualisation/results/tests/test_significance.py
Labels: maintenance, testing

#2345 [DOC] Preprocessing notebook
  docs/examples.md
  examples/transformations/img/preprocessing.png
  examples/transformations/preprocessing.ipynb
  examples/transformations/rocket.ipynb
  examples/transformations/transformations.ipynb
  examples/utils/preprocessing.ipynb
Labels: documentation, examples

#2359 [ENH] Make deep clustering consisting with other deep learning submodules in terms of saving/loading
  aeon/clustering/deep_learning/_ae_abgru.py
  aeon/clustering/deep_learning/_ae_bgru.py
  aeon/clustering/deep_learning/_ae_dcnn.py
  aeon/clustering/deep_learning/_ae_drnn.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
Labels: enhancement, clustering, testing

#2361 [ENH] fix the zero_method of the wilcoxon sign rank test to "wilcox" in mcm
  aeon/visualisation/results/_mcm.py
Labels: benchmarking

#2347 [ENH] Implemented SimpleImputer
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_impute.py
  aeon/transformations/collection/tests/test_simple_imputer.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations

#2363 [BUG] Bug fix in SimpleImputer
  aeon/transformations/collection/_impute.py
  aeon/transformations/collection/tests/test_simple_imputer.py
Labels: bug, transformations

#2329 [MNT] Run full tests on `main` branch merge
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
Labels: maintenance, full pre-commit, no numba cache

#2365 [DOC] Add imputer to notebook
  examples/transformations/preprocessing.ipynb
Labels: documentation, transformations

#2350 [ENH] Tests for feature based classifiers
  aeon/classification/feature_based/_catch22.py
  aeon/classification/feature_based/_tsfresh.py
  aeon/classification/feature_based/tests/__init__.py
  aeon/classification/feature_based/tests/test_catch22.py
  aeon/classification/feature_based/tests/test_signature.py
  aeon/classification/feature_based/tests/test_summary.py
  aeon/classification/feature_based/tests/test_tsfresh.py
Labels: enhancement, classification, coverage

#2314 [MNT] Tidy up classification and regression tests
  aeon/base/estimators/interval_based/base_interval_forest.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_pipelines.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/tests/__init__.py
  aeon/classification/interval_based/tests/test_cif.py
  aeon/classification/interval_based/tests/test_dr_cif.py
  aeon/classification/interval_based/tests/test_interval_forests.py
  aeon/classification/interval_based/tests/test_interval_pipelines.py
  aeon/classification/interval_based/tests/test_quant.py
  aeon/classification/interval_based/tests/test_rise.py
  aeon/classification/interval_based/tests/test_tsf.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_drcif.py
  aeon/regression/interval_based/_interval_forest.py
  aeon/regression/interval_based/_rise.py
  aeon/regression/interval_based/_tsf.py
  aeon/regression/interval_based/tests/__init__.py
  aeon/regression/interval_based/tests/test_cif.py
  aeon/regression/interval_based/tests/test_dr_cif.py
  aeon/regression/interval_based/tests/test_interval_forest.py
  aeon/regression/interval_based/tests/test_interval_forests.py
  aeon/regression/interval_based/tests/test_interval_pipelines.py
  aeon/regression/interval_based/tests/test_rand_interval.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/testing/testing_config.py
  aeon/testing/utils/estimator_checks.py
Labels: classification, regression, maintenance, testing, full pytest actions, codecov actions

#2364 [BUG] Fixed Bug for negative values for scatter plot
  aeon/visualisation/results/_scatter.py
Labels: bug, visualisation

#2370 [DOC] Update README
  README.md
Labels: documentation

#2251 [ENH] Sort out clustering base class
  aeon/clustering/_clara.py
  aeon/clustering/_elastic_som.py
  aeon/clustering/_k_means.py
  aeon/clustering/_k_medoids.py
  aeon/clustering/_k_shape.py
  aeon/clustering/_k_shapes.py
  aeon/clustering/_kernel_k_means.py
  aeon/clustering/base.py
  aeon/clustering/compose/_pipeline.py
  aeon/clustering/deep_learning/_ae_abgru.py
  aeon/clustering/deep_learning/_ae_bgru.py
  aeon/clustering/deep_learning/_ae_dcnn.py
  aeon/clustering/deep_learning/_ae_drnn.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
  aeon/clustering/dummy.py
  aeon/clustering/feature_based/_catch22.py
  aeon/clustering/feature_based/_summary.py
  aeon/clustering/feature_based/_tsfresh.py
  aeon/clustering/tests/test_base.py
  aeon/clustering/tests/test_dummy.py
  aeon/clustering/tests/test_k_shape.py
  aeon/clustering/tests/test_kernel_k_means.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
  aeon/testing/mock_estimators/_mock_clusterers.py
  examples/clustering/partitional_clustering.ipynb
  examples/networks/deep_learning.ipynb
Labels: enhancement, clustering

#2310 [ENH] Remove make_series part II
  aeon/clustering/averaging/tests/test_dba.py
  aeon/distances/elastic/_msm.py
  aeon/distances/elastic/_shape_dtw.py
  aeon/distances/elastic/tests/test_alignment_path.py
  aeon/distances/elastic/tests/test_cost_matrix.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/testing/data_generation/_legacy/__init__.py
  aeon/testing/data_generation/_legacy/_series.py
  aeon/testing/estimator_checking/_yield_anomaly_detection_checks.py
  aeon/testing/expected_results/expected_distance_results.py
  aeon/transformations/collection/tests/test_base.py
  aeon/transformations/series/tests/test_pca.py
  aeon/visualisation/estimator/tests/test_clasp_plotting.py
  aeon/visualisation/learning_task/tests/test_forecasting_plotting.py
  aeon/visualisation/learning_task/tests/test_segmentation_plotting.py
Labels: enhancement, testing

#2306 [MNT] Clustering module 1.0 deprecations
  aeon/clustering/__init__.py
  aeon/clustering/_k_means.py
  aeon/clustering/_k_shapes.py
  examples/networks/deep_learning.ipynb
Labels: clustering, maintenance

#2375 [DOC] Tidy up `index`, `governance` and `code_of_conduct` pages.
  docs/code_of_conduct.md
  docs/governance.md
  docs/index.md
Labels: documentation

#2377 [MNT] Update and consolidate general estimator checks
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/testing/testing_config.py
Labels: maintenance, testing

#2317 [MNT] Improve multithreading testing
  aeon/anomaly_detection/_copod.py
  aeon/anomaly_detection/_iforest.py
  aeon/anomaly_detection/tests/test_left_stampi.py
  aeon/base/_base_collection.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/shapelet_based/_rsast.py
  aeon/classification/shapelet_based/_sast.py
  aeon/clustering/_kernel_k_means.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/segmentation/_clasp.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_multithreading_checks.py
  aeon/testing/testing_config.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_mv.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/interval_based/_random_intervals.py
  aeon/transformations/collection/interval_based/_supervised_intervals.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_rsast.py
  aeon/transformations/collection/shapelet_based/_sast.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/series/_clasp.py
  conftest.py
Labels: maintenance, testing, multithreading

#2380 [MNT] Deprecation in deep clustering module
  aeon/clustering/deep_learning/_ae_abgru.py
  aeon/clustering/deep_learning/_ae_bgru.py
  aeon/clustering/deep_learning/_ae_dcnn.py
  aeon/clustering/deep_learning/_ae_drnn.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
Labels: clustering, maintenance, full examples run

#2352 [ENH] Collection and series base tidy
  aeon/anomaly_detection/base.py
  aeon/anomaly_detection/tests/test_left_stampi.py
  aeon/base/_base.py
  aeon/base/_base_collection.py
  aeon/base/_base_series.py
  aeon/base/estimators/compose/collection_channel_ensemble.py
  aeon/base/estimators/compose/collection_ensemble.py
  aeon/base/estimators/compose/collection_pipeline.py
  aeon/base/tests/test_base.py
  aeon/base/tests/test_base_collection.py
  aeon/base/tests/test_base_series.py
  aeon/base/tests/test_compose.py
  aeon/classification/base.py
  aeon/classification/deep_learning/base.py
  aeon/classification/early_classification/base.py
  aeon/classification/shapelet_based/_rdst.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/tests/test_base.py
  aeon/clustering/base.py
  aeon/clustering/deep_learning/base.py
  aeon/clustering/tests/test_base.py
  aeon/networks/base.py
  aeon/regression/base.py
  aeon/regression/deep_learning/base.py
  aeon/regression/shapelet_based/_rdst.py
  aeon/regression/tests/test_base.py
  aeon/segmentation/_eagglo.py
  aeon/segmentation/base.py
  aeon/similarity_search/base.py
  aeon/testing/estimator_checking/_yield_anomaly_detection_checks.py
  aeon/testing/estimator_checking/_yield_segmentation_checks.py
  aeon/testing/mock_estimators/_mock_classifiers.py
  aeon/transformations/base.py
  aeon/transformations/collection/_reduce.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/channel_selection/base.py
  aeon/transformations/collection/compose/_identity.py
  aeon/transformations/collection/signature_based/_augmentations.py
  aeon/transformations/series/base.py
  aeon/utils/_data_types.py
  aeon/utils/conversion/_convert_collection.py
  examples/base/series_estimator.ipynb
Labels: enhancement

#2325 [ENH] Tidy up loaders and writers
  aeon/datasets/__init__.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/_data_writers.py
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tests/test_data_writers.py
  docs/api_reference/datasets.rst
  examples/benchmarking/regression.ipynb
  examples/datasets/data_loading.ipynb
  examples/datasets/load_data_from_web.ipynb
Labels: enhancement, datasets

#2209 [ENH] Implementation of LOF using PyODAdapter
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/_lof.py
  aeon/anomaly_detection/tests/test_lof.py
  docs/api_reference/anomaly_detection.rst
Labels: enhancement, anomaly detection

#2360 [MNT] Add/rework transformation tests and remove from exclude list
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_collection_transformation_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_series_transformation_checks.py
  aeon/testing/estimator_checking/_yield_similarity_search_checks.py
  aeon/testing/estimator_checking/_yield_transformation_checks.py
  aeon/testing/testing_config.py
  aeon/testing/utils/deep_equals.py
  aeon/transformations/series/_scaled_logit.py
  aeon/transformations/series/tests/test_scaled_logit.py
Labels: transformations, maintenance, testing, full pytest actions, codecov actions

#2389 [BUG] add multithreading capability tag to LOF to fix main
  aeon/anomaly_detection/_lof.py
Labels: bug, testing, anomaly detection

#2381 [DOC] tidy classification and shapelet notebooks
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
Labels: documentation, examples

#2391 [DOC] remove shapelet notebook
  examples/transformations/shapelets.ipynb
Labels: documentation, examples

#2392 [MNT] cluster init_algorithm removed across all clusterers
  aeon/clustering/_clara.py
  aeon/clustering/_clarans.py
  aeon/clustering/_k_medoids.py
  aeon/clustering/_k_shape.py
  aeon/clustering/tests/test_clara.py
  aeon/clustering/tests/test_clarans.py
  aeon/clustering/tests/test_k_medoids.py
  examples/clustering/partitional_clustering.ipynb
Labels: clustering, maintenance

#2362 [ENH] First PR for forecasting module
  aeon/forecasting/__init__.py
  aeon/forecasting/_dummy.py
  aeon/forecasting/_ets.py
  aeon/forecasting/_regression.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/__init__.py
  aeon/forecasting/tests/test_base.py
  aeon/forecasting/tests/test_regressor.py
  aeon/testing/estimator_checking/_yield_forecasting_checks.py
  aeon/testing/mock_estimators/_mock_forecasters.py
  aeon/testing/testing_data.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/utils/base/_register.py
  aeon/utils/tags/_tags.py
  examples/forecasting/forecasting.ipynb
Labels: enhancement, forecasting, codecov actions

#2401 [DOC] Update api references of networks
  docs/api_reference/networks.rst
Labels: documentation

#2403 [MNT] Change the "metric" parameter to "measure in the distance module
  aeon/classification/distance_based/_proximity_tree.py
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/clustering/_clara.py
  aeon/clustering/_clarans.py
  aeon/clustering/_elastic_som.py
  aeon/clustering/_k_means.py
  aeon/clustering/_k_medoids.py
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
  aeon/clustering/averaging/_ba_utils.py
  aeon/clustering/averaging/_barycenter_averaging.py
  aeon/distances/_distance.py
  aeon/distances/elastic/tests/test_alignment_path.py
  aeon/distances/elastic/tests/test_cost_matrix.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/series/tests/test_warping.py
  examples/distances/distances.ipynb
  examples/pydata/Amsterdam-2023/Lets_do_the_time_warp_again.ipynb
Labels: maintenance

#2399 [DOC] Regression and segmentation api
  aeon/regression/compose/__init__.py
  aeon/regression/sklearn/__init__.py
  aeon/regression/sklearn/_wrapper.py
  docs/api_reference/regression.rst
  docs/api_reference/segmentation.rst
Labels: documentation

#2397 [DOC] Update API webpages to include new classes and functions
  aeon/base/_estimators/__init__.py
  aeon/base/_estimators/compose/__init__.py
  aeon/base/_estimators/compose/collection_channel_ensemble.py
  aeon/base/_estimators/compose/collection_ensemble.py
  aeon/base/_estimators/compose/collection_pipeline.py
  aeon/base/_estimators/hybrid/__init__.py
  aeon/base/_estimators/hybrid/base_rist.py
  aeon/base/_estimators/hybrid/tests/__init__.py
  aeon/base/_estimators/hybrid/tests/test_base_rist.py
  aeon/base/_estimators/interval_based/__init__.py
  aeon/base/_estimators/interval_based/base_interval_forest.py
  aeon/base/_estimators/interval_based/tests/__init__.py
  aeon/base/_estimators/interval_based/tests/test_base_interval_forest.py
  aeon/classification/compose/_channel_ensemble.py
  aeon/classification/compose/_ensemble.py
  aeon/classification/compose/_pipeline.py
  aeon/classification/hybrid/_rist.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/sklearn/__init__.py
  aeon/classification/sklearn/_wrapper.py
  aeon/clustering/averaging/__init__.py
  aeon/clustering/compose/_pipeline.py
  aeon/regression/compose/_ensemble.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/hybrid/_rist.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_drcif.py
  aeon/regression/interval_based/_interval_forest.py
  aeon/regression/interval_based/_rise.py
  aeon/regression/interval_based/_tsf.py
  aeon/transformations/collection/compose/_pipeline.py
  docs/api_reference/anomaly_detection.rst
  docs/api_reference/base.rst
  docs/api_reference/classification.rst
  docs/api_reference/clustering.rst
Labels: documentation

#2404 [DOC] Imports and api for visualisation and transformers
  aeon/transformations/collection/__init__.py
  aeon/visualisation/__init__.py
  aeon/visualisation/estimator/_network_plot.py
  aeon/visualisation/estimator/deep_learning/__init__.py
  aeon/visualisation/estimator/deep_learning/tests/__init__.py
  aeon/visualisation/results/__init__.py
  docs/api_reference/transformations.rst
  docs/api_reference/visualisation.rst
  examples/visualisation/plotting_results.ipynb
Labels: documentation

#2396 [DOC] Update examples webpage
  docs/about.md
  docs/examples.md
  docs/index.md
  examples/classification/classification.ipynb
  examples/classification/img/arrow-heads.png
  examples/img/OSULeaf.jpg
  examples/img/dtw.png
  examples/img/leaf_types.png
  examples/img/shapelet_classifier.png
  examples/img/tsc.png
  examples/img/tscl.png
  examples/img/tser.png
  examples/pydata/Amsterdam-2023/Lets_do_the_time_warp_again.ipynb
Labels: documentation, examples

#2405 [DOC] Documentation fixes
  docs/api_reference/clustering.rst
  docs/api_reference/datasets.md
  docs/api_reference/distances.rst
  docs/api_reference/forecasting.md
  docs/api_reference/regression.rst
  docs/api_reference/segmentation.rst
  docs/api_reference/similarity_search.rst
  docs/estimator_overview.md
  docs/examples.md
  docs/index.md
  docs/mentoring.md
  docs/papers_using_aeon.md
Labels: documentation

#2406 [MNT] Release V1.0.0
  .github/utilities/changelog_generator.py
  README.md
  aeon/__init__.py
  docs/changelog.md
  docs/changelogs/v0/v0.1.md
  docs/changelogs/v0/v0.10.md
  docs/changelogs/v0/v0.11.md
  docs/changelogs/v0/v0.2.md
  docs/changelogs/v0/v0.3.md
  docs/changelogs/v0/v0.4.md
  docs/changelogs/v0/v0.5.md
  docs/changelogs/v0/v0.6.md
  docs/changelogs/v0/v0.7.md
  docs/changelogs/v0/v0.8.md
  docs/changelogs/v0/v0.9.md
  docs/changelogs/v1.0.md
  pyproject.toml
Labels: maintenance, release

#2413 [MNT] Trying to diagnose ubuntu workflow failures
  .github/workflows/fast_release.yml
  .github/workflows/issue_assigned.yml
  .github/workflows/issue_comment_edited.yml
  .github/workflows/issue_comment_posted.yml
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_core_dep_import.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/pr_typecheck.yml
  .github/workflows/precommit_autoupdate.yml
  .github/workflows/release.yml
  .github/workflows/scorecard.yml
  .github/workflows/update_contributors.yml
  .readthedocs.yml
Labels: maintenance, full pytest actions, no numba cache

#2408 [ENH] Refactor BinSegSegmenter to BinSegmenter
  aeon/segmentation/__init__.py
  aeon/segmentation/_binseg.py
  aeon/segmentation/tests/test_binseg.py
  aeon/testing/testing_config.py
  docs/api_reference/segmentation.rst
Labels: enhancement, transformations, full pytest actions
