Repository aeon-toolkit/aeon, pull requests merged in 2024-07, with the labels that each got.

#1722 [ENH] REDCOMETS tweaks / fixes
  aeon/classification/dictionary_based/_redcomets.py
  aeon/classification/dictionary_based/tests/test_redcomets.py
  aeon/testing/expected_results/expected_classifier_outputs.py
Labels: enhancement, classification

#1631 [MNT] Enhance networks module testing suite
  aeon/networks/_ae_fcn.py
  aeon/networks/_ae_resnet.py
  aeon/networks/_encoder.py
  aeon/networks/base.py
  aeon/networks/tests/test_all_networks.py
Labels: maintenance, codecov actions, networks

#1739 [BUG] Cluster predict proba edge cases
  aeon/clustering/base.py
  aeon/clustering/feature_based/_catch22.py
  aeon/clustering/feature_based/_summary.py
  aeon/clustering/feature_based/_tsfresh.py
Labels: bug, clustering

#1731 [DEP] V0.10 Move DOBIN to legacy
  aeon/transformations/_legacy/dobin.py
Labels: transformations, deprecation

#1711 [ENH] Merge MultiRocket and MultiRocketMultivariate
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/convolution_based/tests/test_arsenal.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/regression/convolution_based/_mr_hydra.py
  aeon/regression/convolution_based/_rocket_regressor.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_multirocket.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/convolution_based/tests/test_all_rockets.py
  aeon/transformations/collection/convolution_based/tests/test_multirocket_m.py
  docs/api_reference/transformations.rst
  examples/transformations/minirocket.ipynb
Labels: enhancement, transformations, codecov actions

#1735 [ENH] change input type for MrSQMClassifier and deprecate prior to moving package
  aeon/classification/shapelet_based/_mrsqm.py
Labels: enhancement, classification

#1745 [DOC] remove ProximityTree from distance classifier notebook results display
  aeon/benchmarking/results_loaders.py
  examples/benchmarking/reference_results.ipynb
  examples/benchmarking/regression.ipynb
  examples/classification/distance_based.ipynb
Labels: documentation, examples, codecov actions

#1752 [BUG] fix padder fit_values
  aeon/transformations/collection/pad.py
Labels: bug, transformations

#1479 [MNT] Unit testing revamp part 1: `check_estimator`
  aeon/anomaly_detection/base.py
  aeon/base/_base.py
  aeon/base/_base_collection.py
  aeon/testing/estimator_checking/__init__.py
  aeon/testing/estimator_checking/_estimator_checking.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/tests/__init__.py
  aeon/testing/estimator_checking/tests/test_check_estimator.py
  aeon/testing/estimator_checks.py
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_classifiers.py
  aeon/testing/test_config.py
  aeon/testing/test_softdeps.py
  aeon/testing/testing_data.py
  aeon/testing/tests/test_check_estimator.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/transformations/collection/base.py
  aeon/transformations/series/base.py
  docs/api_reference/utils.rst
  docs/developer_guide/add_estimators.md
  pyproject.toml
Labels: maintenance, testing, codecov actions

#1730 [DEP] Exclusion list
  aeon/testing/test_config.py
  aeon/transformations/scaledlogit.py
Labels: transformations, deprecation

#1421 [MNT] Removing `tensorflow_addons` dependency
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/base.py
  aeon/classification/deep_learning/tests/test_random_state_deep_learning.py
  aeon/clustering/deep_learning/base.py
  aeon/clustering/deep_learning/tests/test_random_state_deep_learning_cluster.py
  aeon/networks/_encoder.py
  aeon/regression/deep_learning/_encoder.py
  aeon/regression/deep_learning/base.py
  aeon/regression/deep_learning/tests/test_random_state_deep_regressor.py
  aeon/transformations/collection/tests/test_all_collection_transformers.py
  aeon/utils/networks/__init__.py
  pyproject.toml
Labels: maintenance, deep learning, dependencies

#1763 [BUG] Adding modelcheckpoint callback by default to deep learners when user chooses their own callbacks list
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/base.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_encoder.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_lite_time.py
  aeon/regression/deep_learning/_mlp.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/base.py
Labels: bug, classification, clustering, regression, deep learning

#1755 [ENH] Time Series Segmentation Benchmark + Human Activity Segmentation Challenge data loaders
  aeon/datasets/__init__.py
  aeon/datasets/_tss_data_loaders.py
  aeon/datasets/tests/test_tss_data_loader.py
Labels: enhancement, datasets, segmentation

#1765 [MNT] Raise tensorflow bound to >2.13
  pyproject.toml
Labels: deep learning

#1769 [DOC] typo in convolutions notebook
  examples/classification/convolution_based.ipynb
Labels: documentation, examples

#1773 [BUG] Use almost equal in random state testing of deep learning
  aeon/classification/deep_learning/tests/test_random_state_deep_learning.py
  aeon/clustering/deep_learning/tests/test_random_state_deep_learning_cluster.py
  aeon/regression/deep_learning/tests/test_random_state_deep_regressor.py
Labels: bug, testing, deep learning

#1758 [BUG] Store n_timepoints and n_channels in fit to check in transform
  aeon/base/_base_collection.py
  aeon/base/tests/test_base_collection.py
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
  aeon/utils/validation/collection.py
Labels: bug, classification

#1715 [ENH] Shapelet visualization tools
  CODEOWNERS
  aeon/classification/shapelet_based/_rdst.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/_rsast.py
  aeon/transformations/collection/shapelet_based/tests/test_dilated_shapelet_transform.py
  aeon/visualisation/__init__.py
  aeon/visualisation/estimator/_shapelets.py
  aeon/visualisation/estimator/tests/test_shapelet_plotting.py
  docs/api_reference/visualisation.rst
  examples/classification/shapelet_based.ipynb
Labels: enhancement, transformations, visualisation

#1771 [BUG] Hydra bugfix
  aeon/transformations/collection/convolution_based/_hydra.py
Labels: bug, transformations

#1764 [MNT] Fix certain workflow actions for forks and add button for resetting CI
  .all-contributorsrc
  .github/workflows/issue_comment_edited.yml
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/precommit_autoupdate.yml
  build_tools/comment_pr_labeler.py
  build_tools/pr_open_commenter.py
  build_tools/pr_welcome_edited.py
Labels: maintenance

#1776 [ENH] Adds class_weight to those classifier that support it. Required for imbalanced datasets.
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/interval_based/_quant.py
  aeon/classification/shapelet_based/_rdst.py
Labels: enhancement, classification

#1781 [ENH] Revert mini rocket to separate functions for univariate and multivariate
  aeon/transformations/collection/base.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_rocket.py
Labels: enhancement, transformations

#1782 Release v0.10.0
  .github/workflows/pr_precommit.yml
  README.md
  aeon/__init__.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_rocket_classifier.py
  aeon/classification/dictionary_based/_muse.py
  aeon/classification/dictionary_based/_weasel.py
  aeon/classification/dictionary_based/_weasel_v2.py
  aeon/classification/interval_based/_quant.py
  aeon/classification/shapelet_based/_rdst.py
  build_tools/pr_labeler.py
  docs/changelog.md
  docs/changelogs/v0.10.md
  pyproject.toml
Labels: maintenance, release

#1783 [ENH] channel selector test
  aeon/transformations/collection/channel_selection/tests/test_channel_scorer.py
Labels: enhancement, transformations

#1619 [MNT] Adding Scorecard.yml Workflow and Scorecard Badge GOSST
  .github/workflows/scorecard.yml
  README.md
Labels: maintenance

#1583 [ENH] Add AEBiGRUNetwork
  aeon/networks/__init__.py
  aeon/networks/_ae_bgru.py
  aeon/networks/tests/test_ae_bgru.py
Labels: enhancement, codecov actions, networks

#1786 [BUG] Fix config of AEBiGRUNetwork from encoder to auto-encoder
  aeon/networks/_ae_bgru.py
Labels: bug, networks

#1741 [DOC] Update the docstring for BaseSegmenter
  aeon/segmentation/base.py
Labels: documentation, segmentation

#1753 [MNT] `mrsqm` and `pycatch22` bounds
  pyproject.toml
Labels: maintenance, codecov actions, dependencies

#1795 [ENH] Change HC2 test to balance class
  aeon/classification/dictionary_based/_tde.py
  aeon/classification/hybrid/tests/test_hc.py
Labels: enhancement, classification

#1789 [DEP] Remove legacy PandasAdaptor, move TabularToSeriesAdaptor to legacy
  aeon/classification/compose/tests/test_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/forecasting/base/_base.py
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/transformations/_legacy/adapt.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/compose.py
  aeon/transformations/tests/test_optionalpassthrough.py
  aeon/transformations/tests/test_pipeline.py
  aeon/transformations/tests/test_sklearn_adaptor.py
Labels: transformations, deprecation

#1788 [DEP] Remove BKFilter BaseTransformer, redesign equivalent series transformer
  aeon/transformations/bkfilter.py
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_bkfilter.py
  aeon/transformations/series/tests/test_bkfilter.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1613 [DEP] Remove Split mixin
  aeon/transformations/_split.py
  aeon/transformations/collection/hog1d.py
  aeon/transformations/collection/slope.py
  aeon/utils/__init__.py
  aeon/utils/_split.py
  aeon/utils/tests/test_split.py
Labels: transformations, deprecation

#1808 [DOC] Removed incomplete line from write_to_tsfile
  aeon/datasets/_data_writers.py
Labels: documentation, datasets

#1804 [MNT] Scorecard badge fix
  .github/workflows/scorecard.yml
  README.md
Labels: maintenance

#1791 [DEP] Remove redundant multivariate rockets
  aeon/transformations/collection/convolution_based/__init__.py
  aeon/transformations/collection/convolution_based/_minirocket_multivariate.py
  aeon/transformations/collection/convolution_based/_multirocket_multivariate.py
Labels: transformations, deprecation

#1796 [BUG] Add names to create steps_ in CollectionPipeline
  aeon/base/estimator/compose/collection_pipeline.py
Labels: bug, transformations

#1792 [DEP] Remove DateTime and FourierFeatures
  aeon/transformations/date.py
  aeon/transformations/fourier.py
  aeon/transformations/tests/test_date.py
  aeon/transformations/tests/test_fourier.py
  docs/api_reference/transformations.rst
  examples/transformations/transformations.ipynb
Labels: transformations, deprecation

#1803 [MNT] Update `scikit-learn` version
  aeon/classification/dictionary_based/_boss.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_continuous_interval_tree.py
  aeon/classification/sklearn/tests/test_rotation_forest_classifier.py
  aeon/classification/tests/test_sklearn_compatability.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_all_regressors.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/expected_results/expected_regressor_outputs.py
  examples/distances/sklearn_distances.ipynb
  pyproject.toml
Labels: maintenance, dependencies

#1767 [ENH] at kwargs to fit_predict to allow setting of the cv_size parameter in default
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
Labels: enhancement, classification

#1790 [DEP] Move transformations.compose to legacy and isolate uses to forecasting.
  aeon/forecasting/compose/_pipeline.py
  aeon/forecasting/compose/_reduce.py
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/transformations/_legacy/compose.py
  aeon/transformations/base.py
  aeon/transformations/lag.py
  aeon/transformations/tests/test_base.py
  aeon/transformations/tests/test_compose.py
  aeon/transformations/tests/test_featureizer.py
  aeon/transformations/tests/test_fitintransform.py
  aeon/transformations/tests/test_multiplexer.py
  aeon/transformations/tests/test_optionalpassthrough.py
  docs/api_reference/transformations.rst
  examples/transformations/interpolation.ipynb
Labels: transformations, deprecation

#1814 [MNT] Raise `numba` version bound
  pyproject.toml
Labels: maintenance, dependencies

#1817 [DEP] Remove old class base deep network
  aeon/networks/__init__.py
  aeon/networks/base.py
  aeon/networks/tests/test_all_networks.py
  docs/api_reference/networks.rst
  examples/base/base_classes.ipynb
Labels: examples, networks, deprecation

#1787 [MNT] Add Regressor Results For Comparison
  aeon/testing/expected_results/expected_regressor_outputs.py
  aeon/testing/expected_results/regressor_results_reproduction.py
Labels: maintenance, testing

#1821 [DEP] Move MRSQM to dictionary based
  aeon/classification/dictionary_based/__init__.py
  aeon/classification/dictionary_based/_mrsqm.py
  aeon/classification/shapelet_based/__init__.py
  aeon/testing/expected_results/classifier_results_reproduction.py
  docs/api_reference/classification.rst
Labels: classification, deprecation

#1849 [DOC] DFT instead of PAA in SFA docstring
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: documentation, transformations

#1842 [DOC] Typo correction in getting started guide
  docs/getting_started.md
Labels: documentation

#1833 [DEP] Move summarizer to legacy
  aeon/forecasting/compose/_reduce.py
  aeon/forecasting/compose/tests/test_reduce_global.py
  aeon/transformations/_legacy/summarize.py
  aeon/transformations/collection/convolution_based/tests/test_all_rockets.py
  aeon/transformations/scaledlogit.py
  aeon/transformations/tests/test_compose.py
  aeon/transformations/tests/test_fittedparamextractor.py
  aeon/transformations/tests/test_plateaufinder.py
  aeon/transformations/tests/test_rockets.py
  aeon/transformations/tests/test_summarize.py
  aeon/transformations/tests/test_window_summarizer.py
  docs/api_reference/transformations.rst
  examples/transformations/transformations.ipynb
Labels: transformations, deprecation

#1830 [DEP] Move HampelFilter to legacy
  aeon/forecasting/compose/tests/test_pipeline.py
  aeon/transformations/_legacy/outlier_detection.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1826 [ENH,MNT,DOC] Tidying up deep learning modules clasification/regression
  aeon/classification/deep_learning/__init__.py
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/_tapnet.py
  aeon/classification/deep_learning/base.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/classification/deep_learning/tests/test_random_state_deep_learning.py
  aeon/classification/deep_learning/tests/test_saving_loading_deep_learning_cls.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
  aeon/networks/__init__.py
  aeon/networks/_ae_bgru.py
  aeon/networks/_ae_fcn.py
  aeon/networks/_ae_resnet.py
  aeon/networks/_cnn.py
  aeon/networks/_encoder.py
  aeon/networks/_fcn.py
  aeon/networks/_inception.py
  aeon/networks/_lite.py
  aeon/networks/_mlp.py
  aeon/networks/_resnet.py
  aeon/networks/_tapnet.py
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_encoder.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_lite_time.py
  aeon/regression/deep_learning/_mlp.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/_tapnet.py
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
  aeon/regression/deep_learning/tests/test_saving_loading_deep_learning_cls.py
  docs/api_reference/classification.rst
  docs/api_reference/clustering.rst
  docs/api_reference/distances.rst
  docs/api_reference/networks.rst
  docs/api_reference/regression.rst
  docs/api_reference/visualisation.rst
Labels: enhancement, classification, regression, networks

#1851 [ENH] Improve deep learning networks test coverage for parameters which can be list
  .all-contributorsrc
  aeon/networks/tests/test_all_networks.py
Labels: enhancement, networks

#1862 [DOC] Fix DL classification notebook
  examples/classification/deep_learning.ipynb
Labels: documentation, classification, examples, full examples run

#1827 [DEP] Move Lag to legacy
  aeon/forecasting/compose/_reduce.py
  aeon/transformations/_legacy/lag.py
  aeon/transformations/tests/test_featureizer.py
  aeon/transformations/tests/test_lag.py
  docs/api_reference/transformations.rst
Labels: transformations, deprecation

#1831 [DEP] Remove _IndexSubset
  aeon/transformations/_legacy/subset.py
Labels: transformations, deprecation

#1869 [MNT] Remove tensorflow-addons dependency
  aeon/networks/_encoder.py
Labels: maintenance, networks

#1870 [ENH] Improve deep learning networks test coverage
  aeon/networks/tests/test_all_networks.py
  aeon/networks/tests/test_cnn.py
  aeon/networks/tests/test_inception.py
Labels: enhancement, codecov actions, networks
