Repository aeon-toolkit/aeon, pull requests merged in 2024-03, with the labels that each got.

#1267 precommit fix
  aeon/forecasting/tests/test_interval_wrappers.py
  examples/benchmarking/reference_results.ipynb
  examples/similarity_search/code_speed.ipynb
Labels: forecasting, full pytest actions, codecov actions, full pre-commit

#1257 [ENH] Add minibatch param in MLPClassifier
  aeon/classification/deep_learning/_mlp.py
Labels: enhancement, classification

#1275 [REF] Refactoring some bits of code
  aeon/forecasting/dynamic_factor.py
  aeon/testing/expected_results/classifier_results_reproduction.py
  aeon/visualisation/results/_critical_difference.py
Labels: refactor

#1276 [DOC] Final webpage update for GSoC advertisement
  docs/about.md
  docs/conf.py
  docs/images/other_logos/numfocus-logo.png
  docs/index.md
  examples/clustering/clustering.ipynb
  examples/datasets/datasets.ipynb
Labels: documentation, examples

#1269 [MNT] Release 0.7.1
  README.md
  aeon/__init__.py
  docs/changelogs/v0.7.md
  pyproject.toml
Labels: maintenance, release

#1292 [MNT] Changing deep learning save format from `.hdf5` to `.keras`
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/base.py
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/base.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_mlp.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/base.py
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
  examples/networks/deep_learning.ipynb
  pyproject.toml
Labels: classification, clustering, regression, maintenance, deep learning

#1285 [DEP] Remove `mlflow`
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  .gitignore
  CODEOWNERS
  aeon/utils/mlflow_aeon.py
  aeon/utils/tests/test_mlflow_aeon_model_export.py
  docs/api_reference/deployment.rst
  pyproject.toml
Labels: full pytest actions, deprecation

#1280 [ENH] Remove regression delegate file
  aeon/regression/_delegate.py
Labels: enhancement, regression

#1261 [ENH] Remove deprecated performance metric classes
  aeon/performance_metrics/forecasting/__init__.py
  aeon/performance_metrics/forecasting/_classes.py
  aeon/performance_metrics/forecasting/_functions.py
  aeon/performance_metrics/forecasting/tests/test_metrics.py
  aeon/performance_metrics/forecasting/tests/test_performance_metrics_forecasting.py
  aeon/performance_metrics/tests/test_metrics_classes.py
  examples/forecasting/forecasting.ipynb
Labels: enhancement, examples, deprecation

#1265 [DEP] Remove deprecated overloaded multiplication and sklearnpipeline
  aeon/classification/base.py
  aeon/classification/compose/__init__.py
  aeon/classification/compose/_pipeline.py
  aeon/pipeline/_make_pipeline.py
  aeon/transformations/compose.py
  docs/api_reference/classification.rst
Labels: enhancement, classification, deprecation

#1226 [ENH] Updated EncoderRegressor
  .all-contributorsrc
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/_encoder.py
Labels: enhancement, regression, deep learning

#1299 [DOC] Missing link for aeon-neuro
  docs/mentoring.md
Labels: documentation

#1303 [MNT] added unequal length utils function
  aeon/testing/utils/data_gen/__init__.py
  aeon/testing/utils/data_gen/_collection.py
  aeon/testing/utils/data_gen/tests/test_collection.py
Labels: maintenance, testing

#1288 [BUG] ElasticEnsemble with `euclidean` and `twe` distance measures
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/tests/test_elastic_ensemble.py
Labels: classification

#1305 [DOC] Fix benchmarking notebooks
  examples/benchmarking/benchmarking.ipynb
Labels: documentation, benchmarking

#1306 [ENH] Deprecate annotators
  aeon/annotation/eagglo.py
  aeon/annotation/hmm.py
  aeon/segmentation/_hmm.py
  docs/api_reference/annotation.rst
Labels: enhancement, annotation, segmentation, deprecation

#1307 [ENH] Deprecate transformers
  aeon/transformations/filter.py
  aeon/transformations/hidalgo.py
  aeon/transformations/matrix_profile.py
  aeon/transformations/tests/test_hidalgo.py
  docs/api_reference/transformations.rst
Labels: enhancement, transformations, deprecation

#1161 [BUG] Unequal length bounding matrix fixes
  aeon/distances/_bounding_matrix.py
  aeon/distances/tests/test_bounding.py
Labels: bug, distances

#1309 [MNT] Changes to `pyarrow` and `dask` in `all_extras` to fix CI
  pyproject.toml
Labels: maintenance

#1289 [MNT] Cleanup code in aeon.util.conversion module
  aeon/utils/conversion/__init__.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
Labels: maintenance

#1294 [MNT] Distance test refactor
  aeon/clustering/averaging/tests/test_dba.py
  aeon/distances/_distance.py
  aeon/distances/_utils.py
  aeon/distances/tests/test_alignment_path.py
  aeon/distances/tests/test_bounding.py
  aeon/distances/tests/test_cost_matrix.py
  aeon/distances/tests/test_distance_correctness.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_expected_results.py
  aeon/distances/tests/test_mpdist.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_utils.py
Labels: clustering, maintenance, distances

#1213 [ENH] Refactored _TestRegressor in regression testing module to be a MockRegressor in testing/mock_estimators
  aeon/testing/mock_estimators/__init__.py
  aeon/testing/mock_estimators/_mock_regressors.py
Labels: enhancement, regression, testing

#1221 [ENH] Add IndividualLITERegressor and LITETimeRegressor
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/_lite_time.py
Labels: enhancement, regression, deep learning

#1319 [BUG] fixed dba test
  aeon/clustering/averaging/tests/test_dba.py
Labels: bug, clustering

#1324 [BUG] RandomShapeletTransform stdev fix
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
Labels: bug, transformations

#1325 [MNT] Modified `test_base_rocketGPU.py`
  aeon/transformations/collection/convolution_based/_rocket.py
  aeon/transformations/collection/convolution_based/rocketGPU/tests/test_base_rocketGPU.py
Labels: transformations, maintenance

#1329 [BUG] write_to_tsfile not writing header
  aeon/datasets/_data_writers.py
Labels: bug, datasets

#1290 [ENH] Replace calls to check_is_scitype that return metadata with validate_input
  aeon/forecasting/base/_base.py
  aeon/forecasting/model_selection/_split.py
  aeon/testing/utils/data_gen/_test_examples.py
  aeon/transformations/base.py
  aeon/transformations/tests/test_base.py
  aeon/utils/index_functions.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/_dependencies.py
  aeon/utils/validation/_input.py
  aeon/utils/validation/annotation.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/forecasting.py
  aeon/utils/validation/panel.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_forecasting.py
  aeon/utils/validation/tests/test_input.py
  aeon/utils/validation/tests/test_series.py
Labels: enhancement, refactor, datatypes

#1331 [DOCS] hard code shapelet classifiers in notebook
  examples/classification/shapelet_based.ipynb
  examples/forecasting/forecasting.ipynb
Labels: classification

#1334 [DEP] remove plotting from utils
  aeon/utils/plotting.py
Labels: deprecation, visualisation

#1335 [DEP] remove support probabilities from weasel2
  aeon/classification/dictionary_based/_weasel_v2.py
Labels: classification, deprecation

#1336 [DEP] deprecate ElbowClass prior to move to dedicated package
  aeon/transformations/collection/channel_selection.py
Labels: transformations, deprecation

#1157 [ENH] Loading unequal length, no missing values classification problems
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/datasets/_data_loaders.py
  aeon/datasets/data/Covid3Month/Covid3Month_disc_TEST.ts
  aeon/datasets/data/Covid3Month/Covid3Month_disc_TRAIN.ts
  aeon/datasets/data/JapaneseVowels/JapaneseVowels_eq_TEST.ts
  aeon/datasets/data/JapaneseVowels/JapaneseVowels_eq_TRAIN.ts
  aeon/datasets/dataset_collections.py
  aeon/datasets/tests/test_data_loaders.py
  aeon/datasets/tsc_datasets.py
  aeon/datasets/tser_datasets.py
  aeon/datasets/tsf_datasets.py
  aeon/performance_metrics/tests/test_stats.py
  aeon/visualisation/results/tests/test_boxplot.py
  aeon/visualisation/results/tests/test_critical_difference.py
  aeon/visualisation/results/tests/test_scatter.py
  aeon/visualisation/results/tests/test_significance.py
  build_tools/run_examples.sh
  docs/examples.md
  examples/benchmarking/bakeoff_results.ipynb
  examples/benchmarking/regression.ipynb
  examples/benchmarking/regression_results_per_dataset.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
  examples/datasets/data_unequal.ipynb
  examples/datasets/img/download3.png
  examples/datasets/load_data_from_web.ipynb
Labels: enhancement, classification, datasets

#1287 [ENH] SBD and MSM: Support pairwise distance calculation for unequal length time series
  aeon/distances/_distance.py
  aeon/distances/_msm.py
  aeon/distances/_sbd.py
  aeon/distances/_utils.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_pairwise.py
  aeon/distances/tests/test_utils.py
Labels: enhancement, distances

#1337 [ENH] reduce warnings
  aeon/datatypes/_examples.py
  aeon/testing/test_config.py
  aeon/utils/estimator_checks.py
  aeon/utils/validation/tests/test_panel.py
Labels: enhancement, datatypes

#1332 [DEP] remove deprecated 'save_transformed_data' and 'transformed_data_' in BaseIntervalForest, FreshPrince, STC,
  .github/PULL_REQUEST_TEMPLATE.md
  aeon/base/_base.py
  aeon/base/estimator/interval_based/base_interval_forest.py
  aeon/base/estimator/interval_based/tests/test_base_interval_forest.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/interval_based/_cif.py
  aeon/classification/interval_based/_drcif.py
  aeon/classification/interval_based/_interval_forest.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/interval_based/_stsf.py
  aeon/classification/interval_based/_tsf.py
  aeon/classification/shapelet_based/_stc.py
  aeon/datatypes/_adapter/gluonts_to_pd_multiindex.py
  aeon/datatypes/_adapter/pd_multiindex_to_list_dataset.py
  aeon/regression/interval_based/_cif.py
  aeon/regression/interval_based/_drcif.py
  aeon/regression/interval_based/_interval_forest.py
  aeon/regression/interval_based/_rise.py
  aeon/regression/interval_based/_tsf.py
Labels: examples, deprecation

#1326 [MNT] Type hint distance module
  aeon/clustering/averaging/_averaging.py
  aeon/clustering/averaging/_barycenter_averaging.py
  aeon/distances/_adtw.py
  aeon/distances/_bounding_matrix.py
  aeon/distances/_ddtw.py
  aeon/distances/_distance.py
  aeon/distances/_dtw.py
  aeon/distances/_edr.py
  aeon/distances/_erp.py
  aeon/distances/_euclidean.py
  aeon/distances/_lcss.py
  aeon/distances/_manhattan.py
  aeon/distances/_minkowski.py
  aeon/distances/_msm.py
  aeon/distances/_sbd.py
  aeon/distances/_shape_dtw.py
  aeon/distances/_squared.py
  aeon/distances/_twe.py
  aeon/distances/_wddtw.py
  aeon/distances/_wdtw.py
  aeon/distances/mpdist.py
  aeon/distances/tests/test_distances.py
  aeon/distances/tests/test_numba_distance_parameters.py
  extension_templates/distance.py
Labels: clustering, maintenance, distances

#1323 [ENH] Capability to use shape-dtw on precomputed transformation
  aeon/distances/_distance.py
  aeon/distances/_shape_dtw.py
  aeon/distances/tests/test_numba_distance_parameters.py
  aeon/distances/tests/test_utils.py
  aeon/testing/expected_results/expected_distance_results.py
Labels: enhancement, distances

#1353 [BUG] Stop joining Nones
  aeon/datasets/_data_loaders.py
  aeon/datasets/tests/test_data_loaders.py
Labels: bug, datasets

#1271 [BUG] Fix random state for deep learning models in classification/regression and clustering
  aeon/classification/deep_learning/_cnn.py
  aeon/classification/deep_learning/_encoder.py
  aeon/classification/deep_learning/_fcn.py
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/_mlp.py
  aeon/classification/deep_learning/_resnet.py
  aeon/classification/deep_learning/_tapnet.py
  aeon/classification/deep_learning/tests/test_random_state_deep_learning.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
  aeon/clustering/deep_learning/tests/test_random_state_deep_learning_cluster.py
  aeon/regression/deep_learning/_cnn.py
  aeon/regression/deep_learning/_encoder.py
  aeon/regression/deep_learning/_fcn.py
  aeon/regression/deep_learning/_inception_time.py
  aeon/regression/deep_learning/_lite_time.py
  aeon/regression/deep_learning/_mlp.py
  aeon/regression/deep_learning/_resnet.py
  aeon/regression/deep_learning/_tapnet.py
  aeon/regression/deep_learning/tests/test_random_state_deep_regressor.py
Labels: bug, classification, clustering, regression, deep learning

#1240 [ENH] fixed sqr error
  aeon/classification/distance_based/_time_series_neighbors.py
Labels: enhancement, classification

#1328 [ENH] Enhancing `BaseCollectionTransformers`+Tidying `Utils` dir
  aeon/forecasting/compose/_ensemble.py
  aeon/performance_metrics/forecasting/_functions.py
  aeon/transformations/collection/ar_coefficient.py
  aeon/transformations/collection/periodogram.py
  aeon/transformations/collection/scaler.py
  aeon/utils/weighted_metrics.py
Labels: enhancement, transformations

#1344 [ENH] remove call to update in BaseCollectionTransformer
  aeon/transformations/base.py
  aeon/transformations/collection/base.py
Labels: enhancement, transformations

#1318 [ENH] Modified `BaseDeepClusterer`
  aeon/clustering/deep_learning/base.py
  aeon/clustering/deep_learning/tests/test_deep_clusterer_base.py
Labels: enhancement, clustering, codecov actions

#1354 [DOC] Add clustering example to the README
  README.md
Labels: documentation
