Repository aeon-toolkit/aeon, pull requests merged in 2025-03, with the labels that each got.

#2486 [MNT] Raise version bound for `scikit-learn` 1.6
  aeon/base/_base.py
  aeon/classification/base.py
  aeon/clustering/base.py
  aeon/regression/base.py
  aeon/regression/feature_based/_catch22.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/estimator_checking/_yield_transformation_checks.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/testing/expected_results/expected_regressor_outputs.py
  aeon/visualisation/estimator/_shapelets.py
  examples/transformations/sast.ipynb
  pyproject.toml
Labels: classification, clustering, regression, maintenance

#2613 [ENH] Adds support for distances that are asymmetric but supports unequal length
  .all-contributorsrc
  aeon/distances/tests/test_distances.py
Labels: enhancement, distances

#2547 [DOC] Create smoothing filters notebook
  examples/transformations/smoothing_filters.ipynb
Labels: documentation, transformations, examples

#2579 [DOC] Notebook on Feature-based Clustering
  examples/clustering/clustering.ipynb
  examples/clustering/feature_based_clustering.ipynb
Labels: documentation, examples

#2620 [DOC] Fixed Output Error in Interval Based Notebook
  examples/classification/interval_based.ipynb
Labels: documentation, examples

#2564 [DOC] Added Docstring for regression forecasting
  aeon/forecasting/_regression.py
Labels: documentation, forecasting

#2629 [DOC] Add GSoC announcement to web page
  docs/conf.py
  docs/index.md
Labels: documentation

#2600 [MNT,DEP] _binary.py metrics deprecated
  aeon/benchmarking/metrics/anomaly_detection/_binary.py
Labels: maintenance, benchmarking, deprecation

#2647 [ENH] Support for unequal length in itakura parallelogram
  aeon/distances/elastic/_bounding_matrix.py
  aeon/distances/elastic/tests/test_bounding.py
Labels: enhancement, distances

#2565 [ENH] Implement DTW with Global alignment
  aeon/distances/__init__.py
  aeon/distances/_distance.py
  aeon/distances/elastic/__init__.py
  aeon/distances/elastic/_dtw_gi.py
  aeon/distances/elastic/tests/test_distance_correctness.py
  aeon/distances/tests/test_distances.py
  aeon/testing/expected_results/expected_distance_results.py
Labels: enhancement, distances

#2645 [ENH] Adds kdtw kernel support for kernelkmeans
  aeon/clustering/_kernel_k_means.py
  aeon/clustering/tests/test_kernel_k_means.py
Labels: enhancement, clustering

#2630 [MNT] Remove REDCOMETs from testing exclusion list
  aeon/classification/dictionary_based/_redcomets.py
  aeon/testing/testing_config.py
Labels: classification, maintenance, testing

#2400 [ENH] Replace `prts` metrics
  aeon/benchmarking/metrics/anomaly_detection/__init__.py
  aeon/benchmarking/metrics/anomaly_detection/range_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/tests/test_metrics.py
Labels: enhancement, benchmarking, anomaly detection

#2589 Clarify documentation regarding unequal length series limitation
  aeon/transformations/collection/base.py
Labels: transformations

#2659 [ENH] Set `outlier_norm` default to True for Catch22 estimators
  aeon/classification/feature_based/_catch22.py
  aeon/clustering/feature_based/_catch22.py
  aeon/regression/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/_catch22.py
  aeon/transformations/collection/feature_based/tests/test_catch22.py
Labels: enhancement

#2668 [MNT] Use MacOS for examples/ workflow
  .github/utilities/run_examples.sh
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
Labels: maintenance
