Repository aeon-toolkit/aeon, pull requests merged in 2025-08, with the labels that each got.

#2966 [DOC] improve base classes example
  examples/base/base_classes.ipynb
  examples/base/img/aeon_uml.drawio
  examples/base/img/aeon_uml.drawio.png
  examples/base/img/aeon_uml_simple.drawio
  examples/base/img/aeon_uml_simple.drawio.png
  examples/base/img/base_annotator.png
  examples/base/img/base_classifier.png
  examples/base/img/base_clusterer.png
  examples/base/img/base_collection_estimator.png
  examples/base/img/base_collection_transformer.png
  examples/base/img/base_deep_network.png
  examples/base/img/base_estimator.png
  examples/base/img/base_forecaster.png
  examples/base/img/base_metric.png
  examples/base/img/base_object.png
  examples/base/img/base_regressor.png
  examples/base/img/base_transformer.png
  examples/base/img/sklearn_base.png
  examples/base/img/uml.png
  examples/base/img/uml1.png
  examples/base/img/uml2.png
  examples/base/img/uml3.png
  examples/base/img/uml_base_classes.pdf
Labels: documentation, examples

#2992 [BUG] Fix Nelder-Mead
  aeon/forecasting/stats/_arima.py
  aeon/forecasting/stats/tests/test_arima.py
  aeon/forecasting/utils/_nelder_mead.py
Labels: bug, forecasting

#2968 [ENH] Improvements to ST transformer and classifier
  aeon/classification/shapelet_based/_stc.py
  aeon/testing/expected_results/expected_classifier_outputs.py
  aeon/transformations/collection/shapelet_based/_shapelet_transform.py
  aeon/transformations/collection/shapelet_based/tests/test_shapelet_transform.py
Labels: enhancement, classification, transformations

#3003 [BUG] Fix multirocket bug variables not updated in loop
  aeon/transformations/collection/convolution_based/_multirocket.py
Labels: bug, transformations

#3000 [ENH] Add axis to base forecaster
  aeon/forecasting/base.py
Labels: enhancement, forecasting

#3006 [ENH] Forecasing mixins and base class checking
  aeon/forecasting/_naive.py
  aeon/forecasting/_regression.py
  aeon/forecasting/base.py
  aeon/forecasting/stats/_ets.py
  aeon/forecasting/stats/_tvp.py
  aeon/forecasting/stats/tests/test_ets.py
  aeon/forecasting/tests/test_base.py
  aeon/forecasting/tests/test_naive.py
  aeon/testing/estimator_checking/_yield_forecasting_checks.py
Labels: enhancement, forecasting, testing

#3010 [BUG] MSM cost matrix initialisation bug fix.
  aeon/distances/elastic/_msm.py
Labels: bug, distances

#2975 [ENH] Update testing data dictionary with series testing data
  aeon/testing/data_generation/__init__.py
  aeon/testing/data_generation/_labels.py
  aeon/testing/data_generation/_series.py
  aeon/testing/data_generation/tests/test_labels.py
  aeon/testing/data_generation/tests/test_series.py
  aeon/testing/testing_data.py
  aeon/testing/tests/test_testing_data.py
Labels: enhancement, testing

#3014 [DOC] Update experimental modules and social media links
  README.md
  docs/changelog.md
  docs/conf.py
  docs/developer_guide/deprecation.md
  docs/governance.md
  docs/index.md
Labels: documentation

#3007 [BUG] Issue with axis in `TCNNetwork`
  aeon/networks/_tcn.py
  aeon/networks/tests/test_tcn.py
Labels: bug, networks

#2578 [ENH] KNN n_jobs and updated kneighbours method
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/classification/distance_based/tests/test_time_series_neighbors.py
  aeon/regression/distance_based/_time_series_neighbors.py
  aeon/regression/distance_based/tests/test_time_series_neighbors.py
Labels: enhancement, classification, distances, no numba cache

#2943 [ENH] Refactor signature code
  aeon/classification/feature_based/_signature_classifier.py
  aeon/transformations/collection/_downsample.py
  aeon/transformations/collection/_dwt.py
  aeon/transformations/collection/_hog1d.py
  aeon/transformations/collection/_slope.py
  aeon/transformations/collection/signature_based/__init__.py
  aeon/transformations/collection/signature_based/_augmentations.py
  aeon/transformations/collection/signature_based/_compute.py
  aeon/transformations/collection/signature_based/_rescaling.py
  aeon/transformations/collection/signature_based/_signature.py
  aeon/transformations/collection/signature_based/_signature_method.py
  aeon/transformations/collection/signature_based/_window.py
  aeon/transformations/collection/signature_based/tests/test_signature.py
Labels: enhancement, classification, transformations

#2602 [DOC] Improve visualization module documentation
  aeon/visualisation/distances/_pairwise_distance_matrix.py
  docs/examples.md
  examples/visualisation/img/distances.jpg
  examples/visualisation/img/estimators.jpg
  examples/visualisation/img/learning.jpg
  examples/visualisation/img/results.jpg
  examples/visualisation/img/series.jpg
  examples/visualisation/plotting_distances.ipynb
  examples/visualisation/plotting_estimators.ipynb
  examples/visualisation/plotting_for_learning_tasks.ipynb
Labels: documentation, examples

#3030 [BUG] patch esig function and remove test exclusion for signatures
  aeon/testing/testing_config.py
  aeon/transformations/collection/signature_based/_signature.py
Labels: bug, transformations, testing

#2978 [ENH] Theta forecaster
  aeon/forecasting/stats/__init__.py
  aeon/forecasting/stats/_theta.py
  aeon/forecasting/stats/tests/test_theta.py
  docs/api_reference/forecasting.rst
  examples/forecasting/img/theta.png
  examples/forecasting/img/theta_line.png
  examples/forecasting/img/theta_weight.png
  examples/forecasting/theta.ipynb
Labels: enhancement, forecasting

#2993 [ENH] Add RehabPile dataset collection
  aeon/datasets/__init__.py
  aeon/datasets/rehabpile_loader.py
  aeon/datasets/tests/test_rehabpile_loader.py
  docs/api_reference/datasets.md
Labels: datasets

#3022 [ENH] Coverage for setar forecasting
  aeon/forecasting/machine_learning/tests/test_setartree.py
Labels: enhancement, forecasting

#2979 [ENH] Series data validation improvements and data validation deprecations
  aeon/base/_base_collection.py
  aeon/base/tests/test_base_collection.py
  aeon/testing/data_generation/tests/test_series.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
  aeon/testing/estimator_checking/_yield_collection_anomaly_detection_checks.py
  aeon/testing/estimator_checking/_yield_early_classification_checks.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/transformations/collection/_broadcaster.py
  aeon/transformations/collection/base.py
  aeon/transformations/series/_boxcox.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/_convert_tsf.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/conversion/tests/test_tsf_converter.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/labels.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_check_imports.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_dependencies.py
  aeon/utils/validation/tests/test_init.py
  aeon/utils/validation/tests/test_series.py
  aeon/visualisation/estimator/_clasp.py
  aeon/visualisation/learning_task/_forecasting.py
  aeon/visualisation/learning_task/_segmentation.py
  aeon/visualisation/series/_series.py
  examples/transformations/preprocessing.ipynb
Labels: enhancement, deprecation

#3025 [DOC] Time series machine learning
  README.md
  pyproject.toml
Labels: documentation

#3036 [DOC] Fixing typos in docstrings/comments
  aeon/anomaly_detection/series/distance_based/tests/test_lof.py
  aeon/visualisation/series/_series.py
Labels: documentation, anomaly detection, visualisation

#3045 [MNT] Fixes from missed merges
  .github/utilities/pr_welcome_edited.py
  .github/utilities/uncheck_welcome_boxes.py
  .github/workflows/issue_comment_edited.yml
  aeon/testing/expected_results/_write_estimator_results.py
  aeon/testing/testing_config.py
  aeon/transformations/collection/imbalance/_adasyn.py
  aeon/transformations/collection/imbalance/_esmote.py
  aeon/transformations/collection/imbalance/_ohit.py
  aeon/transformations/collection/imbalance/_single_class_knn.py
  aeon/transformations/collection/imbalance/_smote.py
  aeon/utils/validation/__init__.py
Labels: maintenance, codecov actions

#3047 [DEP] Remove `update` function from base transformer and small tidying
  aeon/transformations/collection/base.py
  aeon/transformations/series/base.py
Labels: transformations, deprecation

#3059 [MNT] Fix CI failures
  pyproject.toml
Labels: maintenance, full pytest actions

#3053 [ENH] Averaging module refactor
  aeon/clustering/_k_means.py
  aeon/clustering/_kasba.py
  aeon/clustering/averaging/__init__.py
  aeon/clustering/averaging/_averaging.py
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
  aeon/clustering/averaging/_ba_utils.py
  aeon/clustering/averaging/_barycenter_averaging.py
  aeon/clustering/averaging/_kasba_average.py
  aeon/clustering/averaging/_shift_scale_invariant_averaging.py
  aeon/clustering/averaging/tests/test_dba.py
  aeon/clustering/averaging/tests/test_kasba.py
  aeon/clustering/averaging/tests/test_petitjean_ba.py
  aeon/clustering/averaging/tests/test_shift_scale_invariant.py
  aeon/clustering/averaging/tests/test_subgradient.py
  aeon/clustering/tests/test_k_means.py
  aeon/distances/elastic/tests/test_distance_correctness.py
  aeon/testing/expected_results/expected_average_results.py
  aeon/transformations/series/tests/test_warping.py
  aeon/visualisation/estimator/tests/test_cluster_plotting.py
Labels: enhancement, clustering, multithreading

#3042 [ENH,DEP] Update `.ts` writer and deprecate old writers
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
Labels: enhancement, datasets, deprecation

#3060 [DOC] Update api references for Deep Forecasters
  docs/api_reference/forecasting.rst
  docs/api_reference/networks.rst
Labels: documentation, forecasting, deep learning, networks
