Repository aeon-toolkit/aeon, pull requests merged in 2025-05, with the labels that each got.

#2631 [ENH] Implement `load_model` function for ensemble classifiers
  aeon/classification/deep_learning/_inception_time.py
  aeon/classification/deep_learning/_lite_time.py
  aeon/classification/deep_learning/tests/test_inception_time.py
  aeon/classification/deep_learning/tests/test_lite_time.py
Labels: enhancement, classification

#2677 [DOC] Fix Broken [Source] Link and Improve Documentation for suppress_output()
  aeon/testing/utils/output_suppression.py
  aeon/testing/utils/tests/test_output_supression.py
  docs/conf.py
Labels: documentation, testing

#2764 [DOC] Add Raises section for invalid `weights` in KNeighborsTimeSeriesClassifier (#1766)
  aeon/classification/distance_based/_time_series_neighbors.py
Labels: documentation, classification

#2592 [DOC] Add RotationForest Classifier Notebook for Time Series Classification
  docs/examples.md
  examples/classification/img/rotation_forest.png
  examples/classification/rotation_forest.ipynb
Labels: documentation, examples

#2784 Fix codeowners for AD metrics
  CODEOWNERS
Labels: bug, maintenance

#2775 [GOV] Supporting Developer role
  docs/governance.md
Labels: governance

#2628 [ENH] Adapt the DCNN Networks to use Weight Norm Wrappers
  aeon/clustering/deep_learning/_ae_dcnn.py
  aeon/networks/_ae_dcnn.py
  aeon/networks/_dcnn.py
  aeon/utils/networks/weight_norm.py
Labels: enhancement, networks

#2776 [GOV] Remove inactive developers
  .github/utilities/generate_developer_tables.py
  docs/about.md
  docs/about/code_of_conduct_workgroup.md
  docs/about/core_developers.md
  docs/about/infrastructure_workgroup.md
Labels: governance

#2778 [DOC] Changed SummaryClusterer's summary_stat from "percentiles" to "quantiles"
  aeon/classification/feature_based/_summary.py
  aeon/clustering/feature_based/_summary.py
  aeon/regression/feature_based/_summary.py
Labels: documentation, clustering

#2540 [ENH] Test coverage for AEAttentionBiGRUNetwork Improved
  aeon/networks/tests/test_ae_abgru.py
Labels: enhancement, networks

#2622 [DOC] Inconsistent double ticks in segmentation package, public docstring only
  aeon/segmentation/_eagglo.py
  aeon/segmentation/_hmm.py
  aeon/segmentation/_igts.py
Labels: documentation, segmentation

#2808 [MNT] Lower bound keras to discard old bugged versions of early keras3
  pyproject.toml
Labels: maintenance

#2781 [ENH] Refactor range-based metrics to restore original behavior
  aeon/benchmarking/metrics/anomaly_detection/__init__.py
  aeon/benchmarking/metrics/anomaly_detection/_range_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/_range_ts_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/_util.py
  aeon/benchmarking/metrics/anomaly_detection/tests/test_ad_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/tests/test_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/tests/test_range_ts_metrics.py
Labels: enhancement, API design, benchmarking, anomaly detection

#2687 [ENH]Use n_jobs parameter in KNeighborsTimeSeriesClassifier.
  aeon/classification/distance_based/_time_series_neighbors.py
Labels: enhancement, classification

#2652 [ENH] add informational tags back to estimator docs
  aeon/anomaly_detection/base.py
  aeon/anomaly_detection/distance_based/_cblof.py
  aeon/anomaly_detection/distance_based/_kmeans.py
  aeon/anomaly_detection/distance_based/_left_stampi.py
  aeon/anomaly_detection/distance_based/_lof.py
  aeon/anomaly_detection/distance_based/_merlin.py
  aeon/anomaly_detection/distance_based/_one_class_svm.py
  aeon/anomaly_detection/distance_based/_stomp.py
  aeon/anomaly_detection/distribution_based/_copod.py
  aeon/anomaly_detection/distribution_based/_dwt_mlead.py
  aeon/anomaly_detection/outlier_detection/_iforest.py
  aeon/anomaly_detection/outlier_detection/_pyodadapter.py
  aeon/anomaly_detection/outlier_detection/_stray.py
  aeon/anomaly_detection/whole_series/_rockad.py
  aeon/testing/estimator_checking/_yield_anomaly_detection_checks.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/mock_estimators/_mock_anomaly_detectors.py
  aeon/testing/testing_config.py
  aeon/testing/testing_data.py
  aeon/utils/tags/_tags.py
Labels: enhancement, anomaly detection

#2612 [DOC] Documentation improvement of BaseSeriesEstimator and BaseAeonEstimator
  aeon/base/_base.py
  aeon/base/_base_series.py
Labels: documentation

#2656 [ENH] HydraTransformer Output changed
  aeon/transformations/collection/convolution_based/_hydra.py
  aeon/transformations/collection/convolution_based/tests/test_hydra.py
Labels: enhancement, transformations

#2616 [DOC] Improved Hidalgo Segmentation Notebook
  examples/segmentation/hidalgo_segmentation.ipynb
Labels: documentation, examples

#2797 [DOC,MNT] Add supporting devs to webpage and consolidate maintenance workflows
  .github/utilities/generate_developer_tables.py
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/precommit_autoupdate.yml
  .github/workflows/scorecard.yml
  .github/workflows/weekly_github_maintenance.yml
  docs/about.md
  docs/about/supporting_developers.md
Labels: documentation, maintenance

#2809 [MNT] Run PR tests when merging on any branch
  .github/workflows/pr_core_dep_import.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/pr_typecheck.yml
Labels: maintenance

#2826 [BUG] Fix indexing errors in kdtw of KernelKMeans
  aeon/clustering/_kernel_k_means.py
  aeon/clustering/tests/test_kernel_k_means.py
Labels: bug, clustering, distances

#2618 [DOC] Fix inconsistent double backticks in similarity_search module (#809)
  aeon/similarity_search/series/_commons.py
  aeon/similarity_search/series/motifs/_stomp.py
  aeon/similarity_search/series/neighbors/_dummy.py
  aeon/similarity_search/series/neighbors/_mass.py
Labels: documentation, similarity search

#2822 [ENH] Update `_continuous.py` functions
  aeon/benchmarking/metrics/anomaly_detection/_continuous.py
  aeon/benchmarking/metrics/anomaly_detection/_range_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/_range_ts_metrics.py
  aeon/benchmarking/metrics/anomaly_detection/tests/test_ad_metrics.py
Labels: enhancement, benchmarking, anomaly detection

#2526 [MNT] stop segmenters changing state in predict
  aeon/segmentation/_ggs.py
  aeon/segmentation/_igts.py
  aeon/segmentation/tests/test_igts.py
  aeon/testing/testing_config.py
Labels: maintenance, testing, segmentation, visualisation

#2831 [ENH] refactor dummy forecaster to naive
  aeon/forecasting/__init__.py
  aeon/forecasting/_naive.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_base.py
  examples/forecasting/forecasting.ipynb
Labels: enhancement, forecasting

#2729 [ENH] add a difference transformer to series transformations
  .all-contributorsrc
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_diff.py
  aeon/transformations/series/tests/test_diff.py
Labels: enhancement, transformations

#2843 [BUG] Adds test case for using csr_matrix with pickle - invalidates #2210
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: bug, testing, full pytest actions

#2858 [BUG] Remove typing from numba functions
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/collection/convolution_based/_multirocket.py
Labels: bug, transformations
