Repository aeon-toolkit/aeon, pull requests merged in 2025-01, with the labels that each got.

#2461 [BUG, ENH] SFA fix: Std-Normalization, as used in BOSS and WEASEL models, is potentially harmful for lower bounding
  aeon/distances/mindist/_dft_sfa.py
  aeon/distances/mindist/_sfa.py
  aeon/distances/tests/test_symbolic_mindist.py
  aeon/transformations/collection/dictionary_based/__init__.py
  aeon/transformations/collection/dictionary_based/_sfa.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/dictionary_based/_sfa_whole.py
Labels: bug, enhancement, distances

#2489 [DOC] add note to install pandoc
  docs/developer_guide/documentation.md
Labels: documentation

#2488 [MNT] Fixed wrong type annotations for aeon classes
  aeon/classification/sklearn/_continuous_interval_tree.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
Labels: classification, regression, maintenance

#2468 [ENH] Add sphinx event to add capability table to estimators' docs individually
  aeon/anomaly_detection/_cblof.py
  aeon/anomaly_detection/_copod.py
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_iforest.py
  aeon/anomaly_detection/_kmeans.py
  aeon/anomaly_detection/_left_stampi.py
  aeon/anomaly_detection/_lof.py
  aeon/anomaly_detection/_merlin.py
  aeon/anomaly_detection/_one_class_svm.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/anomaly_detection/_stray.py
  docs/conf.py
Labels: enhancement

#2487 [DOC] Distance function notebook #2395
  examples/distances/distances.ipynb
Labels: documentation, examples

#2485 [ENH] Added possibility for pooling strides in TimeCNN
  aeon/classification/deep_learning/_cnn.py
  aeon/networks/_cnn.py
Labels: enhancement, classification, networks

#2496 [DOC] Added search functionality for estimator overview table
  docs/conf.py
  docs/estimator_overview.md
Labels: documentation, enhancement

#2483 [DOC] Update Partitional clustering notebook
  examples/clustering/partitional_clustering.ipynb
Labels: examples

#2504 [DOC] Fixed</li> tags appearance on the end on list in partition clustering notebook
  examples/clustering/partitional_clustering.ipynb
Labels: documentation, examples

#2495 [ENH] Removed Reshape Layer from Deep Learning Clusterers
  aeon/clustering/deep_learning/_ae_abgru.py
  aeon/clustering/deep_learning/_ae_bgru.py
  aeon/clustering/deep_learning/_ae_dcnn.py
  aeon/clustering/deep_learning/_ae_drnn.py
  aeon/clustering/deep_learning/_ae_fcn.py
  aeon/clustering/deep_learning/_ae_resnet.py
Labels: enhancement, clustering

#2419 [ENH] Add LITETimeClassifier Example to Classification Notebook
  examples/classification/classification.ipynb
Labels: enhancement, examples

#2502 [BUG] Passed stride parameter to LITETimeClassifier
  aeon/classification/deep_learning/_lite_time.py
Labels: bug, classification

#2508 [DOC] Update custom CSS for dataframe styling in documentation
  docs/_static/css/custom.css
Labels: documentation

#2501 [ENH] wrapper for smote and adasyn of the imbalance module in collection transformers
  aeon/transformations/collection/imbalance/__init__.py
  aeon/transformations/collection/imbalance/_adasyn.py
  aeon/transformations/collection/imbalance/_smote.py
  aeon/transformations/collection/tests/test_imbalance.py
Labels: enhancement, transformations

#2505 [DOC] Updated docstring to clarify class_weight parameter in MRHydraClassifier
  aeon/classification/convolution_based/_mr_hydra.py
Labels: classification

#2494 [DOC] added type hints to 'classification->convolution_based' module
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_minirocket.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_multirocket.py
  aeon/classification/convolution_based/_rocket.py
Labels: documentation, classification

#2510 [BUG] LITE Network : Fixed list arguments
  aeon/classification/deep_learning/_lite_time.py
  aeon/networks/_lite.py
  aeon/regression/deep_learning/_lite_time.py
Labels: bug, classification, regression, networks

#2338 [ENH] Add and Validate `n_layers`, `n_units`, `activation` & `dropout_rate` kwargs to MLPNetwork
  aeon/classification/deep_learning/_mlp.py
  aeon/networks/_mlp.py
  aeon/regression/deep_learning/_mlp.py
Labels: enhancement, deep learning, networks

#2418 [ENH] Replace SFA with SFAFast in REDCOMETS
  aeon/classification/dictionary_based/_redcomets.py
Labels: enhancement, classification

#2522 [MNT] Temporary exclusion of REDCOMETS from CI
  aeon/classification/dictionary_based/tests/test_redcomets.py
  aeon/testing/testing_config.py
Labels: maintenance
