Repository aeon-toolkit/aeon, pull requests merged in 2025-04, with the labels that each got.

#2717 [DOC]Update dependencies.md
  docs/developer_guide/dependencies.md
Labels: documentation

#2590 [ENH] Test Coverage for Pairwise Distance
  aeon/visualisation/distances/tests/__init__.py
  aeon/visualisation/distances/tests/test_pairwise_distance_matrix.py
Labels: enhancement, codecov actions, visualisation

#2597 [DOC] re-running notebook for fixing error in cell output
  examples/classification/early_classification.ipynb
Labels: documentation, examples

#2609 [DOC] Added Missing Docstring for Plot Pairwise Distance Matrix
  aeon/visualisation/distances/_pairwise_distance_matrix.py
Labels: documentation, visualisation

#2617 [DOC] Add 'Raises' section to docstring #1766
  aeon/base/_base.py
Labels: documentation

#2554 [DOC] Contributor docs update
  .github/PULL_REQUEST_TEMPLATE.md
  docs/contributing.md
  docs/developer_guide/testing.md
Labels: documentation

#2703 [MNT] issue-assign-bot (prevent assignment on PRs)
  .github/utilities/issue_assign.py
Labels: maintenance

#2701 [MNT] Fix run_examples.sh exclusion
  .github/utilities/run_examples.sh
Labels: maintenance, examples

#2555 [BUG] SevenNumberSummary bugfix and input rename
  aeon/transformations/collection/feature_based/_summary.py
  aeon/transformations/collection/feature_based/tests/test_summary.py
Labels: bug, transformations

#2556 [DOC] Add link to about us page and fix badge link in README
  README.md
Labels: documentation

#2623 [ENH] Remove MutilROCKETRegressor from alias mapping
  aeon/benchmarking/results_loaders.py
Labels: enhancement, benchmarking

#2738 [DOC] Fixed a few spelling/grammar mistakes on TSC docs examples
  examples/classification/classification.ipynb
Labels: documentation, examples

#2735 Fix docstring inconsistencies in benchmarking module (resolves #809)
  aeon/benchmarking/metrics/anomaly_detection/thresholding.py
  aeon/benchmarking/metrics/segmentation.py
  aeon/benchmarking/resampling.py
Labels: documentation, benchmarking

#2655 [ENH] `best_on_top` addition in `plot_pairwise_scatter`
  aeon/visualisation/results/_scatter.py
  aeon/visualisation/results/tests/test_scatter.py
  examples/visualisation/plotting_results.ipynb
Labels: enhancement, visualisation

#2551 [ENH] Add dummy clusterer tags
  aeon/clustering/dummy.py
Labels: enhancement, clustering

#2654 [ENH] Collection conversion cleanup and `df-list` fix
  aeon/classification/early_classification/tests/test_probability_threshold.py
  aeon/classification/early_classification/tests/test_teaser.py
  aeon/testing/data_generation/_collection.py
  aeon/testing/data_generation/tests/test_collection.py
  aeon/testing/tests/test_testing_data.py
  aeon/testing/utils/deep_equals.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/data_types.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  examples/datasets/datasets.ipynb
Labels: enhancement, testing, datasets, codecov actions

#2638 [MNT] Updated the release workflows
  .github/workflows/fast_release.yml
  .github/workflows/release.yml
  docs/developer_guide/release.md
Labels: maintenance

#2608 [MNT,ENH] Update to allow Python 3.13
  .github/actions/cpu_all_extras/action.yml
  .github/utilities/run_examples.sh
  .github/workflows/fast_release.yml
  .github/workflows/issue_assigned.yml
  .github/workflows/issue_comment_edited.yml
  .github/workflows/issue_comment_posted.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_core_dep_import.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_opened.yml
  .github/workflows/pr_precommit.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/pr_typecheck.yml
  .github/workflows/precommit_autoupdate.yml
  .github/workflows/release.yml
  aeon/anomaly_detection/tests/test_cblof.py
  aeon/anomaly_detection/tests/test_copod.py
  aeon/testing/tests/test_all_estimators.py
  examples/transformations/preprocessing.ipynb
  pyproject.toml
Labels: enhancement, maintenance, testing, full pytest actions, codecov actions

#2640 [DOC] Inconsistent double qoutes in regression module
  aeon/regression/_dummy.py
  aeon/regression/base.py
Labels: documentation, regression

#2702 [ENH,MNT] Assign Bot (assigned issues>2)
  .github/utilities/issue_assign.py
Labels: enhancement, maintenance

#2704 [MNT,ENH] Assign-bot (Allow users to type alternative phrases for assingment)
  .github/utilities/issue_assign.py
Labels: enhancement, maintenance

#2696 Release v1.1.0
  README.md
  aeon/__init__.py
  docs/changelog.md
  docs/changelogs/v1.0.md
  docs/changelogs/v1.1.md
  docs/conf.py
  docs/index.md
  pyproject.toml
Labels: maintenance, release

#2748 [DOC] Add implementation references
  aeon/base/_compose.py
  aeon/classification/dictionary_based/_redcomets.py
  aeon/clustering/_kernel_k_means.py
  aeon/distances/elastic/_bounding_matrix.py
  aeon/regression/deep_learning/_lite_time.py
  aeon/segmentation/_ggs.py
  aeon/transformations/collection/convolution_based/_minirocket.py
  aeon/transformations/series/_bkfilter.py
  aeon/utils/show_versions.py
  aeon/visualisation/results/_critical_difference.py
  docs/_sphinxext/sphinx_remove_toctrees.py
Labels: documentation

#2747 [MNT] Use GPU installs for periodic tests
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/release.yml
Labels: maintenance

#2727 [ENH] Optimize QUANTTransformer by using shape calculation in _fit method to avoid unnecessary computations
  aeon/transformations/collection/interval_based/_quant.py
Labels: enhancement, transformations

#2694 [REF] Refactor Anomaly Detection Module into Submodules by Algorithm Family
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/distance_based/__init__.py
  aeon/anomaly_detection/distance_based/_cblof.py
  aeon/anomaly_detection/distance_based/_kmeans.py
  aeon/anomaly_detection/distance_based/_left_stampi.py
  aeon/anomaly_detection/distance_based/_lof.py
  aeon/anomaly_detection/distance_based/_merlin.py
  aeon/anomaly_detection/distance_based/_one_class_svm.py
  aeon/anomaly_detection/distance_based/_stomp.py
  aeon/anomaly_detection/distance_based/tests/__init__.py
  aeon/anomaly_detection/distance_based/tests/test_cblof.py
  aeon/anomaly_detection/distance_based/tests/test_kmeans.py
  aeon/anomaly_detection/distance_based/tests/test_left_stampi.py
  aeon/anomaly_detection/distance_based/tests/test_lof.py
  aeon/anomaly_detection/distance_based/tests/test_merlin.py
  aeon/anomaly_detection/distance_based/tests/test_one_class_svm.py
  aeon/anomaly_detection/distance_based/tests/test_stomp.py
  aeon/anomaly_detection/distribution_based/__init__.py
  aeon/anomaly_detection/distribution_based/_copod.py
  aeon/anomaly_detection/distribution_based/_dwt_mlead.py
  aeon/anomaly_detection/distribution_based/tests/__init__.py
  aeon/anomaly_detection/distribution_based/tests/test_copod.py
  aeon/anomaly_detection/distribution_based/tests/test_dwt_mlead.py
  aeon/anomaly_detection/outlier_detection/__init__.py
  aeon/anomaly_detection/outlier_detection/_iforest.py
  aeon/anomaly_detection/outlier_detection/_pyodadapter.py
  aeon/anomaly_detection/outlier_detection/_stray.py
  aeon/anomaly_detection/outlier_detection/tests/__init__.py
  aeon/anomaly_detection/outlier_detection/tests/test_iforest.py
  aeon/anomaly_detection/outlier_detection/tests/test_pyod_adapter.py
  aeon/anomaly_detection/outlier_detection/tests/test_stray.py
  aeon/anomaly_detection/whole_series/__init__.py
  aeon/anomaly_detection/whole_series/_rockad.py
  aeon/anomaly_detection/whole_series/tests/__init__.py
  aeon/anomaly_detection/whole_series/tests/test_rockad.py
  docs/api_reference/anomaly_detection.rst
  docs/developer_guide/adding_typehints.md
  docs/getting_started.md
  examples/anomaly_detection/anomaly_detection.ipynb
Labels: anomaly detection

#2737 [ENH]Type hints/forecasting
  aeon/base/_base_series.py
  aeon/forecasting/_ets.py
  aeon/forecasting/_regression.py
  aeon/forecasting/base.py
Labels: enhancement, forecasting
