Repository aeon-toolkit/aeon, pull requests merged in 2025-06, with the labels that each got.

#2834 [ENH] introduce revised version of ETS
  aeon/forecasting/_ets.py
  aeon/forecasting/tests/test_ets.py
Labels: enhancement, forecasting

#2863 [DEP] Remove `prts` dependency
  aeon/benchmarking/metrics/anomaly_detection/_continuous.py
  pyproject.toml
Labels: anomaly detection, dependencies, deprecation

#2877 [MNT] Update Slack link
  .github/ISSUE_TEMPLATE/config.yml
  .github/utilities/pr_open_commenter.py
  CODE_OF_CONDUCT.md
  README.md
  docs/code_of_conduct.md
  docs/conf.py
  docs/contributing.md
  docs/index.md
  docs/projects.md
Labels: maintenance

#2883 [BUG] Switch results loaders from http to https
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_results_loaders.py
Labels: bug, benchmarking

#2878 [MNT] PR open bot comment changes
  .github/utilities/pr_open_commenter.py
Labels: maintenance

#2535 [ENH] Implemented Tracking differentiator-based multiview dilated characteristics (TD-MVDC) Classifier
  aeon/classification/feature_based/__init__.py
  aeon/classification/feature_based/_tdmvdc.py
  aeon/classification/feature_based/tests/test_tdmvdc.py
  examples/classification/feature_based.ipynb
Labels: enhancement, classification, codecov actions, full examples run

#2882 [ENH] Add two forecasting tags
  aeon/forecasting/_ets.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_base.py
  aeon/utils/tags/_tags.py
Labels: enhancement, forecasting

#2885 [BUG] Forecasting regressor fix and notebook
  aeon/classification/compose/_pipeline.py
  aeon/forecasting/_regression.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_regressor.py
  examples/forecasting/forecasting.ipynb
  examples/forecasting/img/window.png
  examples/forecasting/regression.ipynb
Labels: bug, forecasting, examples

#2852 [GOV] Use the NumFOCUS code of conduct and rename `aeon` workgroup
  .github/ISSUE_TEMPLATE/config.yml
  .github/utilities/generate_developer_tables.py
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
  docs/about.md
  docs/about/code_of_conduct_moderators.md
  docs/code_of_conduct.md
  docs/governance.md
Labels: governance

#2546 [DOC] resolved the inconsistency of double ticks for the anomaly detection module #809
  aeon/anomaly_detection/series/_pyodadapter.py
  aeon/anomaly_detection/series/distance_based/_cblof.py
  aeon/anomaly_detection/series/distance_based/_kmeans.py
  aeon/anomaly_detection/series/distance_based/_lof.py
  aeon/anomaly_detection/series/distance_based/_merlin.py
  aeon/anomaly_detection/series/distance_based/_stomp.py
  aeon/anomaly_detection/series/distribution_based/_copod.py
  aeon/anomaly_detection/series/distribution_based/_dwt_mlead.py
  aeon/anomaly_detection/series/outlier_detection/_iforest.py
  aeon/anomaly_detection/series/outlier_detection/_one_class_svm.py
Labels: documentation, anomaly detection

#2891 [ENH] Forecasting testing
  aeon/testing/estimator_checking/_yield_anomaly_detection_checks.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/estimator_checking/_yield_forecasting_checks.py
Labels: enhancement, forecasting, testing

#2902 [MNT] Fixing CI issues and separate doctests from regular CI runners
  .github/actions/cpu_all_extras/action.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_examples.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  aeon/transformations/collection/dictionary_based/_borf.py
  pyproject.toml
Labels: maintenance, testing

#2897 [BUG] Fixes a bug with SFAFast throwing an error when calling transform after fit
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/dictionary_based/tests/test_sfa.py
Labels: bug, transformations

#2908 [MNT] codecov badge fix
  README.md
Labels: maintenance

#2899 [ENH] Add recursive and direct methods to forecasting base class
  aeon/forecasting/_regression.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_base.py
  examples/forecasting/direct.ipynb
  examples/forecasting/img/direct.png
  examples/forecasting/img/iterative.png
  examples/forecasting/iterative.ipynb
Labels: enhancement, forecasting

#2898 [ENH] remove horizon from ETS constructor, parametrize ETS tests
  aeon/forecasting/_ets.py
  aeon/forecasting/tests/test_ets.py
Labels: enhancement, forecasting

#2804 [ENH, REF]Refactored time-point based ROCKAD implementation
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
  aeon/anomaly_detection/series/distance_based/_rockad.py
  aeon/anomaly_detection/series/distance_based/tests/test_rockad.py
Labels: enhancement, refactor, anomaly detection

#2903 [ENH,REF] Unequal length collection transforms
  .github/workflows/pr_examples.yml
  aeon/classification/compose/_pipeline.py
  aeon/classification/compose/tests/test_pipeline.py
  aeon/classification/tests/test_sklearn_compatability.py
  aeon/clustering/compose/_pipeline.py
  aeon/clustering/compose/tests/test_pipeline.py
  aeon/pipeline/tests/test_make_pipeline.py
  aeon/regression/compose/_pipeline.py
  aeon/regression/compose/tests/test_pipeline.py
  aeon/testing/estimator_checking/_yield_transformation_checks.py
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_pad.py
  aeon/transformations/collection/_periodogram.py
  aeon/transformations/collection/_resize.py
  aeon/transformations/collection/_truncate.py
  aeon/transformations/collection/base.py
  aeon/transformations/collection/compose/_pipeline.py
  aeon/transformations/collection/compose/tests/test_pipeline.py
  aeon/transformations/collection/tests/test_resizer.py
  aeon/transformations/collection/tests/test_truncate.py
  aeon/transformations/collection/unequal_length/__init__.py
  aeon/transformations/collection/unequal_length/_commons.py
  aeon/transformations/collection/unequal_length/_pad.py
  aeon/transformations/collection/unequal_length/_resize.py
  aeon/transformations/collection/unequal_length/_truncate.py
  aeon/transformations/collection/unequal_length/tests/__init__.py
  aeon/transformations/collection/unequal_length/tests/test_pad.py
  aeon/transformations/collection/unequal_length/tests/test_resize.py
  aeon/transformations/collection/unequal_length/tests/test_truncate.py
  aeon/utils/discovery.py
  examples/datasets/data_unequal.ipynb
  examples/transformations/preprocessing.ipynb
  examples/transformations/transformations.ipynb
Labels: enhancement, transformations, refactor

#2657 [ENH] Improves `create_multi_comparison_matrix` parameters and saving
  aeon/visualisation/results/_mcm.py
  aeon/visualisation/results/tests/test_mcm.py
  examples/visualisation/plotting_results.ipynb
Labels: enhancement, codecov actions, visualisation

#2739 [MNT] issue-assign-bot - only users with write access should be able to assign others
  .github/utilities/issue_assign.py
Labels: maintenance
