Repository aeon-toolkit/aeon, pull requests merged in 2025-07, with the labels that each got.

#2927 [ENH] Refactor to set forecast_ in fit and to require y in predict
  aeon/forecasting/_ets.py
  aeon/forecasting/_naive.py
  aeon/forecasting/_regression.py
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_base.py
  aeon/forecasting/tests/test_ets.py
  aeon/forecasting/tests/test_naive.py
  aeon/forecasting/tests/test_regressor.py
  aeon/testing/estimator_checking/_yield_forecasting_checks.py
  examples/forecasting/forecasting.ipynb
  examples/forecasting/regression.ipynb
Labels: enhancement, forecasting

#2936 [ENH] Clone estimator in direct forecast
  aeon/forecasting/base.py
  aeon/forecasting/tests/test_base.py
Labels: enhancement, forecasting

#2920 [ENH] Implement Time-Varying Parameter (TVP) regression forecaster using Kalman filter
  aeon/forecasting/__init__.py
  aeon/forecasting/_tvp.py
  aeon/forecasting/tests/test_tvp.py
  docs/api_reference/forecasting.md
  examples/forecasting/regression.ipynb
Labels: forecasting

#2939 [ENH] Rework ETS Forecaster
  aeon/forecasting/_ets.py
  aeon/forecasting/tests/test_ets.py
  examples/forecasting/ets.ipynb
  examples/forecasting/iterative.ipynb
Labels: enhancement, forecasting

#2953 [MNT] add n_jobs parameter for sax invertion
  aeon/transformations/collection/dictionary_based/_sax.py
Labels: transformations, maintenance

#2928 [DEP] Deprecate PLAID dataset
  aeon/datasets/__init__.py
  aeon/datasets/_single_problem_loaders.py
  aeon/datasets/data/PLAID/PLAID_TEST.arff
  aeon/datasets/data/PLAID/PLAID_TEST.ts
  aeon/datasets/data/PLAID/PLAID_TRAIN.arff
  aeon/datasets/data/PLAID/PLAID_TRAIN.ts
  aeon/transformations/collection/unequal_length/tests/test_resize.py
  aeon/transformations/collection/unequal_length/tests/test_truncate.py
Labels: datasets, deprecation

#2942 [DOC] Classification notebook links
  examples/classification/classification.ipynb
Labels: documentation, classification

#2929 [BUG] Improve signature docs
  aeon/transformations/collection/signature_based/_rescaling.py
  examples/transformations/signature_method.ipynb
Labels: bug, transformations, examples

#2965 [MNT] Clean disk space for CI to try stop sporadic failure
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
  .github/workflows/release.yml
Labels: maintenance

#2969 [BUG] stop overwriting y in BaseSegmenter
  aeon/segmentation/base.py
Labels: bug, segmentation, anomaly detection

#2952 [BUG] Fix redcomets bug when using only one sample
  aeon/classification/dictionary_based/_redcomets.py
  aeon/distances/mindist/_dft_sfa.py
  aeon/distances/mindist/_sfa.py
  aeon/distances/tests/test_symbolic_mindist.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
Labels: bug, classification, transformations, full pytest actions, full examples run

#2961 [DEP] Remove deprecated transforms
  aeon/transformations/collection/__init__.py
  aeon/transformations/collection/_pad.py
  aeon/transformations/collection/_resize.py
  aeon/transformations/collection/_truncate.py
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_dft.py
  aeon/transformations/series/_exp_smoothing.py
  aeon/transformations/series/_gauss.py
  aeon/transformations/series/_moving_average.py
  aeon/transformations/series/_sg.py
  aeon/transformations/series/_siv.py
  aeon/transformations/series/compose/_pipeline.py
  docs/api_reference/transformations.md
Labels: transformations, deprecation

#2973 [DOC] Add Imbalance transformers to API
  docs/api_reference/classification.rst
  docs/api_reference/transformations.md
Labels: documentation, transformations

#2976 [DOC] Simple imbalance notebook
  examples/transformations/imbalance.ipynb
  examples/transformations/img/smote.jpg
Labels: documentation, transformations

#2962 [ENH] Forecasting refactor
  aeon/forecasting/__init__.py
  aeon/forecasting/stats/__init__.py
  aeon/forecasting/stats/_arima.py
  aeon/forecasting/stats/_ets.py
  aeon/forecasting/stats/tests/__init__.py
  aeon/forecasting/stats/tests/test_arima.py
  aeon/forecasting/stats/tests/test_ets.py
  aeon/forecasting/utils/__init__.py
  aeon/forecasting/utils/_extract_paras.py
  aeon/forecasting/utils/_loss_functions.py
  aeon/forecasting/utils/_nelder_mead.py
  docs/api_reference/classification.rst
  docs/api_reference/clustering.rst
  docs/api_reference/forecasting.md
  docs/api_reference/forecasting.rst
  docs/api_reference/regression.rst
  docs/api_reference/transformations.md
  docs/getting_started.md
  examples/forecasting/forecasting.ipynb
  examples/forecasting/iterative.ipynb
Labels: enhancement, forecasting

#2948 [ENH] forecasting coverage
  aeon/forecasting/tests/test_base.py
  aeon/forecasting/tests/test_naive.py
  aeon/forecasting/tests/test_regressor.py
Labels: enhancement, forecasting, coverage
