Repository aeon-toolkit/aeon, pull requests merged in 2025-02, with the labels that each got.

#2518 [ENH] Test coverage for AEResNetNetwork Improved
  aeon/networks/tests/test_ae_resnet.py
Labels: enhancement, codecov actions, networks

#2517 [ENH] adjust test for non numpy output
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/utils/deep_equals.py
Labels: enhancement, testing

#2531 [MNT] Testing fixes
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/utils/deep_equals.py
  pyproject.toml
Labels: maintenance, testing

#2532 [DOC] Improve type hint guide and add link to the page.
  docs/developer_guide.md
  docs/developer_guide/adding_typehints.md
  docs/developer_guide/documentation.md
Labels: documentation

#2484 [DOC] Add 'Raises' section to docstring (#1766)
  aeon/classification/dictionary_based/_cboss.py
Labels: classification

#2550 [BUG] add ExpSmoothingSeriesTransformer and MovingAverageSeriesTransformer to __init__
  aeon/transformations/series/__init__.py
  docs/api_reference/transformations.rst
Labels: bug, transformations

#2512 [ENH] Added class weights to feature based classifiers
  aeon/classification/feature_based/_catch22.py
  aeon/classification/feature_based/_signature_classifier.py
  aeon/classification/feature_based/_summary.py
  aeon/classification/feature_based/_tsfresh.py
  aeon/classification/feature_based/tests/test_catch22.py
  aeon/classification/feature_based/tests/test_signature.py
  aeon/classification/feature_based/tests/test_summary.py
  aeon/classification/feature_based/tests/test_tsfresh.py
Labels: enhancement, classification

#2537 [ENH] Test coverage for MLP Network improved
  aeon/networks/tests/test_mlp.py
Labels: enhancement, networks

#2558 [ENH] Test coverage for AEFCNNetwork Improved
  aeon/networks/tests/test_ae_fcn.py
Labels: enhancement, networks

#2534 [ENH] Test coverage for TimeCNNNetwork Improved
  aeon/networks/tests/test_cnn.py
  aeon/networks/tests/test_time_cnn.py
Labels: enhancement, networks
