Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @lmmentel, @patrickzib, @ermshaua, @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999, @dguijo, @RafaAyGar, @zy18811, @chrisholder, @akshatvishu, @aiwalter, @guzalbulatova, @ltsaprounis, @FedericoGarza, @koralturkk, @magittan, @Flix6x, @TNTran92, @juanitorduz, @angus924, @ChangWeiTan, @fstinner, @jambo6, @haskarb, @baraline, @MrPr3ntice, @iljamaurer, @NoaBenAmi, @GuzalBulatova, @KishManani, @aeon/aeon-code-of-conduct-committee, @aeon/aeon-core-developers

fix
  aeon/classification/shapelet_based/_stc.py
Owners: @MatthewMiddlehurst, @TonyBagnall

merlin numba and base import
  aeon/anomaly_detection/_merlin.py
  aeon/anomaly_detection/base.py
Owners: none

make tag deprecator private in registry and remove from coverage
  .codecov.yml
  aeon/base/_base.py
  aeon/registry/_tag_deprecation.py
Owners: none

Comments
  .github/workflows/self_assign_bot.yml
Owners: none

PR #1452
  aeon/datasets/tests/test_load_forecasting.py
  aeon/transformations/outlier_detection.py
Owners: @aiwalter

Improve readability of calculate_distance_profile
  aeon/distances/_mpdist.py
Owners: @chrisholder, @TonyBagnall, @akshatvishu

Update .all-contributorsrc
  .all-contributorsrc
Owners: none

Correct output
  aeon/distances/_mpdist.py
Owners: @chrisholder, @TonyBagnall, @akshatvishu

Added brackets and updated results
  aeon/distances/_mpdist.py
Owners: @chrisholder, @TonyBagnall, @akshatvishu

Updated 2 functions in _time_series_neighbors.py for including type hints
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

Updated 2 functions in _time_series_neighbors.py for including type hints
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

Updated 2 functions in _time_series_neighbors.py for including type hints
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

updated changes requested for PR
  aeon/classification/shapelet_based/_rsast_classifier.py
  aeon/transformations/collection/shapelet_based/_rsast.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @aiwalter

add numeric checks in check_series
  aeon/base/_base_series.py
  aeon/utils/validation/series.py
  aeon/utils/validation/tests/test_series.py
Owners: none

[DOC] PR #1452 (#1462)
  .all-contributorsrc
  aeon/datasets/tests/test_load_forecasting.py
  aeon/transformations/outlier_detection.py
Owners: @aiwalter

make tag deprecator private in registry and remove from coverage (#1460)
  .codecov.yml
  aeon/base/_base.py
  aeon/registry/_tag_deprecation.py
Owners: none

[ENH] Autocorrelation SeriesTransformer (#1380)
  aeon/transformations/series/_acf.py
  aeon/transformations/series/tests/test_acf.py
  aeon/visualisation/series/tests/test_series_plotting.py
Owners: @aiwalter

add numeric checks in check_series
  aeon/base/tests/test_base_series.py
Owners: none

deprecate check_X in forecasting
  aeon/utils/validation/forecasting.py
Owners: none

run pre-commit
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[ENH] `fit_predict` for FreshPRINCE and RotationForest (#1456)
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_rotation_forest_classifier.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

deprecation V9 actions
  aeon/regression/base.py
  aeon/utils/sampling.py
  aeon/utils/validation/panel.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

deprecation V9 actions
  aeon/utils/seasonality.py
Owners: none

Revert "Merge branch 'main' into ajb/check_series"
  .all-contributorsrc
  .codecov.yml
  aeon/base/_base.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_rotation_forest_classifier.py
  aeon/datasets/tests/test_load_forecasting.py
  aeon/registry/_tag_deprecation.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
  aeon/transformations/outlier_detection.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/tests/test_acf.py
  aeon/visualisation/series/tests/test_series_plotting.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo, @aiwalter

channel selection
  aeon/transformations/collection/channel_selection/__init__.py
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/collection/channel_selection/tests/__init__.py
  aeon/transformations/collection/channel_selection/tests/test_elbow_class.py
  aeon/transformations/collection/tests/test_channel_selection.py
Owners: @aiwalter

Reapply "Merge branch 'main' into ajb/check_series"
  .all-contributorsrc
  .codecov.yml
  aeon/base/_base.py
  aeon/classification/feature_based/_fresh_prince.py
  aeon/classification/shapelet_based/_stc.py
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/classification/sklearn/tests/test_rotation_forest_classifier.py
  aeon/datasets/tests/test_load_forecasting.py
  aeon/registry/_tag_deprecation.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/regression/sklearn/tests/test_rotation_forest_regressor.py
  aeon/transformations/outlier_detection.py
  aeon/transformations/series/_acf.py
  aeon/transformations/series/tests/test_acf.py
  aeon/visualisation/series/tests/test_series_plotting.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo, @aiwalter

add weights to dba
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
  aeon/clustering/averaging/_barycenter_averaging.py
Owners: @chrisholder, @TonyBagnall

plotting tests
  aeon/visualisation/series/tests/test_series_plotting.py
Owners: none

refactor elbow class
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/collection/channel_selection/tests/test_elbow_class.py
Owners: @aiwalter

add distance project
  docs/mentoring.md
Owners: none

fix-Index Error
  aeon/forecasting/varmax.py
Owners: @aiwalter, @guzalbulatova, @ltsaprounis

refactor converters
  aeon/datatypes/_adapter/gluonts_to_pd_multiindex.py
  aeon/testing/utils/data_gen/__init__.py
  aeon/testing/utils/data_gen/_collection.py
  aeon/testing/utils/data_gen/tests/test_collection.py
  aeon/utils/conversion/gluonts_converters.py
  aeon/utils/conversion/tests/test_gluonts_converters.py
Owners: none

deprecate shapeDTW
  aeon/classification/distance_based/__init__.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/tests/test_shape_dtw.py
Owners: @MatthewMiddlehurst, @TonyBagnall

deprecate gluonts things
  aeon/utils/conversion/gluonts_converters.py
  aeon/utils/conversion/tests/test_gluonts_converters.py
Owners: none

remove shapeDTW
  aeon/testing/expected_results/classifier_results_reproduction.py
  aeon/testing/expected_results/expected_classifier_outputs.py
Owners: none

deprecate ACF
  aeon/classification/sklearn/_rotation_forest_classifier.py
  aeon/regression/feature_based/_fresh_prince.py
  aeon/regression/sklearn/_rotation_forest_regressor.py
  aeon/transformations/acf.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo, @aiwalter

results reproduction
  aeon/testing/expected_results/classifier_results_reproduction.py
Owners: none

notebook
  examples/classification/distance_based.ipynb
Owners: none

statsmodels
  aeon/transformations/series/__init__.py
  aeon/transformations/series/_acf.py
Owners: @aiwalter

CODEOWNERS:

# The file lists aeon's package and estimator maintainers.
# Each line is a file pattern followed by one or more owners/groups.
# Only users with write access to the repository will be automatically added as
# reviewers and contacted.

aeon/annotation/ @lmmentel
aeon/annotation/clasp.py @patrickzib @ermshaua

aeon/benchmarking/ @TonyBagnall @MatthewMiddlehurst @hadifawaz1999 @dguijo

aeon/classification/ @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning/ @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification/ @RafaAyGar @dguijo @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_redcomets.py @zy18811

aeon/clustering/ @chrisholder @TonyBagnall

aeon/distances/ @chrisholder @TonyBagnall @akshatvishu

aeon/forecasting/ @aiwalter @guzalbulatova @ltsaprounis
aeon/forecasting/base/adapters/_statsforecast.py @FedericoGarza
aeon/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
aeon/forecasting/model_selection/_split @koralturkk
aeon/forecasting/online_learning/ @magittan
aeon/forecasting/naive.py @Flix6x
aeon/forecasting/sarimax.py @TNTran92
aeon/forecasting/statsforecast.py @FedericoGarza
aeon/forecasting/structural.py @juanitorduz

aeon/networks/ @hadifawaz1999

aeon/performance_metrics/forecasting/_functions.py @aiwalter
aeon/performance_metrics/annotation/ @lmmentel

aeon/pipeline/ @aiwalter

aeon/regression/ @MatthewMiddlehurst @TonyBagnall @dguijo
aeon/regression/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall @dguijo

aeon/transformations/collection/ @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/dictionary_based/ @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/convolution_based/ @angus924
aeon/transformations/collection/convolution_based/_multirocket.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/convolution_based/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/signature_based/ @jambo6
aeon/transformations/collection/feature_based/_catch22.py @MatthewMiddlehurst
aeon/transformations/collection/channel_selection.py @haskarb @TonyBagnall
aeon/transformations/collection/interval_based/random_intervals.py @MatthewMiddlehurst
aeon/transformations/collection/shapelet_based/dilated_shapelet_transform.py @baraline
aeon/transformations/collection/shapelet_based/shapelet_transform.py @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/supervised_intervals.py @MatthewMiddlehurst

aeon/transformations/ @aiwalter
aeon/transformations/augmenter.py @MrPr3ntice @iljamaurer
aeon/transformations/clasp.py @patrickzib @ermshaua
aeon/transformations/kalman_filter.py @NoaBenAmi
aeon/transformations/scaledlogit.py @ltsaprounis
aeon/transformations/theta.py @GuzalBulatova
aeon/transformations/time_since.py @KishManani

aeon/similarity_search/ @baraline

aeon/utils/numba/ @baraline

docs/get_involved/code_of_conduct.rst @aeon/aeon-code-of-conduct-committee
docs/get_involved/governance.rst @aeon/aeon-core-developers
