Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @lmmentel, @patrickzib, @ermshaua, @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999, @RafaAyGar, @dguijo, @chrisholder, @aiwalter, @guzalbulatova, @FedericoGarza, @Flix6x, @HYang1996, @juanitorduz, @koralturkk, @magittan, @TNTran92, @MrPr3ntice, @iljamaurer, @baraline, @angus924, @ChangWeiTan, @fstinner, @haskarb, @jambo6, @GuzalBulatova, @ltsaprounis, @NoaBenAmi, @miraep8, @KishManani, @badrmarani, @benjaminbluhm

CODEOWNERS:

# The file lists aeon's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

aeon/annotation @lmmentel
aeon/annotation/clasp.py @patrickzib @ermshaua

aeon/benchmarking @TonyBagnall @MatthewMiddlehurst @hadifawaz1999
aeon/classification @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification @RafaAyGar  @dguijo @MatthewMiddlehurst @TonyBagnall

aeon/clustering @chrisholder @TonyBagnall

aeon/distances @chrisholder @TonyBagnall

aeon/forecasting @aiwalter @guzalbulatova
aeon/forecasting/base/adapters/_statsforecast.py @FedericoGarza
aeon/forecasting/naive.py @Flix6x
aeon/forecasting/ets.py @HYang1996
aeon/forecasting/tests/test_ets.py @HYang1996
aeon/forecasting/arima.py @HYang1996
aeon/forecasting/statsforecast.py @FedericoGarza
aeon/forecasting/structural.py @juanitorduz
aeon/forecasting/model_selection/_split @koralturkk
aeon/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
aeon/forecasting/online_learning/ @magittan
aeon/forecasting/sarimax.py @TNTran92

aeon/networks @hadifawaz1999

aeon/performance_metrics/forecasting/_functions.py @aiwalter
aeon/performance_metrics/annotation @lmmentel

aeon/transformations/collection @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/augmenter.py @MrPr3ntice @iljamaurer
aeon/transformations/collection/dictionary_based/_paa.py @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/dictionary_based/_sfa.py @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sfa_fast.py @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/catch22.py @MatthewMiddlehurst
aeon/transformations/collection/catch22wrapper.py @MatthewMiddlehurst
aeon/transformations/collection/random_intervals.py @MatthewMiddlehurst
aeon/transformations/collection/dilated_shapelet_transform.py @baraline
aeon/transformations/collection/shapelet_transform.py @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/supervised_intervals.py @MatthewMiddlehurst
aeon/transformations/collection/rocket/ @angus924
aeon/transformations/collection/rocket/_multirocket.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/rocket/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/channel_selection.py @haskarb @TonyBagnall
aeon/transformations/collection/signature_based/ @jambo6

aeon/transformations/series @aiwalter
aeon/transformations/series/clasp.py @patrickzib @ermshaua
aeon/transformations/series/theta.py @GuzalBulatova
aeon/transformations/series/scaledlogit.py @ltsaprounis
aeon/transformations/series/kalman_filter.py @NoaBenAmi
aeon/transformations/tests/test_multiplexer.py @miraep8
aeon/transformations/series/time_since.py @KishManani

aeon/pipeline @aiwalter

aeon/regression @MatthewMiddlehurst @TonyBagnall
aeon/regression/dummy/ @badrmarani @MatthewMiddlehurst @TonyBagnall
aeon/regression/feature_based/_fresh_prince.py @dguijo @MatthewMiddlehurst @TonyBagnall
aeon/regression/deep_learning @hadifawaz1999

aeon/utils/mlflow_aeon.py @benjaminbluhm

[DOC] Rewrite current user installation guide and move dev installation guide to its own file (#524)
  docs/developer_guide.rst
  docs/developer_guide/dev_installation.md
  docs/index.md
  docs/installation.md
  docs/installation.rst
Owners: none

[ENH] Tidy up test exclusions (#473)
  aeon/classification/deep_learning/tapnet.py
  aeon/classification/interval_based/_rise.py
  aeon/classification/tests/_expected_outputs.py
  aeon/classification/tests/test_all_classifiers.py
  aeon/regression/deep_learning/tapnet.py
  aeon/tests/_config.py
  aeon/tests/test_all_estimators.py
  aeon/transformations/collection/summarize/_extract.py
Owners: @hadifawaz1999, @MatthewMiddlehurst, @TonyBagnall

fixed stuff in cnn regressor
  aeon/regression/deep_learning/cnn.py
Owners: @hadifawaz1999

used init in example
  aeon/regression/deep_learning/fcn.py
Owners: @hadifawaz1999

changed example generation data
  aeon/regression/deep_learning/fcn.py
Owners: @hadifawaz1999

change example to use regression from make 3d
  aeon/regression/deep_learning/resnet.py
Owners: @hadifawaz1999

change example to use regression make 3d
  aeon/regression/deep_learning/cnn.py
Owners: @hadifawaz1999

added resnet regressor to init
  aeon/regression/deep_learning/__init__.py
Owners: @hadifawaz1999

added fcn regressor to init
  aeon/regression/deep_learning/__init__.py
Owners: @hadifawaz1999

new classifiers added
  aeon/benchmarking/example_results/classification/accuracy/InceptionTime_TESTFOLDS.csv
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/check_loaders.py
  setup.cfg
Owners: @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999

[DOC] Remove mentoring and estimator overview webpages (#527)
  docs/_static/js/dynamic_table.js
  docs/estimator_overview.md
  docs/get_involved.rst
  docs/get_involved/mentoring.md
  docs/index.md
Owners: none

[DOC] Auto generate `about` page teams (#532)
  build_tools/changelog.py
  build_tools/generate_developer_tables.py
  docs/_static/css/custom.css
  docs/about.md
  docs/about/coc_committee.rst
  docs/about/community_council.rst
  docs/about/core_developers.rst
Owners: none

try numpy bound for kalman
  aeon/transformations/series/kalman_filter.py
Owners: @NoaBenAmi
