Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @lmmentel, @patrickzib, @ermshaua, @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999, @dguijo, @RafaAyGar, @zy18811, @chrisholder, @akshatvishu, @aiwalter, @guzalbulatova, @ltsaprounis, @FedericoGarza, @koralturkk, @magittan, @Flix6x, @TNTran92, @juanitorduz, @angus924, @ChangWeiTan, @fstinner, @jambo6, @haskarb, @baraline, @MrPr3ntice, @iljamaurer, @NoaBenAmi, @GuzalBulatova, @KishManani, @aeon/aeon-code-of-conduct-committee, @aeon/aeon-core-developers

CODEOWNERS:

# The file lists aeon's package and estimator maintainers.
# Each line is a file pattern followed by one or more owners/groups.
# Only users with write access to the repository will be automatically added as
# reviewers and contacted.

aeon/annotation/ @lmmentel
aeon/annotation/clasp.py @patrickzib @ermshaua

aeon/benchmarking/ @TonyBagnall @MatthewMiddlehurst @hadifawaz1999 @dguijo

aeon/classification/ @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning/ @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification/ @RafaAyGar @dguijo @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_redcomets.py @zy18811

aeon/clustering/ @chrisholder @TonyBagnall

aeon/distances/ @chrisholder @TonyBagnall @akshatvishu

aeon/forecasting/ @aiwalter @guzalbulatova @ltsaprounis
aeon/forecasting/base/adapters/_statsforecast.py @FedericoGarza
aeon/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
aeon/forecasting/model_selection/_split @koralturkk
aeon/forecasting/online_learning/ @magittan
aeon/forecasting/naive.py @Flix6x
aeon/forecasting/sarimax.py @TNTran92
aeon/forecasting/statsforecast.py @FedericoGarza
aeon/forecasting/structural.py @juanitorduz

aeon/networks/ @hadifawaz1999

aeon/performance_metrics/forecasting/_functions.py @aiwalter
aeon/performance_metrics/annotation/ @lmmentel

aeon/pipeline/ @aiwalter

aeon/regression/ @MatthewMiddlehurst @TonyBagnall @dguijo
aeon/regression/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall @dguijo

aeon/transformations/collection/ @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/dictionary_based/ @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/convolution_based/ @angus924
aeon/transformations/collection/convolution_based/_multirocket.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/convolution_based/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/signature_based/ @jambo6
aeon/transformations/collection/feature_based/_catch22.py @MatthewMiddlehurst
aeon/transformations/collection/channel_selection.py @haskarb @TonyBagnall
aeon/transformations/collection/interval_based/random_intervals.py @MatthewMiddlehurst
aeon/transformations/collection/shapelet_based/dilated_shapelet_transform.py @baraline
aeon/transformations/collection/shapelet_based/shapelet_transform.py @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/supervised_intervals.py @MatthewMiddlehurst

aeon/transformations/ @aiwalter
aeon/transformations/augmenter.py @MrPr3ntice @iljamaurer
aeon/transformations/clasp.py @patrickzib @ermshaua
aeon/transformations/kalman_filter.py @NoaBenAmi
aeon/transformations/scaledlogit.py @ltsaprounis
aeon/transformations/theta.py @GuzalBulatova
aeon/transformations/time_since.py @KishManani

aeon/similarity_search/ @baraline

aeon/utils/numba/ @baraline

docs/get_involved/code_of_conduct.rst @aeon/aeon-code-of-conduct-committee
docs/get_involved/governance.rst @aeon/aeon-core-developers

release
  README.md
  aeon/__init__.py
  docs/changelogs/v0.8.md
  pyproject.toml
Owners: none

Fixes for failing tests in PR
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

release (#1474)
  README.md
  aeon/__init__.py
  docs/changelogs/v0.8.md
  pyproject.toml
Owners: none

Fix for pre-commit isort
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

[ENH] Type hints for primitives and string arguments:Part1 (#1472)
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

modifications
  .github/scripts/self_assign.py
  .github/workflows/self_assign_bot.yml
Owners: none

fix type
  aeon/clustering/averaging/_ba_petitjean.py
  aeon/clustering/averaging/_ba_subgradient.py
Owners: @chrisholder, @TonyBagnall

missing arg
  aeon/clustering/averaging/_ba_subgradient.py
Owners: @chrisholder, @TonyBagnall

add manually instance normalization
  aeon/classification/deep_learning/_encoder.py
  aeon/networks/_encoder.py
  aeon/regression/deep_learning/_encoder.py
  aeon/utils/networks/__init__.py
  aeon/utils/networks/tensorflow_addons.py
Owners: @hadifawaz1999, @MatthewMiddlehurst, @TonyBagnall, @dguijo

Use sklearn.metrics.get_scorer
  aeon/classification/base.py
  aeon/classification/tests/test_base.py
  aeon/regression/base.py
  aeon/regression/tests/test_base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

fix doxs
  aeon/networks/_encoder.py
Owners: @hadifawaz1999

Add docstring
  aeon/classification/base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

pre-commit
  aeon/classification/base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

[DEP] deprecation V9 actions (#1464)
  aeon/regression/base.py
  aeon/utils/sampling.py
  aeon/utils/seasonality.py
  aeon/utils/validation/panel.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

[DEP] Move ElbowClass channel selection algorithms (#1466)
  aeon/transformations/collection/channel_selection/__init__.py
  aeon/transformations/collection/channel_selection/_elbow_class.py
  aeon/transformations/collection/channel_selection/tests/__init__.py
  aeon/transformations/collection/channel_selection/tests/test_elbow_class.py
  aeon/transformations/collection/tests/test_channel_selection.py
Owners: @aiwalter

remove no soft deps job and expand full no soft deps job
  .github/workflows/periodic_github_maintenace.yml
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_pytest.yml
Owners: none

no PR testing flag
  .github/workflows/pr_pytest.yml
Owners: none

API
  docs/api_reference/classification.rst
Owners: none

revert base series
  aeon/base/_base_series.py
Owners: none

[DEP] Remove shapeDTW (#1470)
  aeon/classification/distance_based/__init__.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/tests/test_shape_dtw.py
  aeon/testing/expected_results/classifier_results_reproduction.py
  docs/api_reference/classification.rst
  examples/classification/distance_based.ipynb
Owners: @MatthewMiddlehurst, @TonyBagnall

minor fix
  aeon/classification/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall

Update base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

Update base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

Update base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

module soft deps
  .github/workflows/pr_pytest.yml
  aeon/testing/test_softdeps.py
Owners: none

is this actually returning an empty list
  aeon/testing/test_softdeps.py
Owners: none

adds docs
  docs/contributing.md
Owners: none

import modules now
  aeon/testing/test_softdeps.py
Owners: none

Added primitive type hints for applicable scripts in classification/distance-based module
  aeon/classification/distance_based/_elastic_ensemble.py
  aeon/classification/distance_based/_shape_dtw.py
  aeon/classification/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

Added primitive type hints for applicable scripts in classification/d…
  aeon/classification/distance_based/_elastic_ensemble.py
Owners: @MatthewMiddlehurst, @TonyBagnall

clear out module soft dep
  aeon/clustering/tests/test_all_clusterers.py
  aeon/testing/test_softdeps.py
Owners: @chrisholder, @TonyBagnall

check_estimator
  aeon/testing/__init__.py
  aeon/testing/test_check_estimator.py
  aeon/utils/estimator_checks.py
Owners: none

Allow prereleases in check_python_version (#1450)
  aeon/utils/validation/_dependencies.py
Owners: none

fixes
  aeon/forecasting/varmax.py
Owners: @aiwalter, @guzalbulatova, @ltsaprounis

reshape_pairwise_to_multiple
  aeon/distances/_mpdist.py
Owners: @chrisholder, @TonyBagnall, @akshatvishu

update exception message
  aeon/classification/base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

minor bug fix
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

check_estimator updates
  aeon/testing/__init__.py
  aeon/testing/estimator_checks/__init__.py
  aeon/testing/estimator_checks/_estimator_checks.py
  aeon/testing/estimator_checks/_legacy_estimator_checks.py
  aeon/testing/estimator_checks/_yield_estimator_checks.py
  aeon/testing/estimator_checks/tests/__init__.py
  aeon/testing/estimator_checks/tests/test_check_estimator.py
Owners: none
