Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @lmmentel, @patrickzib, @ermshaua, @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999, @RafaAyGar, @dguijo, @chrisholder, @aiwalter, @guzalbulatova, @FedericoGarza, @Flix6x, @HYang1996, @juanitorduz, @koralturkk, @magittan, @TNTran92, @MrPr3ntice, @iljamaurer, @baraline, @angus924, @ChangWeiTan, @fstinner, @haskarb, @jambo6, @GuzalBulatova, @ltsaprounis, @NoaBenAmi, @miraep8, @KishManani, @badrmarani, @benjaminbluhm

CODEOWNERS:

# The file lists aeon's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

aeon/annotation @lmmentel
aeon/annotation/clasp.py @patrickzib @ermshaua

aeon/benchmarking @TonyBagnall @MatthewMiddlehurst @hadifawaz1999
aeon/classification @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification @RafaAyGar  @dguijo @MatthewMiddlehurst @TonyBagnall

aeon/clustering @chrisholder @TonyBagnall

aeon/distances @chrisholder @TonyBagnall

aeon/forecasting @aiwalter @guzalbulatova
aeon/forecasting/base/adapters/_statsforecast.py @FedericoGarza
aeon/forecasting/naive.py @Flix6x
aeon/forecasting/ets.py @HYang1996
aeon/forecasting/tests/test_ets.py @HYang1996
aeon/forecasting/arima.py @HYang1996
aeon/forecasting/statsforecast.py @FedericoGarza
aeon/forecasting/structural.py @juanitorduz
aeon/forecasting/model_selection/_split @koralturkk
aeon/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
aeon/forecasting/online_learning/ @magittan
aeon/forecasting/sarimax.py @TNTran92

aeon/networks @hadifawaz1999

aeon/performance_metrics/forecasting/_functions.py @aiwalter
aeon/performance_metrics/annotation @lmmentel

aeon/transformations/collection @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/augmenter.py @MrPr3ntice @iljamaurer
aeon/transformations/collection/dictionary_based/_paa.py @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/dictionary_based/_sfa.py @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sfa_fast.py @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/catch22.py @MatthewMiddlehurst
aeon/transformations/collection/catch22wrapper.py @MatthewMiddlehurst
aeon/transformations/collection/random_intervals.py @MatthewMiddlehurst
aeon/transformations/collection/dilated_shapelet_transform.py @baraline
aeon/transformations/collection/shapelet_transform.py @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/supervised_intervals.py @MatthewMiddlehurst
aeon/transformations/collection/rocket/ @angus924
aeon/transformations/collection/rocket/_multirocket.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/rocket/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
aeon/transformations/collection/channel_selection.py @haskarb @TonyBagnall
aeon/transformations/collection/signature_based/ @jambo6

aeon/transformations/series @aiwalter
aeon/transformations/series/clasp.py @patrickzib @ermshaua
aeon/transformations/series/theta.py @GuzalBulatova
aeon/transformations/series/scaledlogit.py @ltsaprounis
aeon/transformations/series/kalman_filter.py @NoaBenAmi
aeon/transformations/tests/test_multiplexer.py @miraep8
aeon/transformations/series/time_since.py @KishManani

aeon/pipeline @aiwalter

aeon/regression @MatthewMiddlehurst @TonyBagnall
aeon/regression/dummy/ @badrmarani @MatthewMiddlehurst @TonyBagnall
aeon/regression/feature_based/_fresh_prince.py @dguijo @MatthewMiddlehurst @TonyBagnall
aeon/regression/deep_learning @hadifawaz1999

aeon/utils/mlflow_aeon.py @benjaminbluhm

[DOC] fixed path of image (#535)
  examples/networks/deep_learning.ipynb
  examples/networks/img/H-Inception.png
  examples/networks/img/Inception.png
Owners: none

fix doctest skip command
  aeon/benchmarking/results_loaders.py
Owners: @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999

no rng
  aeon/series_as_features/interval_based/tests/test_base_interval_forest.py
Owners: none

remove duplicate notebook
  examples/clustering/partition_based_clustering.ipynb
Owners: none

[ENH] Kmedoids refactor and speed up (#498)
  aeon/clustering/__init__.py
  aeon/clustering/base.py
  aeon/clustering/k_medoids.py
  aeon/clustering/tests/test_k_medoids.py
  examples/clustering/partitional_clustering.ipynb
Owners: @chrisholder, @TonyBagnall

revert regression notebook
  examples/regression/regression.ipynb
Owners: none

series clarification
  examples/transformations/transformations.ipynb
Owners: none

move _check_internal up a level
  aeon/base/_base.py
  aeon/base/tests/test_base.py
  aeon/classification/base.py
  aeon/regression/base.py
Owners: @MatthewMiddlehurst, @TonyBagnall

move _check_internal up a level
  aeon/regression/tests/test_base.py
  setup.cfg
Owners: @MatthewMiddlehurst, @TonyBagnall

revert setup.cfg
  setup.cfg
Owners: none

[BUG] Doctest formatting bug 546 (#548)
  aeon/benchmarking/results_loaders.py
Owners: @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999

[ENH] Update interval extraction transformers and pipelines (#511)
  aeon/classification/interval_based/__init__.py
  aeon/classification/interval_based/_interval_pipelines.py
  aeon/classification/interval_based/_random_interval_classifier.py
  aeon/regression/feature_based/_catch22.py
  aeon/regression/interval_based/__init__.py
  aeon/regression/interval_based/_interval_pipelines.py
  aeon/transformations/collection/random_intervals.py
  aeon/transformations/collection/supervised_intervals.py
  aeon/transformations/collection/tests/test_intervals.py
Owners: @MatthewMiddlehurst, @TonyBagnall

add statsforecast
  pyproject.toml
Owners: none

make final
  aeon/classification/base.py
  aeon/classification/tests/test_all_classifiers.py
Owners: @MatthewMiddlehurst, @TonyBagnall

np bound
  pyproject.toml
Owners: none

periodic test and setting update
  .codecov.yml
  .coveragerc
  .github/workflows/periodic_tests.yml
  .github/workflows/pr_tests.yml
  Makefile
  setup.cfg
Owners: none

makefile remove
  setup.cfg
Owners: none

stop writing cov
  .github/workflows/pr_tests.yml
Owners: none

add convert to float
  aeon/regression/base.py
  aeon/regression/distance_based/_time_series_neighbors.py
Owners: @MatthewMiddlehurst, @TonyBagnall

add test for score
  aeon/regression/_dummy.py
  aeon/regression/base.py
  aeon/regression/dummy/__init__.py
  aeon/regression/dummy/tests/__init__.py
  aeon/regression/tests/test_base.py
  aeon/regression/tests/test_dummy.py
  setup.cfg
Owners: @MatthewMiddlehurst, @TonyBagnall, @badrmarani

add capabilities testing for base regressor
  aeon/regression/tests/test_base.py
Owners: @MatthewMiddlehurst, @TonyBagnall

add inception time to init
  aeon/classification/deep_learning/__init__.py
  aeon/regression/deep_learning/__init__.py
Owners: @hadifawaz1999, @MatthewMiddlehurst, @TonyBagnall

revert setup.cfg
  setup.cfg
Owners: none

init function for deep networks
  aeon/classification/deep_learning/__init__.py
  aeon/networks/__init__.py
  aeon/regression/deep_learning/__init__.py
Owners: @hadifawaz1999, @MatthewMiddlehurst, @TonyBagnall

Revert "add inception time to init"
  aeon/classification/deep_learning/__init__.py
  aeon/regression/deep_learning/__init__.py
Owners: @hadifawaz1999, @MatthewMiddlehurst, @TonyBagnall

[ENH] Implement RSTSF classifier (#544)
  aeon/classification/interval_based/__init__.py
  aeon/classification/interval_based/_rstsf.py
Owners: @MatthewMiddlehurst, @TonyBagnall

imports
  aeon/regression/__init__.py
  aeon/regression/tests/test_dummy.py
Owners: @MatthewMiddlehurst, @TonyBagnall

test
  aeon/transformations/tests/test_base.py
Owners: none

dummy regressor import
  examples/regression/regression.ipynb
Owners: none

plotly
  pyproject.toml
Owners: none

np
  pyproject.toml
Owners: none

np
  pyproject.toml
Owners: none

dummy regressor api
  docs/api_reference/regression.rst
  examples/regression/regression.ipynb
Owners: none

deprecate check_estimator
  aeon/utils/estimator_checks.py
Owners: none

init function for deep networks (#554)
  aeon/classification/deep_learning/__init__.py
  aeon/networks/__init__.py
  aeon/regression/deep_learning/__init__.py
Owners: @hadifawaz1999, @MatthewMiddlehurst, @TonyBagnall

new converters
  aeon/datasets/_data_generators.py
  aeon/utils/validation/_convert_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
Owners: none

added fcn regressor
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/fcn.py
Owners: @hadifawaz1999

added resnet regressor
  aeon/regression/deep_learning/__init__.py
  aeon/regression/deep_learning/resnet.py
Owners: @hadifawaz1999

fixed example
  aeon/regression/deep_learning/fcn.py
Owners: @hadifawaz1999

cls not rgs
  aeon/regression/deep_learning/resnet.py
Owners: @hadifawaz1999
