Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @aiwalter, @guzalbulatova, @badrmarani, @dguijo, @MatthewMiddlehurst, @TonyBagnall, @patrickzib, @jasonlines, @goaster, @ZiyaoWei, @jambo6, @ABostrom, @hadifawaz1999, @baraline, @angus924, @ChangWeiTan, @fstinner, @GuzalBulatova, @rnkuhns, @ltsaprounis, @NoaBenAmi, @MrPr3ntice, @iljamaurer, @miraep8, @haskarb, @a-pasos-ruiz, @KishManani, @mloning, @FedericoGarza, @Flix6x, @HYang1996, @juanitorduz, @koralturkk, @magittan, @TNTran92, @lmmentel, @ermshaua, @freddyaboulton, @benjaminbluhm

CODEOWNERS:

# The file lists aeon's algorithm maintainers as specified in GOVERNANCE.md.
# Each line is a file pattern followed by one or more owners.

* @aiwalter @guzalbulatova


aeon/regression/dummy/ @badrmarani
aeon/regression/feature_based/_fresh_prince.py @dguijo

aeon/classification/convolution_based/_arsenal.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/convolution_based/_rocket_classifier.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_boss.py @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_cboss.py @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_muse.py @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_tde.py @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_weasel.py @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/_weasel_v2.py @patrickzib
aeon/classification/distance_based/ @jasonlines @goaster @TonyBagnall
aeon/classification/dummy.py @ZiyaoWei
aeon/classification/early_classification/_probability_threshold.py @MatthewMiddlehurst
aeon/classification/early_classification/_teaser.py @patrickzib @MatthewMiddlehurst
aeon/classification/feature_based/_catch22_classifier.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/feature_based/_fresh_prince.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/feature_based/_matrix_profile_classifier.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/feature_based/_random_interval_classifier.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/feature_based/_signature_classifier.py @jambo6
aeon/classification/feature_based/_summary_classifier.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/feature_based/_tsfresh_classifier.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/hybrid/_hivecote_v1.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/hybrid/_hivecote_v2.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/interval_based/_cif.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/interval_based/_drcif.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/interval_based/_rise.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/interval_based/_stsf.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/interval_based/_tsf.py @MatthewMiddlehurst @TonyBagnall
aeon/classification/shapelet_based/_stc.py @jasonlines @ABostrom @MatthewMiddlehurst @TonyBagnall
aeon/classification/sklearn/_continuous_interval_tree.py @MatthewMiddlehurst
aeon/classification/sklearn/_rotation_forest.py @MatthewMiddlehurst
aeon/classification/deep_learning/cnn.py @hadifawaz1999
aeon/classification/deep_learning/resnet.py @hadifawaz1999
aeon/classification/deep_learning/encoder.py @hadifawaz1999
aeon/classification/deep_learning/fcn.py @hadifawaz1999
aeon/classification/deep_learning/inception_time.py @hadifawaz1999
aeon/classification/deep_learning/mlp.py @hadifawaz1999

aeon/networks/cnn.py @hadifawaz1999
aeon/networks/encoder.py @hadifawaz1999
aeon/networks/fcn.py @hadifawaz1999
aeon/networks/resnet.py @hadifawaz1999
aeon/networks/mlp.py @hadifawaz1999
aeon/networks/inception.py @hadifawaz1999

aeon/transformations/panel/dictionary_based/_paa.py @patrickzib @MatthewMiddlehurst
aeon/transformations/panel/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/panel/dictionary_based/_sfa.py @patrickzib @MatthewMiddlehurst
aeon/transformations/panel/dictionary_based/_sfa_fast.py @patrickzib @MatthewMiddlehurst
aeon/transformations/panel/catch22.py @MatthewMiddlehurst
aeon/transformations/panel/catch22wrapper.py @MatthewMiddlehurst
aeon/transformations/panel/random_intervals.py @MatthewMiddlehurst
aeon/transformations/panel/dilated_shapelet_transform.py @baraline
aeon/transformations/panel/shapelet_transform.py @jasonlines @ABostrom @MatthewMiddlehurst @TonyBagnall
aeon/transformations/panel/supervised_intervals.py @MatthewMiddlehurst
aeon/transformations/panel/rocket/ @angus924
aeon/transformations/panel/rocket/_multirocket.py @ChangWeiTan @fstinner @angus924
aeon/transformations/panel/rocket/_multirocket_multivariate.py @ChangWeiTan @fstinner @angus924
aeon/transformations/series/impute.py @aiwalter
aeon/transformations/series/outlier_detection.py @aiwalter
aeon/transformations/series/compose.py @aiwalter
aeon/transformations/series/feature_selection.py @aiwalter
aeon/transformations/panel/signature_based/ @jambo6
aeon/transformations/series/theta.py @GuzalBulatova
aeon/transformations/series/difference.py @rnkuhns
aeon/transformations/series/exponent.py @rnkuhns
aeon/transformations/series/scaledlogit.py @ltsaprounis
aeon/transformations/series/kalman_filter.py @NoaBenAmi
aeon/transformations/panel/augmenter.py @MrPr3ntice @iljamaurer
aeon/transformations/multiplex.py @miraep8
aeon/transformations/tests/test_multiplexer.py @miraep8
aeon/transformations/panel/channel_selection.py @haskarb @a-pasos-ruiz @TonyBagnall
aeon/transformations/series/time_since.py @KishManani
aeon/transformations/series/pca.py @aiwalter

aeon/forecasting/base/ @mloning @aiwalter
aeon/forecasting/base/adapters/_statsforecast.py @FedericoGarza
aeon/forecasting/naive.py @Flix6x
aeon/forecasting/ets.py @HYang1996
aeon/forecasting/tests/test_ets.py @HYang1996
aeon/forecasting/fbprophet.py @aiwalter
aeon/forecasting/bats.py @aiwalter
aeon/forecasting/tbats.py @aiwalter
aeon/forecasting/arima.py @HYang1996
aeon/forecasting/statsforecast.py @FedericoGarza
aeon/forecasting/structural.py @juanitorduz
aeon/forecasting/model_selection/_split @koralturkk
aeon/forecasting/compose/_column_ensemble.py @GuzalBulatova
aeon/forecasting/compose/_multiplexer.py @koralturkk @aiwalter
aeon/forecasting/compose/_pipeline.py @aiwalter
aeon/forecasting/compose/_ensemble.py @aiwalter
aeon/forecasting/online_learning/ @magittan
aeon/forecasting/sarimax.py @TNTran92

aeon/performance_metrics/forecasting/_functions.py @aiwalter @rnkuhns
aeon/performance_metrics/forecasting/_classes.py @rnkuhns
aeon/performance_metrics/annotation @lmmentel

aeon/annotation/clasp.py @patrickzib @ermshaua
aeon/annotation/igts.py @lmmentel
aeon/annotation/ggs.py @lmmentel
aeon/annotation/datagen.py @lmmentel
aeon/transformations/series/clasp.py @patrickzib @ermshaua

.github/workflows/* @lmmentel @freddyaboulton

aeon/utils/mlflow_aeon.py @benjaminbluhm

remove unsupported legacy benchmarking code (#439)
  aeon/benchmarking/base.py
  aeon/benchmarking/data.py
  aeon/benchmarking/evaluation.py
  aeon/benchmarking/metrics.py
  aeon/benchmarking/orchestration.py
  aeon/benchmarking/results.py
  aeon/benchmarking/strategies.py
  aeon/benchmarking/tasks.py
  aeon/benchmarking/tests/test_evaluator.py
  aeon/benchmarking/tests/test_orchestration.py
  aeon/benchmarking/tests/test_tasks.py
  aeon/benchmarking/tests/test_tsc_strategy.py
  examples/04_benchmarking.ipynb
  examples/04_benchmarking_v2.ipynb
Owners: @aiwalter, @guzalbulatova

plot boxplot
  aeon/benchmarking/__init__.py
  aeon/benchmarking/results_plotting.py
  examples/benchmarking/results_loading.ipynb
Owners: @aiwalter, @guzalbulatova

allow nans and 2D return
  aeon/datasets/_data_loaders.py
Owners: @aiwalter, @guzalbulatova

include load_TSC
  aeon/datasets/__init__.py
  aeon/datasets/_single_problem_loaders.py
Owners: @aiwalter, @guzalbulatova

revise tests
  aeon/datasets/_data_loaders.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
  setup.cfg
Owners: @aiwalter, @guzalbulatova

[ENH] updated dba to support custom parameters (#454)
  aeon/clustering/k_means.py
  aeon/clustering/metrics/__init__.py
  aeon/clustering/metrics/averaging/__init__.py
  aeon/clustering/metrics/averaging/_averaging.py
  aeon/clustering/metrics/averaging/_barycenter_averaging.py
  aeon/clustering/metrics/averaging/_dba.py
  aeon/clustering/metrics/medoids.py
  aeon/clustering/tests/metrics/test_dba.py
  aeon/distances/_distance.py
Owners: @aiwalter, @guzalbulatova

fixed test for kernel kmeans
  aeon/clustering/tests/test_kernel_k_means.py
Owners: @aiwalter, @guzalbulatova

swapped reshape with swapaxes
  aeon/clustering/k_shapes.py
  aeon/clustering/kernel_k_means.py
  aeon/clustering/tests/test_k_shapes.py
  setup.cfg
Owners: @aiwalter, @guzalbulatova

setup:
  setup.cfg
Owners: @aiwalter, @guzalbulatova

fixed kernel test
  aeon/clustering/tests/test_kernel_k_means.py
  setup.cfg
Owners: @aiwalter, @guzalbulatova

Fixes stratified resample
  aeon/utils/sampling.py
Owners: @aiwalter, @guzalbulatova

[DOC] added exp[lanation to transfrom docstring about indices being the symbols
  aeon/transformations/panel/dictionary_based/_sax.py
Owners: @patrickzib, @MatthewMiddlehurst, @hadifawaz1999

[ENH] added z-score
  aeon/transformations/panel/dictionary_based/_sax.py
Owners: @patrickzib, @MatthewMiddlehurst, @hadifawaz1999

[ENH] asserted on return value clf
  aeon/classification/deep_learning/tests/test_deep_classifier_base.py
Owners: @aiwalter, @guzalbulatova

[ENH] same for rgs
  aeon/regression/deep_learning/tests/test_deep_regressor_base.py
Owners: @aiwalter, @guzalbulatova

[ENH] Enable knn regressor to take unequal length (#442)
  aeon/classification/distance_based/_time_series_neighbors.py
  aeon/regression/distance_based/_time_series_neighbors.py
Owners: @jasonlines, @goaster, @TonyBagnall, @aiwalter, @guzalbulatova

adapt data loaders for return type argument
  aeon/datasets/_data_loaders.py
  aeon/datasets/tests/test_data_loaders.py
Owners: @aiwalter, @guzalbulatova
