Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @CodeLionX, @MatthewMiddlehurst, @TonyBagnall, @hadifawaz1999, @dguijo, @patrickzib, @chrisholder, @codelionx, @baraline, @ltsaprounis, @GuzalBulatova, @aeon-toolkit/aeon-infrastructure-workgroup, @aeon-toolkit/aeon-code-of-conduct-workgroup, @aeon-toolkit/aeon-core-developers

CODEOWNERS:

# Lists core developers to be automatically added as reviewers for pull requests.
# Only users with write access to the repository will be automatically added as
# reviewers and contacted.

aeon/anomaly_detection/ @CodeLionX @MatthewMiddlehurst

aeon/benchmarking/ @TonyBagnall @MatthewMiddlehurst @hadifawaz1999 @dguijo

aeon/classification/ @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning/ @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification/ @dguijo @MatthewMiddlehurst @TonyBagnall

aeon/clustering/ @chrisholder @TonyBagnall

aeon/distances/ @chrisholder @TonyBagnall

aeon/networks/ @hadifawaz1999

aeon/performance_metrics/anomaly_detection/ @codelionx @MatthewMiddlehurst

aeon/regression/ @MatthewMiddlehurst @TonyBagnall @dguijo
aeon/regression/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall @dguijo

aeon/segmentation/ @TonyBagnall

aeon/similarity_search/ @baraline

aeon/transformations/collection/ @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/dictionary_based/ @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py @baraline

aeon/transformations/series/ @TonyBagnall
aeon/transformations/series/_clasp.py @patrickzib
aeon/transformations/series/_scaled_logit.py @ltsaprounis
aeon/transformations/series/_theta.py @GuzalBulatova

aeon/utils/numba/ @baraline @MatthewMiddlehurst

aeon/visualisation/ @baraline @MatthewMiddlehurst

.github/ @aeon-toolkit/aeon-infrastructure-workgroup

docs/get_involved/code_of_conduct.rst @aeon-toolkit/aeon-code-of-conduct-workgroup
docs/get_involved/governance.rst @aeon-toolkit/aeon-core-developers

raise bound on matplotlib
  pyproject.toml
Owners: none

raise bound on numba
  pyproject.toml
Owners: none

raise bound on pandas
  pyproject.toml
Owners: none

remove prts
  pyproject.toml
Owners: none

remove prts
  pyproject.toml
Owners: none

return bounds to previous
  pyproject.toml
Owners: none

return bounds to previous
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
  pyproject.toml
Owners: @baraline

Automatic `pre-commit` fixes
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

remove comment
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

remove comment
  aeon/transformations/collection/feature_based/_catch22.py
Owners: @MatthewMiddlehurst, @TonyBagnall

update Rocket notebook
  examples/classification/convolution_based.ipynb
Owners: none

update Rocket notebook (#2220)
  examples/classification/convolution_based.ipynb
Owners: none

[ENH] Final purge of nested univ (#2185)
  aeon/classification/dictionary_based/_muse.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/_dataframe_loaders.py
  aeon/datasets/tests/test_data_writers.py
  aeon/datasets/tests/test_dataframe_loaders.py
  aeon/testing/data_generation/__init__.py
  aeon/testing/data_generation/_collection.py
  aeon/testing/data_generation/tests/test_collection.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/testing_data.py
  aeon/testing/utils/estimator_checks.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/transformations/collection/feature_based/_tsfresh.py
  aeon/transformations/collection/feature_based/tests/test_summary.py
  aeon/transformations/collection/feature_based/tests/test_tsfresh.py
  aeon/utils/_data_types.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/__init__.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
  aeon/utils/validation/tests/test_series.py
  examples/transformations/tsfresh.ipynb
Owners: @patrickzib, @MatthewMiddlehurst, @TonyBagnall

doctest skips
  aeon/distances/_mpdist.py
  aeon/performance_metrics/clustering.py
  aeon/performance_metrics/forecasting/_functions.py
Owners: @chrisholder, @TonyBagnall

Automatic `pre-commit` fixes
  aeon/performance_metrics/forecasting/_functions.py
Owners: none

# doctest: +SKIP
  aeon/performance_metrics/forecasting/_functions.py
Owners: none

changes: clean up
  aeon/anomaly_detection/__init__.py
  aeon/anomaly_detection/tests/test_copod.py
Owners: @CodeLionX, @MatthewMiddlehurst

purge df-list
  aeon/base/_base_collection.py
  aeon/testing/data_generation/__init__.py
  aeon/testing/data_generation/_collection.py
  aeon/testing/data_generation/tests/test_collection.py
  aeon/testing/estimator_checking/_yield_classification_checks.py
  aeon/testing/estimator_checking/_yield_clustering_checks.py
  aeon/testing/estimator_checking/_yield_regression_checks.py
  aeon/testing/testing_data.py
  aeon/utils/_data_types.py
  aeon/utils/conversion/_convert_collection.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/validation/collection.py
  aeon/utils/validation/tests/test_collection.py
Owners: none

updates to lower bounding (#2214)
  aeon/distances/_paa_sax_mindist.py
  aeon/distances/_sax_mindist.py
Owners: @chrisholder, @TonyBagnall

benchmarking
  aeon/benchmarking/__init__.py
  aeon/benchmarking/experiments.py
  aeon/benchmarking/resampling.py
  aeon/benchmarking/results_loaders.py
  aeon/benchmarking/tests/test_experiments.py
  aeon/benchmarking/tests/test_resampling.py
  aeon/benchmarking/tests/test_results_loaders.py
  aeon/datasets/__init__.py
  aeon/datasets/_data_writers.py
  aeon/datasets/tests/test_data_writers.py
  examples/benchmarking/reference_results.ipynb
Owners: @TonyBagnall, @MatthewMiddlehurst, @hadifawaz1999, @dguijo
