Repository aeon-toolkit/aeon, changes with the owners that CODEOWNERS names for each.
All owners: @CodeLionX, @MatthewMiddlehurst, @TonyBagnall, @hadifawaz1999, @dguijo, @patrickzib, @chrisholder, @codelionx, @baraline, @ltsaprounis, @GuzalBulatova, @aeon-toolkit/aeon-infrastructure-workgroup, @aeon-toolkit/aeon-code-of-conduct-workgroup, @aeon-toolkit/aeon-core-developers

CODEOWNERS:

# Lists core developers to be automatically added as reviewers for pull requests.
# Only users with write access to the repository will be automatically added as
# reviewers and contacted.

aeon/anomaly_detection/ @CodeLionX @MatthewMiddlehurst

aeon/benchmarking/ @TonyBagnall @MatthewMiddlehurst @hadifawaz1999 @dguijo

aeon/classification/ @MatthewMiddlehurst @TonyBagnall
aeon/classification/deep_learning/ @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall
aeon/classification/dictionary_based/ @patrickzib @MatthewMiddlehurst @TonyBagnall
aeon/classification/ordinal_classification/ @dguijo @MatthewMiddlehurst @TonyBagnall

aeon/clustering/ @chrisholder @TonyBagnall

aeon/distances/ @chrisholder @TonyBagnall

aeon/networks/ @hadifawaz1999

aeon/performance_metrics/anomaly_detection/ @codelionx @MatthewMiddlehurst

aeon/regression/ @MatthewMiddlehurst @TonyBagnall @dguijo
aeon/regression/deep_learning @hadifawaz1999 @MatthewMiddlehurst @TonyBagnall @dguijo

aeon/segmentation/ @TonyBagnall

aeon/similarity_search/ @baraline

aeon/transformations/collection/ @MatthewMiddlehurst @TonyBagnall
aeon/transformations/collection/dictionary_based/ @patrickzib @MatthewMiddlehurst
aeon/transformations/collection/dictionary_based/_sax.py @patrickzib @MatthewMiddlehurst @hadifawaz1999
aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py @baraline

aeon/transformations/series/ @TonyBagnall
aeon/transformations/series/_clasp.py @patrickzib
aeon/transformations/series/_scaled_logit.py @ltsaprounis
aeon/transformations/series/_theta.py @GuzalBulatova

aeon/utils/numba/ @baraline @MatthewMiddlehurst

aeon/visualisation/ @baraline @MatthewMiddlehurst

.github/ @aeon-toolkit/aeon-infrastructure-workgroup

docs/get_involved/code_of_conduct.rst @aeon-toolkit/aeon-code-of-conduct-workgroup
docs/get_involved/governance.rst @aeon-toolkit/aeon-core-developers

[ENH] Update remaining `registry` files (#2198)
  aeon/registry/__init__.py
  aeon/registry/_base_classes.py
  aeon/registry/_identifier.py
  aeon/registry/_lookup.py
  aeon/registry/tests/__init__.py
  aeon/registry/tests/test_lookup.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/tests/test_all_estimators.py
  aeon/utils/base/__init__.py
  aeon/utils/base/_identifier.py
  aeon/utils/base/_register.py
  aeon/utils/base/tests/__init__.py
  aeon/utils/base/tests/test_identifier.py
  aeon/utils/base/tests/test_register.py
  aeon/utils/discovery.py
  aeon/utils/tags/__init__.py
  aeon/utils/tags/_discovery.py
  aeon/utils/tags/_validate.py
  aeon/utils/tags/tests/test_discovery.py
  aeon/utils/tags/tests/test_tags.py
  aeon/utils/tags/tests/test_validate.py
  aeon/utils/tests/test_discovery.py
  docs/api_reference/utils.rst
  docs/conf.py
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
  examples/datasets/data_unequal.ipynb
  examples/regression/regression.ipynb
  examples/utils/preprocessing.ipynb
Owners: none

port to skipif
  aeon/utils/tests/test_weightnorm.py
Owners: none

[MNT] Changes in preparation for update to `numpy` 2 (#1813)
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_kmeans.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/anomaly_detection/tests/test_dwt_mlead.py
  aeon/anomaly_detection/tests/test_kmeans.py
  aeon/anomaly_detection/tests/test_left_stampi.py
  aeon/anomaly_detection/tests/test_pyod_adapter.py
  aeon/anomaly_detection/tests/test_stomp.py
  aeon/base/tests/test_base_collection.py
  aeon/base/tests/test_base_series.py
  aeon/performance_metrics/anomaly_detection/_util.py
  aeon/performance_metrics/anomaly_detection/_vus_metrics.py
  aeon/performance_metrics/anomaly_detection/tests/test_ad_metrics.py
  aeon/similarity_search/_commons.py
  aeon/transformations/collection/_dwt.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/windowing.py
Owners: @CodeLionX, @MatthewMiddlehurst, @codelionx, @baraline, @TonyBagnall, @patrickzib

[ENH] Split up rocket estimators (#2207)
  aeon/classification/convolution_based/__init__.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_minirocket.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_multirocket.py
  aeon/classification/convolution_based/_rocket.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/regression/convolution_based/__init__.py
  aeon/regression/convolution_based/_hydra.py
  aeon/regression/convolution_based/_minirocket.py
  aeon/regression/convolution_based/_mr_hydra.py
  aeon/regression/convolution_based/_multirocket.py
  aeon/regression/convolution_based/_rocket.py
  docs/api_reference/classification.rst
  docs/api_reference/regression.rst
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

more fixes for float_
  aeon/anomaly_detection/tests/test_iforest.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
Owners: @CodeLionX, @MatthewMiddlehurst, @baraline

Update _base.py
  aeon/base/_base.py
Owners: none

more fixes for float_ (#2215)
  aeon/anomaly_detection/tests/test_iforest.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
Owners: @CodeLionX, @MatthewMiddlehurst, @baraline

numpy2
  pyproject.toml
Owners: none

more test skips for when the meta class gets sorted out
  aeon/testing/testing_config.py
Owners: none

more fixes for float_ (#2215)
  aeon/anomaly_detection/tests/test_iforest.py
  aeon/transformations/collection/shapelet_based/_dilated_shapelet_transform.py
  aeon/utils/numba/general.py
Owners: @CodeLionX, @MatthewMiddlehurst, @baraline

[ENH] Update remaining `registry` files (#2198)
  aeon/registry/__init__.py
  aeon/registry/_base_classes.py
  aeon/registry/_identifier.py
  aeon/registry/_lookup.py
  aeon/registry/tests/__init__.py
  aeon/registry/tests/test_lookup.py
  aeon/testing/estimator_checking/_yield_estimator_checks.py
  aeon/testing/testing_config.py
  aeon/testing/tests/test_all_estimators.py
  aeon/utils/base/__init__.py
  aeon/utils/base/_identifier.py
  aeon/utils/base/_register.py
  aeon/utils/base/tests/__init__.py
  aeon/utils/base/tests/test_identifier.py
  aeon/utils/base/tests/test_register.py
  aeon/utils/discovery.py
  aeon/utils/tags/__init__.py
  aeon/utils/tags/_discovery.py
  aeon/utils/tags/_validate.py
  aeon/utils/tags/tests/test_discovery.py
  aeon/utils/tags/tests/test_tags.py
  aeon/utils/tags/tests/test_validate.py
  aeon/utils/tests/test_discovery.py
  docs/api_reference/utils.rst
  docs/conf.py
  examples/classification/classification.ipynb
  examples/classification/convolution_based.ipynb
  examples/classification/deep_learning.ipynb
  examples/classification/dictionary_based.ipynb
  examples/classification/distance_based.ipynb
  examples/classification/feature_based.ipynb
  examples/classification/hybrid.ipynb
  examples/classification/interval_based.ipynb
  examples/classification/shapelet_based.ipynb
  examples/datasets/data_unequal.ipynb
  examples/regression/regression.ipynb
  examples/utils/preprocessing.ipynb
Owners: none

[DOC] Add JMLR paper to readme (#2203)
  README.md
Owners: none

[ENH] Split up rocket estimators (#2207)
  aeon/classification/convolution_based/__init__.py
  aeon/classification/convolution_based/_arsenal.py
  aeon/classification/convolution_based/_hydra.py
  aeon/classification/convolution_based/_minirocket.py
  aeon/classification/convolution_based/_mr_hydra.py
  aeon/classification/convolution_based/_multirocket.py
  aeon/classification/convolution_based/_rocket.py
  aeon/classification/convolution_based/tests/test_rocket.py
  aeon/regression/convolution_based/__init__.py
  aeon/regression/convolution_based/_hydra.py
  aeon/regression/convolution_based/_minirocket.py
  aeon/regression/convolution_based/_mr_hydra.py
  aeon/regression/convolution_based/_multirocket.py
  aeon/regression/convolution_based/_rocket.py
  docs/api_reference/classification.rst
  docs/api_reference/regression.rst
Owners: @MatthewMiddlehurst, @TonyBagnall, @dguijo

[DOC, ENH] Add WEASEL v2 and Human Activity Challenge Papers (#2204)
  docs/papers_using_aeon.md
Owners: none

[MNT] Changes in preparation for update to `numpy` 2 (#1813)
  aeon/anomaly_detection/_dwt_mlead.py
  aeon/anomaly_detection/_kmeans.py
  aeon/anomaly_detection/_pyodadapter.py
  aeon/anomaly_detection/_stomp.py
  aeon/anomaly_detection/tests/test_dwt_mlead.py
  aeon/anomaly_detection/tests/test_kmeans.py
  aeon/anomaly_detection/tests/test_left_stampi.py
  aeon/anomaly_detection/tests/test_pyod_adapter.py
  aeon/anomaly_detection/tests/test_stomp.py
  aeon/base/tests/test_base_collection.py
  aeon/base/tests/test_base_series.py
  aeon/performance_metrics/anomaly_detection/_util.py
  aeon/performance_metrics/anomaly_detection/_vus_metrics.py
  aeon/performance_metrics/anomaly_detection/tests/test_ad_metrics.py
  aeon/similarity_search/_commons.py
  aeon/transformations/collection/_dwt.py
  aeon/transformations/collection/dictionary_based/_sfa_fast.py
  aeon/utils/conversion/tests/test_convert_collection.py
  aeon/utils/windowing.py
Owners: @CodeLionX, @MatthewMiddlehurst, @codelionx, @baraline, @TonyBagnall, @patrickzib

Implemented COPOD for anomaly detection
  aeon/anomaly_detection/__init__.py
Owners: @CodeLionX, @MatthewMiddlehurst

update: added new test cases
  aeon/anomaly_detection/_copod.py
  aeon/anomaly_detection/tests/test_copod.py
Owners: @CodeLionX, @MatthewMiddlehurst

remove np.Inf
  aeon/anomaly_detection/_stray.py
Owners: @CodeLionX, @MatthewMiddlehurst

catch22 convert to array before converting nans
  aeon/transformations/collection/feature_based/_catch22.py
Owners: @MatthewMiddlehurst, @TonyBagnall

remove output from performance metrics
  aeon/performance_metrics/forecasting/_functions.py
Owners: none

Automatic `pre-commit` fixes
  aeon/performance_metrics/forecasting/_functions.py
Owners: none

remove output from performance metrics
  aeon/performance_metrics/clustering.py
  aeon/utils/validation/collection.py
Owners: none

docstrings
  aeon/distances/_mpdist.py
  aeon/performance_metrics/forecasting/_functions.py
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @chrisholder, @TonyBagnall, @baraline

Automatic `pre-commit` fixes
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

make argsort stable
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

make argsort stable
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

Automatic `pre-commit` fixes
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

make argsort stable
  aeon/distances/_mpdist.py
Owners: @chrisholder, @TonyBagnall

Added n_clusters attribute to TSFreshClusterer constructor and pass it to the estimator in fit
  aeon/clustering/feature_based/_tsfresh.py
Owners: @chrisholder, @TonyBagnall

changes
  aeon/clustering/feature_based/_tsfresh.py
Owners: @chrisholder, @TonyBagnall

Automatic `pre-commit` fixes
  aeon/clustering/feature_based/_tsfresh.py
Owners: @chrisholder, @TonyBagnall

Remove outdated comments
  aeon/transformations/collection/dictionary_based/_borf.py
Owners: @patrickzib, @MatthewMiddlehurst

when n_clusters = none
  aeon/clustering/feature_based/_tsfresh.py
Owners: @chrisholder, @TonyBagnall

Automatic `pre-commit` fixes
  aeon/clustering/feature_based/_tsfresh.py
Owners: @chrisholder, @TonyBagnall

make argsort stable
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

Automatic `pre-commit` fixes
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

Assertion error
  aeon/clustering/feature_based/_tsfresh.py
Owners: @chrisholder, @TonyBagnall

make argsort stable
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

Automatic `pre-commit` fixes
  aeon/similarity_search/matrix_profiles/tests/test_stomp.py
Owners: @baraline

make argsort stable
  pyproject.toml
Owners: none
